
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% set assessSection = 'reduction' %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Licence conditions with deadlines</h1>
      <p class="govuk-hint">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, ducimus eius qui labore in eaque perspiciatis reprehenderit obcaecati.</p>
      <div class="govuk-form-group search-box"></h3>
        <h3 class="govuk-heading-s no-margin-bottom">Search by licence holder, licence number or establishment</h3>
        <input type="text" class="govuk-input" id="filter-*" name="filter-*" value="" style="display: inline-block; width: 95%; margin-right: 0px">
        <button data-module="govuk-button" style="height: 40px; width: 40px;background-color: #025EA6;display: inline-block;position: absolute; border: solid 3px black; border-left: 0px;"></button>
      </div>
    </div>
    <style>
      .govuk-table__cell.holder {
        white-space: nowrap;
      }
      .govuk-table__cell.deadline {
        white-space: nowrap;
      }

    </style>
    <div class="govuk-grid-column-full">



    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#outstanding">
            Outstanding
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#past">
            Complete
          </a>

      </ul>

      <section class="govuk-tabs__panel" id="outstanding" style="border:none;">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Licence holder</th>
              <th class="govuk-table__header" scope="col">Licence type</th>
              <th class="govuk-table__header" scope="col">Licence number</th>
              <th class="govuk-table__header" scope="col">Condition</th>
              <th class="govuk-table__header sortable" scope="col">Deadline</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Aedan Tran</td>
              <td class="govuk-table__cell type">PPL</td>
              <td class="govuk-table__cell licenceno"><a href="#">HDPT48FG</a></td>
              <td class="govuk-table__cell id">A report, containing details of the number of animals used, the actual adverse effects seen, the observed mortality rate, details of the experimental results obtained and the degree to which the relevant objectives of the work have been met, on the aortic stenosis model (protocol 7) in section E of the schedule shall be made in writing to the Home Office at ASRU, 14th Floor, Lunar House, 40 Wellesley Road, Croydon CR9 2BY by 1/9/2019 or after 50 animals have been used, whichever is the sooner</td>
              <td class="govuk-table__cell deadline">
                21 Mar 2022
                <br>
                <span class="red-text">5 days overdue</span>
                <br>
                <a href="#">Mark as resolved</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Anabelle Byrd</td>
              <td class="govuk-table__cell type">PPL</td>
              <td class="govuk-table__cell licenceno"><a href="#">EH7FJL2F</a></td>
              <td class="govuk-table__cell id">A report, containing details of the number of animals used, the actual adverse effects seen, the observed mortality rate, details of the experimental results obtained and the degree to which the relevant objectives of the work have been met, on animals in which abdominal imaging windows have been placed under recovery anaesthesia on protocols 2,3,4, 5 and 7 in section E of the schedule shall be made in writing to the Home Office at ASRU, 14th Floor, Lunar House, 40 Wellesley Road, Croydon CR9 2BY by the 1st of May 2018 or after 100 animals have been used, whichever is the sooner.

                A report, containing details of the number of animals used, the actual adverse effects seen, the observed mortality rate, details of the experimental results obtained and the degree to which the relevant objectives of the work have been met, on animals in which liver fibrosis is induced by hydrodynamic injection of IL-13 over-expressing plasmid on protocol 4 in section E of the schedule shall be made in writing to the Home Office at ASRU, 14th Floor, Lunar House, 40 Wellesley Road, Croydon CR9 2BY by the 1st of May 2018 or after 50 animals have been used, whichever is the sooner.</td>
              <td class="govuk-table__cell deadline">
                24 Mar 2022
                <br>
                <span class="red-text">1 day overdue</span>
                <br>
                <a href="#">Mark as resolved</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Dimitri Boyer</td>
              <td class="govuk-table__cell type">PIL</td>
              <td class="govuk-table__cell licenceno"><a href="#">JF838375</a></td>
              <td class="govuk-table__cell id">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto quas impedit, aut ea consequatur in quaerat soluta dicta maiores minus natus quam eius labore eos dignissimos tenetur fugit molestiae voluptatum.</td>
              <td class="govuk-table__cell deadline">
                27 Mar 2022
                <br>
                <a href="#">Mark as resolved</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Roy Kay</td>
              <td class="govuk-table__cell type">PEL</td>
              <td class="govuk-table__cell licenceno"><a href="#">J3QRJ5GF</a></td>
              <td class="govuk-table__cell id">
                Animals may not be used to generate antibodies as part of this project unless:
                o A robust, legitimate scientific rationale explaining why non-animal alternatives are not suitable is provided to the AWERB for each antibody to be generated using animals; and
                o The AWERB has prospectively reviewed and accepted the legitimacy of each request; and
                o A report in writing to aspa.london@homeoffice.gov.uk on the project shall be made by 31 December annually for the duration of the project licence. The report shall contain details of each of the antibodies raised and the scientific justification for using live animals.
                o A plan for the adoption of non-animal alternatives is provided in writing to aspa.london@homeoffice.gov.uk within 6 months of issue of this licence with agreed timelines and milestones for the replacement of antibody generation methods using live animals</td>
              <td class="govuk-table__cell deadline">
                02 Apr 2022
                <br>
                <a href="#">Mark as resolved</a>
              </td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Amritpal Wright</td>
              <td class="govuk-table__cell type">PPL</td>
              <td class="govuk-table__cell licenceno"><a href="#">EVF3BLEJ</a></td>
              <td class="govuk-table__cell id">
                New PELH, Professor IS, must complete the Training Modules L (National legislation) and E1 (Ethics, Animal welfare & the 3Rs (Level 1) within 3 months (i.e. 28 February 2022) and provide evidence confirming the completion of the training must be submitted to the ASRUComplianceAssurance@homeoffice.gov.uk within 2 weeks of completion of the modules</td>
              <td class="govuk-table__cell deadline">
                05 Apr 2022
                <br>
                <a href="#">Mark as resolved</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Gregor Higgs</td>
              <td class="govuk-table__cell type">PPL</td>
              <td class="govuk-table__cell licenceno"><a href="#">Z97KYFKS</a></td>
              <td class="govuk-table__cell id">A report in writing to asapa.london@homeoffice.gov.uk on work under protocol 8 of this project shall be made by 31 December 2021, 30 June 2022 and 31 December 2022. The report shall contain the following information for each of the pilot studies concluded during the 6-month period to optimise, characterise and/or validate the authorised models:
                • Purpose of the pilot study
                • Numbers of mice used and the actual severity recorded
                • A summary of the outcomes of the pilot study</td>
              <td class="govuk-table__cell deadline">
                08 Apr 2022
                <br>
                <a href="#">Mark as resolved</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Kaden Clay</td>
              <td class="govuk-table__cell type">PEL</td>
              <td class="govuk-table__cell licenceno"><a href="#">RQ6FJY98</a></td>
              <td class="govuk-table__cell id">A copy of a certificate naming HN and confirming successful completion of an NVS training course approved by the Royal College of Veterinary Surgeons shall be supplied to the Home Office by 30th June 2021</td>
              <td class="govuk-table__cell deadline">
                11 Apr 2022
                <br>
                <a href="#">Mark as resolved</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Neal Joseph</td>
              <td class="govuk-table__cell type">PPL</td>
              <td class="govuk-table__cell licenceno"><a href="#">KCE5JZZ3</a></td>
              <td class="govuk-table__cell id">As licence holder, you are required to complete PILB and C training by 31 October 2018 and confirm to your Inspector in writing (aspa.london@homeoffice.gsi.gov.uk) when you have completed the training.</td>
              <td class="govuk-table__cell deadline">
                14 Apr 2022
                <br>
                <a href="#">Mark as resolved</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Tina Gaines</td>
              <td class="govuk-table__cell type">PIL</td>
              <td class="govuk-table__cell licenceno"><a href="#">YTJTS2ZB</a></td>
              <td class="govuk-table__cell id">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, deleniti at! Culpa quasi asperiores porro quis est incidunt amet accusantium ipsam earum vitae ullam placeat exercitationem consectetur odit, in iste!</td>
              <td class="govuk-table__cell deadline">
                17 Apr 2022
                <br>
                <a href="#">Mark as resolved</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Damien Landry</td>
              <td class="govuk-table__cell type">PPL</td>
              <td class="govuk-table__cell licenceno"><a href="#">HCSA7RGJ</a></td>
              <td class="govuk-table__cell id">A report, containing details of the number of animals used, the actual adverse effects seen, the observed mortality rate, and the degree to which the relevant objectives of the work have been met, on protocol 7 in section E of the schedule shall be made in writing to the Home Office at ASRU, Mail Point A11/12, 1st Floor Peel NE, 2 Marsham Street, London SW1P 4DF by January 31st 2017 or after 12  animals have been used, whichever is the sooner.</td>
              <td class="govuk-table__cell deadline">
                20 Apr 2022
                <br>
                <a href="#">Mark as resolved</a>
              </td>
            </tr>

          </tbody>

        </table>
      </section>

      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past" style="border:none;">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Licence holder</th>
              <th class="govuk-table__header" scope="col">Licence type</th>
              <th class="govuk-table__header" scope="col">Licence number</th>
              <th class="govuk-table__header" scope="col">Condition</th>
              <th class="govuk-table__header sortable" scope="col">Completed</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Muneeb Keller</td>
              <td class="govuk-table__cell type">PPL</td>
              <td class="govuk-table__cell licenceno"><a href="#">48HPTFGD</a></td>
              <td class="govuk-table__cell id">A report, containing details of the number of animals used, the actual adverse effects seen, the observed mortality rate, and the degree to which the relevant objectives of the work have been met, on protocol 1 in section E of the schedule shall be made in writing to the Home Office at ASRU, Home office Science, Security & Innovation, 14th Floor, Lunar House, 40 Wellesley Road, Croydon, CR9 2BY by 31st March 2019 or after 50 animals have been used, whichever is the sooner.</td>
              <td class="govuk-table__cell deadline">
                19 Mar 2022
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Constance Wickens</td>
              <td class="govuk-table__cell type">PPL</td>
              <td class="govuk-table__cell licenceno"><a href="#">JLE7F2FH</a></td>
              <td class="govuk-table__cell id">A report, containing details of the number of animals used, the actual adverse effects seen, the observed mortality rate, details of the experimental results obtained and the degree to which the relevant objectives of the work have been met, on the aortic stenosis model (protocol 7) in section E of the schedule shall be made in writing to the Home Office at ASRU, 14th Floor, Lunar House, 40 Wellesley Road, Croydon CR9 2BY by 1/9/2019 or after 50 animals have been used, whichever is the sooner</td>
              <td class="govuk-table__cell deadline">
                18 Mar 2022
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">John-Paul Escobar</td>
              <td class="govuk-table__cell type">PIL</td>
              <td class="govuk-table__cell licenceno"><a href="#">83J8375F</a></td>
              <td class="govuk-table__cell id">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, deleniti at! Culpa quasi asperiores porro quis est incidunt amet accusantium ipsam earum vitae ullam placeat exercitationem consectetur odit, in iste!</td>
              <td class="govuk-table__cell deadline">
                17 Mar 2022
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Ariel Bernal</td>
              <td class="govuk-table__cell type">PEL</td>
              <td class="govuk-table__cell licenceno"><a href="#">J5JQRGF3</a></td>
              <td class="govuk-table__cell id">New PELH, Professor IS, must complete the Training Modules L (National legislation) and E1 (Ethics, Animal welfare & the 3Rs (Level 1) within 3 months (i.e. 28 February 2022) and provide evidence confirming the completion of the training must be submitted to the ASRUComplianceAssurance@homeoffice.gov.uk within 2 weeks of completion of the modules</td>
              <td class="govuk-table__cell deadline">
                17 Mar 2022
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Jenna Buck</td>
              <td class="govuk-table__cell type">PPL</td>
              <td class="govuk-table__cell licenceno"><a href="#">BLEF3EJV</a></td>
              <td class="govuk-table__cell id">Animals may not be used to generate antibodies as part of this project unless:
                o A robust, legitimate scientific rationale explaining why non-animal alternatives are not suitable is provided to the AWERB for each antibody to be generated using animals; and
                o The AWERB has prospectively reviewed and accepted the legitimacy of each request; and
                o A report in writing to aspa.london@homeoffice.gov.uk on the project shall be made by 31 December annually for the duration of the project licence. The report shall contain details of each of the antibodies raised and the scientific justification for using live animals.
                o A plan for the adoption of non-animal alternatives is provided in writing to aspa.london@homeoffice.gov.uk within 6 months of issue of this licence with agreed timelines and milestones for the replacement of antibody generation methods using live animals</td>
              <td class="govuk-table__cell deadline">
                16 Mar 2022
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Clarence Camacho</td>
              <td class="govuk-table__cell type">PPL</td>
              <td class="govuk-table__cell licenceno"><a href="#">YFZ7KKS9</a></td>
              <td class="govuk-table__cell id">A report in writing to asapa.london@homeoffice.gov.uk on work under protocol 8 of this project shall be made by 31 December 2021, 30 June 2022 and 31 December 2022. The report shall contain the following information for each of the pilot studies concluded during the 6-month period to optimise, characterise and/or validate the authorised models:
                • Purpose of the pilot study
                • Numbers of mice used and the actual severity recorded
                • A summary of the outcomes of the pilot study</td>
              <td class="govuk-table__cell deadline">
                15 Mar 2022
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Mehak Ferrell</td>
              <td class="govuk-table__cell type">PEL</td>
              <td class="govuk-table__cell licenceno"><a href="#">JYR6F98Q</a></td>
              <td class="govuk-table__cell id">A copy of a certificate naming HN and confirming successful completion of an NVS training course approved by the Royal College of Veterinary Surgeons shall be supplied to the Home Office by 30th June 2021</td>
              <td class="govuk-table__cell deadline">
                11 Apr 2022
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Ishaan Deacon</td>
              <td class="govuk-table__cell type">PPL</td>
              <td class="govuk-table__cell licenceno"><a href="#">JZKE5Z3C</a></td>
              <td class="govuk-table__cell id">As licence holder, you are required to complete PILB and C training by 31 October 2018 and confirm to your Inspector in writing (aspa.london@homeoffice.gsi.gov.uk) when you have completed the training.</td>
              <td class="govuk-table__cell deadline">
                15 Mar 2022
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Lillian Delarosa</td>
              <td class="govuk-table__cell type">PIL</td>
              <td class="govuk-table__cell licenceno"><a href="#">S2YJTZBT</a></td>
              <td class="govuk-table__cell id">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, deleniti at! Culpa quasi asperiores porro quis est incidunt amet accusantium ipsam earum vitae ullam placeat exercitationem consectetur odit, in iste!</td>
              <td class="govuk-table__cell deadline">
                15 Mar 2022
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell holder">Dua Boyce</td>
              <td class="govuk-table__cell type">PPL</td>
              <td class="govuk-table__cell licenceno"><a href="#">7RHSAGJC</a></td>
              <td class="govuk-table__cell id">A report, containing details of the number of animals used, the actual adverse effects seen, the observed mortality rate, and the degree to which the relevant objectives of the work have been met, on protocol 7 in section E of the schedule shall be made in writing to the Home Office at ASRU, Mail Point A11/12, 1st Floor Peel NE, 2 Marsham Street, London SW1P 4DF by January 31st 2017 or after 12  animals have been used, whichever is the sooner.</td>
              <td class="govuk-table__cell deadline">
                14 Mar 2022
              </td>
            </tr>

          </tbody>

        </table>
      </section>






      </div>

    </div>
  </div>

{% endblock %}




























