
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<script language="JavaScript" type="text/javascript" src="/public/javascripts/jquery-1.2.6.min.js"></script>

<script type="text/javascript">
  function DuplicateProtocol() {
    var itm = event.target.parentNode.parentNode.parentNode
        itmName = event.target.parentNode.parentNode.parentNode.getElementsByClassName("protocol-title")[0].innerHTML
        itmCopyName = itmName + " (copy)" 
        cln = itm.cloneNode(true);

    event.preventDefault();
    cln.getElementsByClassName("protocol-title")[0].innerHTML = itmName + " (Copy)"
    itm.insertAdjacentElement('afterend', cln); 
  }

  function RemoveProtocol() {
    var itm = event.target.parentNode.parentNode

    event.preventDefault();
    confirm("Are you sure you want to remove this protocol?")
    itm.remove()
  }

  function AddProtocol() {
    var itm = document.getElementById("base-protocol");
        cln = itm.cloneNode(true);

    cln.classList.remove("hide");
    document.getElementById("appendixList").appendChild(cln);
    event.preventDefault();
   
  }


</script>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% include "includes/status-banner-draft.html" %}
    {% include "includes/licence-header-ppl.html" %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Appendix</h1>

      <p>Add any appendicies that you want to refer to throughout the application.</p>

      <div id="base-protocol" class="hide protocol-container">
        <div class="protocol-header-in-progress">
          <h3 class="govuk-heading-m">
            Appendix
            <a href="#" class="govuk-body float-right" onclick="RemoveProtocol();">Remove apendix</a> 
          </h3>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="event-name">
              Appendix name
            </label>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="event-name">
              Content
            </label>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint"></textarea>
          </div>
        </div>
      </div>

      <div id="appendixList"></div>
      
      <a href="#" class="govuk-button govuk-button--secondary" onclick="AddProtocol();">Add apendix</a> 

      <p>
        <button class="govuk-button">Continue</button>
        <span class="secondary-link"><a href="#">List of sections</a></span>
      </p>

    </div>
  </div>



<style type="text/css">



</style>
{% endblock %}
