
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="notification-banner">

        <svg class="notification-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
        <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
        C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" /></svg>
  
        <div class="notification-banner__message"  style="display: inline-block; padding-left: 10px;">
          <span class="govuk-body"><strong>Your personal licence is due a 5 year review</strong></span>
        </div>
        <div class="notification-banner-content">
          <p>Please check your licence.</p>
          <p>If it includes any procedures or animal types that aren’t being used, you should remove them by <a href="#">amending this licence</a>.</p>
          <p>Otherwise, <a href="confirm-review">confirm your licence is up to date and in use</a>.</p>
          <p>If you no longer need this licence, <a href="#">ask for it to be revoked</a>. </p>
        </div>
      </div>
    </div>
  </div>
  
  {% include "includes/licence-header-pil.html" %} 

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            
      <dl class="govuk-body">
        <dt>Licence number</dt>
        <dd>KW-740222</dd>
        <dt>Establishment</dt>
        <dd>04 August 2015</dd>
        <dt>Issue date</dt>
        <dd>04 August 2015</dd>
        <dt>Last amended</dt>
        <dd>–</dd>
        <dt>Next review due</dt>
        <dd>
          04 August 2020
          <!-- <div class="govuk-inset-text">
            <h3 class="govuk-heading-s">Personal licence review required within 25 days</h3>
            <p>You are required to check which animal types and proceedures are on your licence but no longer being used and <a href="#">amend your licence</a> to remove them.</p>
            <p>If your licence is up to date and does not require any changes, you can <a href="#">submit it to your NTCO to endorse</a> and the review will be complete.</p>
            <p>Personal licence are required to be reviewed every 5 years.</p>

          </div> -->
        </dd>
        <dt>Animal types</dt>
        <dd>
          <ul class="govuk-list">
            <li>Mice</li>
            <li>Rats</li>
            <li>Hamsters</li>
          </ul>
        </dd>
        <dt>Procedures</dt>
        <dd>
          <p><strong>A</strong>: Minor / minimally invasive procedures not requiring sedation, analgesia or general anaesthesia.</p>

          <p><strong>B</strong>: Minor / minimally invasive procedures involving sedation, analgesia or brief general anaesthesia. Plus surgical
          procedures conducted under brief non-recovery general anaesthesia</p>

          <p><strong>C</strong>: Surgical procedures involving general anaesthesia. Plus - administration and maintenance of balanced or
          prolonged general anaesthesia.</p>
        </dd>
        <dt>Conditions</dt>
        <dd>
          <p><a href="#">The standard conditions apply</a></p>
        </dd>
      </dl>

      <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Personal licence review</h2>
        <p>You are required to check which animal types and proceedures are on your licence but no longer being used.</p>
        <p>If your licence is up to date and does not require any changes, you can submit it to your NTCO to endorse and the review will be complete.</p>
        <a class="govuk-button govuk-button--secondary">Submit review for NCTO endorsement</a>
        <p>If you have unused animal types or proceedures you should <a href="#">amend your licence</a> to remove them.</p> -->

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Amend licence</h2>
      <p>You can amend this personal licence if you want to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Change any of the licence details</li>
        <li>Transfer the licence to another establishment</li>
      </ul>
      <a class="govuk-button govuk-button--secondary">Amend licence</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Revoke licence</h2>
      <p>Cancel this licence if it is no longer needed.</p>
      <a class="govuk-button govuk-button--warning">Revoke licence</a>
    </div>
  </div>

<style type="text/css">
  dt {
    font-weight: bold;
    padding-bottom: 30px;
    width: 25%;
  }
  dd {
    width: 60%;
  }

  .download-header {
    background-color: white;
    border-bottom: 4px solid #005ea5;
    margin-bottom: 30px;
    padding: 15px;
    position: relative;
}
</style>

    

{% endblock %}
