
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel green-bg">
        <h1 class="govuk-panel__title">Confirmation sent</h1></div>
      
        <h2 class="govuk-heading-m">What happens next?</h2>
        <p>
          Your establishment’s named training and competency officer (NTCO) will be asked to review and endorse your licence. Once complete, your personal licence will be valid for another 5 years.
        </p>

        <p><a href="pil-upcoming-submitted">Home</a></p>
      </div>
    </div>
  </div>


{% endblock %}
