<div class="comment-block">
  <div class="writeComment hide">
    <textarea class="commentBox govuk-textarea " id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
    <button onClick='saveComment(this)' class="saveCommentButton govuk-button">Save comment</button> <a class="secondary-link" href="javascript:void(0)">Cancel</a>
  </div>
  <div class="addedComment comment-box hide">
    <div class="comment-header">
      <p><strong>1.Inspector Morse</strong> <span class="float-right">07/10/2020</span> </p>
    </div>  
    <div class="comment-content">
      <p></p>
    </div>
  </div> 
  <div class="initiateComment" >
    <button onClick='initiateComment(this)' class="govuk-button govuk-button--secondary">Add comment</button>
  </div>
</div>  