<details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text" style="font-size: 24px; font-weight: bold;">
            Filter by
          </span>
        </summary>
        <div class="govuk-details__text" style="padding: 0px; border-left: none;">
        
          <div class="filters govuk-grid-row">
              <div class="govuk-grid-column-one-quarter">
                  <div class="app-c-option-select js-collapsible">
                      <button class="js-container-head" type="button" aria-expanded="true" aria-controls="site-options">
                          <div class="option-select-label" id="site-label">Site</div>
                          <div class="js-selected-counter"></div>
                      </button>
                      <div role="group" aria-labelledby="site-label" class="options-container options-container--hod" id="site-options">
                          <div class="js-auto-height-inner">
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-site" value="Apollo House" id="site-Apollo House" class="govuk-checkboxes__input">
                                  <label for="site-Apollo House" class="govuk-label govuk-checkboxes__label">Apollo House</label>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                                  </div>
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-site" value="Vulcan House" id="site-Vulcan House" class="govuk-checkboxes__input">
                                  <label for="site-Vulcan House" class="govuk-label govuk-checkboxes__label">Vulcan House</label>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                                  </div>
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-site" value="Lunar House 2nd floor" id="site-Lunar House 2nd floor" class="govuk-checkboxes__input">
                                  <label for="site-Lunar House 2nd floor" class="govuk-label govuk-checkboxes__label">Lunar House 2nd floor</label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-site" value="Metro Point" id="site-Metro Point" class="govuk-checkboxes__input">
                                  <label for="site-Metro Point" class="govuk-label govuk-checkboxes__label">Metro Point</label>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                                  </div>
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-site" value="Lunar House 4th floor" id="site-Lunar House 4th floor" class="govuk-checkboxes__input">
                                  <label for="site-Lunar House 4th floor" class="govuk-label govuk-checkboxes__label">Lunar House 4th floor</label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-site" value="The Marquis of Granby Replenishment Centre" id="site-The Marquis of Granby Replenishment Centre" class="govuk-checkboxes__input">
                                  <label for="site-The Marquis of Granby Replenishment Centre" class="govuk-label govuk-checkboxes__label">The Marquis of Granby Replenishment Centre</label>
                                  </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-site" value="Lunar House 1st floor" id="site-Lunar House 1st floor" class="govuk-checkboxes__input">
                                  <label for="site-Lunar House 1st floor" class="govuk-label govuk-checkboxes__label">Lunar House 1st floor</label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-site" value="Lunar House 3rd floor" id="site-Lunar House 3rd floor" class="govuk-checkboxes__input">
                                  <label for="site-Lunar House 3rd floor" class="govuk-label govuk-checkboxes__label">Lunar House 3rd floor</label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-site" value="Regus Building" id="site-Regus Building" class="govuk-checkboxes__input">
                                  <label for="site-Regus Building" class="govuk-label govuk-checkboxes__label">Regus Building</label>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                                  </div>
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-site" value="The animal house" id="site-The animal house" class="govuk-checkboxes__input">
                                  <label for="site-The animal house" class="govuk-label govuk-checkboxes__label">The animal house</label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-site" value="Lunar House 5th floor" id="site-Lunar House 5th floor" class="govuk-checkboxes__input">
                                  <label for="site-Lunar House 5th floor" class="govuk-label govuk-checkboxes__label">Lunar House 5th floor</label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-site" value="2 Marsham Street" id="site-2 Marsham Street" class="govuk-checkboxes__input">
                                  <label for="site-2 Marsham Street" class="govuk-label govuk-checkboxes__label">2 Marsham Street</label>
                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="govuk-grid-column-one-quarter">
                  <div class="app-c-option-select js-collapsible">
                      <button class="js-container-head" type="button" aria-expanded="true" aria-controls="suitability-options">
                          <div class="option-select-label" id="suitability-label">Suitability</div>
                          <div class="js-selected-counter"></div>
                      </button>
                      <div role="group" aria-labelledby="suitability-label" class="options-container options-container--hod" id="suitability-options">
                          <div class="js-auto-height-inner">
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-suitability" value="AV" id="suitability-AV" class="govuk-checkboxes__input">
                                  <label for="suitability-AV" class="govuk-label govuk-checkboxes__label"><abbr title="Birds">AV</abbr>
                                  </label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-suitability" value="NHP" id="suitability-NHP" class="govuk-checkboxes__input">
                                  <label for="suitability-NHP" class="govuk-label govuk-checkboxes__label"><abbr title="Non-human primates">NHP</abbr>
                                  </label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-suitability" value="LA" id="suitability-LA" class="govuk-checkboxes__input">
                                  <label for="suitability-LA" class="govuk-label govuk-checkboxes__label"><abbr title="Large animals">LA</abbr>
                                  </label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-suitability" value="EQU" id="suitability-EQU" class="govuk-checkboxes__input">
                                  <label for="suitability-EQU" class="govuk-label govuk-checkboxes__label"><abbr title="Equidae">EQU</abbr>
                                  </label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-suitability" value="SA" id="suitability-SA" class="govuk-checkboxes__input">
                                  <label for="suitability-SA" class="govuk-label govuk-checkboxes__label"><abbr title="Small animals">SA</abbr>
                                  </label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-suitability" value="AQ" id="suitability-AQ" class="govuk-checkboxes__input">
                                  <label for="suitability-AQ" class="govuk-label govuk-checkboxes__label"><abbr title="Aquatic species">AQ</abbr>
                                  </label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-suitability" value="CAT" id="suitability-CAT" class="govuk-checkboxes__input">
                                  <label for="suitability-CAT" class="govuk-label govuk-checkboxes__label"><abbr title="Cats">CAT</abbr>
                                  </label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-suitability" value="DOG" id="suitability-DOG" class="govuk-checkboxes__input">
                                  <label for="suitability-DOG" class="govuk-label govuk-checkboxes__label"><abbr title="Dogs">DOG</abbr>
                                  </label>
                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="govuk-grid-column-one-quarter">
                  <div class="app-c-option-select js-collapsible">
                      <button class="js-container-head" type="button" aria-expanded="true" aria-controls="holding-options">
                          <div class="option-select-label" id="holding-label">Holding</div>
                          <div class="js-selected-counter"></div>
                      </button>
                      <div role="group" aria-labelledby="holding-label" class="options-container options-container--hod" id="holding-options">
                          <div class="js-auto-height-inner">
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-holding" value="SEP" id="holding-SEP" class="govuk-checkboxes__input">
                                  <label for="holding-SEP" class="govuk-label govuk-checkboxes__label"><abbr title="Sterile experimental procedures">SEP</abbr>
                                  </label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-holding" value="NSEP" id="holding-NSEP" class="govuk-checkboxes__input">
                                  <label for="holding-NSEP" class="govuk-label govuk-checkboxes__label"><abbr title="Non-sterile experimental procedures">NSEP</abbr>
                                  </label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-holding" value="STH" id="holding-STH" class="govuk-checkboxes__input">
                                  <label for="holding-STH" class="govuk-label govuk-checkboxes__label"><abbr title="Short term holding">STH</abbr>
                                  </label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-holding" value="LTH" id="holding-LTH" class="govuk-checkboxes__input">
                                  <label for="holding-LTH" class="govuk-label govuk-checkboxes__label"><abbr title="Long term holding">LTH</abbr>
                                  </label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-holding" value="NOH" id="holding-NOH" class="govuk-checkboxes__input">
                                  <label for="holding-NOH" class="govuk-label govuk-checkboxes__label"><abbr title="Not for overnight holding">NOH</abbr>
                                  </label>
                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="govuk-grid-column-one-quarter">
                  <div class="app-c-option-select js-collapsible">
                      <button class="js-container-head" type="button" aria-expanded="true" aria-controls="holding-options">
                          <div class="option-select-label" id="holding-label">Restrictions</div>
                          <div class="js-selected-counter"></div>
                      </button>
                      <div role="group" aria-labelledby="holding-label" class="options-container options-container--hod" id="holding-options">
                          <div class="js-auto-height-inner">
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-holding" value="SEP" id="holding-SEP" class="govuk-checkboxes__input">
                                  <label for="holding-SEP" class="govuk-label govuk-checkboxes__label"><abbr title="Sterile experimental procedures">Yes</abbr>
                                  </label>
                              </div>
                              </div>
                              <div class="govuk-checkboxes govuk-checkboxes--small">
                              <div class="govuk-checkboxes__item">
                                  <input type="checkbox" name="filter-holding" value="NSEP" id="holding-NSEP" class="govuk-checkboxes__input">
                                  <label for="holding-NSEP" class="govuk-label govuk-checkboxes__label"><abbr title="Non-sterile experimental procedures">No</abbr>
                                  </label>
                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

        </div>
      </details>