<hr class=" govuk-section-break--l govuk-section-break--visible">

<div class="protocol-header-in-progress">
  <h2 class="govuk-heading-m">Track progress</h2>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="{{assessSection}}-complete" name="{{assessSection}}-complete" type="checkbox" value="true" {% if sectionComplete == 'yes' %}Checked{% endif %}>
          <label class="govuk-label--s govuk-checkboxes__label" for="poles-complete">
            Mark this section as complete
          </label>
        </div>
      </div>
    </fieldset>
  </div>
  <button data-module="govuk-button" class="govuk-button">Continue</button>
</div>
