

<hr class=" govuk-section-break--l govuk-section-break--visible">

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <label class="govuk-label--m" for="">
      Are you satisfied the standards have been met?
    </label>
    <span class="govuk-hint"></span>
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="{{ assessSection }}-0-yes" name="{{ assessSection }}-0" type="radio" value="yes" data-aria-controls="conditional-option-1">
        <label for="{{ assessSection }}" class="govuk-label govuk-radios__label">Yes</label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="{{ assessSection }}-0-no" name="{{ assessSection }}-0" type="radio" value="no" data-aria-controls="conditional-option-2">
        <label for="{{ assessSection }}" class="govuk-label govuk-radios__label">No</label>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group">
  <label class="govuk-label--s" for="{{ assessSection }}-comments">
    Observations and rationale (optional)
  </label>
  <span id="{{ assessSection }}-comments-hint" class="govuk-hint">
    These will only be visible to ASRU users.
  </span>
  <textarea class="govuk-textarea" id="{{ assessSection }}-comments-1" name="{{ assessSection }}-comments-1" rows="5" aria-describedby="{{ assessSection }}-comments-hint"></textarea>
</div>
