<div class="notification-banner notification-banner--ongoing" style="padding: 0px 10px">
  <div class="govuk-warning-text" style="margin-bottom: 0px;">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <span class="govuk-warning-text__text">
      <strong>This personal licence is subject to ongoing enforcement activity under <a href="../case-active-suspended">case 21102</a></strong>
      <br>
      For more information speak to the enforcement team at <a href="#">enforcement@homeoffice.gov.uk</a>
    </span>
  </div>
</div>