<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
	  <div class="download-header">
	    <span class="govuk-body licence-identifier" class="">Development of new biological anticancer agents
	    <span class="float-right download-options">
        <ul class="govuk-list">
          <li>
            <a href="ppl-overview">Back to project overview</a>
          </li>
          <!-- <li>
            <a href="ppl-overview">Back to related task</a>
          </li>
           -->
        </ul>
	    </span>
			<span class="govuk-body licence-type" class="">Project licence <a href="#">View details</a></span>
	  </div>
	</div>
</div> 