<div class="declaration-panel-grey">
  <h3 class="govuk-heading-s">Mark this protocol as complete</h3>
  <div class="govuk-form-group no-margin-bottoms">
    <fieldset class="govuk-fieldset" aria-describedby="complete-9-hint">
      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="complete-9" name="complete-9" type="checkbox" value="yes">
          <label class="govuk-label govuk-checkboxes__label" for="complete-9">
            Mark this section as complete
          </label>
        </div>
      </div>
    </fieldset>
  </div>  
</div>