<div class="declaration-panel-grey">
  <h3 class="govuk-heading-m">Mark this section as complete</h3>
  <p>You can still edit this section later, but you will be unable make a recommendation for this application until all sections are marked as complete.</p>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="complete-9-hint">
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="complete-9" name="complete-9" type="checkbox" value="yes">
          <label class="govuk-label govuk-checkboxes__label" for="complete-9">
            Mark this section as complete
          </label>
        </div>
      </div>
    </fieldset>
  </div>  
</div>