<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
	  <div class="download-header">
	    <span class="govuk-body licence-identifier" class="">Project licence application</span>
	    <!--
	    <span class="float-right download-options">
	      <span class="hod-download-button side-space icon-small"></span>
	      <a href="#">View downloads</a>
	    </span>
	    -->
	    <span class="govuk-body licence-type" class="">Vital Research into Virology <!--&nbsp;&nbsp; <a href="#0">View details and downloads</a>--></span>
	  </div>
	</div>
</div> 