<div class="govuk-grid-column-one-third">
	<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
	<br>
	<h3 class="govuk-heading-s">Related documents</h3>
	<span class="govuk-hint">Documents will open in a new tab</span>
	<ul class="govuk-list">
		<li><a target="_blank" href="/nts-improvements/legacy/nts-overview">Non-technical summary</a></li>
		<li><a href="#">Expired licence</a></li>
		<li><a href="#">Steps and adverse effects</a></li>
		<li><a href="#">Protocol summary table</a></li>
	</ul>
	<!-- <h3 class="govuk-heading-s">Downloads</h3>
	<ul class="govuk-list">
		<li><a href="#">Expired licence (.pdf)</a></li>
		<li><a href="#">View all downloads</a></li>
	</ul> -->
</div>