<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
	  <div class="download-header">
	    <span class="govuk-body licence-identifier" class="">Return of procedures 2021</span>
	    <!--
	    <span class="float-right download-options">
	      <span class="hod-download-button side-space icon-small"></span>
	      <a href="#">View downloads</a>
	    </span>
	    -->
	    <span class="govuk-body licence-type" class="">Acid Enzymes and uracil occurs in addition to be. &nbsp;&nbsp; <a href="#0" style="color:#1d70ba">View details and downloads</a></span>
	  </div>
	</div>
</div> 