<div class="licence-status-banner revoked">
  
  <span class='status'>suspended</span>
  <span class="float-right"><a href="#">Show less</a></span>
  
  <div class="status-details">
    <ul class="licence-dates">
      <li>Granted: <span class="date">22 July 2020</span></li>
      <li>Suspended: <span class="date">16 July 2022</span></li>
    </ul>
    <br>
    <p>
      This licence is not active. The establishment is not authorised to apply regulated procedures to protected animals, or to breed, supply, or keep protected animals in any area at the establishment.
    </p>
  </div>
</div>