<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Last changed</th>
      <th class="govuk-table__header" scope="col">Establishment </th>
      <th class="govuk-table__header" scope="col">Type</th>
      <th class="govuk-table__header" scope="col">Status</th>
      <th class="govuk-table__header" scope="col">Deadline</th>
      <th class="govuk-table__header" scope="col">Assignee</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">6 May 2022</td>
      <td class="govuk-table__cell">University of Croydon</td>
      <td class="govuk-table__cell"><a href="#">PPL application</a><br>Shawn James</td>
      <td class="govuk-table__cell"><span class="badge">AWAITING DECISION</span>
      </td>
      <td class="govuk-table__cell"><span class="red-text">Overdue</span></td>
      <td class="govuk-table__cell"><a href="#">Inspector Morse</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">6 May 2022</td>
      <td class="govuk-table__cell">Vital Pharma</td>
      <td class="govuk-table__cell"><a href="#">PIL amendment</a><br>Angela Vanoni</td>
      <td class="govuk-table__cell"><span class="badge">AWAITING DECISION</span></td>
      <td class="govuk-table__cell"><span class="secondary-text">No deadline</span></td>
      <td class="govuk-table__cell"><em>Unassigned</em></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">7 May 2022</td>
      <td class="govuk-table__cell">University of Croydon</td>
      <td class="govuk-table__cell"><a href="#">PPL application</a><br>Shawn James</td>
      <td class="govuk-table__cell"><span class="badge">AWAITING DECISION</span></td>
      <td class="govuk-table__cell">17 Aug 2022<br>(statutory)</td>
      <td class="govuk-table__cell"><a href="#">Inspector Morse</a></td>
    </tr>

  </tbody>
  
</table>