<div class="govuk-tabs" data-module="tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#tab1">
        My tasks
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#tab2">
        Outstanding
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#tab3">
        In progress
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#tab4">
        Complete
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab1" style="border:none;">
   [My tasks list]
  </section>      
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab2" style="border:none;">
   [Outstanding tasks list]
  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab3" style="border:none;">
    [In progress tasks list]
  </section>
  <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab4" style="border:none;">
    [Completed tasks list]
  </section>
</div>