   
   <div class="autocomplete">
      <input id="myInput" type="text" name="name" class="govuk-input"  style="width: 600px;">
    </div>
    <!-- <input type="submit" class="govuk-button"> -->
  
  <script language="JavaScript" type="text/javascript" src="/public/javascripts/typeahead.js"></script>

  <script>
    /*An array containing all the country names in the world:*/
    var inputValues = [
      'Dagny Aberkirder',
      'Evvy Addams',
      'Imojean Addlestone',
      'Cassondra Aikett',
      'Juliana Akinyooye',
      'Megan Alberts',
      'Jason Alden',
      'Maartin Allcock',
      'Ignace Alsford',
      'Maricela Armstrong',
      'Napoleon Armstrong',
      'Ian Ayers',
      'Wood Bagger',
      'Karina Baird',
      'Bruce Banner',
      'Lillie Barry',
      'Dave Bartram',
      'Yvette Bates',
      'Nettie Bean',
      'Ondrea Beining',
      'Jenica Benardet',
      'Hollis Benjamin',
      'Porfirio Bernard',
      'Margie Bernard',
      'Ciaran Bourke',
      'Sylvia Boyd',
      'Cruz Bradshaw',
      'Bernice Bricket',
      'Susie Caldwell',
      'Dominic Carson',
      'Roy Cervantes',
      'Mauro Chang',
      'Catherina Checkley',
      'Shari Chen',
      'Amii Coffee',
      'Gerrie Coggins',
      'Kingsley Collins',
      'Consalve Cornfoot',
      'Ardene covino',
      'Ella Cox',
      'Phil Cox',
      'Dino Cox',
      'Esteban Craft',
      'Raul Cross',
      'Whitby Deare',
      'Aspasia Dellaporta',
      'Derek Deschlein',
      'afzal dhada',
      'Jenine Dibble',
      'Augustus Dickerson',
      'Judon Dilrew',
      'Nicolea Domini',
      'Lonni Dorracott',
      'Helena Doyle',
      'Jonah Drewe',
      'Art Duke',
      'Rosanna Fairthorne',
      'Terence Ferrell',
      'Flemming Fishe',
      'Glen Fisher',
      'Katina Fitzgerald',
      'Numbers Floyd',
      'Chris foo',
      'Barton Franks',
      'Werner Fruchtbar',
      'Ginger Fruitbat',
      'Filippo Gillian',
      'Reagen Gimert',
      'Kristina Glass',
      'Willard Glew',
      'Samara Goulthorp',
      'Gabie Graben',
      'Patrizio Grigs',
      'Patricia Gutierrez',
      'Phillip Guzman',
      'Pace Gytesham',
      'Ray Hadfield',
      'Maire Hanson',
      'Joelly Harbar',
      'Kelvin Harrington',
      'Aaron Harris',
      'Kenya Harris',
      'Delmer Harrison',
      'Anthony Harvey',
      'Lucille Haynes',
      'Andromache Hessentaler',
      'Charisse Higgen',
      'Reinaldo Hodges',
      'Anthony HOLC',
      'Arturo Hooper',
      'Callie Houston',
      'Alexis Hudson',
      'Nadia Huq',
      'Benito Hurst',
      'Vicki	Hyde Parks',
      'Anthony Ioannidis',
      'Klaudia Irvine',
      'Isabelle Jackson',
      'Megha Jain',
      'Reva Jenkins',
      'Jolty Jenticks',
      'Lauren Jones',
      'Gerry Joseland',
      'Barbee Jowett',
      'Luisa Joyce',
      'Darius Kerr',
      'Dean Kerrigan',
      'Robert Keyes',
      'Davida Kibbee',
      'Harrison Koch',
      'Sena Kornousek',
      'Stafford Kunz',
      'Colleen Labrador',
      'Madeleine Lamb',
      'Lee	Latchford Evans',
      'Dave Leason',
      'Selestina Legrice',
      'Henrietta Lindsey',
      'Dean Loach',
      'Billy Lyal',
      'Tyson MacArd',
      'Andria MacCurlye',
      'Eric Manclark',
      'Daniel Martin',
      'Stanley Maxwell',
      'Isis May',
      'Nellie Mayo',
      'Garrett Mays',
      'Gillie McAuliffe',
      'James McCord',
      'Mike McGear',
      'Jane McGregor',
      'Jamie McGrory',
      'Elton Mclean',
      'Kata Meneghelli',
      'Ignaz Middell',
      'Aloise Morrish',
      'Deandre Morrow',
      'Erich Mowlam',
      'Celina Mueller',
      'Thomas Murphy',
      'Aisha Nichols',
      'Carol Nielsen',
      'Ivy Norris',
      'Woodrow Oconnor',
      'Harry OHuman',
      'Read Only',
      'Helen	O Nowlan',
      'Nadine Ortega',
      'Imogene Osborne',
      'Westbrook Otson',
      'Martina Padilla',
      'Seth Parks',
      'Roberto Patron',
      'Benjamin Patton',
      'Mixed Permissions',
      'Fabian Petegre',
      'Nathan Peters',
      'Lowell Peters',
      'Arv Petrillo',
      'Richard Pilchard',
      'Alphard Polamontayne',
      'Erroll Polleye',
      'Beatriz Porter',
      'Auto Project',
      'Brian Proudfoot',
      'Honey Raggatt',
      'Sydney Randall',
      'Marcelino Randall',
      'Andrew Rasmussen',
      'Lana Reese',
      'Law Rennox',
      'Fayth Reyna',
      'Yul Riach',
      'Helena Rich',
      'Claire Richards',
      'Carmen Riddle',
      'Webb Rieger',
      'Burgess Risborough',
      'Smokey Robinson',
      'Ethan Rocha',
      'Ami Rogger',
      'Kurtis Savage',
      'Mad Scientist',
      'Lisa	Scott Lee',
      'Anthony	Second basic account',
      'Brok Servis',
      'Martha Shannon',
      'John Sharp',
      'Merry Shovel',
      'Denise Simmons',
      'Tory Simmons',
      'Emile Singleton',
      'Lucia Singleton',
      'Cele Siviter',
      'Kirstyn Smallcomb',
      'Harry Smith',
      'Julian	Smith Jones',
      'Linn Sporrij',
      'Darb Stell',
      'Bernadette Stephenson',
      'Ben Stevens',
      'Jan Stout',
      'Mark Stringer',
      'Laurie Stuckford',
      'Parnell Stump',
      'Chris Taylor',
      'Alexis Taylor',
      'Henrietta Teggin',
      'John Test',
      'Michael Thomas',
      'Stacey Thornton',
      'Neil Ticio',
      'Gareth Tindall',
      'Koren Tollit',
      'Martin Tomlinson',
      'Dwayne Townsend',
      'Faye Tozer',
      'Laurel Tripony',
      'Hubert Tyler',
      'Basic User',
      'Blocked User',
      'Sandy Vaughn',
      'Sophie Wagner',
      'Freeman Walter',
      'Kayla Walton',
      'Augusta Ware',
      'Ian H Watkins',
      'Francisca West',
      'Ray Weston',
      'martin whiting',
      'Kelcie Wibrew',
      'Elwood Wilkins',
      'Molly Wilkinson',
      'Robin William',
      'Cliff Williams',
      'Gwen Williams',
      'Brandice Wintersgill',
      'Robert Wintour',
      'Stuart Wood',
      'Gamaliel Wyburn',
      'Mano Yanele'
    ];
    
    /*initiate the autocomplete function on the "myInput" element, and pass along the inputValues array as possible autocomplete values:*/
    autocomplete(document.getElementById("myInput"), inputValues);
  </script>