
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">USERS NAME</span>
      <h1 class="govuk-heading-xl">
        Personal Licence
      </h1>
    </div>
  </div>  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            
      <dl class="govuk-body">
        <dt><strong>Licence number</strong></dt>
        <dd>KW-740222</dd>
        <dt><strong>Issue date</strong></dt>
        <dd>04 August 2015</dd>
        <dt><strong>Animal types</strong></dt>
        <dd>-</dd>
        <dt><strong>Procedures</strong></dt>
        <dd>-</dd>
        <dt><strong>Conditions</strong></dt>
        <dd>
          <p>In addition to the standard conditions:</p>
          <p>Curabitur gravida nisi at nibh. In hac habitasse platea dictumst. Aliquam augue quam, sollicitudin vitae, consectetuer eget, rutrum at, lorem.</p>
          <p>Integer tincidunt ante vel ipsum. Praesent blandit lacinia erat. Vestibulum sed magna at nunc commodo placerat.</p>
          <p>Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.</p>
        </dd>
      </dl>
      <p><strong>You can't amend this PIL because it is held at another establishment.</strong></p>
      <p>You can request to transfer this PIL to University of Croydon</p>
      <p><a class="govuk-button govuk-button--secondary" href="#">Request to transfer</a> </p>
      <a href="#">Back to profile</a>
      
      
    </div>
  </div>



    

{% endblock %}
