
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Add case subjects
    </h1>

    <h2 class="govuk-heading-m">Case details</h2>
    <ul class="govuk-list">
      <li><strong>Establishment</strong> University of Croydon</li>
      <li><strong>Case number</strong> 21102</li>
      <li><a href="#">Edit</a></li>
    </ul>

    <h2 class="govuk-heading-m">Enforcement subjects</h2>
    <div class="declaration-panel-grey">
      <form action="add-subjects-3" method="post">
        <h2 class="govuk-heading-m">Enforcement subject 1</h2>
        <p>Jane McGregor</p>


        <div class="govuk-form-group" id="q1" data-required="">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="gaa">
              Select status for enforcement cases
            </label>
            <span class="govuk-hint"></span>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="subject-1-flag-open" name="subject-1-flag" type="radio" value="oepn" data-aria-controls="conditional-option-1">
                <label for="subject-1-flag" class="govuk-label govuk-radios__label">Open case
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-option-1">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="entity-one-hint">
                    <legend class="govuk-fieldset__legend">
                      Apply flags to:
                    </legend>
                    <div id="entity-one-hint" class="govuk-hint">
                      Select all that apply.
                    </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="entity-one" name="entity-one" type="checkbox" value="carcasses">
                        <label class="govuk-label govuk-checkboxes__label" for="entity-one">
                          Tasks related to Jane McGregor's profile
                          <span class="govuk-hint no-margin-bottom">Including new applications for a licence or named role tasks</span>
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="entity-one-2" name="entity-one" type="checkbox" value="mines">
                        <label class="govuk-label govuk-checkboxes__label" for="entity-one-2">
                          Tasks related to personal licence 932131
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="entity-one-3" name="entity-one" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="entity-one-3">
                          Tasks related to project licence 372383
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="entity-one-4" name="entity-one" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="entity-one-4">
                          Tasks related to project licence 5965404
                        </label>
                      </div>
                    </div>

                  </fieldset>
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="subject-1-flag-remedial" name="subject-1-flag" type="radio" value="remedial" data-aria-controls="conditional-option-2">
                <label for="subject-1-flag" class="govuk-label govuk-radios__label">Closed case - remedial action applied</label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-option-2">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="entity-two-hint">
                    <legend class="govuk-fieldset__legend">
                      Apply flags to:
                    </legend>
                    <div id="entity-two-hint" class="govuk-hint">
                      Select all that apply.
                    </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="entity-one" name="entity-one" type="checkbox" value="carcasses">
                        <label class="govuk-label govuk-checkboxes__label" for="entity-one">
                          Tasks related to Jane McGregor's profile
                          <span class="govuk-hint no-margin-bottom">Including new applications for a licence or named role tasks</span>
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="entity-two-2" name="entity-one" type="checkbox" value="mines">
                        <label class="govuk-label govuk-checkboxes__label" for="entity-two-2">
                          Tasks related to personal licence 932131
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="entity-two-3" name="entity-one" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="entity-two-3">
                          Tasks related to project licence 372383
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="entity-two-4" name="entity-one" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="entity-two-4">
                          Tasks related to project licence 5965404
                        </label>
                      </div>
                    </div>

                  </fieldset>
                </div>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="remedial-one-hint">
                    <label class="govuk-label--s" for="gaa">
                      Select remedial action taken
                    </label>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="remedial-one" name="remedial-one" type="checkbox" value="carcasses">
                        <label class="govuk-label govuk-checkboxes__label" for="remedial-one">Inspector advice</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="remedial-one-2" name="remedial-one" type="checkbox" value="mines">
                        <label class="govuk-label govuk-checkboxes__label" for="remedial-one-2">Letter of reprimand</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="remedial-one-3" name="remedial-one" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="remedial-one-3">Letter of reprimand and retraining</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="remedial-one-4" name="remedial-one" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="remedial-one-4">Compliance notice</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="remedial-one-4" name="remedial-one" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="remedial-one-5">Suspension and retraining</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="remedial-one-4" name="remedial-one" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="remedial-one-6">Revocation of licence</label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="remedial-one-5" name="remedial-one" type="checkbox" value="farm">
                        <label class="govuk-label govuk-checkboxes__label" for="remedial-one-6">Other</label>
                      </div>
                    </div>

                  </fieldset>
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="subject-1-flag-innocent" name="subject-1-flag" type="radio" value="innocent" data-aria-controls="conditional-option-3">
                <label for="subject-1-flag" class="govuk-label govuk-radios__label">Closed case - no breach</label>
              </div>

            </div>

          </fieldset>
        </div>
        <button data-module="govuk-button" class="govuk-button">Save</button>
      </form>
    </div>
    <br>
    <div class="declaration-panel-grey">
      <form action="add-subjects-2" method="post">
        <h2 class="govuk-heading-m">Enforcement subject 1</h2>
        <p>Patel Williams</p>

        <h3 class="govuk-heading-s">Enforcement flag status</h2>

          <div class="notification-banner notification-banner--open" style="padding: 0px 10px">

            <div class="govuk-warning-text" style="margin-bottom: 0px;">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <span class="govuk-warning-text__text">
                <strong>This subject is related to open enforcement case 21102</strong>
              </span>
            </div>

          </div>

        <h3 class="govuk-heading-s">Flag applied to</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            Tasks related to Patel Williams's profile
            <span class="govuk-hint no-margin-bottom">Including new applications for a licence or named role tasks</span>
          </li>
          <li>Tasks related to personal licence 932131</li>
        </ul>

        <p><a href="#">Edit enforcement flags</a></p>

      </form>
    </div>



    <br>
    <p><a href="add-subjects-4#subject-2">Add another subject</a></p>
    <a href="all-cases-2" class="govuk-button">Save case</a>

  </div>
</div>


{% endblock %}
