
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">How to cure heartache</span>
      <h1 class="govuk-heading-xl">
        Protocol summary table
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">    

      <p><a class="govuk-button" href="protocols-separate">Back to licence</a></p>  

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">No.</th>
            <th scope="col" class="govuk-table__header">Protocol</a></th>
            <th scope="col" class="govuk-table__header">Animal types</th>
            <th scope="col" class="govuk-table__header">Est. max. no. of animals</th>
            <th scope="col" class="govuk-table__header">Max. no. of uses per animal</th>
            <th scope="col" class="govuk-table__header">Life stages</th>
            <th scope="col" class="govuk-table__header">GA</th>
            <th scope="col" class="govuk-table__header">Severity category</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell  empty-below">1.</td>
            <td class="govuk-table__cell  empty-below"><a href='protocols-separate#option1'>Breeding and maintenance of genetically altered animals</a></td>
            <td class="govuk-table__cell">Rats</td>
            <td class="govuk-table__cell">2000</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Adult</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Mild</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">Mice</td>
            <td class="govuk-table__cell">2000</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Adult</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Mild</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell empty-below">2.</td>
            <td class="govuk-table__cell empty-below"><a href='protocols-separate#option2'>Maintenance of parasitic nematodes</a></td>
            <td class="govuk-table__cell">Rats</td>
            <td class="govuk-table__cell">200</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Adult</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Moderate</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">Mice</td>
            <td class="govuk-table__cell">200</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Adult</td>
            <td class="govuk-table__cell">No</td>
            <td class="govuk-table__cell">Moderate</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">3.</td>
            <td class="govuk-table__cell"><a href='protocols-separate#option3'>Assessment of anthelminthic activity</a></td>
            <td class="govuk-table__cell">Rats</td>
            <td class="govuk-table__cell">250</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Adult</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Moderate</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">4.</td>
            <td class="govuk-table__cell"><a href='protocols-separate#option4'>Infection with gastrointestinal helminths</a></td>
            <td class="govuk-table__cell">Rats</td>
            <td class="govuk-table__cell">250</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Adult</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Moderate</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">5.</td>
            <td class="govuk-table__cell"><a href='protocols-separate#option5'>Induction of inflammatory arthritis</a></td>
            <td class="govuk-table__cell">Rats</td>
            <td class="govuk-table__cell">100</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Adult</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Severe</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">6.</td>
            <td class="govuk-table__cell"><a href='protocols-separate#option6'>Induction of diabetes</a></td>
            <td class="govuk-table__cell">Rats</td>
            <td class="govuk-table__cell">100</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Adult</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Moderate</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">7.</td>
            <td class="govuk-table__cell"><a href='protocols-separate#option7'>Induction o cardiovascular disease</a></td>
            <td class="govuk-table__cell">Rats</td>
            <td class="govuk-table__cell">100</td>
            <td class="govuk-table__cell">10</td>
            <td class="govuk-table__cell">Adult</td>
            <td class="govuk-table__cell">Yes</td>
            <td class="govuk-table__cell">Moderate</td>
          </tr>
        </tbody>
      </table>

<style type="text/css">
  .empty-below {
    border-bottom: none;
  }
</style>

     

  </section>
</div>


    </div>
  </div>




{% endblock %}