
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "includes/status-banner-revoked.html" %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="download-header">
            <span class="govuk-body licence-identifier" class="">Mary Jones</span>
            <span class="float-right download-options">
              <span class="hod-download-button side-space icon-small"></span>
              <a href="#">View download options</a>
            </span>
            <span class="govuk-body licence-type" class="">Personal licence – Category E</span>
          </div>
        </div>
      </div> 
    </div>
  </div>  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            
      <dl class="govuk-body">
        <dt>Licence number</dt>
        <dd>KW-740222</dd>
        <dt>Establishment</dt>
        <dd>University of Croydon</dd>
        <dt>Issue date</dt>
        <dd>{{ data['course-start-date-day'] }} / {{ data['course-start-date-month'] }} / {{ data['course-start-date-year'] }}</dd>
        <dt>Animal types</dt>
        <dd>
          <ul class="govuk-list">
            <li>Mice</li>
          </ul>
        </dd>
        <dt>Procedures</dt>
        <dd>
          <p><strong>E</strong>: Training and education
          </dd>
          <dt>Expiry date</dt>
          

        <dt>Conditions</dt>
        <dd>
          <p><a href="#">The standard conditions apply</a></p>
        </dd>
      </dl>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Amend licence</h2>
      <p>You can ask for this licence to be amended but only the licence holder can transfer it.</p>
      <p><button class="govuk-button govuk-button--secondary">Amend licence</button></p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Revoke licence</h2>
      <p>Cancel this licence if it is no longer needed.</p>
      <p><a href="revoke-reason" class="govuk-button govuk-button--warning">Revoke licence</a></p>

    </div>
  </div>

<style type="text/css">
  dt {
    font-weight: bold;
    padding-bottom: 30px;
    width: 25%;
  }

  .download-header {
    background-color: white;
    border-bottom: 4px solid #005ea5;
    margin-bottom: 30px;
    padding: 15px;
    position: relative;
}
</style>

    

{% endblock %}
