
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Mary Jones</span>
      <h1 class="govuk-heading-l">Revoke personal licence</h1>
      <form action="revoke-confirmation" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label--s" for="revoke-reason">
          Why are you revoking this licence?
          </label>
          <span id="revoke-reason-hint" class="govuk-hint"></span>
          <textarea class="govuk-textarea" id="revoke-reason" name="revoke-reason" rows="5" aria-describedby="revoke-reason-hint"></textarea>
        </div>
        <!-- <h2 class="govuk-heading-m">Declaration</h2>
        <p>By endorsing this application, I agree that:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>I have the authority of the establishment licence holder, and they are aware that this establishment will have financial responsibility for this personal licence if granted.</li>
        </ul> -->
          <button class="govuk-button">Continue</button><a class="secondary-link" href="#">Cancel</a>
        </div>
      </form>
    </div>
  </div>


{% endblock %}
