
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel green-bg">
        <h1 class="govuk-panel__title">Revocation submitted</h1></div>
      
        <h2 class="govuk-heading-m">What happens next?</h2>
          <p>
            A licensing officer will review your request to revoke this licence and contact you if they need any more information.
          </p>

        <p><a href="manage-pils-deleted">Back to course</a></p>
      </div>
    </div>
  </div>


{% endblock %}
