
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">University of Croydon</span>
      <h1 class="govuk-heading-l">
        Apply for personal licence - Categories A, B, C, D and F
      </h1>

      <p>Please complete all of the following sections.</p>

      <hr class=" govuk-section-break">


      <hr class=" govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-s"><a href="#">Applicant details</a><span class="badge">COMPLETED</span></h3>
      
      <hr class=" govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-s"><a href="#">Training</a><span class="badge">COMPLETED</span></h3>
      <span class="float-right"><a href="#">Remove</a></span>
      <div class="govuk-inset-text">
        <dl class="model-summary inline section-data">
          <dt>Certificate number</dt>
          <dd><strong>12345</strong></dd>
          <dt>Accrediting body</dt>
          <dd><strong>Royal Society of Biology</strong></dd>
          <dt>Date awarded</dt>
          <dd><strong>01 January 2017</strong></dd>
          <dt>Modules completed</dt>
          <dd><strong>L</strong></dd>
        </dl>
      </div>
      <p><a href="#">Add</a></p>
      <hr class=" govuk-section-break--m govuk-section-break--visible">
      <h3 class="govuk-heading-s"><a href="#">Exemptions</a><span class="badge">COMPLETED</span></h3>
      <hr class=" govuk-section-break--m govuk-section-break--visible">
      <h3 class="govuk-heading-s"><a href="#">Procedures</a><span class="badge">COMPLETED</span></h3>
      <div class="govuk-inset-text">
        <dl class="model-summary inline section-data">
          <dt>Procedure category</dt>
          <dd><strong>A</strong></dd>
        </dl>
      </div>
      <div class="govuk-inset-text">
        <dl class="model-summary inline section-data">
          <dt>Procedure category</dt>
          <dd><strong>B</strong></dd>
        </dl>
      </div>
      <p><a href="#">Edit</a></p>
      <hr class=" govuk-section-break--m govuk-section-break--visible">

      <div class="application-confirm">
        <h2 class="govuk-heading-m">Please confirm that you understand</h2>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                 The terms and conditions under which you may hold a licence under the Animals Scientific Procedure Act 1986, and that you may be guilty of an offence if for the purpose of obtaining a licence under this Act you provide information which you know to be false or misleading.
                </label> 
              </div>
            </div>
          </fieldset>
        </div>
        <a href="review-pil-app-public-comment" class="govuk-button" style="margin-bottom: 0px;">Submit to NTCO</a>
      </div>
    </div>
  </div>

<style type="text/css">
    .float-right {
      float: right;
    }

    .badge {
      padding: 3px 6px;
      background: #005ea5;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      float: right;
    }

    .application-confirm {
      border: 3px solid #bfc1c3;
      background-color: #fff;
      padding: 30px;
      margin-bottom: 30px;
    }

    dl {
      width: 100%;
    }

    dt {
      font-weight: normal;
      clear: left;
      display: inline-block;
      width: 35%;
      padding-bottom:5px;
    }
    dd {
      padding-bottom:5px;
      display: inline-block;
      width: 50% 
      /*font-weight: 400;*/
      /*background-color: red;*/
    }
</style>


{% endblock %}
