
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Finding the cure for heartache</span>
      <h1 class="govuk-heading-xl">
        Change date granted
      </h1>

      <p>
        <strong>Project duration</strong><br>
        5 years 0 months
      </p>

      <p>
        <strong>Expiry date</strong><br>
        2 August 2020
      </p>

      <p>
        <strong>Current date granted</strong><br>
        2 August 2019
      </p>

      <h3 class="govuk-heading-s">New date granted</h3>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
          <span id="passport-issued-hint" class="govuk-hint">
            For example, 15 11 2007
          </span>
          <div class="govuk-date-input" id="passport-issued">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

     <!--  <div class="govuk-form-group">
        <label class="govuk-label--s" for="more-detail">
          <strong>Why are you making this change?</strong>
        </label>
        <br>
        <br>
        <span id="more-detail-hint" class="govuk-hint">
          Comments can be seen by establishment users, as well as inspectors and Home Office team members. They will be added to the 'Latest activity' log of this task.
        </span>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div> -->

      <form action="confirm-change" method="post">

        <button data-module="govuk-button"  class="govuk-button">Continue</button><a href='#' class="secondary-link">Cancel</a>
      </form>

    </div>
  </div>

  <style type="text/css">
    dd {
      width: 30%;
      margin-inline-start: 0px;
    }
    dt {
      width: 68%;
      padding-bottom: 15px;
    }
  </style>

{% endblock %}
