
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <span class="govuk-caption-l">University of Croydon</span>
        <h1 class="govuk-heading-l">
          Choose personal licence (PIL) category
        </h1>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Applicants who have previously held a personal licence should contact ASPELTechnicalQueries@homeoffice.gov.uk 
          </strong>
        </div>
        <div class="establishment-container">
          <h2 class="govuk-heading-m">Categories A, B, C, D and F</h2>
          <p>
            These personal licences authorise you to carry out certain procedures on the types of animal defined on your training certificates.
          </p>
          <button class="govuk-button no-margin-bottom">Apply now</button>
        </div>
        <div class="establishment-container">
          <h2 class="govuk-heading-m">Category E</h2>
          <p>
            To apply for an education and training (category E) licence, or to amend an existing licence to cover education and training, contact the course provider.
          </p>
        </div>
    </div>
  </div>

{% endblock %}
