
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Bruce Banner
      </h1>
      
      <dl class="stacked-descriptions govuk-body">
        <dd>
        	Email:
        </dd>
        <dt>
        	eaddams23@example.com
        </dt>
        <dd>
        	Telephone:
        </dd>
        <dt>
        	2507393514
        </dt>
        <dd>
        	Date of birth:
        </dd>
        <dt>
        	17 August 1975
        </dt>
        <dd>
        	Has login:
        </dd>
        <dt>
        	No
        </dt>
      </dl>
      <h2 class="govuk-heading-m">
      	Training
      </h2>
      <dl class="stacked-descriptions govuk-body">

        <dd>
          Certificate details
        </dd>
        <dt>
          <ul class="govuk-list">
            <li>
              Certificate number: 12345678
            </li>
            <li>
              Awarded on: 20/06/2019
            </li>
            <li>
              Accrediting bodyyal Society of Biology
            </li>
          </ul>
        </dt>

        <dd>
          Modules completed
        </dd>
        <dt>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              L
            </li>
            <li>
              PILA (theory)
            </li>
            <li>
              PILA (skills)
            </li>
            <li>
              PILB
            </li>
            <li>
              K (theory)
            </li>
            <li>
              K (skills)
            </li>
          </ul>
        </dt>
        <dd>
            Animal types
        </dd>
        No animal types selected
      </dl>
      <h2 class="govuk-heading-m">
      	Establishments
      </h2>


      <div class="application-confirm">
        <h3 class="govuk-heading-s">Marvell Pharma<span class="float-right">–</span></h3>
        <p>View the details of this establishment, as well as lists of approved areas, people and active projects.</p>
        <a href="submitted" class="govuk-button" style="margin-bottom: 0px;">View establishment information</a>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h3 class="govuk-heading-s">Active projects</h3>

        <p><a href="#">How to cure heartache</a></p>
        <p>Expiry date: 01 August 2022</p>


        <h3 class="govuk-heading-s">Draft projects</h3>

        <p><a href="#">Untitled draft project</a></p>
        <p>
          <a class="govuk-button govuk-button--secondary">Apply for project licence</a>
        </p>

        <h3 class="govuk-heading-s">Conversions</h3>
        <p>
          <a href="convert-paper-licence" class="govuk-button govuk-button--secondary">Convert paper licence</a>
        </p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h3 class="govuk-heading-s">Named roles</h3>
        <p>Establishent Licence Holder (PELH)</p>
        <p>
          <a class="govuk-button govuk-button--secondary">Assign named role</a>
          <span class='secondary-link'><a href="#">Remove role</a></span>
        </p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h3 class="govuk-heading-s">Personal licence</h3>

        <p><a href="#">AA-164902</a></p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <h3 class="govuk-heading-s">Permission level</h3>
        <p>Admin</p>

      </div>
      </div>



    </div>
  </div>

{% endblock %}
