
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">University of Croydon</span>
      <h1 class="govuk-heading-xl">
        How to cure heartache
      </h1>
      
      <dl class="govuk-body">
        <dd><strong>PPL holder</strong></dd>
        <dt>Bruce Banner
            <br>
            <a href="#">View profile</a> | <a href="#">Change</a>
        </dt>
        <dd><strong>PPL number</strong></dd>
        <dt>78847475</dt>
        <dd><strong>Project duration</strong></dd>
        <dt>5 years 0 months</dt>
        <dd><strong>Date granted</strong></dd>
        <dt>02 August 2019</dt>
        <dd><strong>Last amended</strong></dd>
        <dt>02 August 2019</dt>
        <dd><strong>Expiry date</strong></dd>
        <dt>02 August 2024</dt>
      </dl>    
      <a href="view-granted-licence" class="govuk-button">View granted licence</a>
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <h2 class="govuk-heading-m">Amend granted licence</h2>
      <p>You can amend this project licence if you want to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Change any of the licence details</li>
        <li>Transfer to another establishment</li>
      </ul>

      <a href="ppl-index" class="govuk-button govuk-button--secondary">Amend licence</a>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Previous versions of this licence</h2>
      <p>View previous versions of this licence.</p>
      <ul class="govuk-list govuk-list-bullet">
        <li><a href="#">View the licence granted on 07 July 2029.</a></li>
      </ul>
      
      
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">Revoke licence</h2>
      <p>Cancel this licence if it is no longer needed.</p>
      <a href="review-pil-app-public-edit" class="govuk-button govuk-button--warning">Revoke licence</a>

    </div>
  </div>

  <style type="text/css">
    dd {
      width: 30%;
      margin-inline-start: 0px;
      padding-bottom: 30px;
    }
    dt {
      width: 68%;
    }
  </style>

{% endblock %}
