
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "includes/status-banner-stub.html" %}
      {% include "includes/licence-header-ppl.html" %}
    </div>
  </div>

 

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Project introduction</h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Introductory details</a>
        </li>
      </ul>
      <h2 class="govuk-heading-m">Applicant information</h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Experience</a>
        </li>
        <li>
          <a href="#">Funding</a>
        </li>
      </ul>
      <h2 class="govuk-heading-m">Project location</h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Establishments</a>
        </li>
        <li>
          <a href="#">Places other than a licensed establishment (POLEs)</a>
        </li>
      </ul>
      <h2 class="govuk-heading-m">Project plan</h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Scientific background</a>
        </li>
        <li>
          <a href="#">Action plan</a>
        </li>
        <li>
          <a href="#">General principles</a>
        </li>
        <li>
          <a href="#">Benefits</a>
        </li>
      </ul>
      <h2 class="govuk-heading-m">Protocols</h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Protocols</a>
        </li>
        <li>
          <a href="#">Project harms</a>
        </li>
        <li>
          <a href="#">Fate of animals</a>
        </li>
      </ul>
      <h2 class="govuk-heading-m">Use of animals</h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Purpose bred animals</a>
        </li>
        <li>
          <a href="#">Endangered animals</a>
        </li>
        <li>
          <a href="#">Animals taken from the wild</a>
        </li>
        <li>
          <a href="#">Feral animals</a>
        </li>
      </ul>
      <h2 class="govuk-heading-m">Other considerations</h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Commercial slaughter</a>
        </li>
        <li>
          <a href="#">Animals containing human material</a>
        </li>
      </ul>
      <h2 class="govuk-heading-m">The 3Rs</h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Replacement</a>
        </li>
        <li>
          <a href="#">Reduction</a>
        </li>
        <li>
          <a href="#">Refinement</a>
        </li>
      </ul>
      <h2 class="govuk-heading-m">Non-technical summary</h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Review</a>
        </li>
      </ul>

      <p>All sections must be marked as complete before you can continue and send your application to the Home Office.</p>

      <a class="govuk-button">Continue</a>



    </div>
  </div>
<style type="text/css">
.table-list li {
  padding: 10px 20px 10px 0;
    border-bottom: 1px solid #bfc1c3;
}

  .protocol-section-title .badge badge-blue {
    position: relative;
    display: inline-block;
    top: -10px;
    font-size: 16px;
}

.govuk-inset-text {
border-left: 10px solid #8F23B3;
}




</style>
{% endblock %}
