
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check course details
      </h1>
      <p>
        <dl class="govuk-body">
            <dt>Course name</dt>
            <dd>{{ data['course-name'] }}</dd>
            <dt>Project licence number</dt>
            <dd>{{ data['ppl-number'] }}</dd>
            <dt>Project licence title</dt>
            <dd>Training in microvascular surgery</dd>
            <dt>Course start date</dt>
            <dd>{{ data['course-start-date-day'] }} / {{ data['course-start-date-month'] }} / {{ data['course-start-date-year'] }}</dd>



            <dt>Animals to be used</dt>
            <dd>{{ data['animal-types'] }}</dd>
          </dd>
        </dl>
      </p>
      <form action="manage-pils.html">
        <button data-module="govuk-button" class="govuk-button">Confirm and continue</button><a href="javascript:history.go(-1)" class="secondary-link">Cancel</a>
      </form>
    </div>
  </div>

{% endblock %}
