{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Project licence suspension
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <nav class="sticky-nav" style="position: static; top: 0px; width: 300px;">
        <a href="#activity" class="active" style="color: #fff;">Details</a>
        <a href="#applicant.application" class="">Status</a>
        <a href="#procedures" class="">Latest activity</a>
        <a href="#procedures" class="">Reason for suspension</a>
        <a href="#procedures" class="">Task assignment</a>
      </nav>&nbsp;
    </div>
    
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Details</h2>

      <dl>
        <dt>Project title</dt>
        <dd><a href="ppl-suspended">Development of new biological anticancer agents</a></dd>
         <dt>Licence holder</dt>
        <dd><a href="#">Angela Vioni</a></dd>
        <dt>Licence number</dt>
        <dd><a href="ppl-suspended">78847475</a></dd>
        <dt>Establishment</dt>
        <dd><a href="#">Royal Scientific College of Luton</a></dd>
      </dl>

      <hr class=" govuk-section-break--l govuk-section-break--visible">
      
      <h2 class="govuk-heading-m">Status</h2>
      
      <p><span class="badge blue">Approved</span></p>
      
      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Latest activity</h2>
      
      <p><strong>Suspended by:</strong> <a href="#">Bruce Banner</a><span class="float-right">16 July 2022</span></p>
      
      <p><strong>Reason for suspension:</strong></p>
      <p>{{data["reason"]}}</p>

      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Procedures</h2>
      <h3 class="govuk-heading-s">categories</h3>
      <p><strong>A</strong>: Minor / minimally invasive procedures not requiring sedation, analgesia or general anaesthesia.</p>

      <p><strong>B</strong>: Minor / minimally invasive procedures involving sedation, analgesia or brief general anaesthesia. Plus surgical
      procedures conducted under brief non-recovery general anaesthesia</p>

      <p><strong>C</strong>: Surgical procedures involving general anaesthesia. Plus - administration and maintenance of balanced or
      prolonged general anaesthesia.</p>
      
      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Animal types</h2>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>Mice</li>
        <li>Rats</li>
        <li>Hamsters</li>
      </ul>
      
      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Training</h2>
      <p><em>No training record</em></p>

      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Task assignment</h2>
      <p><em>Unassigned</em></p>
      <p><a href="#">Assign to me</a></p>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="sort">
          Assign to:
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="published">Recently published</option>
          <option value="updated" selected>Select</option>
          <option value="views">Most views</option>
          <option value="comments">Most comments</option>
        </select>
      </div>
    </div>
  </div>

  <style type="text/css">



.govuk-radios__item label {
  font-weight: bold;
}

.govuk-radios__item .govuk-hint {
  padding-left: 15px;
}


    .sticky-nav a{
      display: block;
      padding: 15px;
      text-decoration: none;
    }

   .active{
      color: #fff;
      background-color: #005ea5;
    }

    .badge {
      padding: 3px 6px;
      background: #999;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }

    .date {
      float: right;
    }



dl {
  width: 100%;
}
dt {
    font-weight: bold;
    padding-bottom: 15px;
    width: 25%;
  }

  .highlight {
    border-bottom: 3px solid #ffbf47;
    margin-right: 1px;
    background-color: #fff2d3;
    padding: 2px 0px 0px;
}

  </style>

<script type="text/javascript">
  var search = document.querySelector('#search');
var results = document.querySelector('#searchresults');
var templateContent = document.querySelector('#resultstemplate').content;
search.addEventListener('keyup', function handler(event) {
    while (results.children.length) results.removeChild(results.firstChild);
    var inputVal = new RegExp(search.value.trim(), 'i');
    var set = Array.prototype.reduce.call(templateContent.cloneNode(true).children, function searchFilter(frag, item, i) {
        if (inputVal.test(item.textContent) && frag.children.length < 6) frag.appendChild(item);
        return frag;
    }, document.createDocumentFragment());
    results.appendChild(set);
});
</script>
{% endblock %}
