

{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">PPL application</span>
      <h1 class="govuk-heading-xl">
        Review application
      </h1>
      <h3 class="govuk-heading-s">Autophagy in the hematopoietic system</h3>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <nav class="sticky-nav" style="position: static; top: 0px; width: 300px;">
        <a href="#activity" class="active" style="color: #fff;">Current status</a>
        <a href="#activity">Latest activity</a>
        <a href="#applicant.application" class="">PPL holder</a>
        <a href="#procedures" class="">Latest submission</a>
        <a href="#procedures" class="">What do you want to do?</a>
      </nav>&nbsp;
    </div>



    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Current status</h2>
      <p>
        <span class="badge">Awaiting recommendation</span>
        &emsp;<strong>Currently with:</strong> Home Office inspector
      </p>

      <p>
        <strong>Deadline for decision:</strong>
        <span class="date-17-days"></span>
      </p>

      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Latest activity</h2>
        <p>
          <strong>Deadline extended by Home Office inspector:</strong> <a href="#">Inspector Morse</a>
          <span class="date"><span class="date-today"></span> </span>
        </p>
       <p>Inspector Morse commented: <br>
        " {{data['extention-reason']}} "</p>


      <details data-module="govuk-details"  class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Show all activity
          </span>
        </summary>
        <div class="govuk-details--text govuk-inset-text">
          <div class="activity-history-item">
            <p>
              <strong>Endorsed on behalf of the PEL holder by:</strong> <a href="#">Bruce Banner</a>
              <span class="date"><span class="date-8-weeks-ago"></span> </span>
            </p>
           <p>
              Has this application been reviewed by the AWERB of each relevant establishment?:
              <br>
              Yes
            </p>
            <p>Most recent AWERB review date: <br>18 May 2020</p>
             <!-- <p>Declaration: <br>By endorsing this application, you confirm that:
              <ul class="govuk-list govuk-list--bullet">
                <li>Michael Thomas has successfully completed any stated training modules, or if they require an exemption from training you support their request for an exemption</li>
                <li>you have the consent of University of Croydons’s licence holder to endorse this application on their behalf.</li>
              </ul>
              </p> -->
            <p>Bruce Banner commented: <br>"This looks good to me"</p>
          </div>
          <div class="activity-history-item">
            <p>
              <strong>Submitted by:</strong> <a href="#">Janet Andrews</a>
              <span class="date" id="">20 April 2020</span>
            </p>
            <p>
              Has an inspector advised you that this version of your application is ready for assessment?:
              <br>
              Yes
            </p>
            <p>Janet Andrews commented: <br>"This is now complete and correct."</p>
          </div>
        </div>
      </details>


      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">PPL holder</h2>
      <p><a href="#">Janet Andrews</a></p>

      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Latest submission</h2>
      <p>This is the amendment that has been submitted for approval.</p>
      <p><a href="ppl-index" class="govuk-button govuk-button--secondary">View latest submission</a></p>

      <!-- <h3 class="govuk-heading-s">Does this application have the endorsement of your primary establishment's PEL holder?</h3>

      <p>Yes</p>

      <p>PEL Holder: Bruce Banner</p>

      <p>Endorsement date: 10 May 2020</p>

      <h3 class="govuk-heading-s">Has this application been reviewed by all the relevant Animal Welfare and Ethical Review Bodies (AWERBs)?</h3>

      <p>Yes</p>

      <p>AWERB review date: 31st January 2020</p>

      <h3 class="govuk-heading-s">Has an inspector advised that this version of the draft application is ready for assessment?</h3>

      <p>Yes</p> -->


      <!-- <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Statutory deadline</h2>
      <p><strong>20 August 2020</strong></p>

 -->

      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">What do you want to do?</h2>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
              <label for="where-do-you-live" class="govuk-label govuk-radios__label">Recommend for approval</label>
              <span class="govuk-hint">The application will be sent to a Licensing Officer who will action your recommendation.</span>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
              <label for="where-do-you-live" class="govuk-label govuk-radios__label">Recommend for rejection</label>
              <span class="govuk-hint">The application will be sent to a Licensing Officer who will action your recommendation.</span>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
              <label for="where-do-you-live" class="govuk-label govuk-radios__label">Return to applicant</label>
              <span class="govuk-hint">The application will be returned to the applicant with your comments.</span>
            </div>
          </div>
        </fieldset>
        <button data-module="govuk-button" class="govuk-button">Continue</button>
      </div>


    </div>
  </div>

  <style type="text/css">



.govuk-radios__item label {
  font-weight: bold;
}

.govuk-radios__item .govuk-hint {
  padding-left: 15px;
}


    .sticky-nav a{
      display: block;
      padding: 15px;
      text-decoration: none;
    }

   .active{
      color: #fff;
      background-color: #005ea5;
    }

    .badge {
      padding: 3px 6px;
      background: #999;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }

    .date {
      float: right;
    }



dl {
  width: 100%;
}

dt {
  font-weight: normal;
  clear: left;
  display: inline-block;
  width: 35%;
  padding-bottom:5px;
}
dd {
  padding-bottom:5px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  /*font-weight: 400;*/
  /*background-color: red;*/
}

  .highlight {
    border-bottom: 3px solid #ffbf47;
    margin-right: 1px;
    background-color: #fff2d3;
    padding: 2px 0px 0px;
}

  </style>

<script type="text/javascript">
  var search = document.querySelector('#search');
var results = document.querySelector('#searchresults');
var templateContent = document.querySelector('#resultstemplate').content;
search.addEventListener('keyup', function handler(event) {
    while (results.children.length) results.removeChild(results.firstChild);
    var inputVal = new RegExp(search.value.trim(), 'i');
    var set = Array.prototype.reduce.call(templateContent.cloneNode(true).children, function searchFilter(frag, item, i) {
        if (inputVal.test(item.textContent) && frag.children.length < 6) frag.appendChild(item);
        return frag;
    }, document.createDocumentFragment());
    results.appendChild(set);
});
</script>
{% endblock %}
