
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% if data['toaster'] === 'true' %}
  {% set toasterContent = 'Enforcement flags saved' %}
  {% include "includes/toaster.html" %}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Add enforcement subjects
    </h1>
    <h2 class="govuk-heading-m">Case details</h2>
    <ul class="govuk-list">
      <li><strong>Establishment</strong> University of Croydon</li>
      <li><strong>Case number</strong> 21102</li>
      <li><a href="#">Edit</a></li>
    </ul>

    <h2 class="govuk-heading-m">Enforcement subjects</h2>



      {% include "includes/compliance/subject-typeahead-est.html" %}
   
  
    <br>
    <p><a class="govuk-button" href="add-subject-1-details?user-{{user | int +1 }}-added=true#subject-{{user | int +1 }}">Add another person</a></p>
    <a href="all-cases" class="">View all enforcement cases</a>
  </div>
</div>






{% endblock %}
