
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% set flagStatus = data['flag-status'] %}
      {% set entityType = 'This person is' %}
      {% include "includes/compliance/flag.html" %}

      <h1 class="govuk-heading-l">
        Patel Williams
      </h1>

      <p>
        <strong>Email:</strong></br>
        patel-williams@university-of-croydon.edu.uk
      </p>
      <p>
        <strong>Telephone:</strong></br>
        01840 847 3393
      </p>
      <p>
        <strong>Date of birth:</strong></br>
        19 July 1982
      </p>
      <p>
        <strong>Latest activity:</strong></br>
        18 June 2019
      </p>

      <h3 class="govuk-heading-m">Projects</h3>
      <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#tasks">
              Active
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#establishments">
              Drafts
            </a>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#people">
              Inactive
            </a>
          </li>
        </ul>

        <section class="govuk-tabs__panel" id="tasks" style="border:none;">
        None
        </section>
        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="establishments" style="border:none;"></section>
        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="people" style="border:none;"></section>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Roles at this establishment</h3>
      <p>None</p>
      <button class="govuk-button govuk-button--secondary">Add role</button>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Personal licence</h3>
      <p><a href="pil-patel">2838474</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Permission level</h3>
      <p>Personal (Basic access)</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>manage own licences</li>
        <li>view named people and Home Office liaison contacts (HOLCs)</li>
      </ul>
      <button class="govuk-button">Change / remove</button>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Training record</h3>
      <p>No training record</p>
      <p><a href="#">Manage training</a></p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Related tasks</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Received</th>
            <th class="govuk-table__header" scope="col">Establishment </th>
            <th class="govuk-table__header" scope="col">Licence </th>
            <th class="govuk-table__header" scope="col">Type</th>
            <th class="govuk-table__header" scope="col">Status</th>
            <th class="govuk-table__header" scope="col">Assignee</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">18 June 2019</td>
            <td class="govuk-table__cell">University of Croydon</td>
            <td class="govuk-table__cell">PIL</td>
            <td class="govuk-table__cell">
              <a href="PPL-task-review-complete">PIL Application</a><br>
              Patel Williams
            </td>
            <td class="govuk-table__cell"><span class="badge badge-blue">Approved</span></td>
            <td class="govuk-table__cell"><a href="#">Inspector Morse</a></td>
          </tr>
        </tbody>
      </table>



  </div>
</div>

<style>
  td .govuk-details {
    margin-bottom: 0px;
  }
  td {
    vertical-align: top;
  }
</style>

{% endblock %}
