
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">How to cure heartache</span>
      <h1 class="govuk-heading-xl">
        Steps summary table
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">    

      <p><a href="protocols-separate">Back to protocols</a></p>  

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Step 1 (mandatory)</th>
            <th scope="col" class="govuk-table__header">Adverse effects</a></th>
            <th scope="col" class="govuk-table__header">Controls and limitations</th>
            <th scope="col" class="govuk-table__header">Humane endpoints</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <p>
                1. Recipients for embryo transfer will be rendered pseudo-pregnant by mating with a  vasectomised sterile male .
              </p>
            </td>
            <td class="govuk-table__cell">
              <p>
                There is a very low risk of injury to the females caused by rough treatment of sterile males.  
              </p>
            </td>
            <td class="govuk-table__cell">
              <p>
                Fighting/injuries will be reduced by ensuring that females are of sufficient size for mating and by replacing over-vigorous sterile males.
              </p>
              <p>
                The risk from anaesthetics and surgery is minimised by accurate weighing of animals to ensure correct dosing of injectable anaesthetics and by good maintenance of body temperature e.g. the use of heated pads. Animals are closely observed during and after surgery.  
              </p>
              <p>
                Pain will be controlled during surgery by general anaesthesia and post surgery by analgesics (e.g. buprenorphine) as required.  
              </p>
              <p>
                If dehiscence is a problem then, under guidance from a NVS, the wound will be repaired.
              </p>
            </td>
            <td class="govuk-table__cell">
              <p>
                Animals that have failed to recover fully from surgery within 24 hours will be killed by Schedule 1 method
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Step 2 (optional)</th>
            <th scope="col" class="govuk-table__header">Adverse effects</a></th>
            <th scope="col" class="govuk-table__header">Controls and limitations</th>
            <th scope="col" class="govuk-table__header">Humane endpoints</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <p>
                2. Under general anaesthesia a single/bilateral flank or midline laparotomy will be performed and genetically modified embryos will be implanted into the oviduct or uterus (AB-G) OPTIONAL: Non-surgically embryo transfer AA/AB.  
              </p>
            </td>
            <td class="govuk-table__cell">
              <p>
                Deaths resulting from anaesthetic or surgical complications are expected to be under 1%.  
              </p>

              <p>
                Local reactions or infections at the site of injections will be prevented by application of aseptic techniques.
              </p> 
              
              <p>
                Post surgical infections may occur after laparotomies but should be in less than 1%.   
              </p>
            </td>
            <td class="govuk-table__cell">
              <p>
                The risk of infection or delayed healing will be minimised by strict adherence to good sterile and surgical techniques.
              </p>
            </td>
            <td class="govuk-table__cell">
              <p>
                Animals that have failed to recover fully from surgery within 24 hours will be killed by Schedule 1 method
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Step 3 (mandatory)</th>
            <th scope="col" class="govuk-table__header">Adverse effects</a></th>
            <th scope="col" class="govuk-table__header">Controls and limitations</th>
            <th scope="col" class="govuk-table__header">Humane endpoints</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <p>
                Animals will be killed after delivery of pups by Schedule 1 method.
              </p>
            </td>
            <td class="govuk-table__cell">
              <p>
                None
              </p>
            </td>
            <td class="govuk-table__cell">
              <p>
                None
              </p>              
            </td>
            <td class="govuk-table__cell">
              <p>
                None
              </p>
            </td>
          </tr>
        </tbody>
      </table>



    </div>
  </div>


<style>
  td {
    vertical-align: top;
  }
</style>

{% endblock %}