
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel green-bg">
        <h1 class="govuk-panel__title">Recommendation sent</h1></div>
      
        <h2 class="govuk-heading-m">What happens next?</h2>
        <p><strong>An applicant is not licensed to carry out any new or additional procedures mentioned in this amendment until it has been approved by the Home Office.</strong></p>

        <p>A Licensing Officer will review your recommendation and will contact you if they need any more information.</p>

        <p><a href="/index#cat-e">Home</a></p>
      </div>
    </div>
  </div>


{% endblock %}
