
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "includes/licence-header-assessment.html" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div id='navbar'>
        <ul class="assessment-nav">
          <li class="back-to-sections"><a href="assessment-overview">&#x25C0; &ensp; List of sections</a></li>
          <li><a href="0-summary">Summary of amendment</a></li>
          <li><a href="1-intro">Introductory details</a></li>
          <li><a href="7-nts"> Non-technical summary: general</a></li>
          <li><a href="6-3rs"> Non-technical summary: 3rs</a></li>
          <li class="selected"><a href="1-suitability">Applicant information</a></li>
          <li><a href="2-suitability-places">Project location</a></li>
          <li><a href="3-programme">Project plan</a></li>
          <li><a href="5-models">Protocols</a></li>
          <li><a href="4-types">Use of animals</a></li>
          <li><a href="5a-end-of">Other considerations</a></li>
          <li><a href="11-reporting"> Other conditions and authorisations</a></li>
          <li><a href="12-referrals">Referrals</a></li>
          <li><a href="10-hba">Harm-benefit analysis</a></li>
           
        </ul>
      </div>
    </div>
    <div class="govuk-grid-column-two-thirds float-right">
      <h1 class="govuk-heading-l">Applicant information</h1>

      <form action="assessment-overview" method="post">

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Show standards for applicant information
          </span>
        </summary>
        <div class="govuk-details__text">  
          <ul class="govuk-list govuk-list--bullet">
            <li>
            	The applicant:  
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    knows enough English to be able to understand the terms and conditions of their project licence
                  </li>
                  <li>
                    is in an appropriate position of authority to take responsibility for the project
                  </li>
                  <li>
                    has expert knowledge of the field relevant to the area of work
                  </li>
                  <li>
                    has specific knowledge of the biology, physiology and husbandry requirements of the species to be used
                  </li>
                  <li>
                    has good knowledge of the methods, animal models and specialised equipment to be used, or access to colleagues who do 
                  </li>
                  <li>
                    has expertise in experimental design, including statistics where appropriate, or access to such expertise
                  </li>
                  <li>
                    has appropriate education and training in designing programmes of work under ASPA 
                  </li>
                  <li>
                    has expertise in applying the 3Rs in the relevant field
                  </li>
                  <li>
                    meets the mandatory training requirements detailed under ‘Training’ in Guidance on the Operation of ASPA (1986) and/or has adequate evidence to support an exemption
                  </li>
                  <li>
                    has adequate plans for funding the project
                  </li>
                </ul>
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    The applicant or research group has adequate experience, or a track record, in the field and in the specific area of work.
                  </li>
                  <li>
                    There is adequate reassurance that there will be users with the required technical competence to carry out the procedures.
                  </li>
                  <li>
                    There are no real or perceived conflicts of interest.
                  </li>
                </ul>
              </li>
          </ul>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                The applicant or research group has adequate experience, or a track record, in the field and in the specific area of work.
              </li>
              <li>
                There is adequate reassurance that there will be users with the required technical competence to carry out the procedures.
              </li>
              <li>
                The application has been endorsed by the NPRC at all specified establishments and the AWERB(s) have been consulted.
              </li>
            </ul>
        </div>
      </details>
      {% set amendment = 'true' %}
      {% set sectionComplete = 'yes' %}
    {% set assessOutcome = 'met' %}
    {% set reason = 'This is a new area of work for the establishment. The applicant has suitable expertise in the proposed models and methods and plans to provide training for PILh himself. There is strong oversight by the NVSs so I have confidence that technical competence will be developed.' %}
    {% set assessSection = 'suitable' %}
    {% set assessSectionTitle = 'applicant information' %}
    {% include "includes/assessment-met.html" %}

    <hr class=" govuk-section-break--l govuk-section-break--visible">
      <h2 class="govuk-heading-m">Add condition or authorisation</h2>
<!--  <h3 class="govuk-heading-s">Suggested based on applicant's resonses</h3> -->
      <span class="govuk-hint"><em>None automatically selected based on applicant’s responses</em></span></p>

      <!-- <div class="govuk-inset-text condition">
        <h3 class="govuk-heading-s">Training requirement<span class="govuk-hint">Automatically selected based on applicant's responses.</span></h3>
        
        <p>This licence authority will expire &#60;&#60;&#60;INSERT number HERE&#62;&#62;&#62; months after the initial grant date unless evidence that &#60;&#60;&#60;INSERT name HERE&#62;&#62;&#62; has successfully completed accredited training module(s) &#60;&#60;&#60;INSERT module codes HERE&#62;&#62;&#62; is provided to aspa.london@homeoffice.gov.uk.<br>
          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              This text requires editing
            </strong>
          </div>
          <span><a href="#">Edit</a>&ensp;|&ensp;<a href="#">Remove</a></span>
        </div>
      <br>
      <br> -->
          
      <div id="conditions-options" style="display: none;">
        <div class="govuk-form-group">
          <!-- <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="condition-1" name="condition-1" type="checkbox" value="1">
              <label class="govuk-label--s govuk-checkboxes__label" for="condition-1">
                Training requirement
                <p>This licence authority will expire <<<INSERT number HERE>>> months after the initial grant date unless evidence that <<INSERT name HERE>>> has successfully completed accredited training module(s) <<<INSERT module codes HERE>>> is provided to aspa.london@homeoffice.gov.uk.</p>
                <p class='expand-link'><a href="#">Expand</a> | <a href="#">Edit</a></p>
              </label>
            </div>
          </div> -->
          <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="condition" name="condition" type="checkbox" value="2">
              <label class="govuk-label--s govuk-checkboxes__label" for="condition">
                 Create custom condition
              </label>
            </div>
          </div>
          <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="authorisation" name="authorisation" type="checkbox" value="2">
              <label class="govuk-label--s govuk-checkboxes__label" for="authorisation">
                 Create custom authorisation
              </label>
            </div>
          </div>
        </div>
      </div>
      <br>
      <a class="govuk-button govuk-button--secondary" id="conditions-button" onclick="toggleConditions()">Add condition or authorisation</a>
      <br>

    {% include "includes/assessment-complete.html" %}
  
    </form>

    </div>
  </div>

{% endblock %}
