  
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      

      {% include "includes/licence-header-assessment.html" %}

                
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="assessment-nav">
        <li class="back-to-sections"><a href="assessment-overview">&#x25C0; &ensp; List of sections</a></li>
        <li><a href="0-summary">Summary of amendment</a></li>
        <li><a href="1-intro">Introductory details</a></li>
        <li><a href="7-nts"> Non-technical summary: general</a></li>
        <li><a href="6-3rs">Non-technical summary: 3Rs</a></li>
        <li><a href="1-suitability">Applicant information</a></li>
        <li><a href="2-suitability-places">Project location</a></li>
        <li><a href="3-programme">Project plan</a></li>
        <li><a href="5-models">Protocols</a></li>
        <li><a href="4-types">Use of animals</a></li>
        <li><a href="5a-end-of">Other considerations</a></li> 
        <li><a href="11-reporting"> Other conditions and authorisations</a></li>
        <li><a href="12-referrals">Referrals</a></li> 
        <li class="selected"><a href="10-hba">Harm-benefit analysis</a></li>
         
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Harm-benefit analysis</h1>
      <p>Responses copied from <a href="#">previous assessment on 1 January 2020</a></p>

        <h3 class="govuk-heading-s">Analysis of likelihood of success</h3>
        <p>Full funding will be provided by the company. My view is that there is a strong likelihood that significant progress will be made to assess suitability of repurposing existing company assets to make progress to meet the undoubted clinical need. It is likely that progress will also be made on developing new assets.</p>
                
        <h3 class="govuk-heading-s">Analysis of expected benefits</h3>
        <p>1800 mice will have inflammation induced over the course of an hour to several days. Many of these inflammatory models will not cause ongoing pain but will make the animal more sensitive to thermal or mechanical stimuli. Inflammatory models causing ongoing pain will be brief; no more than an hour. 1800 mice will be subject to surgery to cause neuropathic pain for a number of weeks. This is manifest by compromisation of a hind limb and ongoing discomfort, potentially reaching a high-moderate level.</p>

        <h3 class="govuk-heading-s">Analysis of expected harms</h3>
        <p>As the purpose of this work is to identify novel analgesic therapies, it is inevitable that animals will experience pain.</p>
        <p>A total of 1300 mice are requested. Mice will be subjected to infrequent dosing by a variety of enteral or parenteral routes. Some mice will have infrequent blood samples. Some mice will be subject to non-invasive imaging under general anaesthesia. These manipulations should cause no more than transient pain or distress. Mice will be subject to behavioural testing to identify analgesic properties. In general these testing methods will cause no more than transient pain and distress as the animal is able to immediately escape the painful stimulus. Tis testing should not cause more than mild pain.</p>


        <h3 class="govuk-heading-s">Outcome of harm-benefit analysis</h3>
        <p>he proposed models and methods are standard for this type of work, as commonly reported in the literature. The advantages and disadvantages are recognised in the application. </p>
        <p>This is a new area of work for the establishment, which brings some area of uncertainty. In mitigation, the applicant has appropriate experience in conducting all the procedures and the establishment has robust governance and study review to ensure that suitable expertise will be developed to support the programme.</p>
        <hr class=" govuk-section-break--l govuk-section-break--visible">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--m" for="">
              Is this harm beneift analysis still accurate?
            </label>
            <span class="govuk-hint"></span>
            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hba-yes" name="hba" type="radio" value="yes" data-aria-controls="conditional-yes" {% if assessOutcome == 'met' %}Checked{% endif %}>
                <label for="hba" class="govuk-label govuk-radios__label">Yes</label>
              </div>
             
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hba-no" name="hba" type="radio" value="no" data-aria-controls="conditional-no" {% if assessOutcome == 'unmet' %}Checked{% endif %}>
                <label for="hba" class="govuk-label govuk-radios__label">No</label>
                
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-no">
                

        <h3 class="govuk-heading-m">Analyse the likelihood of success</h3>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Factors to consider
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Consider:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                the proposed species, models, methods and experimental design
              </li>
              <li>
                how realistic the objectives are and whether the outcomes can be delivered in the timeframe and to what quality (for example, GLP)
              </li>
              <li>
                funding plans
              </li>
              <li>
                availability of facilities, equipment, skills and services
              </li>
              <li>
                validation of new or novel methodology and associated technical competence
              </li>
              <li>
                the experience and track record of the applicant and group in the field
              </li>
              <li>
                how scientifically sound the work is and how robust the plan is to disseminate the benefits (for example, by publication)
              </li>

            </ul>
          </div>
        </details>

        
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="comments-10">
            Analysis of likelihood of success
          </label>
          <span id="comments-10-hint" class="govuk-hint"></span>
          <textarea class="govuk-textarea" id="comments-10" name="comments-10" rows="6" aria-describedby="comments-10-hint">Full funding will be provided by the company. My view is that there is a strong likelihood that significant progress will be made to assess suitability of repurposing existing company assets to make progress to meet the undoubted clinical need. It is likely that progress will also be made on developing new assets.</textarea>
        </div>

        <hr class=" govuk-section-break--l govuk-section-break--visible">    

        <h3 class="govuk-heading-m">Analyse the expected benefits</h3>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Benefits to consider 
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Consider:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                direct or project-related benefits
              </li>
              <li>
                indirect benefits including
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    field-related benefits
                  </li>
                  <li>
                    cross-field benefits
                  </li>
                  <li>
                    3Rs benefits
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          
        </details>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="comments-10">
            Analysis of expected benefits
            </label>
            <span id="comments-10-hint" class="govuk-hint"></span> 
            <textarea class="govuk-textarea" id="comments-10" name="comments-10" rows="8" aria-describedby="comments-10-hint">1800 mice will have inflammation induced over the course of an hour to several days. Many of these inflammatory models will not cause ongoing pain but will make the animal more sensitive to thermal or mechanical stimuli. Inflammatory models causing ongoing pain will be brief; no more than an hour. 1800 mice will be subject to surgery to cause neuropathic pain for a number of weeks. This is manifest by compromisation of a hind limb and ongoing discomfort, potentially reaching a high-moderate level.</textarea>
          </div>
        <hr class=" govuk-section-break--l govuk-section-break--visible">    

        <h3 class="govuk-heading-m">Analyse the nature of the harms
        </h3>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Harms to consider
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Consider:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                contingent harms, such as environmental harms
              </li>
              <li>
                project-related harms, including: 
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    the severity, frequency and duration of procedures
                  </li>
                  <li>
                    the nature, severity and likelihood of each major adverse effect and the proportion of animals predicted to be affected
                  </li>
                  <li>
                    the number, origin, species, strain and age/stage of development of animals being used
                  </li>
                  <li>
                    the fate of animals, such as humane killing or re-use
                  </li>
                </ul>
              </li>
              
              <li>
                cumulative effects
              </li>
              <li>
                mitigation or amelioration of harms
              </li>
              <li>
                potential alternatives or refinements, including specific advice from referrals
              </li>
            </ul>
          </div>
        </details>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="comments-10">
            Analysis of expected harms
           </label>
           <span id="comments-10-hint" class="govuk-hint"></span> 
           <textarea class="govuk-textarea" id="comments-10" name="comments-10" rows="12" aria-describedby="comments-10-hint">As the purpose of this work is to identify novel analgesic therapies, it is inevitable that animals will experience pain.

A total of 1300 mice are requested. Mice will be subjected to infrequent dosing by a variety of enteral or parenteral routes. Some mice will have infrequent blood samples. Some mice will be subject to non-invasive imaging under general anaesthesia. These manipulations should cause no more than transient pain or distress. Mice will be subject to behavioural testing to identify analgesic properties. In general these testing methods will cause no more than transient pain and distress as the animal is able to immediately escape the painful stimulus. Tis testing should not cause more than mild pain.</textarea>
         </div>

         <hr class=" govuk-section-break--l govuk-section-break--visible">

        <h3 class="govuk-heading-m">Outcome of harm-benefit analysis</h3>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="">
              Do the potential benefits justify the harms?
            </label>
            <span class="govuk-hint"></span>
            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hba-yes" name="hba" type="radio" value="yes" data-aria-controls="conditional-option-1" {% if assessOutcome == 'met' %}Checked{% endif %}>
                <label for="hba" class="govuk-label govuk-radios__label">Yes</label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-option-1">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--s" for="hba-notes">
                    Explain how the potential benefits justify the harms
                  </label>
                  <span class="govuk-hint"></span>
                  <textarea class="govuk-textarea" id="hba-notes" name="hba-notes" rows="8" aria-describedby="hba-notes-hint">{{reason}}</textarea>
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hba-no" name="hba" type="radio" value="no" data-aria-controls="conditional-option-2" {% if assessOutcome == 'unmet' %}Checked{% endif %}>
                <label for="hba" class="govuk-label govuk-radios__label">No</label>
                
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-option-2">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--s" for="hba-reason">
                    Explain why the potential benefits don’t justify the harms
                  </label>
                  <span class="govuk-hint"></span>
                  <textarea class="govuk-textarea" id="hba-reason" name="hba-reason" rows="8" aria-describedby="hba-reason-hint">{{reason}}</textarea>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
              </div>
            </div>
          </fieldset>
        </div>


        <form action="assessment-overview" method="post">
        
        {% set assessSection = 'hba' %}

        {% include "includes/assessment-complete.html" %}

        </form>


    </div>
  </div>

<style type="text/css">

.govuk-inset-text {
border-left: 10px solid #8F23B3;
}

</style>
{% endblock %}
