
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


      {% include "includes/licence-header-assessment.html" %}


    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="assessment-nav">
        <li class="back-to-sections"><a href="assessment-overview">&#x25C0; &ensp; List of sections</a></li>
        <li><a href="0-summary">Summary of amendment</a></li>
        <li><a href="1-intro">Introductory details</a></li>
        <li class="selected"><a href="7-nts"> Non-technical summary: general</a></li>
        <li><a href="6-3rs">Non-technical summary: 3Rs</a></li>
        <li><a href="1-suitability">Applicant information</a></li>
        <li><a href="2-suitability-places">Project location</a></li>
        <li><a href="3-programme">Project plan</a></li>
        <li><a href="5-models">Protocols</a></li>
        <li><a href="4-types">Use of animals</a></li>
        <li><a href="5a-end-of">Other considerations</a></li>
        <li><a href="11-reporting"> Other conditions and authorisations</a></li>
        <li><a href="12-referrals">Referrals</a></li>
        <li><a href="10-hba">Harm-benefit analysis</a></li>

      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Non-technical summary: general</h1>

      <form action="assessment-overview" method="post">

      <details data-module="govuk-details"  class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            The non-technical summary:
          </span>
        </summary>
        <div class="govuk-details__text">
        <p>
          The non-technical summary:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            is written in non-technical language
          </li>
          <li>
            includes adequate information on the project’s objectives, predicted harms and benefits, and the number and type of animals
          </li>
          <li>
            demonstrates appropriate compliance with the principles of the 3Rs
          </li>
          <li>
            contains no intellectual property or confidential material
          </li>
          <li>
            contains no information from which the identity of the applicant or group could be ascertained
          </li>
        </ul>
        </ul>
      </div>
    </details>

    {% set amendment = 'true' %}
    {% set reason = 'This application satisfies all of the criteria above' %}
    {% set sectionComplete = 'yes' %}
    {% set assessOutcome = 'met' %}
    {% set assessSection = 'nts' %}
    {% set assessSectionTitle = 'the non-technical summary' %}
    {% include "includes/assessment-met.html" %}

    <hr class=" govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">Add condition or authorisation</h2>
    <p><span class="govuk-hint"><em>None automatically selected based on applicant’s responses</em></span></p>

    <div id="conditions-options" style="display: none;">
      <div class="govuk-form-group">
        <div class="govuk-checkboxes govuk-checkboxes--small">
        </div>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="condition" name="condition" type="checkbox" value="2">
            <label class="govuk-label--s govuk-checkboxes__label" for="condition">
               Create custom condition
            </label>
          </div>
        </div>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="condition" name="condition" type="checkbox" value="2">
            <label class="govuk-label--s govuk-checkboxes__label" for="condition">
               Create custom authorisation
            </label>
          </div>
        </div>
      </div>
    </div>
    <br>
    <a class="govuk-button govuk-button--secondary" id="conditions-button" onclick="toggleConditions()">Add condition or authorisation</a>
    <br>

    {% include "includes/assessment-complete.html" %}


      </form>
    </div>
  </div>

<style type="text/css">

.govuk-inset-text {
border-left: 10px solid #8F23B3;
}

</style>
{% endblock %}
