
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


      {% include "includes/licence-header-assessment-complete.html" %}


    </div>
  </div>

  <style type="text/css">


  </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="assessment-nav">
        <li><a href="1-intro">Introductory details</a></li>
        <li><a href="7-nts">Non-technical summary</a></li>
       <li><a href="6-3rs">Replacement, reduction and refinement (NTS)</a></li>
<li><a href="1-suitability">Applicant information</a></li>
        <li><a href="2-suitability-places">Project location</a></li>
        <li><a href="3-programme">Project plan</a></li>
        <li><a href="5-models">Protocols</a></li>
        <li><a href="4-types">Use of animals</a></li>
        <li><a href="5a-end-of">Other considerations</a></li>
        <li><li><a href="11-reporting">Additional conditions
</a></li>
</li>
        <li class="selected"><a href="10-hba">Harm-benefit analysis</a></li>




        <li><a href="12-referrals">Referrals</a></li>
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Harm-benefit analysis</h1>
      <form action="assessment-overview" method="post">
        <h3 class="govuk-heading-m">Analyse the nature of the harms</h3>
        <p>Consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Contingent harms (environmental)
          </li>
          <li>
            Project-Related Harms
            <ul class="govuk-list govuk-list--bullet">
              <li>
                the severity, frequency and duration of procedures
              </li>
              <li>
                the nature, severity and likelihood of each major adverse effect and the proportion of animals predicted to be affected
              </li>
              <li>
                the number origin, species, strain and age/stage of development of animals being used
              </li>
              <li>
                the fate (e.g. humane killing, re-use, rehoming)
              </li>
            </ul>
          </li>
          <li>
            Cumulative Effects
          </li>
          <li>
            Mitigation/Amelioration of Harm
          </li>
          <li>
            Potential alternatives or refinements, including specific advice from referrals
          </li>
        </ul>


        <div class="govuk-form-group">
           <label class="govuk-label govuk-label--s" for="comments-10">
            Inspectors assessment of the harms
           </label>
           <span id="comments-10-hint" class="govuk-hint"></span>
           <p>
           	As the purpose of this work is to identify novel analgesic therapies, it is inevitable that animals will experience pain.
           </p>

            <p>
              A total of 6300 mice are requested. Mice will be subjected to infrequent dosing by a variety of enteral or parenteral routes. Some mice will have infrequent blood samples. Some mice will be subject to non-invasive imaging under general anaesthesia. These manipulations should cause no more than transient pain or distress. Mice will be subject to behavioural testing to identify analgesic properties. In general these testing methods will cause no more than transient pain and distress as the animal is able to immediately escape the painful stimulus. Tis testing should not cause more than mild pain.
            </p>

            <p>
              1800 mice will have inflammation induced over the course of an hour to several days. Many of these inflammatory models will not cause ongoing pain but will make the animal more sensitive to thermal or mechanical stimuli. Inflammatory models causing ongoing pain will be brief; no more than an hour. 1800 mice will be subject to surgery to cause neuropathic pain for a number of weeks. This is manifest by compromisation of a hind limb and ongoing discomfort, potentially reaching a high-moderate level.
            </p>

            <p>
              900 mice will undergo additional procedures under terminal anaesthesia, so with no additional harms.
            </p>

            <p>
              In summary, some mice will suffer discomfort for a number of days. Most mice will experience infrequent, transient pain. Any actual pain experienced during the course of normal cage life should be short-lived and relieved by altered behaviour. I accept that some degree of pain needs to be manifest to demonstrate efficacy of potential analgesic approaches. In most models there will be hypersensitivity rather than overt pain.
            </p>
         </div>

         <hr class=" govuk-section-break--l govuk-section-break--visible">


        <h3 class="govuk-heading-m">Professional judgement on the likelihood of success</h3>
        <p>Consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
          	proposed species, models and methods, experimental design, how realistic the objectives are and whether the outcomes can be delivered in the timeframe and to what quality (eg GLP)
          </li>
          <li>
          	funding plans
          </li>
          <li>
          	availability of facilities, equipment, skills and services
          </li>
          <li>
          	validation of new or novel methodology and associated technical competence
          </li>
          <li>
          	the experience and track record of the applicant and group in the field
          </li>
          <li>
          	how scientifically sound the work is and how robust the plan is to disseminate the benefits, eg by publication
          </li>
        </ul>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="comments-10">
            Inspectors assessment of the likelihood of success
          </label>
          <span id="comments-10-hint" class="govuk-hint"></span>
          <p>
            The proposed models and methods are standard for this type of work, as commonly reported in the literature. The advantages and disadvantages are recognised in the application.
          </p>

          <p>
            This is a new area of work for the establishment, which brings some area of uncertainty. In mitigation, the applicant has appropriate experience in conducting all the procedures and the establishment has robust governance and study review to ensure that suitable expertise will be developed to support the programme.
          </p>

          <p>
            The decision-making process is well described and appropriate for the proposed project.
          </p>

          <p>
            Full funding will be provided by the company.
          </p>

          <p>
            My view is that there is a strong likelihood that significant progress will be made to assess suitability of repurposing existing company assets to make progress to meet the undoubted clinical need. It is likely that progress will also be made on developing new assets.
          </p>
        </div>
        <hr class=" govuk-section-break--l govuk-section-break--visible">

        <h3 class="govuk-heading-m">Professional judgement on the expected benefits</h3>
        <p>Consider:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Direct or Project-Related Benefits
          </li>
          <li>
            Indirect benefits
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Field-related benefits
              </li>
              <li>
                Cross-field benefits
              </li>
              <li>
                3Rs benefits
              </li>
            </ul>
          </li>
        </ul>

        <!-- <details data-module="govuk-details"  class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Likelyhood of success as stated in the applications NTS
            </span>
          </summary>
          <div class="govuk-details__text">
            <h2 class="govuk-heading-s">
              What outputs do you think you will see at the end of this project?
            </h2>
            <p>
              Reports and data which will be submitted to support the regulatory filing of new drugs.
            </p>
            <p>
              The refinement of models and associated publications sharing such data and best practices.
            </p>
            <h2 class="govuk-heading-s">
              Who or what will benefit from these outputs, and how?
            </h2>
            <p>
              The primary benefit of work carried out under this licence will be to allow regulatory authorities (who are totally independent from the commercial interests behind every marketing application) to come to informed decisions, based upon data generated in these studies, regarding the risks and/or benefits when humans are exposed to medicinal products.
            </p>
            <p>
              Achievement of the objectives of this Licence will enable medicinal products to progress into clinical testing and onwards to marketing authorisation and ultimately improving the health and welfare of humans. Without these pre-clinical studies, progression of new medicines to early human studies and on to patients/marketing could not occur.
            </p>
            <p>
              There is also a major benefit when using early drug selection type experiments, as the most promising compounds for further development will be selected and then fully tested so that they can reach the market sooner and as such benefit the health and welfare of humans.
            </p>
            <p>
              The use of the experiments described in this licence may indicate major safety concerns or lack of effectiveness with the substance under evaluation at an early stage thus precluding requirement for additional experiments after these screening studies. This can greatly reduce the number of animals required in a programme of work.
            </p>
            <p>
              n addition, scientific knowledge gained in one programme of work will often be applied to future experiments in order to reduce animal numbers and/or reduce pain and stress to those animals used in the subsequent work, or to target investigations to a particular organ or tissue during toxicity testing or clinical trials.
            </p>
            <p>
              Sponsors will benefit from work undertaken within this project licence, by obtaining data which allows them to make decisions on the development of the drugs and to support regulatory filings.
            </p>
            <h2 class="govuk-heading-s">
              Will this work be offered as a service to others?
            </h2>
            <p>
              No
            </p>
            <h2 class="govuk-heading-s">
              How will you maximise the outputs of your work?
            </h2>
            <p>
              Where confidentiality permits, data, study design and best practice will be openly shared at conferences, workshops, webinars, blogs and publications.
            </p>

          </div>
        </details> -->

        <div class="govuk-form-group">
        <!--  <label class="govuk-label" for="comments-10">
          Notes on the expected benefits
          </label>
          <span id="comments-10-hint" class="govuk-hint"></span> -->

            <p>
              The applicant provides a scientific argument that immune aspects of pain might be a fruitful line of enquiry and it is this that he will pursue.
            </p>
            <p>
              The short-term benefits relate to the generation of new knowledge. Some may be published in open-access journals. Any IP will be held within the company, which is well placed to exploit it. In the medium term the work will support go/no go decisions for taking forward potential new analgesics, including repurposing existing drugs. Immune cell therapy is currently a major focus for drug development by this company. When published, the information will be of interest to a wide range of basic and translational scientists working in the general field of immunology. The company has forged strong links with a variety of academic groups, which is a two-way benefit in identifying potential lines of scientific enquiry and in broadening the relevance of the ongoing work. In the longer term, new therapies for the drug development pipeline are likely to be identified to take forward and eventually reach the clinic to improve patient experience.
            </p>

        </div>

        {% include "includes/assessment-footer-nav.html" %}


    </div>
  </div>

<style type="text/css">

.govuk-inset-text {
border-left: 10px solid #8F23B3;
}

</style>
{% endblock %}
