
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      

      {% include "includes/licence-header-assessment-complete.html" %}

                
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="assessment-nav">
        <li><a href="1-intro">Introductory details</a></li>
        <li><a href="7-nts">Non-technical summary</a></li>
       <li><a href="6-3rs">Replacement, reduction and refinement (NTS)</a></li>
<li><a href="1-suitability">Applicant information</a></li>
        <li><a href="2-suitability-places">Project location</a></li>
        <li><a href="3-programme">Project plan</a></li>
        <li><a href="5-models">Protocols</a></li>
        <li><a href="4-types">Use of animals</a></li>
        <li><a href="5a-end-of">Other considerations</a></li> 
        <li><li><a href="11-reporting"> Other conditions and authorisations</a></li>
</li>
        <li><a href="10-hba">Harm-benefit analysis</a></li>
        <li class="selected"><a href="8-retrospective">Retrospective assessment</a></li>
        

         <li><a href="12-referrals">Referrals</a></li> 
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Retrospective assessment</h1>

      <form action="assessment-overview" method="post">

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View retrospective assessment standards
          </span>
        </summary>
        <div class="govuk-details__text">  
        <h3 class="govuk-heading-s">Retrospective assessment</h3>
        
        <p>
          A RA is required for any project in the following categories:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            All projects using non-human primates (NHPs)
          </li>
          <li>
            All projects involving procedures prospectively classified as severe
          </li>
          <li>
            All projects using cats, dogs or equidae
          </li>
          <li>
            All projects using endangered animals
          </li>
          <li>
            Teaching licences
          </li>
          <li>
            Any project raising important animal welfare or ethical concerns, novel or contentious issues or societal concerns
          </li>
        </ul>
        <p>
          The RA date will be on expiry or revocation of the project licence unless there is a specific reason for undertaking retrospective assessment during the course of the project, or to undertake more than one RA
        </p>
      </div>
    </details>

      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Additional conditions</h2>
      
      <div class="govuk-inset-text condition">
          <h3 class="govuk-heading-s">
          	Retrospective assessment required condition
          </h3>
          <p>The Secretary of State has determined that a retrospective review of this licence is required, and should be submitted within 6 months of the licence’s revocation date.</p>
      </div>      

      {% include "includes/assessment-footer-nav.html" %}

    
      
      
      </form>

    </div>
  </div>

<style type="text/css">

.govuk-inset-text {
border-left: 10px solid #8F23B3;
}

</style>
{% endblock %}
