
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl"></span>
      <h1 class="govuk-heading-xl">
        Remove named role
      </h1>
      
      <form action="#" method="post">
        <h3 class="govuk-heading-s">Role removal in progress</h3>
        <p>
          There is already a task to remove the role Named Training and Competency Officer (NTCO) from this person.
        </p>
        <p>
          <a href="#">View this task</a>
        </p>
        <br>
        <!-- <div class="govuk-form-group">  
          <fieldset class="govuk-fieldset">         
            <label class="govuk-label--s" for="">
              Which named role do you want to remove?
            </label>
            <span id="holding-hint" class="govuk-hint"></span>
            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="option-2" name="option" type="radio" value="value2" data-aria-controls="conditional-option-2">
                <label class="govuk-label govuk-radios__label" for="option-2">
                  Named Training and Competency Officer (NTCO)
                </label> 
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label--s" for="more-detail">
            Why are you removing this named role from this person?
          </label>
          <span id="more-detail-hint" class="govuk-hint"></span>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>-->
        <button class="govuk-button">Cancel</button> 
        <!-- <a href='ppl-index' class="secondary-link">Cancel</a> -->
      </form> 
    </div>
  </div>

{% endblock %}
