
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">PIL application</span>
      <h1 class="govuk-heading-xl">
        Review application
      </h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__legend--m">
              Does this application have the endorsement of your primary establishment’s PEL holder?
            </h1>
          </legend>
          <span id="citizenship-conditional-hint" class="govuk-hint">
            The Home Office may be in touch with your establishment to collect evidence of this endorsement.
          </span>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="endorsement-conditional-1" name="citizen" type="radio" value="email" data-aria-controls="conditional-citizenship-conditional-1">
              <label class="govuk-label govuk-radios__label" for="citizenship-conditional-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="endorsement-citizenship-conditional-1">
              <div class="govuk-form-group">
                <p>Please state the name of your primary establishment’s PEL holder and the date of their endorsement.</p>
                <label class="govuk-label" for="contact-by-email">
                  <strong>PEL holder</strong>
                </label>
                <input class="govuk-input" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">
                <br>
                <br>

                <label class="govuk-label bold" for="contact-by-email">
                  <strong>Date of their endorsment</strong>
                </label>

                <div class="govuk-date-input" id="passport-issued">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
              <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                Not yet
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__legend--m">
             Has this draft application been reviewed by the AWERB of each relevant establishment?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="citizenship-conditional-1" name="citizen" type="radio" value="email" data-aria-controls="conditional-citizenship-conditional-1">
              <label class="govuk-label govuk-radios__label" for="citizenship-conditional-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-citizenship-conditional-1">
              <div class="govuk-form-group">
                <label class="govuk-label bold" for="contact-by-email">
                  <strong>Please state the date of the most recent AWERB review for each relevant establishment.</strong>
                </label>

                <input class="govuk-input" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">

              </div>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
              <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                Not yet
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__legend--m">
             Has an inspector advised you that this version of your draft application is ready for assessment?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="citizenship-conditional-1" name="citizen" type="radio" value="email" data-aria-controls="conditional-citizenship-conditional-1">
              <label class="govuk-label govuk-radios__label" for="citizenship-conditional-1">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="citizenship-conditional-2" name="citizen" type="radio" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
              <label class="govuk-label govuk-radios__label" for="citizenship-conditional-2">
                Not yet
              </label>
            </div>
          </div>
        </fieldset>
      </div>




      <a href="review-pil-app-public-edit" class="govuk-button">Continue</a>

    </div>
  </div>

{% endblock %}
