

{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% set entityType = "project" %}
      {% include "includes/compliance/flag-open.html" %}

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <span class="govuk-caption-xl">PPL application</span>
      <h1 class="govuk-heading-xl">
        Review application
      </h1>
      <h3 class="govuk-heading-s">Development of new biological anticancer agents</h3>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <nav class="sticky-nav" style="position: static; top: 0px; width: 300px;">
        <a href="#activity" class="active" style="color: #fff;">Latest activity</a>
        <a href="#applicant.application" class="">PPL holder</a>
        <a href="#procedures" class="">Latest submission</a>
        <a href="#procedures" class="">Reason for amendment</a>
        <a href="#procedures" class="">Task assignment</a>
        <a href="#procedures" class="">What do you want to do?</a>
      </nav>&nbsp;
    </div>



    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Status</h2>
        <p>
          <span class="badge">Awaiting decision</span>
          <span class="date">Currently with: Home Office inspector</span>
        </p>
      <p><strong>Deadline for decision: 19 January 2022</strong></p>

      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Latest activity</h2>
      <p><strong>Endorsed on behalf of the PEL holder at University of Croydon by:</strong> <a href="#">Bruce Banner</a></p>
      <p>{{data["pelhb-comment"]}}</p>

      <dl>
        <dt><strong>PPL holder endorsement</strong></dt>
        <dd>Yes</dd>
        <dt><strong>Inspector confirmed ready</strong></dt>
        <dd>Yes</dd>
        <dt><strong>University of Croydon AWERB review date</strong></dt>
        <dd>6 November 2021</dd>
      </dl>
    <p>Declaration</p>
    <div class="govuk-inset-text">
      <p>By endorsing this application, I agree that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Auto Project's training record is accurate and up to date.</li>
        <li>The non-technical summary uses everyday language and contains no information that could identify people, places or intellectual property.</li>
      </ul>
    </div>

    <details data-module="govuk-details"  class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Show preivous activity
        </span>
      </summary>
      <div class="govuk-details__text">
        XXX
      </div>
    </details>


    <hr class=" govuk-section-break--l govuk-section-break--visible">


      <h2 class="govuk-heading-m">PPL holder</h2>
      <p><a href="profile-jane">Jane McGregor</a></p>

      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Latest submission</h2>

      <dl>
        <dt><strong>PPL holder endorsement</strong></dt>
        <dd>Yes</dd>
        <dt><strong>Inspector confirmed ready</strong></dt>
        <dd>Yes</dd>
        <dt><strong>University of Croydon AWERB review date</strong></dt>
        <dd>6 November 2021</dd>
      </dl>

      <p>This is the amendment that has been submitted for approval.</p>
      <p><a href="review-ppl-index" class="govuk-button govuk-button--secondary">View latest submission</a></p>

      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Reason for amendment</h2>
      <p>Providing a more comprehensive explanation of adverse effects relating to surgical procedures, with special attention to risks in juvenile animals
      </p>

      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Task assignment</h2>

      <p>Assigned to: Inspector Morse</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
          Assign to:
        </label>
        <select class="govuk-select" id="sort" name="sort">
          <option value="published">select</option>
          <option value="updated" selected>Select...</option>
          <option value="views">Most views</option>
          <option value="comments">Most commentsMost commentsMost</option>
        </select>
        <a href="secondary-link">Assign</a>
      </div>

      <hr class=" govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">What do you want to do?</h2>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                <label for="where-do-you-live" class="govuk-label govuk-radios__label">Update licence</label>
                <span class="govuk-hint">The licence will be updated.</span>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                <label for="where-do-you-live" class="govuk-label govuk-radios__label">Reject amendment</label>
                <span class="govuk-hint">The applicant will need to create a new amendment to apply for this type of licence in the future.</span>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                <label for="where-do-you-live" class="govuk-label govuk-radios__label">Return to applicant</label>
                <span class="govuk-hint">The amendment will be returned to the applicant with your comments.</span>
              </div>
            </div>
          </fieldset>
        </div>


      <a href="lo-approve-comment" class="govuk-button">Continue</a>

    </div>
  </div>

  <style type="text/css">



.govuk-radios__item label {
  font-weight: bold;
}

.govuk-radios__item .govuk-hint {
  padding-left: 15px;
}


    .sticky-nav a{
      display: block;
      padding: 15px;
      text-decoration: none;
    }

   .active{
      color: #fff;
      background-color: #005ea5;
    }

    .badge {
      padding: 3px 6px;
      background: #999;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }

    .date {
      float: right;
    }



dl {
  width: 100%;
}

dt {
  font-weight: normal;
  clear: left;
  display: inline-block;
  width: 35%;
  padding-bottom:5px;
}
dd {
  padding-bottom:5px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  /*font-weight: 400;*/
  /*background-color: red;*/
}

  .highlight {
    border-bottom: 3px solid #ffbf47;
    margin-right: 1px;
    background-color: #fff2d3;
    padding: 2px 0px 0px;
}

  </style>

<script type="text/javascript">
  var search = document.querySelector('#search');
var results = document.querySelector('#searchresults');
var templateContent = document.querySelector('#resultstemplate').content;
search.addEventListener('keyup', function handler(event) {
    while (results.children.length) results.removeChild(results.firstChild);
    var inputVal = new RegExp(search.value.trim(), 'i');
    var set = Array.prototype.reduce.call(templateContent.cloneNode(true).children, function searchFilter(frag, item, i) {
        if (inputVal.test(item.textContent) && frag.children.length < 6) frag.appendChild(item);
        return frag;
    }, document.createDocumentFragment());
    results.appendChild(set);
});
</script>
{% endblock %}
