
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "includes/licence-header-ra.html" %}
      {% include "includes/list-of-sections.html" %}
      <!-- <span class="govuk-caption-xl">Autophagy in the hematopoietic system</span> -->
      <h1 class="govuk-heading-xl">
        Check your answers for replacement, reduction and refinement
      </h1>
      {% include "includes/nts-warning-small.html" %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Replacement</h2>

      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="more-detail">
          During the project, were any new techniques introduced or considered to replace the use of animals?
        </label>
      </h3>
      <span id="more-detail-hint" class="govuk-hint">For example, use of genetically engineered tissue or computer modelling.</span>
      <p>
       Yes
      </p>
      <a href="#" class="">Edit</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="more-detail">
          Outline the techniques and any insights that might help others, including things that didn’t work.
        </label>
      </h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, animi ducimus. Mollitia, dolorem sapiente numquam, commodi quo similique ab tenetur repudiandae beatae animi, deserunt obcaecati deleniti sint aut assumenda sunt.
      </p>
      <a href="#" class="">Edit</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="more-detail">
          Are you aware of any emerging techniques with the potential to replace animals, or animal work, in the future?
        </label>
      </h3>
      <span id="more-detail-hint" class="govuk-hint">These could be methods that are in development but unvalidated.</span>
      <p>
       Yes
      </p>
      <a href="#" class="">Edit</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="more-detail">
          Outline the techniques and any insights that might help others, including things that didn’t work.
        </label>
      </h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, animi ducimus. Mollitia, dolorem sapiente numquam, commodi quo similique ab tenetur repudiandae beatae animi, deserunt obcaecati deleniti sint aut assumenda sunt.
      </p>
      <a href="#" class="">Edit</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <h2 class="govuk-heading-m">Reduction</h2>

      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="more-detail">
          During the project, were any changes made or considered to reduce the use of animals?
        </label>
      </h3>
      <span id="more-detail-hint" class="govuk-hint"></span>
      <p>
       Yes
      </p>
      <a href="#" class="">Edit</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="more-detail">
          Briefly describe how you tried to reduce the use of animals and any insights that might help others
        </label>
      </h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, animi ducimus. Mollitia, dolorem sapiente numquam, commodi quo similique ab tenetur repudiandae beatae animi, deserunt obcaecati deleniti sint aut assumenda sunt.
      </p>
      <a href="#" class="">Edit</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="more-detail">
          If this work continued, are there any new or experimental techniques to reduce the use of animals that would be worth trialling now?
        </label>
      </h3>
      <span id="more-detail-hint" class="govuk-hint"></span>
      <p>
       Yes
      </p>
      <a href="#" class="">Edit</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="more-detail">
          Outline the changes and any learnings that might help others, including things that didn’t work.
        </label>
      </h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, animi ducimus. Mollitia, dolorem sapiente numquam, commodi quo similique ab tenetur repudiandae beatae animi, deserunt obcaecati deleniti sint aut assumenda sunt.
      </p>
      <a href="#" class="">Edit</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <h2 class="govuk-heading-m">Refinement</h2>

      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="more-detail">
          During the project, were any changes made or considered to improve the animals’ welfare?
        </label>
      </h3>
      <span id="more-detail-hint" class="govuk-hint"></span>
      <p>
       Yes
      </p>
      <a href="#" class="">Edit</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="more-detail">
          Briefly describe how you tried to improve the animals’ welfare and any insights that might help others
        </label>
      </h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, animi ducimus. Mollitia, dolorem sapiente numquam, commodi quo similique ab tenetur repudiandae beatae animi, deserunt obcaecati deleniti sint aut assumenda sunt.
      </p>
      <a href="#" class="">Edit</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="more-detail">
          If this work continued, are there any new or experimental techniques to improve animal welfare that would be worth trialling now?
        </label>
      </h3>
      <span id="more-detail-hint" class="govuk-hint">For example, new technologies, earlier endpoints or changes to housing, husbandry or welfare assessment methods. </span>
      <p>
       Yes
      </p>
      <a href="#" class="">Edit</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="more-detail">
          Outline the techniques and why you think they might be effective at reducing the use of animals
        </label>
      </h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, animi ducimus. Mollitia, dolorem sapiente numquam, commodi quo similique ab tenetur repudiandae beatae animi, deserunt obcaecati deleniti sint aut assumenda sunt.
      </p>
      <a href="#" class="">Edit</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



      <form action="ra-index" method="POST">
        <div class="declaration-panel-grey">
          <h3 class="govuk-heading-m">Mark this section as complete</h3>
          <p>You can still edit this section later, but you will be unable submit this assessment until all sections are marked as complete.</p>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="complete-3rs-hint">
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="complete-3rs" name="complete-3rs" type="checkbox" value="yes">
                  <label class="govuk-label govuk-checkboxes__label" for="complete-3rs">
                    Mark this section as complete
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <br>
        <p>
          <button data-module="govuk-button" class="govuk-button">Continue</button>
          <a href="ppl-overview" class="secondary-link">List of sections</a>
        </p>
      </div>
    </form>

    {% include "includes/ra-sidebar.html" %}

  </div>

{% endblock %}
