
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "includes/licence-header-ra.html" %}
      {% include "includes/list-of-sections.html" %}
      <!-- <span class="govuk-caption-xl">Autophagy in the hematopoietic system</span> -->
      <h1 class="govuk-heading-xl">
        Objectives
      </h1>
      {% include "includes/nts-warning-small.html" %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Objective 1</h2>
      <p>To develop models of human blood diseases (Acute myeloid leukaemia, acute lymphoblastic leukaemia, myelodysplastic syndrome, Diamond-Blackfan Anaemia) using the zebrafish or kill fish (haematopoietic disease of aging).</p>
      <div class="govuk-form-group">  
        <fieldset class="govuk-fieldset">         
          <label class="govuk-label--s" for="">
            Did the project achieve this objective?
          </label>
          <span id="holding-hint" class="govuk-hint"></span>
          
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option-1" name="option" type="radio" value="value1" data-aria-controls="conditional-option-1">
              <label class="govuk-label govuk-radios__label" for="option-1">
                Yes
              </label> 
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option-2" name="option" type="radio" value="value2" data-aria-controls="conditional-option-2">
              <label class="govuk-label govuk-radios__label" for="option-2">
                No, or only partially
              </label> 
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-option-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="option-2-additional-1">
                  For each objective not achieved as stated, explain why 
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
              </div>
            </div>
          </div>
          
        </fieldset>
      </div>
      <h2 class="govuk-heading-m">Objective 2</h2>
      <p>To use these models to delineate disease mechanisms for these conditions by studying the effects of gene deletions or overexpression on the developmental haematopoiesis or the growing juvenile and adult zebrafish or kill fish.</p>
      <div class="govuk-form-group">  
        <fieldset class="govuk-fieldset">         
          <label class="govuk-label--s" for="">
            Did the project achieve this objective?
          </label>
          <span id="holding-hint" class="govuk-hint"></span>
          
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option-1" name="option" type="radio" value="value1" data-aria-controls="conditional-option-1">
              <label class="govuk-label govuk-radios__label" for="option-1">
                Yes
              </label> 
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option-2" name="option" type="radio" value="value2" data-aria-controls="conditional-option-2">
              <label class="govuk-label govuk-radios__label" for="option-2">
                No, or only partially
              </label> 
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-option-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="option-2-additional-1">
                  For each objective not achieved as stated, explain why 
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
              </div>
            </div>
          </div>
          
        </fieldset>
      </div>
      <h2 class="govuk-heading-m">Objective 3</h2>
      <p>To use these models to identify novel therapeutics for these conditions by performing small molecule screens on zebrafish embryos and adults or kill fish.</p>
      <div class="govuk-form-group">  
        <fieldset class="govuk-fieldset">         
          <label class="govuk-label--s" for="">
            Did the project achieve this objective?
          </label>
          <span id="holding-hint" class="govuk-hint"></span>
          
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option-1" name="option" type="radio" value="value1" data-aria-controls="conditional-option-1">
              <label class="govuk-label govuk-radios__label" for="option-1">
                Yes
              </label> 
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option-2" name="option" type="radio" value="value2" data-aria-controls="conditional-option-2">
              <label class="govuk-label govuk-radios__label" for="option-2">
                No, or only partially
              </label> 
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-option-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="option-2-additional-1">
                  For each objective not achieved as stated, explain why 
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
              </div>
            </div>
          </div>
          
        </fieldset>
      </div>

      
      
      <div class="govuk-form-group">  
        <fieldset class="govuk-fieldset">         
          <label class="govuk-label--s" for="">
            Were there any notable findings that were not expected? 
          </label>
          <span id="holding-hint" class="govuk-hint">For example, findings worthy of publication.</span>
          
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option-1" name="option" type="radio" value="value1" data-aria-controls="conditional-option-1">
              <label class="govuk-label govuk-radios__label" for="option-1">
                Yes
              </label> 
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-option-1">
              <div class="govuk-form-group">
                <label class="govuk-label" for="option-1-additional-1">
                  Briefly outline any other significant findings 
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="option-2" name="option" type="radio" value="value2" data-aria-controls="conditional-option-2">
              <label class="govuk-label govuk-radios__label" for="option-2">
                No
              </label> 
            </div>
          </div>
        </fieldset>
      </div>



        <h3 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="more-detail">
            Which of the project’s benefits were achieved, or are expected to be achieved in the future?
          </label>
        </h3>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint"></textarea>
         

      <p>
        <a href="ra-objectives-review.html" class="govuk-button">Continue</a>
        <a href="ppl-overview" class="secondary-link">List of sections</a>
      </p>
    </div>

    {% include "includes/ra-sidebar.html" %}

  </div>

{% endblock %}
