
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Jane McGregor's PPL: 372383</span>
      Edit enforcement flag
    </h1>

    <form action="all-cases" method="POST">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="case-number">
          Case number
        </label>
       <p>21102&ensp;<a href="#">Edit</a></p>
      </div>
      <div class="govuk-form-group" id="q1" data-required="">
        <fieldset class="govuk-fieldset">
          <label class="govuk-label--s" for="gaa">
            Select flag status
          </label>
          <span class="govuk-hint"></span>
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="subject-1-flag-open" name="subject-1-flag" type="radio" value="oepn" data-aria-controls="conditional-option-1" checked>
              <label for="subject-1-flag" class="govuk-label govuk-radios__label">PPL372383 is linked to an ongoing case</label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="subject-1-flag-remedial" name="subject-1-flag" type="radio" value="remedial" data-aria-controls="conditional-option-2">
              <label for="subject-1-flag" class="govuk-label govuk-radios__label">PPL372383 is linked to a closed case - remedial action applied
                <span class="govuk-hint no-margin-bottom">Status will remain in place for 5 years</span>
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-option-2">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="remedial-one-hint">
                  <label class="govuk-label--s" for="gaa">
                    Select remedial action taken    
                  </label>
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="remedial-one" name="remedial-one" type="checkbox" value="carcasses">
                      <label class="govuk-label govuk-checkboxes__label" for="remedial-one">Inspector advice</label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="remedial-one-2" name="remedial-one" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="remedial-one-2">Letter of reprimand</label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="remedial-one-3" name="remedial-one" type="checkbox" value="farm">
                      <label class="govuk-label govuk-checkboxes__label" for="remedial-one-3">Letter of reprimand and retraining</label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="remedial-one-4" name="remedial-one" type="checkbox" value="farm">
                      <label class="govuk-label govuk-checkboxes__label" for="remedial-one-4">Compliance notice</label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="remedial-one-4" name="remedial-one" type="checkbox" value="farm">
                      <label class="govuk-label govuk-checkboxes__label" for="remedial-one-5">Suspension and retraining</label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="remedial-one-4" name="remedial-one" type="checkbox" value="farm">
                      <label class="govuk-label govuk-checkboxes__label" for="remedial-one-6">Revocation of licence</label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="remedial-one-5" name="remedial-one" type="checkbox" value="farm">
                      <label class="govuk-label govuk-checkboxes__label" for="remedial-one-6">Other</label>
                    </div>
                  </div>
              
                </fieldset>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="subject-1-flag-remedial" name="subject-1-flag" type="radio" value="remedial" data-aria-controls="conditional-option-3">
              <label for="subject-1-flag" class="govuk-label govuk-radios__label">PPL372383 is linked to a closed case - No breach
                <span class="govuk-hint no-margin-bottom">Status status is removed immediately</span>
              </label>
            </div>
          </div>
        </fieldset>
      </div>
          

      <button class="govuk-button">Save</button><span class="secondary-link"><a href="#">Cancel</a></span>
    </form>

  </div>
</div>


{% endblock %}
