
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "includes/licence-header-downloads.html" %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Downloads</h2>
      
      <h3 class="govuk-heading-s">
        Draft licence
      </h3>
<p>
  <a href="#">Draft licence: How to cure heartache (.pdf)</a><br>
  <span class="govuk-hint">Download a preview of how the licence will appear if granted. This doesn't include any restrictions the Home Office may add.</span>
</p>


<h3 class="govuk-heading-s">
  Granted licence
</h3>
<p>
  <a href="#">Granted licence: How to cure heartache (.pdf)</a><br>
  <span class="govuk-hint">Download the official licence for this project.</span>
</p>


<h3 class="govuk-heading-s">
  Application
</h3>
<p>
  <a href="#">Full application (.docx)</a>
  <br>
  <a href="#">Full application (.pdf)</a><br>
  <span class="govuk-hint">Download the full application, including background information and justification not detailed in the licence.</span>
</p>


<h3 class="govuk-heading-s">
  Non-technical summary
</h3>
<p>
  <a href="#">Non-technical summary (.pdf)</a><br>
  <a href="#">Non-technical summary with retrospective assessment (.pdf)</a><br>
  <span class="govuk-hint">Download the project's non-technical summary.</span>
</p>


<h3 class="govuk-heading-s">
  Template
</h3>
<p>
  <a href="#">Template (.ppl)</a><br>
  <span class="govuk-hint">Download a copy of the application data that can be used as a template for similar projects. The file can be uploaded to avoid creating new applications from scratch.</span>
</p>

<h3 class="govuk-heading-s">
  Protocols
</h3>
<p>
  <a href="#">Steps and adverse effects (.pdf)</a><br>
  <span class="govuk-hint">Download a table of each protocol’s steps, adverse effects, controls and limitations, and humane endpoints.</span>
</p>


    </div>
  </div>

{% endblock %}
