
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Add procedure</h1>
      <table class="govuk-table">
        <caption class="govuk-table__caption">Month you apply</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Animal species</th>
            <th scope="col" class="govuk-table__header">Re-use</th>
            <th scope="col" class="govuk-table__header">Place of birth</th>
            <th scope="col" class="govuk-table__header">Genetic status</th>
            <th scope="col" class="govuk-table__header">Creation of a new genetic line</th>
            <th scope="col" class="govuk-table__header">Purpose</th>
            <th scope="col" class="govuk-table__header">Sub-purpose</th>
            <th scope="col" class="govuk-table__header">Testing by legislation</th>
            <th scope="col" class="govuk-table__header">Legislative Requirements</th>
            <th scope="col" class="govuk-table__header">Severity</th>
            <th scope="col" class="govuk-table__header">Number of<br>procedures</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">XXX</td>
            <td class="govuk-table__cell">XXX</td>
            <td class="govuk-table__cell">XXX</td>
            <td class="govuk-table__cell">XXX</td>
            <td class="govuk-table__cell">XXX</td>
            <td class="govuk-table__cell">XXX</td>
            <td class="govuk-table__cell">XXX</td>
            <td class="govuk-table__cell">XXX</td>
            <td class="govuk-table__cell">XXX</td>
            <td class="govuk-table__cell">XXX</td>
            <td class="govuk-table__cell">XXX</td>
          </tr>
        </tbody>
      </table>
      
      <style>
        table {
            display: block;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            overflow: scroll;
            height: 100vh;
        }
      </style>
      
      
      
      
      
      
      
      
      
      
      

    </div>
  </div>

{% endblock %}
