
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% set toasterContent = 'Procedure No.3 updated' %}
      {% include "includes/toaster.html" %}
      {% include "includes/licence-header-rops-research.html" %}

      <h2 class="govuk-heading-m">Return details</h2>
      <p>View and edit details about this return, including information used to customise procedures. </p>
      <p><a href="setup-complete">Show return details</a></p>

      <h2 class="govuk-heading-m">Procedures</h2>
      <p>Add details for procedures completed in 2021 using a form customised to this project.</p>
      <a href="add-procedure.html" class="govuk-button">Add procedure</a>
      <div class="fullscreen-content customized-scrollbar " data-module="scrolling-tables">
        <div class="fullscreen-scrollable-table">
          <table class="govuk-table  table-background" style="font-size: 14px;">
            <caption class="govuk-table__caption"> </caption>
            <thead class="govuk-table__head">

            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">No.</th>
                <th scope="col" class="govuk-table__header">Animal species</th>
                <th scope="col" class="govuk-table__header">Re-use</th>
                <th scope="col" class="govuk-table__header">Place of birth</th>
                <th scope="col" class="govuk-table__header">Genetic status</th>
                <th scope="col" class="govuk-table__header">Creation of a new genetic line</th>
                <th scope="col" class="govuk-table__header">Purpose</th>
                <th scope="col" class="govuk-table__header">Sub-purpose</th>
                <th scope="col" class="govuk-table__header">Severity</th>
                <th scope="col" class="govuk-table__header">Number of<br>procedures</th>
                <th scope="col" class="govuk-table__header">Edit</th>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">Mice</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">EU (non-UK), registered breeder</td>
                <td class="govuk-table__cell">GAA not used</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Translational/applied research</td>
                <td class="govuk-table__cell">Human nervous system and mental disorders</td>
                <td class="govuk-table__cell">Mild</td>
                <td class="govuk-table__cell">146</td>
                <td class="govuk-table__cell"><a href="edit-procedure">Edit</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">2</td>
                <td class="govuk-table__cell">Mice</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">EU (non-UK), registered breeder</td>
                <td class="govuk-table__cell">GAA not used</td>
                <td class="govuk-table__cell">Yes</td>
                <td class="govuk-table__cell">Translational/applied research</td>
                <td class="govuk-table__cell">Human nervous system and mental disorders</td>
                <td class="govuk-table__cell">Mild</td>
                <td class="govuk-table__cell">36</td>
                <td class="govuk-table__cell"><a href="edit-procedure">Edit</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">Mice</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">UK, licensed establishment</td>
                <td class="govuk-table__cell">GAA without harmful phenotype</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Translational/applied research</td>
                <td class="govuk-table__cell">Human immune disorders</td>
                <td class="govuk-table__cell">Mild</td>
                <td class="govuk-table__cell">49</td>
                <td class="govuk-table__cell"><a href="edit-procedure">Edit</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">4</td>
                <td class="govuk-table__cell">Mice</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">UK, licensed establishment</td>
                <td class="govuk-table__cell">GAA without harmful phenotype</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Translational/applied research</td>
                <td class="govuk-table__cell">Human nervous system and mental disorders</td>
                <td class="govuk-table__cell">Non-recovery</td>
                <td class="govuk-table__cell">8</td>
                <td class="govuk-table__cell"><a href="edit-procedure">Edit</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">5</td>
                <td class="govuk-table__cell">Mice</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">UK, licensed establishment</td>
                <td class="govuk-table__cell">GAA without harmful phenotype</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Breeding/mantenance of colonies</td>
                <td class="govuk-table__cell">–</td>
                <td class="govuk-table__cell">Sub-threshold</td>
                <td class="govuk-table__cell">230</td>
                <td class="govuk-table__cell"><a href="edit-procedure">Edit</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">6</td>
                <td class="govuk-table__cell">Mice</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">UK, licensed establishment</td>
                <td class="govuk-table__cell">GAA with harmful phenotype</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Breeding/mantenance of colonies</td>
                <td class="govuk-table__cell">–</td>
                <td class="govuk-table__cell">Moderate</td>
                <td class="govuk-table__cell">10</td>
                <td class="govuk-table__cell"><a href="edit-procedure">Edit</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">7</td>
                <td class="govuk-table__cell">Mice</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">UK, licensed establishment</td>
                <td class="govuk-table__cell">GAA without harmful phenotype</td>
                <td class="govuk-table__cell">No</td>
                <td class="govuk-table__cell">Breeding/mantenance of colonies</td>
                <td class="govuk-table__cell">–</td>
                <td class="govuk-table__cell">Mild</td>
                <td class="govuk-table__cell">11</td>
                <td class="govuk-table__cell"><a href="edit-procedure">Edit</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr>
      <form action="submit-comment" method="post">
        <h2 class="govuk-heading-m">Submit return</h2>
        <p>Submit this project’s completed return of procedures.</p>
        <a href="declaration" class="govuk-button govuk-button--secondary">Submit return</a>
      </form>
      {% if data['rowCount'] is not number %}
        <form action="rops-empty" method="POST">
          <input type="hidden" name="rowCount" value="0">
          <button data-module="govuk-button" class="float-right">Reset</button>
        </form>
      {% endif %}
      <style>
        table {
            display: block;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            overflow: scroll;
        }
        .fullscreen-content {
    box-sizing: border-box;
    margin: 0 0 15px 0;
    padding: 0 0 0 0;
    position: relative;
    overflow-x: scroll;
    z-index: 10;
        }
        .fullscreen-scrollable-table {
          overflow-x: auto;
          overflow-y: hidden;
        }


      </style>

  </div>
</div>

<style>
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color:#858585;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.customized-scrollbar ::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}
</style>

{% endblock %}
