
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Return of procedures</span>
      <h1 class="govuk-heading-l">Guidance</h1>
      
      <p>
        A procedure is the series of techniques applied to an animal for a particular protocol or experiment.</p>
      <p>
        You should record the actual severity levels experienced by animals during procedures, even if these differ from what was projected in the licence.
      </p>
      <p>Include all procedures completed in 2021 no matter when they started.</p>

      <a href="setup-any" class="govuk-button">Continue</a>
    </div>
  </div>

{% endblock %}
