
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% if data['validate'] == 'true' %}
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script language="JavaScript" type="text/javascript" src="/public/javascripts/validation.js"></script>
{% endif %}
 

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Development of new biological anticancer agents
      </span>
      <h1 class="govuk-heading-l">Return details</h1>
      <form action="setup-protected" method="POST">
        <div class="govuk-form-group" id="q1" data-required="Please answer the question">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="gaa">
              Were any procedures carried out and completed on any animals in 2021?
            </label>
            <span class="govuk-hint"></span>
            <span class="govuk-hint">Include regulated procedures only.</span>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="setup-any" name="setup-any" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="setup-any">
                  Yes, procedures were completed in 2021
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="setup-any-2" name="setup-any" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="setup-any-2">
                  No, there were no completed procedures in 2021
                </label>
              </div>
            </div>
        
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <button class="govuk-button">Continue</button> <a href="rops-landing" class="secondary-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
