
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">University of Croydon</span>

      <h1 class="govuk-heading-xl">
        Invoicing for 2019/20
      </h1>
      <h2 class="govuk-body-l">Covering the period 6 April 2019 to 5 April 2020</h2>
      <p>Please review these figures for invoicing and perform some kind of action.</p>
      <details data-module="govuk-details"  class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                How fees are calculated
              </span>
            </summary>
            <div class="govuk-details__text">Blurb about how licences held for just a single day within the period will be charged the full licence fee.</div>
          </details>
      <span class="govuk-body"><a href="#">Download this data (.csv)</a></span>
<br>
<br>
<br>
      <h2 class="govuk-heading-m">Licence fees overview</h2>
    </div>
  </div>

<!--   <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s"style="margin-bottom: 10px;">Personal licences fee</h3>
      <h1 class="govuk-heading-xl" style="margin-bottom: 10px;">£32,428</h1>
      <span class="govuk-body">at £242 per licence for <br>134 licences</span>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s"style="margin-bottom: 10px;">Establishment licence fee</h3>
      <h1 class="govuk-heading-xl" style="margin-bottom: 10px;">£631</h1>
    </div>
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s" style="margin-bottom: 10px;">Total fee for licences</h3>
      <h1 class="govuk-heading-xl" style="margin-bottom: 10px;">£33,059</h1>      <br>
      <br>
      <br>
      <br>
    </div>
  </div> -->

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <h2 class="govuk-heading-m">Licence Fees for this period</h2> -->

      <table class="govuk-table">

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Establishment licence</th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
           <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="col">Establishment licence fee</td>
            <td class="govuk-table__cell" scope="col">£631</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"><br>Personal licences</th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="col">Number of licences held</td>
            <td class="govuk-table__cell" scope="col">134</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="col">Fee per licence</td>
            <td class="govuk-table__cell" scope="col">£242</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="col">Fee for all personal licences</td>
            <td class="govuk-table__cell" scope="col">£32,428</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__header" scope="col"><br>Fee for all personal and establishment licences</td>
            <td class="govuk-table__cell" scope="col"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="col">Total Fee</td>
            <td class="govuk-table__cell" scope="col">£32,428</td>
          </tr>
        </tbody>
      </table>


     <!--  <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col">Number of licences held</th>
            <th class="govuk-table__header" scope="col">Fee per licence</th>
            <th class="govuk-table__header" scope="col">Total Fee</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="col">Establishment licences</td>
            <td class="govuk-table__cell" scope="col">1</td>
            <td class="govuk-table__cell" scope="col">£631</td>
            <td class="govuk-table__cell" scope="col">£631</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="col">Personal licences</td>
            <td class="govuk-table__cell" scope="col">134</td>
            <td class="govuk-table__cell" scope="col">£242</td>
            <td class="govuk-table__cell" scope="col">£32,428</td>
          </tr>
          <tr class="govuk-table__row"style="border-top:3px solid">
            <td class="govuk-table__cell" scope="col"></td>
            <td class="govuk-table__cell" scope="col"></td>
            <td class="govuk-table__cell" scope="col" >Total to be paid</td>
             <td class="govuk-table__cell" scope="col" style="border-bottom: 0px"></td>
            <td class="govuk-table__cell" scope="col" style="border-bottom: 0px"></td>
            <td class="govuk-table__cell" scope="col">£33,059</td>
          </tr>
        </tbody>
      </table> -->
          <h2 class="govuk-heading-m">Personal licences held within this period</h2>
          <p>If the list below includes licences that you believe you should not be billed for you can <a href="reporting-remove-billable">request those licences are not billed for</a>.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">PIL number</th>
                <th class="govuk-table__header" scope="col">PIL holder</th>
                <th class="govuk-table__header" scope="col">Start date</th>
                <th class="govuk-table__header" scope="col">End date</th>
                <!-- <th class="govuk-table__header" scope="col">Status</th> -->
                <!-- <th class="govuk-table__header" scope="col">Include</th> -->
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-682317</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Evvy Adams</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-0" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-0"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-762557</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Brett Hull</a></td>
                <td class="govuk-table__cell" scope="col">11 November 2019</td>
                <td class="govuk-table__cell" scope="col">12 November 2019</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-1"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-030448</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Joan Simmonds</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-003493</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Anna Sheldon</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">7 April 2019</td>
                <!-- <td class=""><span class="badge">NON-BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" iid="waste-3" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-100939</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Chris James</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">19 June 2019</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-4" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-4"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-110198</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Andrea Goss</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-5" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-5"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-449287</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Sean Heathcoat</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-6" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-6"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-838449</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Meg Thomas</a></td>
                <td class="govuk-table__cell" scope="col">21 October 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-7" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-7"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-478398</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Lisa Smith</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-8" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-8"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-594304</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Emma Adams</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-9" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-9"></label>
                    </div>
                  </div>
                </td> -->
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-682317</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Evvy Adams</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-0" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-0"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-762557</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Brett Hull</a></td>
                <td class="govuk-table__cell" scope="col">11 November 2019</td>
                <td class="govuk-table__cell" scope="col">12 November 2019</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-1"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-030448</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Joan Simmonds</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-003493</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Anna Sheldon</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">7 April 2019</td>
                <!-- <td class=""><span class="badge">NON-BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" iid="waste-3" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-100939</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Chris James</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">19 June 2019</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-4" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-4"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-110198</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Andrea Goss</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-5" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-5"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-449287</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Sean Heathcoat</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-6" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-6"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-838449</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Meg Thomas</a></td>
                <td class="govuk-table__cell" scope="col">21 October 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-7" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-7"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-478398</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Lisa Smith</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-8" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-8"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-594304</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Emma Adams</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-9" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-9"></label>
                    </div>
                  </div>
                </td> -->
              </tr>


              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-682317</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Evvy Adams</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-0" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-0"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-762557</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Brett Hull</a></td>
                <td class="govuk-table__cell" scope="col">11 November 2019</td>
                <td class="govuk-table__cell" scope="col">12 November 2019</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-1"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-030448</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Joan Simmonds</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-003493</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Anna Sheldon</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">7 April 2019</td>
                <!-- <td class=""><span class="badge">NON-BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" iid="waste-3" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-100939</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Chris James</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">19 June 2019</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-4" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-4"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-110198</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Andrea Goss</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-5" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-5"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-449287</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Sean Heathcoat</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-6" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-6"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-838449</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Meg Thomas</a></td>
                <td class="govuk-table__cell" scope="col">21 October 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-7" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-7"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-478398</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Lisa Smith</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-8" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-8"></label>
                    </div>
                  </div>
                </td> -->
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="col">SN-594304</td>
                <td class="govuk-table__cell" scope="col"><a href="#">Emma Adams</a></td>
                <td class="govuk-table__cell" scope="col">6 April 2019</td>
                <td class="govuk-table__cell" scope="col">5 April 2020</td>
                <!-- <td class=""><span class="badge blue">BILLABLE</span></td> -->
                <!-- <td class="select">
                  <div class="govuk-checkboxes--small">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-9" name="waste" type="checkbox" value="" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-9"></label>
                    </div>
                  </div>
                </td> -->
              </tr>

            </tbody>
          </table>
          <nav role="navigation" aria-label="Pagination">
            <div class="pagination__summary">Showing 1 &ndash; 10 of 134 results</div>
            <ul class="pagination">
              <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Previous page"><span aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
              <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 1">1</a></li>
              <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">2</a></li>
              <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 3">3</a></li>
              <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 4">4</a></li>
              <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 5">5</a></li>
              <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Next page">Next <span aria-hidden="true" role="presentation">&raquo;</span></a></li>
            </ul>
          </nav>

    </div>
  </div>

<style type="text/css">
  .govuk-table__cell, .govuk-table td {
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #bfc1c3;
    text-align: left;
  }

 .govuk-table__header, .govuk-table th {
    font-weight: 700;
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #bfc1c3;
    text-align: left;
}
.govuk-checkboxes__input {
    cursor: pointer;
    position: relative;
    z-index: 0;
    top: 4px;
    left: -2px;
    width: 12px;
    height: 38px;
    margin: 0;
    opacity: 0;
}

  </style>
{% endblock %}
