
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<script language="JavaScript" type="text/javascript" src="/public/javascripts/jquery-1.2.6.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('[data-toggle="toggle"]').change(function(){
      $(this).prev().toggleClass("selected");
      $(this).parents().next('.hide').toggle();
      $(this).parents().toggleClass('no-underline');
      $(this).parents().siblings('td').toggleClass('no-underline');
    });
  });
</script>

<script type="text/javascript">
  function DuplicateProtocol() {
    var itm = event.target.parentNode.parentNode.parentNode
        itmName = event.target.parentNode.parentNode.parentNode.getElementsByClassName("protocol-title")[0].innerHTML
        itmCopyName = itmName + " (copy)"
        cln = itm.cloneNode(true);

    event.preventDefault();
    cln.getElementsByClassName("protocol-title")[0].innerHTML = itmName + " (Copy)"
    itm.insertAdjacentElement('afterend', cln);
  }

  function RemoveProtocol() {
    var itm = event.target.parentNode.parentNode.parentNode

    event.preventDefault();
    confirm("Are you sure you want to remove this protocol?")
    itm.remove()
  }

  function MoveProtocolUp() {
    var itm = event.target.parentNode.parentNode.parentNode

    event.preventDefault();
    console.log(itm.previousElementSibling)
    itm.previousElementSibling.insertAdjacentElement('beforeBegin', itm);

  }

  function MoveProtocolDown() {
    var itm = event.target.parentNode.parentNode.parentNode

    event.preventDefault();
    console.log(itm.previousElementSibling)
    itm.nextElementSibling.insertAdjacentElement('afterend', itm);

  }

</script>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="licence-status-banner">
        <p>
          <strong>DRAFT</strong>
          <span class="float-right"><a href="#">Show less</a></span>
          <hr>
        </p>
        <p>This amendment has not been approved yet.</p>
      </div>

      <div class="download-header">
        <span style="font-size: 24px;" class="govuk-body">Test project name</span>
        <span class="float-right">
          <span class="hod-download-button side-space icon-small" style="margin-right: 0px; color:#005ea5"></span>
          <a href="#">Download application</a>
        </span>
      </div>

      <div class="back-to-sections-link govuk-body">
        < List of sections
      </div>

      <h1 class="govuk-heading-l">Protocols</h1>

      <p>Please enter the details of the protocols that make up this project.</p>

      <button data-module="govuk-button" class="govuk-button govuk-button--secondary">Add another protocol</button>


      <div id="first-protocol" class="protocol-container">
        <div class="protocol-header-complete">
          <h3 class="govuk-heading-m">
            <label for="option1" class="row-toggle protocol-title"><span class="row-toggle-copy">1: The first protocol</span></label>
            <input type="checkbox" name="option1" id="option1" data-toggle="toggle">
            <span class='protocol-title-link'><a href="#">Edit title</a></span>
            <span class="float-right badge">COMPLETED</span>
          </h3>
          <p><strong>Severity category: Mild</strong></p>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Animal types</th>
                <th scope="col" class="govuk-table__header">Est. max. no. of animals</th>
                <th scope="col" class="govuk-table__header">Max. no. of uses per animal</th>
                <th scope="col" class="govuk-table__header">Life stages</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rats</td>
                <td class="govuk-table__cell">100</td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">embryo</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="protocol-content hide">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Protocol details</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Animals used in this protocol</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Genetically altered animals (GAA)</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Steps</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Animal experience</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Experimental design</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Protocol justification</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Fate of animals</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
            </tbody>
          </table>

          <div class="declaration-panel-grey">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked >
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                     <strong>Mark this protocol as complete</strong>
                    </label>
                  </div>
                </div>
              </fieldset>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
              <button data-module="govuk-button" class="govuk-button">Continue</button>
          </div>
          <br>
           <p class="protocol-controls">
            Reorder:
            <a href="#" onclick="MoveProtocolUp();" style="border-right: none; padding-right: 0px; margin-right: 0.25em;">Up</a>
            or
            <a href="#" onclick="MoveProtocolDown();">Down</a>
            <a href="#" onclick="DuplicateProtocol();">Duplicate protocol</a>
            <a href="#" onclick="RemoveProtocol();">Remove protocol</a>
          </p>
        </div>
      </div>


      <div id="secondProtocol" class="protocol-container">
        <div class="protocol-header-complete">
          <h3 class="govuk-heading-m">
            <label for="option2" class="row-toggle protocol-title"><span class="row-toggle-copy">2: The second protocol</span></label>
            <input type="checkbox" name="option2" id="option2" data-toggle="toggle">
            <span class='protocol-title-link'><a href="#">Edit title</a></span>
            <span class="float-right badge">COMPLETED</span>
          </h3>
          <p><strong>Severity category: Mild</strong></p>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Animal types</th>
                <th scope="col" class="govuk-table__header">Est. max. no. of animals</th>
                <th scope="col" class="govuk-table__header">Max. no. of uses per animal</th>
                <th scope="col" class="govuk-table__header">Life stages</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rats</td>
                <td class="govuk-table__cell">200</td>
                <td class="govuk-table__cell">2</td>
                <td class="govuk-table__cell">embryo</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="protocol-content hide">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Protocol details</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Animals used in this protocol</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Genetically altered animals (GAA)</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Steps</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Animal experience</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Experimental design</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Protocol justification</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Fate of animals</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
            </tbody>
          </table>

          <div class="declaration-panel-grey">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked >
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                     <strong>Mark this protocol as complete</strong>
                    </label>
                  </div>
                </div>
              </fieldset>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
              <button data-module="govuk-button" class="govuk-button">Continue</button>
          </div>
          <br>
           <p class="protocol-controls">
            Reorder:
            <a href="#" onclick="MoveProtocolUp();" style="border-right: none; padding-right: 0px; margin-right: 0.25em;">Up</a>
            or
            <a href="#" onclick="MoveProtocolDown();">Down</a>
            <a href="#" onclick="DuplicateProtocol();">Duplicate protocol</a>
            <a href="#" onclick="RemoveProtocol();">Remove protocol</a>
          </p>
        </div>
      </div>


      <div class="protocol-container">
        <div class="protocol-header-complete">
          <h3 class="govuk-heading-m">
            <label for="option3" class="row-toggle"><span class="row-toggle-copy">3: The third protocol</span></label>
            <input type="checkbox" name="option3" id="option3" data-toggle="toggle">
            <span class='protocol-title-link'><a href="#">Edit title</a></span>
            <span class="float-right badge">COMPLETE</span>
          </h3>

          <p><strong>Severity category: Mild</strong></p>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Animal types</th>
                <th scope="col" class="govuk-table__header">Est. max. no. of animals</th>
                <th scope="col" class="govuk-table__header">Max. no. of uses per animal</th>
                <th scope="col" class="govuk-table__header">Life stages</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rats</td>
                <td class="govuk-table__cell">300</td>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell">embryo</td>
              </tr>
            </tbody>
          </table>
        </div>
      <div class="protocol-content hide">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Protocol details</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Animals used in this protocol</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Genetically altered animals (GAA)</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Steps</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Animal experience</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Experimental design</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Protocol justification</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Fate of animals</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
            </tbody>
          </table>

          <div class="declaration-panel-grey">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses" checked >
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                     <strong>Mark this protocol as complete</strong>
                    </label>
                  </div>
                </div>
              </fieldset>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
              <button data-module="govuk-button" class="govuk-button">Continue</button>
          </div>
          <br>
           <p class="protocol-controls">
            Reorder:
            <a href="#" onclick="MoveProtocolUp();" style="border-right: none; padding-right: 0px; margin-right: 0.25em;">Up</a>
            or
            <a href="#" onclick="MoveProtocolDown();">Down</a>
            <a href="#" onclick="DuplicateProtocol();">Duplicate protocol</a>
            <a href="#" onclick="RemoveProtocol();">Remove protocol</a>
          </p>
        </div>
      </div>

      <div class="protocol-container">
        <div class="protocol-header-in-progress">
          <h3 class="govuk-heading-m">
            <label for="option4" class="row-toggle"><span class="row-toggle-copy">4: The fourth protocol</span></label>
            <input type="checkbox" name="option4" id="option4" data-toggle="toggle">
            <span class='protocol-title-link'><a href="#">Edit title</a></span>
            <span class="float-right badge">IN PROGRESS</span>
          </h3>
          <p><strong>Severity category: Mild</strong></p>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Animal types</th>
                <th scope="col" class="govuk-table__header">Est. max. no. of animals</th>
                <th scope="col" class="govuk-table__header">Max. no. of uses per animal</th>
                <th scope="col" class="govuk-table__header">Life stages</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rats</td>
                <td class="govuk-table__cell">400</td>
                <td class="govuk-table__cell">4</td>
                <td class="govuk-table__cell">embryo</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="protocol-content hide">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Protocol details</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Animals used in this protocol</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Genetically altered animals (GAA)</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Steps</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Animal experience</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Experimental design</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Protocol justification</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Fate of animals</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
            </tbody>
          </table>

          <div class="declaration-panel-grey">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses"  >
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                     <strong>Mark this protocol as complete</strong>
                    </label>
                  </div>
                </div>
              </fieldset>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

              <button data-module="govuk-button" class="govuk-button">Continue</button>
          </div>
          <br>
           <p class="protocol-controls">
            Reorder:
            <a href="#" onclick="MoveProtocolUp();" style="border-right: none; padding-right: 0px; margin-right: 0.25em;">Up</a>
            or
            <a href="#" onclick="MoveProtocolDown();">Down</a>
            <a href="#" onclick="DuplicateProtocol();">Duplicate protocol</a>
            <a href="#" onclick="RemoveProtocol();">Remove protocol</a>
          </p>
        </div>

      </div>


      <!-- <div class="protocol-container">
        <div class="protocol-header-in-progress">
          <h3 class="govuk-heading-m ">
            <label for="option5" class="row-toggle"><span class="row-toggle-copy">The fifth protocol</span></label>
            <input type="checkbox" name="option5" id="option5" data-toggle="toggle">
            <span class='protocol-title-link'><a href="#">Edit title</a></span>
            <span class="float-right badge">IN PROGRESS</span>
          </h3>
          <p><strong>Severity category: Mild</strong></p>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Animal types</th>
                <th scope="col" class="govuk-table__header">Est. max. no. of animals</th>
                <th scope="col" class="govuk-table__header">Max. no. of uses per animal</th>
                <th scope="col" class="govuk-table__header">Life stages</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Rats</td>
                <td class="govuk-table__cell">100</td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">embryo</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="protocol-content hide">
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Protocol details</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Animals used in this protocol</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Genetically altered animals (GAA)</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Steps</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Animal experience</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Experimental design</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Protocol justification</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell protocol-section-title"><a href="#">Fate of animals</a></td>
                <td class="govuk-table__cell accordian-toggle">+</td>
              </tr>
            </tbody>
          </table>

          <div class="declaration-panel-grey">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses"  >
                    <label class="govuk-label govuk-checkboxes__label" for="waste">
                     <strong>Mark this protocol as complete</strong>
                    </label>
                  </div>
                </div>
              </fieldset>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break">

              <button data-module="govuk-button" class="govuk-button">Continue</button>
          </div>
          <br>
           <p class="protocol-controls">
            Reorder:
            <a href="#" onclick="MoveProtocolUp();" style="border-right: none; padding-right: 0px; margin-right: 0.25em;">Up</a>
            or
            <a href="#" onclick="MoveProtocolDown();">Down</a>
            <a href="#" onclick="DuplicateProtocol();">Duplicate protocol</a>
            <a href="#" onclick="RemoveProtocol();">Remove protocol</a>
          </p>
        </div>
      </div> -->

      <!-- <div class="protocol-container">
        <div class="protocol-header-in-progress">
          <h3 class="govuk-heading-m">
            Protocol 5
          </h3>
          <div class="govuk-form-group">
            <label class="govuk-label" for="protocol-name">
              Title
            </label>
            <input class="govuk-input" id="protocol-name" name="protocol-name" type="text">
          </div>
          <button data-module="govuk-button" class="govuk-button">Continue</button>
        </div>
      </div> -->


      <p>
        <button data-module="govuk-button" class="govuk-button govuk-button--secondary">Add another protocol</button>
      </p>
      <p>
        <button data-module="govuk-button" class="govuk-button">Continue</button>
        <span class="secondary-link"><a href="#">List of sections</a></span>
      </p>

    </div>
  </div>



<style type="text/css">



</style>
{% endblock %}
