
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">University of Croydon</span>
    <h1 class="govuk-heading-l">Personal licence reinstatement</h1>
    
    <p class="govuk-!-font-size-24">Shaun James</p>
      <div class="govuk-panel green-bg">
        <h1 class="govuk-panel__title">Reinstated</h1>
        <div class="govuk-panel__body">
          <h2></h2>
        </div>
      </div>
      
        <h2 class="govuk-heading-m">What happens next?</h2>
        <p>
          This licence has been reinstated. The licence holder is now authorised to to carry out regulated procedures in the categories stated in this licence.
        </p>
        <p>
          The relevant people have been emailed.
        </p>
        <p>
          You can <a href="reinstate-task">view the history of this request</a>.
        </p>

        <p><a href="#">Home</a></p>
      </div>
    </div>
  </div>


{% endblock %}
