<section class="step completed">
  <h2 class="govuk-heading-s">Step: <span class="quick-ref">Animals will be killed - v1</span></h2>
  <div class="review step-descritpion">
    <h3 class="govuk-heading-s">Step description</h3>
    <span class="govuk-hint">Explain where one or more steps are repeated in one experiment, list any alternative techniques within a step (e.g. dosing routes), and include all procedures performed under terminal anaesthesia.  When describing the technical aspects of a step, be broad enough to be flexible when the variation does not impact on animal welfare (e.g. use "antibiotic" instead of "penicillin"). Finally, avoid specifying volumes and frequencies when they do not impact on animal welfare.</span>
    <p>Animals will be killed by:</p>

    <p>a.	Schedule 1 method; or</p>

    <p>b.	Decapitation (up to 5 days of age only) (AA)</p>

    <p>c. Perfusion fixation (AC)</p>

    <p>d. Exsanguination by Cardiac puncture (AC)</p>
  </div>
  <div class="review optional">
    <h3 class="govuk-heading-s">Is this step optional?</h3>
    <p>No</p>
  </div>
  <div class="review expect-effects">
    <h3 class="govuk-heading-s">Do you expect this step to have adverse effects for the animals that are more than mild and transient?</h3>
    <span class="govuk-hint">Do not list uncommon or unlikely adverse effects, or effects from procedures that will cause no more than transient discomfort and no lasting harm. For example, an intravenous injection of a small volume of an innocuous substance.</span>
    <p>No</p>
  </div>
</section>
<section class="step completed">
  <h2 class="govuk-heading-s">Step: <span class="quick-ref">Animals will be killed - v2</span></h2>
  <div class="review step-descritpion">
    <h3 class="govuk-heading-s">Step description</h3>
    <span class="govuk-hint">Explain where one or more steps are repeated in one experiment, list any alternative techniques within a step (e.g. dosing routes), and include all procedures performed under terminal anaesthesia.  When describing the technical aspects of a step, be broad enough to be flexible when the variation does not impact on animal welfare (e.g. use "antibiotic" instead of "penicillin"). Finally, avoid specifying volumes and frequencies when they do not impact on animal welfare.</span>
    <p>Animals will be killed via 1 of the following routes </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Cardiac puncture followed by killing via a Schedule 1 method (AC) </li>
      <li>Perfusion fixation (AC) </li>
      <li>A Schedule 1 method (AA, AC)</li>
    </ul>
  </div>
  <div class="review optional">
    <h3 class="govuk-heading-s">Is this step optional?</h3>
    <p>Yes</p>
  </div>
  <div class="review expect-effects">
    <h3 class="govuk-heading-s">Do you expect this step to have adverse effects for the animals that are more than mild and transient?</h3>
    <span class="govuk-hint">Do not list uncommon or unlikely adverse effects, or effects from procedures that will cause no more than transient discomfort and no lasting harm. For example, an intravenous injection of a small volume of an innocuous substance.</span>
    <p>No</p>
  </div>
</section>

<section class="step completed">
  <h2 class="govuk-heading-s">Step: <span class="quick-ref">Animals will be killed - v3</span></h2>
  <div class="review step-descritpion">
    <h3 class="govuk-heading-s">Step description</h3>
    <span class="govuk-hint">Explain where one or more steps are repeated in one experiment, list any alternative techniques within a step (e.g. dosing routes), and include all procedures performed under terminal anaesthesia.  When describing the technical aspects of a step, be broad enough to be flexible when the variation does not impact on animal welfare (e.g. use "antibiotic" instead of "penicillin"). Finally, avoid specifying volumes and frequencies when they do not impact on animal welfare.</span>
    <p>Animals will be killed via 1 of the following routes</p>

    <p>• Cardiac puncture followed by killing via a Schedule 1 method (AC)</p>
    
    <p>• Overdose of pentobarbital for terminal perfuse fixation/exanguination (AC)</p>
    
    <p>• A Schedule 1 method (AA, AC)</p>
    
    <p>• Intravital microscopy imaging requiring surgical exposure of tissues, to be carried out once only under general anaesthesia and animals will be killed before recovering consciousness (AC).</p>
  </div>
  <div class="review optional">
    <h3 class="govuk-heading-s">Is this step optional?</h3>
    <p>No</p>
  </div>
  <div class="review expect-effects">
    <h3 class="govuk-heading-s">Do you expect this step to have adverse effects for the animals that are more than mild and transient?</h3>
    <span class="govuk-hint">Do not list uncommon or unlikely adverse effects, or effects from procedures that will cause no more than transient discomfort and no lasting harm. For example, an intravenous injection of a small volume of an innocuous substance.</span>
    <p>No</p>
  </div>
</section>
<section class="step completed">
  <h2 class="govuk-heading-s">Step: <span class="quick-ref">Animals will be killed - v3</span></h2>
  <div class="review step-descritpion">
    <h3 class="govuk-heading-s">Step description</h3>
    <span class="govuk-hint">Explain where one or more steps are repeated in one experiment, list any alternative techniques within a step (e.g. dosing routes), and include all procedures performed under terminal anaesthesia.  When describing the technical aspects of a step, be broad enough to be flexible when the variation does not impact on animal welfare (e.g. use "antibiotic" instead of "penicillin"). Finally, avoid specifying volumes and frequencies when they do not impact on animal welfare.</span>
    <p>Animals will be killed via 1 of the following routes</p>

    <p>• Cardiac puncture followed by killing via a Schedule 1 method (AC)</p>
    
    <p>• Overdose of pentobarbital for terminal perfuse fixation/exanguination (AC)</p>
    
    <p>• A Schedule 1 method (AA, AC)</p>
    
    <p>• Intravital microscopy imaging requiring surgical exposure of tissues, to be carried out once only under general anaesthesia and animals will be killed before recovering consciousness (AC).</p>
  </div>
  <div class="review optional">
    <h3 class="govuk-heading-s">Is this step optional?</h3>
    <p>No</p>
  </div>
  <div class="review expect-effects">
    <h3 class="govuk-heading-s">Do you expect this step to have adverse effects for the animals that are more than mild and transient?</h3>
    <span class="govuk-hint">Do not list uncommon or unlikely adverse effects, or effects from procedures that will cause no more than transient discomfort and no lasting harm. For example, an intravenous injection of a small volume of an innocuous substance.</span>
    <p>No</p>
  </div>
</section>
<p>Intrapancreatic injection via laparotomy: Injection volume will typically not exceed 0.2ml. Animals will receive peri- and postoperative analgesia and all surgical procedures will be carried out in accordance with the principles set out in the LASA Guiding Principles for Preparing and Undertaking Aseptic Surgery. Skin incisions wounds will be checked daily after surgery for signs of infection such as persistent bleeding, dehiscence or herniation. Incisions maybe re-sutured once in the event of suture breakdown, provided that the wound shows no sign of infection or inflammation and occurs within 48 hours post surgery. In the event of post-operative complications, animals will be killed unless, in the opinion of the NVS, such complications can be remedied promptly and successfully using no more than minor interventions.</p>
<p>If the animals develop abdominal tenderness or lose more than 15% of weight in comparison to starting weight, or exhibit persistent distress, such as:  persistent respiratory distress, marked piloerection, persistently hunched posture and subdued even if provoked, the experiment will be terminated and animals will be killed by schedule 1.</p>
<section class="step completed">
  <h2 class="govuk-heading-s">Step: <span class="quick-ref">Animals will be killed - v3</span></h2>
  <div class="review step-descritpion">
    <h3 class="govuk-heading-s">Step description</h3>
    <span class="govuk-hint">Explain where one or more steps are repeated in one experiment, list any alternative techniques within a step (e.g. dosing routes), and include all procedures performed under terminal anaesthesia.  When describing the technical aspects of a step, be broad enough to be flexible when the variation does not impact on animal welfare (e.g. use "antibiotic" instead of "penicillin"). Finally, avoid specifying volumes and frequencies when they do not impact on animal welfare.</span>
    <p>Animals will be killed via 1 of the following routes </p>

    <p>• Cardiac puncture followed by killing via a Schedule 1 method (AC) </p>

    <p>• Perfusion/fixation under terminal anaesthesia (AC) </p>

    <p>• A Schedule 1 method (AA, AC)</p>

    <p>• Intravital microscopy imaging requiring surgical exposure of tissues, to be carried out once only under general anaesthesia and animals will be killed before recovering consciousness (AC).</p>
  </div>
  <div class="review optional">
    <h3 class="govuk-heading-s">Is this step optional?</h3>
    <p>No</p>
  </div>
  <div class="review expect-effects">
    <h3 class="govuk-heading-s">Do you expect this step to have adverse effects for the animals that are more than mild and transient?</h3>
    <span class="govuk-hint">Do not list uncommon or unlikely adverse effects, or effects from procedures that will cause no more than transient discomfort and no lasting harm. For example, an intravenous injection of a small volume of an innocuous substance.</span>
    <p>No</p>
  </div>
</section>
<div class="review humane-endpoints">
    <h3 class="govuk-heading-s">What are the humane endpoints for this step?</h3>
    <span class="govuk-hint">This would be the point at which you would kill the animal to prevent further suffering.</span>
    If the animals exhibit signs of severe pancreatic damage, such as abdominal distension, persistently laboured respiration, they will be culled immediately. 

    In addition, any animal exhibiting more general signs of distress, marked piloerection, persistently hunched posture and prolonged episodes of subdued behaviour even if provoked, persistent diarrhoea or dyspnoea will be culled. 
    
    Body weight will be monitored twice a week and any mice showing a 10% weight loss (compared with baseline) will be monitored daily. If they experience 15% loss (in total) over 48 hours, they will be humanely killed.
    
    The animals will be killed at the end of the experimental procedure when the scientific objective has been achieved. Humane endpoint is after 12 months (full regeneration and remodelling of the pancreas) or earlier (intermediate time points of tissue remodelling).
    
    In the event of intra-operative or post-operative complications, the animal will be culled, unless in consultation with the NVS such complications can be promptly rectified using minor interventions.          
  </div>
<section class="step completed">
  <h2 class="govuk-heading-s">Step: <span class="quick-ref">Animals will be killed - v3</span></h2>
  <div class="review step-descritpion">
    <h3 class="govuk-heading-s">Step description</h3>
    <span class="govuk-hint">Explain where one or more steps are repeated in one experiment, list any alternative techniques within a step (e.g. dosing routes), and include all procedures performed under terminal anaesthesia.  When describing the technical aspects of a step, be broad enough to be flexible when the variation does not impact on animal welfare (e.g. use "antibiotic" instead of "penicillin"). Finally, avoid specifying volumes and frequencies when they do not impact on animal welfare.</span>
    <p>Animals will be killed via 1 of the following routes</p>

    <p>• Cardiac puncture followed by killing via a Schedule 1 method (AC)</p>
    
    <p>• Overdose of pentobarbital for terminal perfuse fixation/exanguination (AC)</p>
    
    <p>• A Schedule 1 method (AA, AC)</p>
    
    <p>• Intravital microscopy imaging requiring surgical exposure of tissues, to be carried out once only under general anaesthesia and animals will be killed before recovering consciousness (AC).</p>
  </div>
  <div class="review optional">
    <h3 class="govuk-heading-s">Is this step optional?</h3>
    <p>No</p>
  </div>
  <div class="review expect-effects">
    <h3 class="govuk-heading-s">Do you expect this step to have adverse effects for the animals that are more than mild and transient?</h3>
    <span class="govuk-hint">Do not list uncommon or unlikely adverse effects, or effects from procedures that will cause no more than transient discomfort and no lasting harm. For example, an intravenous injection of a small volume of an innocuous substance.</span>
    <p>No</p>
  </div>
</section>
<div class="review humane-endpoints">
    <h3 class="govuk-heading-s">What are the humane endpoints for this step?</h3>
    <span class="govuk-hint">This would be the point at which you would kill the animal to prevent further suffering.</span>
    <p>If wound bleeding or dehiscence persists or there is evidence of herniation the animal will be immediately killed. </p>

    <p>In the event of post-operative complications, animals will be killed unless, in the opinion of the NVS, such complications can be remedied promptly and successfully using no more than minor interventions. </p>
    
    <p>Animals which show signs of more severe effects such as body weight loss of 10% over a 24hr period or loss of 15% of body weight (compared to baseline weights) that persists for 48hrs or serious clinical signs such as marked piloerection, persistently hunched posture and prolonged episodes of subdued behaviour even if provoked will be immediately killed.</p>          
  </div>
<section class="step completed">
  <h2 class="govuk-heading-s">Step: <span class="quick-ref">Animals will be killed inc - v3</span></h2>
  <div class="review step-descritpion">
    <h3 class="govuk-heading-s">Step description</h3>
    <span class="govuk-hint">Explain where one or more steps are repeated in one experiment, list any alternative techniques within a step (e.g. dosing routes), and include all procedures performed under terminal anaesthesia.  When describing the technical aspects of a step, be broad enough to be flexible when the variation does not impact on animal welfare (e.g. use "antibiotic" instead of "penicillin"). Finally, avoid specifying volumes and frequencies when they do not impact on animal welfare.</span>
    <p>Animals will be killed via 1 of the following routes</p>

    <p>• Cardiac puncture followed by killing via a Schedule 1 method (AC)</p>
    
    <p>• Overdose of pentobarbital for terminal perfuse fixation/exanguination (AC)</p>
    
    <p>• A Schedule 1 method (AA, AC)</p>
    
    <p>• Intravital microscopy imaging requiring surgical exposure of tissues, to be carried out once only under general anaesthesia and animals will be killed before recovering consciousness (AC).</p>
  </div>
  <div class="review optional">
    <h3 class="govuk-heading-s">Is this step optional?</h3>
    <p>No</p>
  </div>
  <div class="review expect-effects">
    <h3 class="govuk-heading-s">Do you expect this step to have adverse effects for the animals that are more than mild and transient?</h3>
    <span class="govuk-hint">Do not list uncommon or unlikely adverse effects, or effects from procedures that will cause no more than transient discomfort and no lasting harm. For example, an intravenous injection of a small volume of an innocuous substance.</span>
    <p>No</p>
  </div>
</section>
<section class="step completed">
  <h2 class="govuk-heading-s">Step: <span class="quick-ref">Animals will be killed - v3</span></h2>
  <div class="review step-descritpion">
    <h3 class="govuk-heading-s">Step description</h3>
    <span class="govuk-hint">Explain where one or more steps are repeated in one experiment, list any alternative techniques within a step (e.g. dosing routes), and include all procedures performed under terminal anaesthesia.  When describing the technical aspects of a step, be broad enough to be flexible when the variation does not impact on animal welfare (e.g. use "antibiotic" instead of "penicillin"). Finally, avoid specifying volumes and frequencies when they do not impact on animal welfare.</span>
    <p>Animals will be killed via 1 of the following routes</p>

    <p>• Cardiac puncture followed by killing via a Schedule 1 method (AC)</p>
    
    <p>• Overdose of pentobarbital for terminal perfuse fixation/exanguination (AC)</p>
    
    <p>• A Schedule 1 method (AA, AC)</p>
    
    <p>• Intravital microscopy imaging requiring surgical exposure of tissues, to be carried out once only under general anaesthesia and animals will be killed before recovering consciousness (AC).</p>
  </div>
  <div class="review optional">
    <h3 class="govuk-heading-s">Is this step optional?</h3>
    <p>No</p>
  </div>
  <div class="review expect-effects">
    <h3 class="govuk-heading-s">Do you expect this step to have adverse effects for the animals that are more than mild and transient?</h3>
    <span class="govuk-hint">Do not list uncommon or unlikely adverse effects, or effects from procedures that will cause no more than transient discomfort and no lasting harm. For example, an intravenous injection of a small volume of an innocuous substance.</span>
    <p>No</p>
  </div>
</section>
<section class="step completed">
  <h2 class="govuk-heading-s">Step: <span class="quick-ref">Animals will be killed - v3</span></h2>
  <div class="review step-descritpion">
    <h3 class="govuk-heading-s">Step description</h3>
    <span class="govuk-hint">Explain where one or more steps are repeated in one experiment, list any alternative techniques within a step (e.g. dosing routes), and include all procedures performed under terminal anaesthesia.  When describing the technical aspects of a step, be broad enough to be flexible when the variation does not impact on animal welfare (e.g. use "antibiotic" instead of "penicillin"). Finally, avoid specifying volumes and frequencies when they do not impact on animal welfare.</span>
    <p>Animals will be killed via 1 of the following routes</p>

    <p>• Cardiac puncture followed by killing via a Schedule 1 method (AC)</p>
    
    <p>• Overdose of pentobarbital for terminal perfuse fixation/exanguination (AC)</p>
    
    <p>• A Schedule 1 method (AA, AC)</p>
    
    <p>• Intravital microscopy imaging requiring surgical exposure of tissues, to be carried out once only under general anaesthesia and animals will be killed before recovering consciousness (AC).</p>
  </div>
  <div class="review optional">
    <h3 class="govuk-heading-s">Is this step optional?</h3>
    <p>No</p>
  </div>
  <div class="review expect-effects">
    <h3 class="govuk-heading-s">Do you expect this step to have adverse effects for the animals that are more than mild and transient?</h3>
    <span class="govuk-hint">Do not list uncommon or unlikely adverse effects, or effects from procedures that will cause no more than transient discomfort and no lasting harm. For example, an intravenous injection of a small volume of an innocuous substance.</span>
    <p>No</p>
  </div>
</section>
<section class="step completed">
  <h2 class="govuk-heading-s">Step: <span class="quick-ref">Animals will be killed - v4</span></h2>
  <div class="review step-descritpion">
    <h3 class="govuk-heading-s">Step description</h3>
    <span class="govuk-hint">Explain where one or more steps are repeated in one experiment, list any alternative techniques within a step (e.g. dosing routes), and include all procedures performed under terminal anaesthesia.  When describing the technical aspects of a step, be broad enough to be flexible when the variation does not impact on animal welfare (e.g. use "antibiotic" instead of "penicillin"). Finally, avoid specifying volumes and frequencies when they do not impact on animal welfare.</span>
    <p>At any stage animals will be killed by: </p>

    <p>a) A schedule 1 method or </p>

    <p>b) Exsanguination followed by Schedule 1 method, or </p>
    
    <p>c) Perfusion fixation (AC) </p>
  </div>
  <div class="review optional">
    <h3 class="govuk-heading-s">Is this step optional?</h3>
    <p>Yes</p>
  </div>
  <div class="review expect-effects">
    <h3 class="govuk-heading-s">Do you expect this step to have adverse effects for the animals that are more than mild and transient?</h3>
    <span class="govuk-hint">Do not list uncommon or unlikely adverse effects, or effects from procedures that will cause no more than transient discomfort and no lasting harm. For example, an intravenous injection of a small volume of an innocuous substance.</span>
    <p>No</p>
  </div>
  
</section>