
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% set assessSection = "protocols" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "includes/licence-header-ppl-application.html" %}                
    </div>
  </div> 

<section class="step completed">
  <h2 class="govuk-heading-s">Step: <span class="quick-ref">Administration of transgene inducing or deleting agents</span></h2>
  <div class="review step-descritpion">
    <h3 class="govuk-heading-s">Step description</h3>
    <span class="govuk-hint">Explain where one or more steps are repeated in one experiment, list any alternative techniques within a step (e.g. dosing routes), and include all procedures performed under terminal anaesthesia.  When describing the technical aspects of a step, be broad enough to be flexible when the variation does not impact on animal welfare (e.g. use "antibiotic" instead of "penicillin"). Finally, avoid specifying volumes and frequencies when they do not impact on animal welfare.</span>
    <p>Administration of transgene inducing or deleting agents, labelling agents or control substances alone or in combination, continuously (in diet or water) or intermittently by one or more of the following routes: </p>

    <p>a. Addition to diet or drinking water (AA);</p>

    <p>b. Oral gavage (AA)</p>

    <p>c. Subcutaneous (AA/AB)</p>

    <p>d. Intra-peritoneal (AA/AB)</p>

    <p>e. Intra-venous injection (AA/AB)</p>
  </div>
  <div class="review optional">
    <h3 class="govuk-heading-s">Is this step optional?</h3>
    <p>Yes</p>
  </div>
  <div class="review expect-effects">
    <h3 class="govuk-heading-s">Do you expect this step to have adverse effects for the animals that are more than mild and transient?</h3>
    <span class="govuk-hint">Do not list uncommon or unlikely adverse effects, or effects from procedures that will cause no more than transient discomfort and no lasting harm. For example, an intravenous injection of a small volume of an innocuous substance.</span>
    <p>Yes</p>
  </div>
  <div class="review what-effects">
    <h3 class="govuk-heading-s">What are the likely adverse effects of this step?</h3>
    <span class="govuk-hint">If adverse effects can't be prevented, how will you attempt to ameliorate their initial signs?</span>
    <p>Substances (e.g Tamoxifen) administered for induction or inactivation of gene expression may cause subtle non-specific signs of loss of condition, such as mild reduction in activity and weight loss of more than 10%. Tamoxifen administraion by IP may also potentially cause urinary obstruction.</p>
  </div>
  <div class="review monitor-effects">
    <h3 class="govuk-heading-s">How will you monitor for, control, and limit any of these adverse effects?</h3>
    <span class="govuk-hint">If adverse effects can't be prevented, how will you attempt to ameliorate their initial signs?</span>
    <p>All animals will be weighed twice weekly and checked for persistent signs of ill health such as hunched posture and unresponsive behaviour daily. </p>

    <p>Substances used will be well known and safe dose levels determined in advance. However, if mouse shows signs of distress after substance administration, all subsequent dosing will be stopped. If these problems occur in a number of mice, the dose and frequency of the substance will be reviewed.</p>
  </div>
  <div class="review humane-endpoints">
    <h3 class="govuk-heading-s">What are the humane endpoints for this step?</h3>
    <span class="govuk-hint">This would be the point at which you would kill the animal to prevent further suffering.</span>
    <p>Any animal exhibiting more general signs of distress marked piloerection, persistently hunched posture and prolonged episodes of subdued behaviour even if provoked, persistent diarrhoea or dyspnoea will be culled. </p>

    <p>Body weight will be monitored twice a week and any mice showing a 10% weight loss will be monitored daily. If they experience 20% loss (in total) over 48 hours, they will be humanely killed.</p>
  </div>
</section>
<section class="step completed">
  <h2 class="govuk-heading-s">Step: <span class="quick-ref">Administration of transgene inducing or deleting agents</span></h2>
  <div class="review step-descritpion">
    <h3 class="govuk-heading-s">Step description</h3>
    <span class="govuk-hint">Explain where one or more steps are repeated in one experiment, list any alternative techniques within a step (e.g. dosing routes), and include all procedures performed under terminal anaesthesia.  When describing the technical aspects of a step, be broad enough to be flexible when the variation does not impact on animal welfare (e.g. use "antibiotic" instead of "penicillin"). Finally, avoid specifying volumes and frequencies when they do not impact on animal welfare.</span>
    <p>Administration of transgene inducing or deleting agents, labelling agents or control substances alone or in combination, continuously (in diet or water) or intermittently by one or more of the following routes: </p>

    <p>a. Addition to diet or drinking water (AA);</p>
    
    <p>b. Oral gavage (AA)</p>
    
    <p>c. Subcutaneous (AA/AB)</p>
    
    <p>d. Intra-peritoneal (AA/AB)</p>
    
    <p>e. Intra-venous injection (AA/AB).</p>
  </div>
  <div class="review optional">
    <h3 class="govuk-heading-s">Is this step optional?</h3>
    <p>Yes</p>
  </div>
  <div class="review expect-effects">
    <h3 class="govuk-heading-s">Do you expect this step to have adverse effects for the animals that are more than mild and transient?</h3>
    <span class="govuk-hint">Do not list uncommon or unlikely adverse effects, or effects from procedures that will cause no more than transient discomfort and no lasting harm. For example, an intravenous injection of a small volume of an innocuous substance.</span>
    <p>Yes</p>
  </div>
  <div class="review what-effects">
    <h3 class="govuk-heading-s">What are the likely adverse effects of this step?</h3>
    <span class="govuk-hint">If adverse effects can't be prevented, how will you attempt to ameliorate their initial signs?</span>
    <p>Substances (e.g Tamoxifen) administered for induction or inactivation of gene expression may cause subtle non-specific signs of loss of condition, such as mild reduction in activity and weight loss of more than 10%. Tamoxifen administraion by IP may also potentially cause urinary obstruction.</p>
  </div>
  <div class="review monitor-effects">
    <h3 class="govuk-heading-s">How will you monitor for, control, and limit any of these adverse effects?</h3>
    <span class="govuk-hint">If adverse effects can't be prevented, how will you attempt to ameliorate their initial signs?</span>
    <p>All animals will be weighed three times a week and checked for persistent signs of ill health such as hunched posture and unresponsive behaviour daily.  </p>

    <p>Substances used will be well known and safe dose levels determined in advance (Protocol 12). However, if mouse shows signs of distress after substance administration, all subsequent dosing will be stopped. If these problems occur in a number of mice, the dose and frequency of the substance will be reviewed.</p>
  </div>
  <div class="review humane-endpoints">
    <h3 class="govuk-heading-s">What are the humane endpoints for this step?</h3>
    <span class="govuk-hint">This would be the point at which you would kill the animal to prevent further suffering.</span>
    <p>Any animal exhibiting more general signs of distress marked piloerection, persistently hunched posture and prolonged episodes of subdued behaviour even if provoked, persistent diarrhoea or dyspnoea will be culled. </p>

    <p>Body weight will be monitored twice a week and any mice showing a 10% weight loss will be monitored daily. If they experience 20% loss (in total) over 48 hours, they will be humanely killed.</p>
  </div>
</section>
<section class="step completed">
  <h2 class="govuk-heading-s">Step: <span class="quick-ref">Administration of transgene inducing or deleting agents,</span></h2>
  <div class="review step-descritpion">
    <h3 class="govuk-heading-s">Step description</h3>
    <span class="govuk-hint">Explain where one or more steps are repeated in one experiment, list any alternative techniques within a step (e.g. dosing routes), and include all procedures performed under terminal anaesthesia.  When describing the technical aspects of a step, be broad enough to be flexible when the variation does not impact on animal welfare (e.g. use "antibiotic" instead of "penicillin"). Finally, avoid specifying volumes and frequencies when they do not impact on animal welfare.</span>
    <p>Administration of transgene inducing or deleting agents, labelling agents or control substances alone or in combination, continuously (in diet or water) or intermittently by one or more of the following routes: </p>

    <p>a. Addition to diet or drinking water (AA);</p>
    
    <p>b. Oral gavage (AA)</p>
    
    <p>c. Subcutaneous (AA/AB)</p>
    
    <p>d. Intra-peritoneal (AA/AB)</p>
    
    <p>e. Intra-venous injection (AA/AB).</p>
  </div>
  <div class="review optional">
    <h3 class="govuk-heading-s">Is this step optional?</h3>
    <p>Yes</p>
  </div>
  <div class="review expect-effects">
    <h3 class="govuk-heading-s">Do you expect this step to have adverse effects for the animals that are more than mild and transient?</h3>
    <span class="govuk-hint">Do not list uncommon or unlikely adverse effects, or effects from procedures that will cause no more than transient discomfort and no lasting harm. For example, an intravenous injection of a small volume of an innocuous substance.</span>
    <p>Yes</p>
  </div>
  <div class="review what-effects">
    <h3 class="govuk-heading-s">What are the likely adverse effects of this step?</h3>
    <span class="govuk-hint">If adverse effects can't be prevented, how will you attempt to ameliorate their initial signs?</span>
    <p>Substances (e.g Tamoxifen) administered for induction or inactivation of gene expression may cause subtle non-specific signs of loss of condition, such as mild reduction in activity and weight loss of more than 10%. Tamoxifen administraion by IP may also potentially cause urinary obstruction.</p>
  </div>
  <div class="review monitor-effects">
    <h3 class="govuk-heading-s">How will you monitor for, control, and limit any of these adverse effects?</h3>
    <span class="govuk-hint">If adverse effects can't be prevented, how will you attempt to ameliorate their initial signs?</span>
    <p>All animals will be weighed weekly and checked for persistent signs of ill health such as hunched posture and unresponsive behaviour daily.  </p>

    <p>Substances used will be well known and safe dose levels determined in advance. However, if mouse shows signs of distress after substance administration, all subsequent dosing will be stopped. If these problems occur in a number of mice, the dose and frequency of the substance will be reviewed. </p>          
  </div>
  <div class="review humane-endpoints">
    <h3 class="govuk-heading-s">What are the humane endpoints for this step?</h3>
    <span class="govuk-hint">This would be the point at which you would kill the animal to prevent further suffering.</span>
    <p>All animals will be weighed twice weekly and checked for persistent signs of ill health such as hunched posture and unresponsive behaviour daily. </p>

    <p>Substances used will be well known and safe dose levels determined in advance. However, if mouse shows signs of distress after substance administration, all subsequent dosing will be stopped. If these problems occur in a number of mice, the dose and frequency of the substance will be reviewed.</p>
  </div>
</section>
<section class="step completed">
  <h2 class="govuk-heading-s">Step: <span class="quick-ref">Administration of transgene inducing or deleting agents</span></h2>
  <div class="review step-descritpion">
    <h3 class="govuk-heading-s">Step description</h3>
    <span class="govuk-hint">Explain where one or more steps are repeated in one experiment, list any alternative techniques within a step (e.g. dosing routes), and include all procedures performed under terminal anaesthesia.  When describing the technical aspects of a step, be broad enough to be flexible when the variation does not impact on animal welfare (e.g. use "antibiotic" instead of "penicillin"). Finally, avoid specifying volumes and frequencies when they do not impact on animal welfare.</span>
    <p>Administration of transgene inducing or deleting agents, labelling agents or control substances alone or in combination, continuously (in diet or water) or intermittently by one or more of the following routes: </p>

    <p>a. Addition to diet or drinking water (AA);</p>

    <p>b. Oral gavage (AA)</p>

    <p>c. Subcutaneous (AA/AB)</p>

    <p>d. Intra-peritoneal (AA/AB)</p>

    <p>e. Intra-venous injection (AA/AB)</p>
  </div>
  <div class="review optional">
    <h3 class="govuk-heading-s">Is this step optional?</h3>
    <p>Yes</p>
  </div>
  <div class="review expect-effects">
    <h3 class="govuk-heading-s">Do you expect this step to have adverse effects for the animals that are more than mild and transient?</h3>
    <span class="govuk-hint">Do not list uncommon or unlikely adverse effects, or effects from procedures that will cause no more than transient discomfort and no lasting harm. For example, an intravenous injection of a small volume of an innocuous substance.</span>
    <p>Yes</p>
  </div>
  <div class="review what-effects">
    <h3 class="govuk-heading-s">What are the likely adverse effects of this step?</h3>
    <span class="govuk-hint">If adverse effects can't be prevented, how will you attempt to ameliorate their initial signs?</span>
    <p>Substances (e.g Tamoxifen) administered for induction or inactivation of gene expression may cause subtle non-specific signs of loss of condition, such as mild reduction in activity and weight loss of more than 10%. Tamoxifen administraion by IP may also potentially cause urinary obstruction.</p>
  </div>
  <div class="review monitor-effects">
    <h3 class="govuk-heading-s">How will you monitor for, control, and limit any of these adverse effects?</h3>
    <span class="govuk-hint">If adverse effects can't be prevented, how will you attempt to ameliorate their initial signs?</span>
    <p>All animals will be weighed twice weekly and checked for persistent signs of ill health such as hunched posture and unresponsive behaviour daily. </p>

    <p>Substances used will be well known and safe dose levels determined in advance. However, if mouse shows signs of distress after substance administration, all subsequent dosing will be stopped. If these problems occur in a number of mice, the dose and frequency of the substance will be reviewed.</p>
  </div>
  <div class="review humane-endpoints">
    <h3 class="govuk-heading-s">What are the humane endpoints for this step?</h3>
    <span class="govuk-hint">This would be the point at which you would kill the animal to prevent further suffering.</span>
    <p>Any animal exhibiting more general signs of distress marked piloerection, persistently hunched posture and prolonged episodes of subdued behaviour even if provoked, persistent diarrhoea or dyspnoea will be culled. </p>

    <p>Body weight will be monitored twice a week and any mice showing a 10% weight loss will be monitored daily. If they experience 20% loss (in total) over 48 hours, they will be humanely killed.</p>
  </div>
</section>
<section class="step completed">
  <h2 class="govuk-heading-s">Step: <span class="quick-ref">Administration of transgene inducing or deleting agents inc intraductal injection</span></h2>
  <div class="review step-descritpion">
    <h3 class="govuk-heading-s">Step description</h3>
    <span class="govuk-hint">Explain where one or more steps are repeated in one experiment, list any alternative techniques within a step (e.g. dosing routes), and include all procedures performed under terminal anaesthesia.  When describing the technical aspects of a step, be broad enough to be flexible when the variation does not impact on animal welfare (e.g. use "antibiotic" instead of "penicillin"). Finally, avoid specifying volumes and frequencies when they do not impact on animal welfare.</span>
    <p>Administration of transgene inducing or deleting agents, labelling agents or control substances alone or in combination, continuously (in diet or water) or intermittently by one or more of the following routes: </p>

    <p>a. Addition to diet or drinking water (AA);</p>

    <p>b. Oral gavage (AA)</p>

    <p>c. Subcutaneous (AA/AB)</p>

    <p>d. Intra-peritoneal (AA/AB)</p>

    <p>e. Intra-venous injection (AA/AB)</p>

    <p>f.	intraductal injection (AB)</p>
  </div>
  <div class="review optional">
    <h3 class="govuk-heading-s">Is this step optional?</h3>
    <p>Yes</p>
  </div>
  <div class="review expect-effects">
    <h3 class="govuk-heading-s">Do you expect this step to have adverse effects for the animals that are more than mild and transient?</h3>
    <span class="govuk-hint">Do not list uncommon or unlikely adverse effects, or effects from procedures that will cause no more than transient discomfort and no lasting harm. For example, an intravenous injection of a small volume of an innocuous substance.</span>
    <p>Yes</p>
  </div>
  <div class="review what-effects">
    <h3 class="govuk-heading-s">What are the likely adverse effects of this step?</h3>
    <span class="govuk-hint">If adverse effects can't be prevented, how will you attempt to ameliorate their initial signs?</span>
    <p>Substances (e.g Tamoxifen) administered for induction or inactivation of gene expression may cause subtle non-specific signs of loss of condition, such as mild reduction in activity and weight loss of more than 10%. Tamoxifen administraion by IP may also potentially cause urinary obstruction.</p>
  </div>
  <div class="review monitor-effects">
    <h3 class="govuk-heading-s">How will you monitor for, control, and limit any of these adverse effects?</h3>
    <span class="govuk-hint">If adverse effects can't be prevented, how will you attempt to ameliorate their initial signs?</span>
    <p>All animals will be weighed twice weekly and checked for persistent signs of ill health such as hunched posture and unresponsive behaviour daily. </p>

    <p>Substances used will be well known and safe dose levels determined in advance. However, if mouse shows signs of distress after substance administration, all subsequent dosing will be stopped. If these problems occur in a number of mice, the dose and frequency of the substance will be reviewed.</p>
  </div>
  <div class="review humane-endpoints">
    <h3 class="govuk-heading-s">What are the humane endpoints for this step?</h3>
    <span class="govuk-hint">This would be the point at which you would kill the animal to prevent further suffering.</span>
    <p>Any animal exhibiting more general signs of distress marked piloerection, persistently hunched posture and prolonged episodes of subdued behaviour even if provoked, persistent diarrhoea or dyspnoea will be culled. </p>

    <p>Body weight will be monitored twice a week and any mice showing a 10% weight loss will be monitored daily. If they experience 20% loss (in total) over 48 hours, they will be humanely killed.</p>
  </div>
</section>
<section class="step completed">
  <h2 class="govuk-heading-s">Step: <span class="quick-ref">Administration of transgene inducing or deleting agents</span></h2>
  <div class="review step-descritpion">
    <h3 class="govuk-heading-s">Step description</h3>
    <span class="govuk-hint">Explain where one or more steps are repeated in one experiment, list any alternative techniques within a step (e.g. dosing routes), and include all procedures performed under terminal anaesthesia.  When describing the technical aspects of a step, be broad enough to be flexible when the variation does not impact on animal welfare (e.g. use "antibiotic" instead of "penicillin"). Finally, avoid specifying volumes and frequencies when they do not impact on animal welfare.</span>
    <p>Administration of transgene inducing or deleting agents, labelling agents or control substances alone or in combination, continuously (in diet or water) or intermittently by one or more of the following routes: </p>

    <p>a. Addition to diet or drinking water (AA);</p>

    <p>b. Oral gavage (AA)</p>

    <p>c. Subcutaneous (AA/AB)</p>

    <p>d. Intra-peritoneal (AA/AB)</p>

    <p>e. Intra-venous injection (AA/AB)</p>
  </div>
  <div class="review optional">
    <h3 class="govuk-heading-s">Is this step optional?</h3>
    <p>Yes</p>
  </div>
  <div class="review expect-effects">
    <h3 class="govuk-heading-s">Do you expect this step to have adverse effects for the animals that are more than mild and transient?</h3>
    <span class="govuk-hint">Do not list uncommon or unlikely adverse effects, or effects from procedures that will cause no more than transient discomfort and no lasting harm. For example, an intravenous injection of a small volume of an innocuous substance.</span>
    <p>Yes</p>
  </div>
  <div class="review what-effects">
    <h3 class="govuk-heading-s">What are the likely adverse effects of this step?</h3>
    <span class="govuk-hint">If adverse effects can't be prevented, how will you attempt to ameliorate their initial signs?</span>
    <p>Substances (e.g Tamoxifen) administered for induction or inactivation of gene expression may cause subtle non-specific signs of loss of condition, such as mild reduction in activity and weight loss of more than 10%. Tamoxifen administraion by IP may also potentially cause urinary obstruction.</p>
  </div>
  <div class="review monitor-effects">
    <h3 class="govuk-heading-s">How will you monitor for, control, and limit any of these adverse effects?</h3>
    <span class="govuk-hint">If adverse effects can't be prevented, how will you attempt to ameliorate their initial signs?</span>
    <p>All animals will be weighed twice weekly and checked for persistent signs of ill health such as hunched posture and unresponsive behaviour daily. </p>

    <p>Substances used will be well known and safe dose levels determined in advance. However, if mouse shows signs of distress after substance administration, all subsequent dosing will be stopped. If these problems occur in a number of mice, the dose and frequency of the substance will be reviewed.</p>
  </div>
  <div class="review humane-endpoints">
    <h3 class="govuk-heading-s">What are the humane endpoints for this step?</h3>
    <span class="govuk-hint">This would be the point at which you would kill the animal to prevent further suffering.</span>
    <p>Any animal exhibiting more general signs of distress marked piloerection, persistently hunched posture and prolonged episodes of subdued behaviour even if provoked, persistent diarrhoea or dyspnoea will be culled. </p>

    <p>Body weight will be monitored twice a week and any mice showing a 10% weight loss will be monitored daily. If they experience 20% loss (in total) over 48 hours, they will be humanely killed.</p>
  </div>
</section>
<section class="step completed">
  <h2 class="govuk-heading-s">Step: <span class="quick-ref">Administration of transgene inducing or deleting agents</span></h2>
  <div class="review step-descritpion">
    <h3 class="govuk-heading-s">Step description</h3>
    <span class="govuk-hint">Explain where one or more steps are repeated in one experiment, list any alternative techniques within a step (e.g. dosing routes), and include all procedures performed under terminal anaesthesia.  When describing the technical aspects of a step, be broad enough to be flexible when the variation does not impact on animal welfare (e.g. use "antibiotic" instead of "penicillin"). Finally, avoid specifying volumes and frequencies when they do not impact on animal welfare.</span>
    <p>Administration of transgene inducing or deleting agents, labelling agents or control substances alone or in combination, continuously (in diet or water) or intermittently by one or more of the following routes: </p>

    <p>a. Addition to diet or drinking water (AA);</p>

    <p>b. Oral gavage (AA)</p>

    <p>c. Subcutaneous (AA/AB)</p>

    <p>d. Intra-peritoneal (AA/AB)</p>

    <p>e. Intra-venous injection (AA/AB)</p>
  </div>
  <div class="review optional">
    <h3 class="govuk-heading-s">Is this step optional?</h3>
    <p>Yes</p>
  </div>
  <div class="review expect-effects">
    <h3 class="govuk-heading-s">Do you expect this step to have adverse effects for the animals that are more than mild and transient?</h3>
    <span class="govuk-hint">Do not list uncommon or unlikely adverse effects, or effects from procedures that will cause no more than transient discomfort and no lasting harm. For example, an intravenous injection of a small volume of an innocuous substance.</span>
    <p>Yes</p>
  </div>
  <div class="review what-effects">
    <h3 class="govuk-heading-s">What are the likely adverse effects of this step?</h3>
    <span class="govuk-hint">If adverse effects can't be prevented, how will you attempt to ameliorate their initial signs?</span>
    <p>Substances (e.g Tamoxifen) administered for induction or inactivation of gene expression may cause subtle non-specific signs of loss of condition, such as mild reduction in activity and weight loss of more than 10%. Tamoxifen administraion by IP may also potentially cause urinary obstruction.</p>
  </div>
  <div class="review monitor-effects">
    <h3 class="govuk-heading-s">How will you monitor for, control, and limit any of these adverse effects?</h3>
    <span class="govuk-hint">If adverse effects can't be prevented, how will you attempt to ameliorate their initial signs?</span>
    <p>All animals will be weighed twice weekly and checked for persistent signs of ill health such as hunched posture and unresponsive behaviour daily. </p>

    <p>Substances used will be well known and safe dose levels determined in advance. However, if mouse shows signs of distress after substance administration, all subsequent dosing will be stopped. If these problems occur in a number of mice, the dose and frequency of the substance will be reviewed.</p>
  </div>
  <div class="review humane-endpoints">
    <h3 class="govuk-heading-s">What are the humane endpoints for this step?</h3>
    <span class="govuk-hint">This would be the point at which you would kill the animal to prevent further suffering.</span>
    <p>Any animal exhibiting more general signs of distress marked piloerection, persistently hunched posture and prolonged episodes of subdued behaviour even if provoked, persistent diarrhoea or dyspnoea will be culled. </p>

    <p>Body weight will be monitored twice a week and any mice showing a 10% weight loss will be monitored daily. If they experience 20% loss (in total) over 48 hours, they will be humanely killed.</p>
  </div>
</section>
{% endblock %}

