

{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <!-- <div class="licence-status-banner expired-licence">
        <p>
          <strong>EXPIRED</strong>
          <span class="float-right"><a href="#">Show less</a></span>
          <hr>
        </p>
        <p><strong>Granted:</strong> 01 January 2017 | <strong>Expired:</strong> 31 December 2017</p>
        <p>This licence is not active. The licence holder or applicant is not authorised to carry out the programme of work as stated in this licence/application.</p>
        <p>View the <a href="licence-granted">most recent version of this licence</a></p>
      </div> -->

      <div class="download-header">
        <span style="font-size: 24px;" class="govuk-body">How to cure heartache</span>
        <span class="float-right">
          <span class="hod-download-button side-space icon-small" style="margin-right: 0px; color:#005ea5"></span>
          <a href="#">Download application</a>
        </span>
      </div>

      <div class="back-to-sections-link govuk-body">
        <a href="review-ppl-index">List of sections</a>
      </div>
    </div>
  </div>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="protocol-nav">
        <a href="pelha-ppl-index" class="back-to-sections"><li>List of sections</li></a>
        <a href="#"><li>Project introduction</li></a>
        <a href="#"><li>Applicant information</li></a>
        <a href="#"><li class="selected">Project location</li></a>
        <a href="pelha-establishments-1"><li class="selected-child">Establishments</li></a>
        <a href="pelha-transfer-1"><li class="selected-child">Transfer and movement of animals</li></a>
        <a href="pelha-poles-1"><li class="selected-child">Places other than a licensed establishment (POLEs)</li></a>
        <a href="#"><li>Project plan</li></a>
        <a href="pelha-protocols-1"><li>Protocols</li></a>
        <a href="#"><li>Use of animals</li></a>
        <a href="#"><li>Other considerations</li></a>
        <a href="#"><li>The 3Rs</li></a>
        <a href="#"><li>Non-technical summary</li></a>
        <a href="#"><li>Additional conditions</li></a>
        <a href="#"><li>Authorisations</li></a>
      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Establishments</h2>
      

      <!--  -->

  
      <h2 class="govuk-heading-s">What is the primary establishment for this licence?</h2>

      <p><span class="badge changed govuk-body">Changed</span> &emsp;<span class="hod-file-empty side-space icon-small"></span><a href="#">See what's changed</a></p>

      <p>Marvell Pharma</p>

      <div class="comments-container">
        <div class="comments-show-hide">
          <h3 class="govuk-heading-m" style="padding-top: 15px;"><a href="#" style="text-decoration: none;">Hide comments</a><span class="float-right">–</span></h3></div>
        <div class="comment-box">
          <div class="comment-header">
            <p><strong>1.Inspector</strong> <span class="float-right">09/10/2019</span> </p>
          </div>  
          <div class="comment-content">
            <p>Can you be sure to check the other sections relating to comments</p>
          </div>
        </div>  
        <div class="comment-box">
          <div class="comment-header">
            <p><strong>2.Bruce Banner</strong> <span class="float-right">09/10/2019</span> </p>
          </div>  
          <div class="comment-content">
            <p>Those have all been done</p>
          </div>
        </div>  
      </div>

      <!-- <p><button class="govuk-button govuk-button--secondary">Comment</button></p> -->
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-s">Will your project use any additional establishments?</h2>

        <p><span class="badge changed govuk-body">Changed</span> &emsp;<span class="hod-file-empty side-space icon-small"></span><a href="#">See what's changed</a></p>

      <p>No</p>
      <!-- <p><button class="govuk-button govuk-button--secondary">Comment</button></p> -->
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-s">Do the housing, husbandry, and care conditions at each establishment meet the requirements laid out in the Code of Practice for each type of animal you will be using?</h2>

        <p><span class="badge changed govuk-body">Changed</span> &emsp;<span class="hod-file-empty side-space icon-small"></span><a href="#">See what's changed</a></p>

      <p>Please read the Code of Practice for the housing and care of animals bred, supplied, or used for scientific purposes before you answer.</p>
      <p>Yes</p>
      <!-- <p><button class="govuk-button govuk-button--secondary">Comment</button></p> -->
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </div>
  </div>

  <style type="text/css">



.govuk-radios__item label {
  font-weight: bold;
}

.govuk-radios__item .govuk-hint {
  padding-left: 15px;
}


    .sticky-nav a{
      display: block;
      padding: 15px;
      text-decoration: none;
    }

   .active{
      color: #fff;
      background-color: #005ea5;
    }

    .badge {
      padding: 3px 6px;
      background: #999;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }

    .date {
      float: right;
    }



dl {
  width: 100%;
}

dt {
  font-weight: normal;
  clear: left;
  display: inline-block;
  width: 35%;
  padding-bottom:5px;
}
dd {
  padding-bottom:5px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  /*font-weight: 400;*/
  /*background-color: red;*/
}

  .highlight {
    border-bottom: 3px solid #ffbf47;
    margin-right: 1px;
    background-color: #fff2d3;
    padding: 2px 0px 0px;
}

  </style>
      <style type="text/css">
        .comments-container{
          border-top: 3px solid #26A197;;
          border-bottom: 3px solid #26A197;;
          padding
        }

        .comments-show-hide {

        }

        .comment-box {
          border: 3px solid #26A197;
          padding:7.5px 15px;
          border-radius: 15px;
          margin-bottom: 30px;
          position: relative;
          background-color: #fff;
          margin-right: 30px;
        }
        .comment-header {
          padding-top: 10px;
        }

        .comment-content {
          border-top: 3px solid #26A197;
          padding:7.5px 15px;
        }

      </style>
<script type="text/javascript">
  var search = document.querySelector('#search');
var results = document.querySelector('#searchresults');
var templateContent = document.querySelector('#resultstemplate').content;
search.addEventListener('keyup', function handler(event) {
    while (results.children.length) results.removeChild(results.firstChild);
    var inputVal = new RegExp(search.value.trim(), 'i');
    var set = Array.prototype.reduce.call(templateContent.cloneNode(true).children, function searchFilter(frag, item, i) {
        if (inputVal.test(item.textContent) && frag.children.length < 6) frag.appendChild(item);
        return frag;
    }, document.createDocumentFragment());
    results.appendChild(set);
});
</script>
{% endblock %}
