
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Amend approved area</span>
      <h1 class="govuk-heading-xl">
        Review application
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <nav class="sticky-nav" style="position: static; top: 0px; width: 300px;">
        <a href="#activity" class="active" style="color: #fff;">Latest activity</a>
        <a href="#applicant.application" class="">Latest submission</a>
        <a href="#procedures" class="">What do you want to do?</a>
      </nav>&nbsp;
    </div>
    

    
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Latest activity</h2>
        <p>
          <span class="badge">Awaiting recommendation</span>
          <span class="date">17 July 2019</span>
        </p>
      <p><strong>Submitted by:</strong> <a href="#">Bruce Banner</a></p>


      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Establishment details</h2>
      <dl class="govuk-body">
          <dt>Establishment</dt>
          <dd><strong>University of Croydon</strong></dd>
          <dt>Licence number</dt>
          <dd><strong>78847475</strong></dd>
        </dl>
 <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Restriction change requested</h2>
      <p>Can you please add a restriction to Area 4, 3 Marsham Street is a lot smaller so the animals will be more cramped?</p>
      <div class="govuk-inset-text">
        <p>Restrictions can be changed below the relevant area review table.</p>
      </div>

      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Amendment requested</h2>

      
      <h2 class="govuk-heading-m">Approved area 1</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col">Current</th>
            <th class="govuk-table__header" scope="col">Proposed</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Site</th>
            <td class="govuk-table__cell">2 Marsham Street</td>
            <td class="govuk-table__cell"><span class=" highlight">3 Marsham Street</span></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Area</th>
            <td class="govuk-table__cell">6th floor</td>
            <td class="govuk-table__cell">6th floor</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Name</th>
            <td class="govuk-table__cell">Room 23</td>
            <td class="govuk-table__cell">Room 23</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Suitability</th>
            <td class="govuk-table__cell">AQ, CAT</td>
            <td class="govuk-table__cell">AQ, CAT</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Holding code</th>
            <td class="govuk-table__cell">LTH, NOH</td>
            <td class="govuk-table__cell">LTH, NOH</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">NACWO</th>
            <td class="govuk-table__cell">Steph Jones</td>
            <td class="govuk-table__cell"><span class=" highlight">Megan Alberts</span></td>
          </tr>
        </tbody>
      </table>
      
      <h3 class="govuk-heading-s">Current restrictions</p>
      <p>None</p>
      <p><a href="#">Add restriction</a> 


      <hr class="govuk-section-break govuk-section-break--l">

      <h2 class="govuk-heading-m">Approved area 2</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col">Current</th>
            <th class="govuk-table__header" scope="col">Proposed</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Site</th>
            <td class="govuk-table__cell">2 Marsham Street</td>
            <td class="govuk-table__cell"><span class=" highlight">3 Marsham Street</span></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Area</th>
            <td class="govuk-table__cell">6th floor</td>
            <td class="govuk-table__cell">6th floor</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Name</th>
            <td class="govuk-table__cell">Room 24</td>
            <td class="govuk-table__cell">Room 24</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Suitability</th>
            <td class="govuk-table__cell">DOG</td>
            <td class="govuk-table__cell">DOG</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Holding code</th>
            <td class="govuk-table__cell">LTH</td>
            <td class="govuk-table__cell">LTH</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">NACWO</th>
            <td class="govuk-table__cell">Gareth Tindall</td>
            <td class="govuk-table__cell"><span class=" highlight">Megan Alberts</span></td>
          </tr>
        </tbody>
      </table>
      
      <h3 class="govuk-heading-s">Current restrictions</p>
      <p>None</p>
      <p><a href="#">Add restriction</a> 

      <hr class="govuk-section-break govuk-section-break--l">

      <h2 class="govuk-heading-m">Approved area 3</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col">Current</th>
            <th class="govuk-table__header" scope="col">Proposed</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Site</th>
            <td class="govuk-table__cell">2 Marsham Street</td>
            <td class="govuk-table__cell"><span class=" highlight">3 Marsham Street</span></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Area</th>
            <td class="govuk-table__cell">6th floor</td>
            <td class="govuk-table__cell">6th floor</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Name</th>
            <td class="govuk-table__cell">Room 25</td>
            <td class="govuk-table__cell">Room 25</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Suitability</th>
            <td class="govuk-table__cell">AQ</td>
            <td class="govuk-table__cell">AQ</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Holding code</th>
            <td class="govuk-table__cell">NOH, NSEP, STH</td>
            <td class="govuk-table__cell">NOH, NSEP, STH</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">NACWO</th>
            <td class="govuk-table__cell">Megan Alberts</td>
            <td class="govuk-table__cell">Megan Alberts</td>
          </tr>
        </tbody>
      </table>
      
        <h3 class="govuk-heading-s">Current restrictions</p>
      <p>None</p>
      <p><a href="#">Add restriction</a> </p>

      <hr class="govuk-section-break govuk-section-break--l">

      <h2 class="govuk-heading-m">Approved area 4</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col">Current</th>
            <th class="govuk-table__header" scope="col">Proposed</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Site</th>
            <td class="govuk-table__cell">2 Marsham Street</td>
            <td class="govuk-table__cell"><span class=" highlight">3 Marsham Street</span></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Area</th>
            <td class="govuk-table__cell">6th floor</td>
            <td class="govuk-table__cell">6th floor</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Name</th>
            <td class="govuk-table__cell">Room 12</td>
            <td class="govuk-table__cell">Room 12</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Suitability</th>
            <td class="govuk-table__cell">EQU, LA</td>
            <td class="govuk-table__cell">EQU, LA</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Holding code</th>
            <td class="govuk-table__cell">LTH, SEP</td>
            <td class="govuk-table__cell">LTH, SEP</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">NACWO</th>
            <td class="govuk-table__cell">John Sharp</td>
            <td class="govuk-table__cell"><span class=" highlight">Megan Alberts</span></td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="govuk-inset-text" style="border-left: 10px solid #8F23B3;  margin-top: 15px;"> -->
        <h3 class="govuk-heading-s">Current restrictions</h3>
        <p><span class="hod-warning side-space icon-medium" style="color: #005EA5;"></span>Not to be used during hours of daylight.</p>
      <!-- </div2> -->
      <p><a href="#">Edit restriction</a> | <a href="#">Delete restriction</a></p>

      <hr class="govuk-section-break govuk-section-break--l">

      <h2 class="govuk-heading-m">Approved area 5</h2>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col">Current</th>
            <th class="govuk-table__header" scope="col">Proposed</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Site</th>
            <td class="govuk-table__cell">2 Marsham Street</td>
            <td class="govuk-table__cell"><span class=" highlight">3 Marsham Street</span></td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Area</th>
            <td class="govuk-table__cell">6th floor</td>
            <td class="govuk-table__cell">6th floor</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Name</th>
            <td class="govuk-table__cell">Room 11</td>
            <td class="govuk-table__cell">Room 11</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Suitability</th>
            <td class="govuk-table__cell">EQU</td>
            <td class="govuk-table__cell">EQU</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Holding code</th>
            <td class="govuk-table__cell">LTH</td>
            <td class="govuk-table__cell">LTH</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">NACWO</th>
            <td class="govuk-table__cell">John Sharp</td>
            <td class="govuk-table__cell"><span class=" highlight">Megan Alberts</span></td>
          </tr>
        </tbody>
      </table>
      
      <h3 class="govuk-heading-s">Current restrictions</p>
      <p>None</p>
      <p><a href="#">Add restriction</a> 


     <!--  <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Restriction change requested</h2>
      <p>Can you please add a restriction to Area 4, 3 Marsham Street is a lot smaller so the animals will be more cramped?</p>
 -->
      <!-- <div class="govuk-inset-text">
        <p>Restrictions can be changed below the review table of each approved area.</p>
      </div>

      <div class="govuk-inset-text">
        <p>Please check that this request has been addressed before actioning the amendment.</p>
      </div>

        <div class="govuk-form-group">
          <h3 class="govuk-heading-s">Has this request been addressed?</h3>
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                <span for="where-do-you-live" class="govuk-label govuk-radios__label">Yes, the change has been made</span>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                <span for="where-do-you-live" class="govuk-label govuk-radios__label">Yes, but no changes will be made</span>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                <span for="where-do-you-live" class="govuk-label govuk-radios__label">No, not yet</span>
              </div>
            </div>
          </fieldset>
        </div>       -->

      <hr class=" govuk-section-break--l govuk-section-break--visible">
      
      <h2 class="govuk-heading-m">Reason for amendment</h2>

      <p>Because it was wrong in the initial data migration.</p>

      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">What do you want to do?</h2>
      
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                uk-radios__label">Return to applicant</la
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                <label for="where-do-you-live" class="govuk-label govuk-radios__label">Recommmend for rejection</label>
                <span class="govuk-hint">The application will be sent to a Licensing Office who will action your recommendation.</span> 
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                uk-radios__label">Return to applicant</la
            </div>
          </fieldset>
        </div>

      <a href="review-pil-app-public-edit" class="govuk-button">Continue</a>
      
    </div>
  </div>

  <style type="text/css">



.govuk-radios__item label {
  font-weight: bold;
}

.govuk-radios__item .govuk-hint {
  padding-left: 15px;
}


    .sticky-nav a{
      display: block;
      padding: 15px;
      text-decoration: none;
    }

   .active{
      color: #fff;
      background-color: #005ea5;
    }

    .badge {
      padding: 3px 6px;
      background: #999;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }

    .date {
      float: right;
    }



dl {
  width: 100%;
}

dt {
  font-weight: normal;
  clear: left;
  display: inline-block;
  width: 35%;
  padding-bottom:5px;
}
dd {
  padding-bottom:5px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  /*font-weight: 400;*/
  /*background-color: red;*/
}

  .highlight {
    border-bottom: 3px solid #ffbf47;
    margin-right: 1px;
    background-color: #fff2d3;
    padding: 2px 0px 0px;
}

  </style>

{% endblock %}
