
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "includes/licence-header-nts.html" %}
      
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="protocol-nav">
        <a href="nts-overview"><li>Overview</li></a>
        <a href="nts-objectives"><li>Aims</li></a>
        <a href="nts-benefits"><li>Predicted benefits</li></a>
        <a href="nts-harms"><li>Predicted harms</li></a>
        <a href="nts-replacement.html"><li >Replacement</li></a>
        <a href="nts-reduction.html"><li>Reduction</li></a>
        <a href="nts-refinement.html"><li class="selected">Refinement</li></a>
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Refinement
      </h1>
      <!-- <h2 class="govuk-heading-m">
        Give examples of the specific measures (e.g., increased monitoring, post-operative care, pain management, training of animals) to be taken, in relation to the procedures, to minimise welfare costs (harms) to the animals. Describe the mechanisms in place to take up emerging refinement techniques during the lifetime of the project.
      </h2> -->
      <h2 class="govuk-heading-s">
        Why are the animals, models and methods you will use the best to meet your objectives? Why will your approach cause the least pain, suffering, distress or lasting harm?
      </h2>
      <p>
        The animals used during the course of this licence will be rodents. The models within this licence are behavior based and as such animals are required to be in a good state of health in order to perform tasks associated with some protocols.
      </p>
      <p>
        In general, tests are conducted as follows;
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          Tests which involve placing animals within a novel environment (e.g. maze or arena) and observing their natural behaviour within these environments for a relatively short period of time (e.g. 10 minutes).
        </li>
        <li>
          Tests which involve a 'task' such as shredding nesting material, burying marbles, pressing a lever, walking along a beam or rotating drum.
        </li>
        <li>
          Tests which require learning and memory recall, such as negotiating a maze for a positive reward e.g. radial arm maze, novel object recognition.
        </li>
        <li>
          Tests which require a reflex response to an external stimulus e.g. computerised auditory startle, pupil response to light, or response to an approaching object.
        </li>
      </ul>
      <p>
        In all cases, the potential to cause stress or distress is minimal and short-lived. The assessments performed are not based on pain or fear, nor do they induce, or require a behavioural despair component.
      </p>
      <p>
        Animal welfare costs are minimised by the careful selection of dose levels to reduce the likelihood of unexpected toxicity, and the application of rigorous and comprehensive humane endpoints. Individual studies will be designed to cause the least possible suffering by frequent review of practices, provision of highly skilled technical staff and veterinary support, purpose built facilities and a clear focus on animal welfare.
      </p>
      <h2 class="govuk-heading-s">
        Why can’t you use a less sentient animal, (for example at an immature stage, a less sentient species or using terminally anaesthetised animals)?
      </h2>
      <p>
        Rodents are the animals with the lowest neurophysiological sensitivity that allows you to meet the aims of the studies. Scientific opinion, including that of the regulatory agencies, indicates the use of rodents within these study types are appropriate, and to use a non-rodent species should only be done if there is strong scientific justification to do so.
      </p>
      <p>
        The tests within this licence are strongly behaviorally based and as such require the use of conscious animals
      </p>
      .
      <p>
        Adult, juvenile or neonates may be used within the project licence.
      </p>
      <p>
        Neonates will only be used for the purpose of inducing an autism spectrum disorder for which they will receive a single administration of valproic acid.
      </p>
      <p>
        Juvenile animals may be required if certain aspects of behaviour or treatment are thought to be age sensitive e.g. exposure to cannabinoids may have greater effects in children and adolescents compare to adults.
      </p>
      <h2 class="govuk-heading-s">
        What are you going to do to refine the procedures (for example increased monitoring, post- operative care, pain management, training of animals) to minimise the welfare costs (harms) to the animals?
      </h2>
      <p>
        The severity limits specified are considered to be the minimum commensurate with achieving study objectives. Studies conducted under this licence are within the moderate severity category and it is expected that the majority of animals will have an actual severity that is the low end of moderate or mild. The actual severity is anticipated to be largely determined by procedural effects (such as repeat administration) rather than clinical signs resulting from administration of novel test agents.
      </p>
      <p>
        All procedures are kept to the minimum commensurate with the study objective. Best practice guidelines for all animal care and use are followed.
      </p>
      <p>
        It may be necessary to take serial blood samples from the study animals to monitor plasma levels of the test compound. The tail vein and jugular vein are accessible in rats and will provide adequate blood samples. Blood sampling from mice may be required on rare occasions. Where blood samples are required we will take them using the
      </p>
      sampling site, volume, and frequency that has least welfare impact on the animals. Where possible
      samples will be taken under non-recovery anaesthesia. Microsampling (using very small volumes of blood, which causes less distress to an animal) will be utilized where methodology is available to do so.
      <h2 class="govuk-heading-s">
        What published best practice guidance will be followed to ensure experiments are conducted in most refined way?
      </h2>
      <p>
        Technical, scientific and regulatory developments will be monitored throughout the duration of this licence. Opportunities to introduce refinements will be evaluated by the Project Licence Holder and Animal Welfare Ethical Review Body to ensure the regulatory and scientific objectives of individual studies can be met whilst achieving the intended benefit. If required, validation studies will be conducted under this licence to ensure these objectives can be met.
      </p>
      <p>
        Prior to the start of a particular programme or study, the client will be requested to provide information regarding known or potential effects/drug interactions that could be confounded by routine veterinary treatments or standard husbandry practices. Any such interactions are rare but with pre-planning, alternative treatments may be available (e.g. opioid vs NSAID analgesia, different bedding types etc).
      </p>
      <h2 class="govuk-heading-s">
        How will you ensure you continue to use the most refined methods during the lifetime of this project?
      </h2>
      <p>
        Information issued by regulating authorities, the Home Office, cross company consortiums, in-house projects and scientific associations (e.g. the NC3Rs) will be reviewed and adopted as appropriate in accordance with best practice.
      </p>
      <h2 class="govuk-heading-s">
        Explain the choice of species and the related life stages
      </h2>
      <p>
        Animals used during the course of this licence will be rodents. There is wide knowledge of the behavioural response of rats and mice in response to a wide range of substances and a wealth of background literature. The innate curiosity and anxiety of these species has established them as species of choice for assessing conditions involving emotional state.
      </p>
      <p>
        Although the majority of studies will use adult animals, on occasion, neonatal or pregnant animals exposed to valproic acid (a medication for the treatment for various types of seizures) may be required for modelling autism disorders. In addition, on rare occasions, juvenile animals may be used when age-sensitive effects are of concern.
      </p>
      <div class="grey-panel">
        <h3 class="govuk-heading-s">A retrospective assessment of refinement will be due by 02 January 2021</h3>
        <p>The licence holder will be required to disclose if the project could have been refined, and how harms to animals were minimised.</p>
      </div>
      <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
        <ul class="gem-c-pagination__list" data-module="track-click">
          <li class="gem-c-pagination__item gem-c-pagination__item--previous">
            <a href="nts-reduction.html" class="gem-c-pagination__link" >
              <span class="gem-c-pagination__link-title">
                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="gem-c-pagination__link-text">
                  Previous
                </span>
              </span>
                <span class="gem-c-pagination__link-divider hidden">:</span>
                <span class="gem-c-pagination__link-label">Reduction</span>
            </a>
          </li>
          <!-- <li class="gem-c-pagination__item">
            <a href="nts-refinement" class="gem-c-pagination__link">
              <span class="gem-c-pagination__link-title">
                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="gem-c-pagination__link-text">
                  Next
                </span>
              </span>
                <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                <span class="gem-c-pagination__link-label">Refinement</span>
            </a>
          </li> -->
          <li class="XXX">
            <span class="gem-c-pagination__link-title"></span>
            <span style="text-decoration: none;"class="gem-c-pagination__link-label"><a href="ra-index">View project overview</a> 
              <!-- or <a href="/ra-submission/endorsement/ra-task">close task</a> -->
            </span>
          </li>
        </ul>
      </nav>


  </div>

{% endblock %}
