
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">University of Croydon</span>
    <h1 class="govuk-heading-l">Non-technical summary review</h1>
    
    <p class="govuk-!-font-size-24">Autophagy in the hematopoietic system</p>
      <div class="govuk-panel green-bg">
        <h1 class="govuk-panel__title">Published</h1>
      </div>
      
        <!-- <h2 class="govuk-heading-m">What happens next?</h2> -->
        <p>
          This NTS has been published and is now publicly available.
        </p>
        <p>
          You can <a href="/nts-improvements/nts-directory-policy#published">review the NTS here</a>.
        </p>

        <p><a href="#">Home</a></p>
      </div>
    </div>
  </div>


{% endblock %}
