
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Non-technical summary</span>
      <h1 class="govuk-heading-xl">
        Publish non-technical summary with animal types redacted
      </h1>

      <p>This non-technical summary will be made publicly available with the animal types redacted.</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Animal types in non-technical summary</th>
            <th class="govuk-table__header" scope="col">Animal types to be published</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <ul class="govuk-list govuk-list--bullet">
                <li>Golden Eagles</li>
                <li>Badgers</li>
              </ul>
            </td>
            <td class="govuk-table__cell">
              <span>
                <ul class="govuk-list govuk-list--bullet">
                  <li><span class="highlight">Redacted</span></li>
                  <li><span class="highlight">Redacted</span></li>
                </ul>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Declaration</h2>

      <p>I confirm that this non-technical summary does not include information that could identify people, places, or intellectual property.</p>
      
      <a href="publish-comment.html" class="govuk-button">Confirm and continue</a> 
      <a href="#" class="secondary-link">Back</a>
      </div>
      
    </div>
  </div>

  </style>

{% endblock %}
