
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel green-bg">
        <h1 class="govuk-panel__title">Application submitted</h1></div>
      
        <h2 class="govuk-heading-m">What happens next?</h2>
          
          <p>
            The application needs to be endorsed, and then approved by the Home Office. You may be contacted for more information. 
          </p>
          
          <p>
            <strong>Applicants are not allowed to carry out procedures until their licence has been approved</strong>
          </p>

          <p>
            Exemptions may also be assessed by an inspector.
          </p>

        <p><a href="manage-pils-progression">Back to course</a></p>
      </div>
    </div>
  </div>


{% endblock %}
