{% if flagStatus == 'open' %}
<div class="notification-banner notification-banner--open" style="padding: 0px 10px">
  <div class="govuk-warning-text" style="margin-bottom: 0px;">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <span class="govuk-warning-text__text">
      <strong>This {% if entityType > '1' %}{{entityType}}{% else %}subject{% endif %} is related to open enforcement case 21102</strong>
      <br>
      For more information speak to the enforcement team at <a href="#">enforcement@homeoffice.gov.uk</a>
    </span>
  </div>
</div>

{% elif flagStatus == 'closed' %}

<div class="notification-banner notification-banner--closed" style="padding: 0px 10px">
  <div class="govuk-warning-text" style="margin-bottom: 0px;">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <span class="govuk-warning-text__text">
      <strong>This {% if entityType > '1' %}{{entityType}}{% else %}subject{% endif %} is related to closed enforcement case 21102</strong>
      <br>
      <details class="govuk-details no-margin-bottom" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Case details
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list">
            <li>Remedial action applied: letter of reprimand</li>
            <li>Closed flag in place until: 28 January 2027</li>
            <li>For more information speak to the enforcement team at <a href="#">enforcement@homeoffice.gov.uk</a></li>
          </ul>
        </div>
      </details>
    </span>
  </div>
</div>

{% endif %}