<div class="notification-banner notification-banner--open" style="padding: 0px 10px">
  <div class="govuk-warning-text" style="margin-bottom: 0px;">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <span class="govuk-warning-text__text">
      <strong>This {% if entityType > '1' %}{{entityType}}{% else %}subject{% endif %} is related to open enforcement case 21102</strong>
      <br>
      <a href="#">View details in Sharepoint (opens in a new tab)</a>
    </span>
  </div>
</div>