<div class="declaration-panel-grey">
  <form action="add-subject-1-details#subject-1" method="post">
    <h2 id='subject-1' class="govuk-heading-m">Enforcement subject 1</h2>
    <div class="govuk-form-group">
      <label class="govuk-label govuk-label--s" for="subject-name-1">
        Select person
      </label>
      {% include "includes/compliance/typeahead-people-role.html" %}
    </div>
    <input type="hidden" name="user-1-added" value='true'>
    <input type="hidden" name="user-1-status" value='edit'>
    <input type="hidden" name="toaster" value='false'>
    <button class="govuk-button">Add person</button>&ensp;<span class="secondary-link"><a href="javascript:history.back()">Cancel</a></span>
  </form>
</div>
