<div class="declaration-panel-grey">
  <form action="add-subject-1-details#subject-{{user}}" method="post">
    <h2  id="subject-{{user}}" class="govuk-heading-m">EDIT Enforcement subject {{user}}</h2>
    <p>
      {% if data['user'] === '3' %}  
        {{data['subject-3-name']}}
      {% elif data['user'] === '2' %}
        {{data['subject-2-name']}}
      {% else %}
        {{data['subject-1-name']}}
      {% endif %}
    </p>
    
      <div class="govuk-form-group" id="subject-{{user}}" data-required="">
        <fieldset class="govuk-fieldset">
          <label class="govuk-label--s" for="gaa">
            Select status for enforcement cases
          </label>
          <span class="govuk-hint"></span>
          <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="subject-{{user}}-status-open" name="subject-{{user}}-status" type="radio" value="open" data-aria-controls="subject-{{user}}-conditional-option-1">
              <label for="subject-{{user}}-status" class="govuk-label govuk-radios__label">Open case
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="subject-{{user}}-conditional-option-1">
              <div class="govuk-checkboxes govuk-checkboxes--conditional" data-module="checkboxes">
                <legend class="govuk-fieldset__legend govuk-label--s">
                  Apply flags to:
                </legend> 
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="subject-{{user}}-entity-remedial" name="subject-{{user}}-entity" type="checkbox" value="profile" data-aria-controls="subject-{{user}}-conditional-option-2">
                  <label for="subject-{{user}}-entity" class="govuk-label govuk-checkboxes__label">Tasks related to Jane McGregor's profile</label>
                  <span class="govuk-hint">Including new applications for a licence or named role tasks</span>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="subject-{{user}}-entity-remedial" name="subject-{{user}}-entity" type="checkbox" value="pil" data-aria-controls="subject-{{user}}-conditional-option-2">
                  <label for="subject-{{user}}-entity" class="govuk-label govuk-checkboxes__label">Tasks related to personal licence 932131</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="subject-{{user}}-entity-innocent" name="subject-{{user}}-entity" type="checkbox" value="ppl" data-aria-controls="subject-{{user}}-conditional-option-3">
                  <label for="subject-{{user}}-entity" class="govuk-label govuk-checkboxes__label">Tasks related to project licence 372383</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="subject-{{user}}-entity-open" name="subject-{{user}}-entity" type="checkbox" value="pel" data-aria-controls="subject-{{user}}-conditional-option-1">
                  <label for="subject-{{user}}-entity" class="govuk-label govuk-checkboxes__label">Tasks related to establishment licence XCC09J64D</label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="subject-{{user}}-conditional-option-1">
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="subject-{{user}}-est-hint">
                      <legend class="govuk-fieldset__legend govuk-label--s">
                        Apply flags to:
                      </legend>
                      <div id="subject-{{user}}-est-hint" class="govuk-hint">
                        Select all that apply.
                      </div>
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="subject-{{user}}-est" name="subject-{{user}}-est" type="checkbox" value="areas">
                          <label class="govuk-label govuk-checkboxes__label" for="subject-{{user}}-est">
                            Tasks related to approved area changes
                            <span class="govuk-hint no-margin-bottom">Including new areas, changes to areas and area removals</span>
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="subject-{{user}}-est-2" name="subject-{{user}}-est" type="checkbox" value="people">
                          <label class="govuk-label govuk-checkboxes__label" for="subject-{{user}}-est-2">
                            Tasks related to named person changes
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="subject-{{user}}-est-3" name="subject-{{user}}-est" type="checkbox" value="details">
                          <label class="govuk-label govuk-checkboxes__label" for="subject-{{user}}-est-3">
                            Tasks related establishment details
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="subject-{{user}}-status-closed" name="subject-{{user}}-status" type="radio" value="closed" data-aria-controls="subject-{{user}}-conditional-option-2">
              <label for="subject-{{user}}-status" class="govuk-label govuk-radios__label">Closed case - remedial action applied</label>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="subject-{{user}}-conditional-option-2">  
              <div class="govuk-checkboxes govuk-checkboxes--conditional" data-module="checkboxes">
                <legend class="govuk-fieldset__legend govuk-label--s">
                  Apply flags to:
                </legend> 
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="subject-{{user}}-entity-profile" name="subject-{{user}}-entity" type="checkbox" value="profile" data-aria-controls="subject-{{user}}-conditional-option-2">
                  <label for="subject-{{user}}-entity" class="govuk-label govuk-checkboxes__label">Tasks related to Jane McGregor's profile
                    <span class="govuk-hint">Including new applications for a licence or named role tasks</span>
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="subject-{{user}}-entity-remedial" name="subject-{{user}}-entity" type="checkbox" value="pil" data-aria-controls="subject-{{user}}-conditional-option-2">
                  <label for="subject-{{user}}-entity" class="govuk-label govuk-checkboxes__label">Tasks related to personal licence 932131</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="subject-{{user}}-entity-innocent" name="subject-{{user}}-entity" type="checkbox" value="ppl" data-aria-controls="subject-{{user}}-conditional-option-3">
                  <label for="subject-{{user}}-entity" class="govuk-label govuk-checkboxes__label">Tasks related to project licence 372383</label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="subject-{{user}}-entity-open" name="subject-{{user}}-entity" type="checkbox" value="pel" data-aria-controls="subject-{{user}}-conditional-option-1">
                  <label for="subject-{{user}}-entity" class="govuk-label govuk-checkboxes__label">Tasks related to establishment licence XCC09J64D</label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="subject-{{user}}-conditional-option-1">
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="subject-{{user}}-est-hint">
                      <legend class="govuk-fieldset__legend govuk-label--s">
                        Apply flag to:
                      </legend>
                      <div id="subject-{{user}}-est-hint" class="govuk-hint">
                        Select all that apply.
                      </div>
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="subject-{{user}}-est" name="subject-{{user}}-est" type="checkbox" value="areas">
                          <label class="govuk-label govuk-checkboxes__label" for="subject-{{user}}-est">
                            Tasks related to approved area changes
                            <span class="govuk-hint no-margin-bottom">Including new areas, changes to areas and area removals</span>
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="subject-{{user}}-est-2" name="subject-{{user}}-est" type="checkbox" value="people">
                          <label class="govuk-label govuk-checkboxes__label" for="subject-{{user}}-est-2">
                            Tasks related to named person changes
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="subject-{{user}}-est-3" name="subject-{{user}}-est" type="checkbox" value="details">
                          <label class="govuk-label govuk-checkboxes__label" for="subject-{{user}}-est-3">
                            Tasks related establishment details
                          </label>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="subject-{{user}}-status-removed" name="subject-{{user}}-status" type="radio" value="removed" data-aria-controls="subject-{{user}}-conditional-option-3">
              <label for="subject-{{user}}-status" class="govuk-label govuk-radios__label">Closed case - no breach</label>
            </div>
            
          </div>

        </fieldset>
      </div>
      <input type="hidden" name="subject-count" value="{{user}}">
      <button class="govuk-button">Save</button>
    </form>
  </div>