   
   <div class="autocomplete">
      <input id="myInput" type="text" name="subject-{{user}}-name" class="govuk-input"  style="width: 600px;">
    </div>
    <!-- <input type="submit" class="govuk-button"> -->
  
  <script language="JavaScript" type="text/javascript" src="/public/javascripts/typeahead.js"></script>

  <script>
    /*An array containing all the country names in the world:*/
    var inputValues = [
      'Dagny Aberkirder – Cornell University',
      'Evvy Addams – Georgetown University',
      'Imojean Addlestone – Case Western Reserve University',
      'Cassondra Aikett – University of Virginia',
      'Juliana Akinyooye – Tufts University',
      'Megan Alberts – Brigham Young University',
      'Jason Alden – Boston University',
      'Maartin Allcock – University of Notre Dame',
      'Ignace Alsford – College of the Holy Cross, Boston University',
      'Maricela Armstrong – Carnegie Mellon University',
      'Napoleon Armstrong – United States Military Academy',
      'Ian Ayers – University of Virginia',
      'Wood Bagger – Centre College',
      'Karina Baird – Northwestern University',
      'Bruce Banner – Massachusetts Institute of Technology',
      'Lillie Barry – Kenyon College',
      'Dave Bartram – United States Naval Academy',
      'Yvette Bates – Johns Hopkins University',
      'Nettie Bean – Massachusetts Institute of Technology',
      'Ondrea Beining – Northwestern University',
      'Jenica Benardet – Vanderbilt University',
      'Hollis Benjamin – Boston College',
      'Porfirio Bernard – Kenyon College',
      'Margie Bernard – Dartmouth College',
      'Ciaran Bourke – Columbia University',
      'Sylvia Boyd – Kenyon College',
      'Cruz Bradshaw – Amherst College',
      'Bernice Bricket – University of Virginia',
      'Susie Caldwell – Tufts University',
      'Dominic Carson – Villanova University',
      'Roy Cervantes – University of Notre Dame',
      'Mauro Chang – Middlebury College',
      'Catherina Checkley – Case Western Reserve University',
      'Shari Chen – University of Texas, Austin',
      'Amii Coffee – Indiana University, Bloomington',
      'Gerrie Coggins – University of California, Los Angeles',
      'Kingsley Collins – United States Naval Academy',
      'Consalve Cornfoot – Santa Clara University',
      'Ardene covino – University of Texas, Austin',
      'Ella Cox – University of Georgia',
      'Phil Cox – Colorado College',
      'Dino Cox – Indiana University, Bloomington',
      'Esteban Craft – Carleton College',
      'Raul Cross – Brandeis University',
      'Whitby Deare – United States Coast Guard Academy',
      'Aspasia Dellaporta – United States Military Academy',
      'Derek Deschlein – Massachusetts Institute of Technology, United States Coast Guard Academy',
      'afzal dhada – Franklin and Marshall College',
      'Jenine Dibble – Reed College',
      'Augustus Dickerson – Boston University',
      'Judon Dilrew – Middlebury College',
      'Nicolea Domini – Brandeis University',
      'Lonni Dorracott – University of Florida',
      'Helena Doyle – Rice University, Brandeis University',
      'Jonah Drewe – Pomona College',
      'Art Duke – Mount Holyoke College',
      'Rosanna Fairthorne – Hamilton College',
      'Terence Ferrell – Smith College',
      'Flemming Fishe – United States Air Force Academy',
      'Glen Fisher – University of Southern California',
      'Katina Fitzgerald – Davidson College',
      'Numbers Floyd – Cooper Union',
      'Chris foo – United States Military Academy',
      'Barton Franks – Wellesley College',
      'Werner Fruchtbar – Bryn Mawr College',
      'Ginger Fruitbat – Columbia University',
      'Filippo Gillian – University of Notre Dame',
      'Reagen Gimert – Georgetown University',
      'Kristina Glass – University of Illinois, Urbana-Champaign',
      'Willard Glew – Massachusetts Institute of Technology',
      'Samara Goulthorp – Franklin and Marshall College',
      'Gabie Graben – Pomona College',
      'Patrizio Grigs – Carnegie Mellon University',
      'Patricia Gutierrez – University of Southern California',
      'Phillip Guzman – United States Coast Guard Academy, Carnegie Mellon University',
      'Pace Gytesham – Bowdoin College',
      'Ray Hadfield – Pomona College',
      'Maire Hanson – Bryn Mawr College',
      'Joelly Harbar – University of North Carolina, Chapel Hill',
      'Kelvin Harrington – University of Maryland, College Park',
      'Aaron Harris – Pennsylvania State University, University Park',
      'Kenya Harris – University of California, Davis',
      'Delmer Harrison – Wesleyan University',
      'Anthony Harvey – University of Wisconsin, Madison',
      'Lucille Haynes – Santa Clara University',
      'Andromache Hessentaler – United States Military Academy',
      'Charisse Higgen – Franklin and Marshall College, Santa Clara University',
      'Reinaldo Hodges – Washington University in Saint Louis',
      'Anthony HOLC – Boston College',
      'Arturo Hooper – Harvard University',
      'Callie Houston – Carnegie Mellon University',
      'Alexis Hudson – Pennsylvania State University, University Park',
      'Nadia Huq – United States Naval Academy',
      'Benito Hurst – United States Naval Academy',
      'Vicki	Hyde Parks – Massachusetts Institute of Technology',
      'Anthony Ioannidis – University of Florida, United States Naval Academy',
      'Klaudia Irvine – Georgia Institute of Technology',
      'Isabelle Jackson – University of California, Santa Barbara',
      'Megha Jain – Trinity College',
      'Reva Jenkins – University of Texas, Austin',
      'Jolty Jenticks – University of Washington',
      'Lauren Jones – Scripps College',
      'Gerry Joseland – California Institute of Technology',
      'Barbee Jowett – Northwestern University',
      'Luisa Joyce – Hamilton College',
      'Darius Kerr – Wake Forest University',
      'Dean Kerrigan – Franklin and Marshall College',
      'Robert Keyes – Cornell University',
      'Davida Kibbee – George Washington University',
      'Harrison Koch – Whitman College',
      'Sena Kornousek – United States Air Force Academy',
      'Stafford Kunz – Mount Holyoke College',
      'Colleen Labrador – Sewanee—University of the South',
      'Madeleine Lamb – Harvey Mudd College',
      'Lee	Latchford Evans – New York University',
      'Dave Leason – Centre College',
      'Selestina Legrice – University of Illinois, Urbana-Champaign',
      'Henrietta Lindsey – Boston College, Centre College',
      'Dean Loach – University of Michigan, Ann Arbor',
      'Billy Lyal – Pennsylvania State University, University Park',
      'Tyson MacArd – Cooper Union',
      'Andria MacCurlye – Colgate University',
      'Eric Manclark – Swarthmore College',
      'Daniel Martin – Georgia Institute of Technology',
      'Stanley Maxwell – University of Pennsylvania',
      'Isis May – Stanford University',
      'Nellie Mayo – Reed College, University of Pennsylvania',
      'Garrett Mays – University of California, Davis',
      'Gillie McAuliffe – Wake Forest University',
      'James McCord – Middlebury College',
      'Mike McGear – DePauw University',
      'Jane McGregor – Macalester College',
      'Jamie McGrory – Santa Clara University',
      'Elton Mclean – United States Military Academy',
      'Kata Meneghelli – Wesleyan University',
      'Ignaz Middell – Vanderbilt University',
      'Aloise Morrish – Bryn Mawr College',
      'Deandre Morrow – College of the Holy Cross',
      'Erich Mowlam – Wellesley College',
      'Celina Mueller – Trinity College',
      'Thomas Murphy – Oberlin College',
      'Aisha Nichols – Haverford College',
      'Carol Nielsen – Brown University',
      'Ivy Norris – Bryn Mawr College',
      'Woodrow Oconnor – Wheaton College',
      'Harry OHuman – University of Southern California',
      'Read Only – Harvey Mudd College',
      'Helen	O Nowlan – University of North Carolina, Chapel Hill',
      'Nadine Ortega – College of William and Mary',
      'Imogene Osborne – University of Virginia',
      'Westbrook Otson – Lehigh University',
      'Martina Padilla – University of Richmond',
      'Seth Parks – Barnard College',
      'Roberto Patron – Massachusetts Institute of Technology, University of Richmond',
      'Benjamin Patton – Pennsylvania State University, University Park',
      'Mixed Permissions – Haverford College',
      'Fabian Petegre – Virginia Military Institute',
      'Nathan Peters – College of the Holy Cross',
      'Lowell Peters – Swarthmore College',
      'Arv Petrillo – University of Wisconsin, Madison',
      'Richard Pilchard – Lafayette College, Swarthmore College',
      'Alphard Polamontayne – United States Military Academy',
      'Erroll Polleye – Pepperdine University',
      'Beatriz Porter – Middlebury College',
      'Auto Project – George Washington University',
      'Brian Proudfoot – Pomona College',
      'Honey Raggatt – Franklin and Marshall College',
      'Sydney Randall – University of California, Santa Barbara',
      'Marcelino Randall – University of California, Los Angeles',
      'Andrew Rasmussen – Vassar College',
      'Lana Reese – Southern Methodist University',
      'Law Rennox – Indiana University, Bloomington',
      'Fayth Reyna – Colgate University',
      'Yul Riach – University of Maryland, College Park',
      'Helena Rich – Dartmouth College',
      'Claire Richards – Carleton College',
      'Carmen Riddle – Barnard College',
      'Webb Rieger – Whitman College',
      'Burgess Risborough – Tufts University',
      'Smokey Robinson – University of Maryland, College Park',
      'Ethan Rocha – Franklin and Marshall College',
      'Ami Rogger – Carnegie Mellon University',
      'Kurtis Savage – University of Michigan, Ann Arbor',
      'Mad Scientist – California Institute of Technology',
      'Lisa	Scott Lee – Rice University',
      'Anthony	Second basic account – Mount Holyoke College',
      'Brok Servis – Wellesley College',
      'Martha Shannon – Sewanee—University of the South',
      'John Sharp – University of Virginia, Wellesley College',
      'Merry Shovel – Pennsylvania State University, University Park',
      'Denise Simmons – Massachusetts Institute of Technology',
      'Tory Simmons – Vanderbilt University',
      'Emile Singleton – University of Rochester',
      'Lucia Singleton – Santa Clara University',
      'Cele Siviter – Virginia Military Institute',
      'Kirstyn Smallcomb – University of California, Los Angeles',
      'Harry Smith – Williams College',
      'Julian	Smith Jones – Columbia University',
      'Linn Sporrij – Pomona College',
      'Darb Stell – University of Pennsylvania',
      'Bernadette Stephenson – Colorado College',
      'Ben Stevens – Barnard College',
      'Jan Stout – University of Texas, Austin',
      'Mark Stringer – Bryn Mawr College',
      'Laurie Stuckford – Wellesley College',
      'Parnell Stump – Colby College',
      'Chris Taylor – University of Florida',
      'Alexis Taylor – DePauw University',
      'Henrietta Teggin – University of California, Santa Barbara',
      'John Test – Villanova University',
      'Michael Thomas – Haverford College',
      'Stacey Thornton – Vanderbilt University',
      'Neil Ticio – Villanova University',
      'Gareth Tindall – University of California, Los Angeles',
      'Koren Tollit – University of Southern California',
      'Martin Tomlinson – Wellesley College',
      'Dwayne Townsend – Georgetown University',
      'Faye Tozer – University of Rochester',
      'Laurel Tripony – George Washington University',
      'Hubert Tyler – Harvey Mudd College',
      'Basic User – Colgate University',
      'Blocked User – Colorado College',
      'Sandy Vaughn – Lehigh University',
      'Sophie Wagner – Colorado College',
      'Freeman Walter – University of Chicago',
      'Kayla Walton – Duke University',
      'Augusta Ware – United States Naval Academy',
      'Ian H Watkins – University of Florida',
      'Francisca West – Kenyon College',
      'Ray Weston – Bowdoin College',
      'Kelcie Wibrew – Southern Methodist University',
      'Elwood Wilkins – Northwestern University',
      'Molly Wilkinson – Haverford College',
      'Gwen Williams – George Washington University',
      'Patel Williams – University of Illinois, Urbana-Champaign',
      'Robin William – Colby College',
      'Brandice Wintersgill – University of Chicago',
      'Robert Wintour – Harvard University',
      'Stuart Wood – Columbia University',
      'Gamaliel Wyburn – Georgetown University',
      'Mano Yanel – Brigham Young University'
    ];
    
    /*initiate the autocomplete function on the "myInput" element, and pass along the inputValues array as possible autocomplete values:*/
    autocomplete(document.getElementById("myInput"), inputValues);
  </script>