   
   <div class="autocomplete">
      <input id="myInput" type="text" name="subject-{{user}}-name" class="govuk-input"  style="width: 600px;">
    </div>
    <!-- <input type="submit" class="govuk-button"> -->
  
  <script language="JavaScript" type="text/javascript" src="/public/javascripts/typeahead.js"></script>

  <script>
    /*An array containing all the country names in the world:*/
    var inputValues = [
      'Dagny Aberkirder – PIL: IF4F3F9F8 – Cornell University',
      'Evvy Addams – PIL: I25763847 – Georgetown University',
      'Imojean Addlestone – PIL: I09691D01 – Case Western Reserve University',
      'Cassondra Aikett – PIL: I790AC1DE – University of Virginia',
      'Juliana Akinyooye – PIL: I72B3CF5A – Tufts University',
      'Megan Alberts – PIL: IECAA2933 – Brigham Young University',
      'Jason Alden – PIL: I7F2F38B6 – Boston University',
      'Maartin Allcock – PIL: I615D7F9E – University of Notre Dame',
      'Ignace Alsford – PIL: I13AF4042 – College of the Holy Cross, Boston University',
      'Maricela Armstrong – PIL: I4B9605DF – Carnegie Mellon University',
      'Napoleon Armstrong – PIL: I22F9D146 – United States Military Academy',
      'Ian Ayers – PIL: IC291B456 – University of Virginia',
      'Wood Bagger – PIL: I0047948D – Centre College',
      'Karina Baird – PIL: I45FBF3CB – Northwestern University',
      'Bruce Banner – PIL: IA8855444 – Massachusetts Institute of Technology',
      'Lillie Barry – PIL: IBD924734 – Kenyon College',
      'Dave Bartram – PIL: I60360045 – United States Naval Academy',
      'Yvette Bates – No PIL – Johns Hopkins University',
      'Nettie Bean – PIL: IBA8F558D – Massachusetts Institute of Technology',
      'Ondrea Beining – PIL: I360FA787 – Northwestern University',
      'Jenica Benardet – PIL: ICA975EBD – Vanderbilt University',
      'Hollis Benjamin – PIL: I73CE0EA3 – Boston College',
      'Porfirio Bernard – PIL: IB47D9501 – Kenyon College',
      'Margie Bernard – PIL: I8ADAF91D – Dartmouth College',
      'Ciaran Bourke – PIL: I5793B7B5 – Columbia University',
      'Sylvia Boyd – No PIL – Kenyon College',
      'Cruz Bradshaw – PIL: I0D463E78 – Amherst College',
      'Bernice Bricket – PIL: I8B55FC4D – University of Virginia',
      'Susie Caldwell – PIL: I2B051CB4 – Tufts University',
      'Dominic Carson – PIL: I57CA83C8 – Villanova University',
      'Roy Cervantes – PIL: I659D5E1E – University of Notre Dame',
      'Mauro Chang – PIL: I66097C20 – Middlebury College',
      'Catherina Checkley – PIL: I306637D0 – Case Western Reserve University',
      'Shari Chen – PIL: I29896884 – University of Texas, Austin',
      'Amii Coffee – PIL: I9813E8B9 – Indiana University, Bloomington',
      'Gerrie Coggins – PIL: I11351139 – University of California, Los Angeles',
      'Kingsley Collins – PIL: I9241FE0C – United States Naval Academy',
      'Consalve Cornfoot – PIL: I1AAA7E94 – Santa Clara University',
      'Ardene covino – PIL: ICB7BFCEF – University of Texas, Austin',
      'Ella Cox – PIL: I43A94D64 – University of Georgia',
      'Phil Cox – PIL: I8DC25373 – Colorado College',
      'Dino Cox – PIL: IDF3ABA79 – Indiana University, Bloomington',
      'Esteban Craft – PIL: I1B9C5367 – Carleton College',
      'Raul Cross – PIL: I7829C915 – Brandeis University',
      'Whitby Deare – PIL: I73812540 – United States Coast Guard Academy',
      'Aspasia Dellaporta – PIL: I3B16DC68 – United States Military Academy',
      'Derek Deschlein – PIL: I57587678 – Massachusetts Institute of Technology, United States Coast Guard Academy',
      'afzal dhada – PIL: I30FF3691 – Franklin and Marshall College',
      'Jenine Dibble – PIL: I7D2593FF – Reed College',
      'Augustus Dickerson – PIL: I63507FDD – Boston University',
      'Judon Dilrew – PIL: I41BC15C0 – Middlebury College',
      'Nicolea Domini – PIL: I325A0818 – Brandeis University',
      'Lonni Dorracott – PIL: I89E24EF4 – University of Florida',
      'Helena Doyle – PIL: ID0C3D270 – Rice University, Brandeis University',
      'Jonah Drewe – PIL: I15A25A3D – Pomona College',
      'Art Duke – PIL: I74255999 – Mount Holyoke College',
      'Rosanna Fairthorne – PIL: I9B38BD99 – Hamilton College',
      'Terence Ferrell – PIL: I07958684 – Smith College',
      'Flemming Fishe – PIL: IF6C88DB1 – United States Air Force Academy',
      'Glen Fisher – PIL: I1E131E59 – University of Southern California',
      'Katina Fitzgerald – PIL: IFF79C127 – Davidson College',
      'Numbers Floyd – PIL: I91486246 – Cooper Union',
      'Chris foo – PIL: I391EFB6E – United States Military Academy',
      'Barton Franks – PIL: I062BCD5B – Wellesley College',
      'Werner Fruchtbar – PIL: I6E08CF56 – Bryn Mawr College',
      'Ginger Fruitbat – PIL: IF6F8FC9E – Columbia University',
      'Filippo Gillian – PIL: I8515297D – University of Notre Dame',
      'Reagen Gimert – PIL: I09A41F2B – Georgetown University',
      'Kristina Glass – PIL: I4A0FA4B8 – University of Illinois, Urbana-Champaign',
      'Willard Glew – PIL: I10239782 – Massachusetts Institute of Technology',
      'Samara Goulthorp – PIL: IC1F93317 – Franklin and Marshall College',
      'Gabie Graben – PIL: IFDE40D9E – Pomona College',
      'Patrizio Grigs – PIL: I41028554 – Carnegie Mellon University',
      'Patricia Gutierrez – PIL: IE5C6FBBF – University of Southern California',
      'Phillip Guzman – PIL: IF0239BB7 – United States Coast Guard Academy, Carnegie Mellon University',
      'Pace Gytesham – PIL: I3C4B16A2 – Bowdoin College',
      'Ray Hadfield – PIL: ID02CEDE6 – Pomona College',
      'Maire Hanson – PIL: I55D3F28F – Bryn Mawr College',
      'Joelly Harbar – PIL: IB8B2D924 – University of North Carolina, Chapel Hill',
      'Kelvin Harrington – PIL: I174E1954 – University of Maryland, College Park',
      'Aaron Harris – PIL: IFC51F411 – Pennsylvania State University, University Park',
      'Kenya Harris – PIL: I6E007C3A – University of California, Davis',
      'Delmer Harrison – PIL: I85437773 – Wesleyan University',
      'Anthony Harvey – PIL: IB822ED73 – University of Wisconsin, Madison',
      'Lucille Haynes – PIL: I854848B7 – Santa Clara University',
      'Andromache Hessentaler – PIL: IE8F28599 – United States Military Academy',
      'Charisse Higgen – PIL: I787668C5 – Franklin and Marshall College, Santa Clara University',
      'Reinaldo Hodges – PIL: I7C936025 – Washington University in Saint Louis',
      'Anthony HOLC – PIL: I8977DA01 – Boston College',
      'Arturo Hooper – PIL: I72FC28F6 – Harvard University',
      'Callie Houston – PIL: I67131936 – Carnegie Mellon University',
      'Alexis Hudson – PIL: I50C8E15E – Pennsylvania State University, University Park',
      'Nadia Huq – PIL: IED554075 – United States Naval Academy',
      'Benito Hurst – PIL: IC44C79FB – United States Naval Academy',
      'Vicki	Hyde Parks – PIL: I128CFC69 – Massachusetts Institute of Technology',
      'Anthony Ioannidis – PIL: I087F630E – University of Florida, United States Naval Academy',
      'Klaudia Irvine – PIL: I401583F1 – Georgia Institute of Technology',
      'Isabelle Jackson – PIL: IF2CB4A6A – University of California, Santa Barbara',
      'Megha Jain – PIL: I616BD4D7 – Trinity College',
      'Reva Jenkins – PIL: I0ED3A33A – University of Texas, Austin',
      'Jolty Jenticks – PIL: IB60531C5 – University of Washington',
      'Lauren Jones – PIL: I88DE5172 – Scripps College',
      'Gerry Joseland – PIL: I5A3D46CA – California Institute of Technology',
      'Barbee Jowett – PIL: I0CFEBC58 – Northwestern University',
      'Luisa Joyce – PIL: I2F2EB134 – Hamilton College',
      'Darius Kerr – PIL: I74007429 – Wake Forest University',
      'Dean Kerrigan – PIL: I722586CF – Franklin and Marshall College',
      'Robert Keyes – PIL: I2D88F329 – Cornell University',
      'Davida Kibbee – PIL: I28763FBF – George Washington University',
      'Harrison Koch – PIL: I35EA7477 – Whitman College',
      'Sena Kornousek – PIL: I04AEE4D4 – United States Air Force Academy',
      'Stafford Kunz – PIL: I8AC58BC5 – Mount Holyoke College',
      'Colleen Labrador – PIL: I00D4B41F – Sewanee—University of the South',
      'Madeleine Lamb – PIL: ID9C89BDB – Harvey Mudd College',
      'Lee	Latchford Evans – PIL: ID736A427 – New York University',
      'Dave Leason – PIL: I11289020 – Centre College',
      'Selestina Legrice – PIL: I870EB0C5 – University of Illinois, Urbana-Champaign',
      'Henrietta Lindsey – PIL: I10890407 – Boston College, Centre College',
      'Dean Loach – PIL: IAF982918 – University of Michigan, Ann Arbor',
      'Billy Lyal – PIL: I16853519 – Pennsylvania State University, University Park',
      'Tyson MacArd – PIL: ID809B416 – Cooper Union',
      'Andria MacCurlye – PIL: IC7F55660 – Colgate University',
      'Eric Manclark – PIL: IFDBC35DA – Swarthmore College',
      'Daniel Martin – PIL: ID9EC694F – Georgia Institute of Technology',
      'Stanley Maxwell – PIL: IF675332D – University of Pennsylvania',
      'Isis May – PIL: I46557169 – Stanford University',
      'Nellie Mayo – PIL: I6A329304 – Reed College, University of Pennsylvania',
      'Garrett Mays – PIL: I0823805E – University of California, Davis',
      'Gillie McAuliffe – PIL: I209B36A6 – Wake Forest University',
      'James McCord – PIL: I813A0356 – Middlebury College',
      'Mike McGear – PIL: I372EB3EA – DePauw University',
      'Jane McGregor – PIL: I86478250 – Macalester College',
      'Jamie McGrory – PIL: IFD90137B – Santa Clara University',
      'Elton Mclean – PIL: I8482D970 – United States Military Academy',
      'Kata Meneghelli – PIL: I8A4077A9 – Wesleyan University',
      'Ignaz Middell – PIL: I06155791 – Vanderbilt University',
      'Aloise Morrish – PIL: I105E24B6 – Bryn Mawr College',
      'Deandre Morrow – PIL: I29705129 – College of the Holy Cross',
      'Erich Mowlam – PIL: IDAA2DEFA – Wellesley College',
      'Celina Mueller – PIL: I55201532 – Trinity College',
      'Thomas Murphy – PIL: I95243889 – Oberlin College',
      'Aisha Nichols – PIL: IEE9AB8B4 – Haverford College',
      'Carol Nielsen – PIL: I1F3BE058 – Brown University',
      'Ivy Norris – PIL: I6F511B80 – Bryn Mawr College',
      'Woodrow Oconnor – PIL: I13045365 – Wheaton College',
      'Harry OHuman – PIL: I15DD9A9C – University of Southern California',
      'Read Only – PIL: I75667E26 – Harvey Mudd College',
      'Helen	O Nowlan – PIL: I40193CAB – University of North Carolina, Chapel Hill',
      'Nadine Ortega – PIL: I338B3E72 – College of William and Mary',
      'Imogene Osborne – PIL: I46557875 – University of Virginia',
      'Westbrook Otson – PIL: I115051C9 – Lehigh University',
      'Martina Padilla – PIL: IAD2718C6 – University of Richmond',
      'Seth Parks – PIL: I68314A87 – Barnard College',
      'Roberto Patron – PIL: I29549D66 – Massachusetts Institute of Technology, University of Richmond',
      'Benjamin Patton – PIL: IEBFAB060 – Pennsylvania State University, University Park',
      'Mixed Permissions – PIL: I686D23B9 – Haverford College',
      'Fabian Petegre – PIL: IF1EF8A01 – Virginia Military Institute',
      'Nathan Peters – PIL: IC25D36D2 – College of the Holy Cross',
      'Lowell Peters – PIL: IC150EA97 – Swarthmore College',
      'Arv Petrillo – PIL: I33702326 – University of Wisconsin, Madison',
      'Richard Pilchard – PIL: I6F5E0EF9 – Lafayette College, Swarthmore College',
      'Alphard Polamontayne – PIL: I024CE8F2 – United States Military Academy',
      'Erroll Polleye – PIL: IA3069883 – Pepperdine University',
      'Beatriz Porter – PIL: IB6586D43 – Middlebury College',
      'Auto Project – PIL: I66237069 – George Washington University',
      'Brian Proudfoot – PIL: IAF2AB2C0 – Pomona College',
      'Honey Raggatt – PIL: I941729FE – Franklin and Marshall College',
      'Sydney Randall – PIL: I7058C0E9 – University of California, Santa Barbara',
      'Marcelino Randall – PIL: I2E18E115 – University of California, Los Angeles',
      'Andrew Rasmussen – No PIL – Vassar College',
      'Lana Reese – PIL: ID0C6086A – Southern Methodist University',
      'Law Rennox – PIL: I24B52308 – Indiana University, Bloomington',
      'Fayth Reyna – PIL: I04634CC9 – Colgate University',
      'Yul Riach – PIL: I2ED6F27D – University of Maryland, College Park',
      'Helena Rich – PIL: I26376D06 – Dartmouth College',
      'Claire Richards – PIL: ID017B702 – Carleton College',
      'Carmen Riddle – PIL: I6FC7ABCB – Barnard College',
      'Webb Rieger – PIL: I05B630B7 – Whitman College',
      'Burgess Risborough – PIL: IABD9A147 – Tufts University',
      'Smokey Robinson – PIL: IAD44623D – University of Maryland, College Park',
      'Ethan Rocha – PIL: I385C1BA2 – Franklin and Marshall College',
      'Ami Rogger – PIL: IFC7EC638 – Carnegie Mellon University',
      'Kurtis Savage – PIL: IB48F303F – University of Michigan, Ann Arbor',
      'Mad Scientist – PIL: ID4BE19B5 – California Institute of Technology',
      'Lisa	Scott Lee – PIL: I5CEA451A – Rice University',
      'Anthony	Second basic account – PIL: I36B975FC – Mount Holyoke College',
      'Brok Servis – PIL: ICE633637 – Wellesley College',
      'Martha Shannon – PIL: IE17EB33A – Sewanee—University of the South',
      'John Sharp – PIL: I19970972 – University of Virginia, Wellesley College',
      'Merry Shovel – PIL: IF10F7BAD – Pennsylvania State University, University Park',
      'Denise Simmons – PIL: I39DF573F – Massachusetts Institute of Technology',
      'Tory Simmons – PIL: I81051093 – Vanderbilt University',
      'Emile Singleton – PIL: I78895359 – University of Rochester',
      'Lucia Singleton – PIL: I29CE2A11 – Santa Clara University',
      'Cele Siviter – PIL: I781D3A8A – Virginia Military Institute',
      'Kirstyn Smallcomb – PIL: I22073552 – University of California, Los Angeles',
      'Harry Smith – PIL: IF66CF454 – Williams College',
      'Julian	Smith Jones – PIL: I760B56D8 – Columbia University',
      'Linn Sporrij – PIL: I825F234B – Pomona College',
      'Darb Stell – PIL: I97D8C1D4 – University of Pennsylvania',
      'Bernadette Stephenson – PIL: I0A50FC3A – Colorado College',
      'Ben Stevens – PIL: IC9603100 – Barnard College',
      'Jan Stout – PIL: ICA367DEB – University of Texas, Austin',
      'Mark Stringer – PIL: I423B562F – Bryn Mawr College',
      'Laurie Stuckford – PIL: I70398812 – Wellesley College',
      'Parnell Stump – PIL: IDAB65D57 – Colby College',
      'Chris Taylor – PIL: I5A116187 – University of Florida',
      'Alexis Taylor – PIL: I7BF655F3 – DePauw University',
      'Henrietta Teggin – PIL: I17270352 – University of California, Santa Barbara',
      'John Test – PIL: I62EA534D – Villanova University',
      'Michael Thomas – PIL: I35910672 – Haverford College',
      'Stacey Thornton – PIL: IB0753C3F – Vanderbilt University',
      'Neil Ticio – PIL: I9C9FCA18 – Villanova University',
      'Gareth Tindall – No PIL – University of California, Los Angeles',
      'Koren Tollit – PIL: I18FEBE50 – University of Southern California',
      'Martin Tomlinson – PIL: I1005E73E – Wellesley College',
      'Dwayne Townsend – PIL: ICD50F0E1 – Georgetown University',
      'Faye Tozer – No PIL – University of Rochester',
      'Laurel Tripony – PIL: I8C8AD9D8 – George Washington University',
      'Hubert Tyler – PIL: ID270E267 – Harvey Mudd College',
      'Basic User – PIL: IC0EF377F – Colgate University',
      'Blocked User – PIL: I96E294C0 – Colorado College',
      'Sandy Vaughn – PIL: I2FD1428A – Lehigh University',
      'Sophie Wagner – PIL: I61430837 – Colorado College',
      'Freeman Walter – PIL: ID5882F62 – University of Chicago',
      'Kayla Walton – PIL: I42986931 – Duke University',
      'Augusta Ware – PIL: I40BF893F – United States Naval Academy',
      'Ian H Watkins – PIL: I3E7A1C93 – University of Florida',
      'Francisca West – PIL: I070D7317 – Kenyon College',
      'Ray Weston – PIL: IB6B1AA13 – Bowdoin College',
      'Kelcie Wibrew – PIL: IF6EB74FF – Southern Methodist University',
      'Elwood Wilkins – PIL: I355D260D – Northwestern University',
      'Molly Wilkinson – PIL: I838BE95F – Haverford College',
      'Gwen Williams – PIL: I8CA1DD0E – George Washington University',
      'Patel Williams – PIL: I38262055 – University of Illinois, Urbana-Champaign',
      'Robin William – PIL: I5242B821 – Colby College',
      'Brandice Wintersgill – PIL: IFCD1909A – University of Chicago',
      'Robert Wintour – PIL: I44EF1985 – Harvard University',
      'Stuart Wood – PIL: I640BA098 – Columbia University',
      'Gamaliel Wyburn – PIL: IB4D71CE0 – Georgetown University',
      'Mano Yanel – PIL: I5242B821 – Brigham Young University'
    ];
    
    /*initiate the autocomplete function on the "myInput" element, and pass along the inputValues array as possible autocomplete values:*/
    autocomplete(document.getElementById("myInput"), inputValues);
  </script>