   
   <div class="autocomplete">
      <input id="myInput" type="text" name="subject-3-name" class="govuk-input"  style="width: 600px;">
    </div>
    <!-- <input type="submit" class="govuk-button"> -->
  
  <script language="JavaScript" type="text/javascript" src="/public/javascripts/typeahead.js"></script>

  <script>
    /*An array containing all the country names in the world:*/
    var inputValues = [
      'Dagny Aberkirder – PILH',
      'Evvy Addams – PILH',
      'Imojean Addlestone – PILH',
      'Cassondra Aikett – PILH, PPLH',
      'Juliana Akinyooye – PILH',
      'Megan Alberts – PILH',
      'Jason Alden – NACWO',
      'Maartin Allcock – PILH',
      'Ignace Alsford – PILH',
      'Maricela Armstrong – PILH',
      'Napoleon Armstrong – PILH, PPLH',
      'Ian Ayers – PILH',
      'Wood Bagger – PILH, PPLH',
      'Karina Baird – PILH',
      'Bruce Banner – PILH',
      'Lillie Barry – PILH',
      'Dave Bartram – PILH',
      'Yvette Bates – PILH',
      'Nettie Bean – ',
      'Ondrea Beining – PILH',
      'Jenica Benardet – PILH, PPLH',
      'Hollis Benjamin – PILH',
      'Porfirio Bernard – PILH',
      'Margie Bernard – PILH',
      'Ciaran Bourke – PILH, PPLH',
      'Sylvia Boyd – PILH',
      'Cruz Bradshaw – PELH	',
      'Bernice Bricket – PILH',
      'Susie Caldwell – PILH',
      'Dominic Carson – PILH',
      'Roy Cervantes – PILH',
      'Mauro Chang – PILH',
      'Catherina Checkley – PILH',
      'Shari Chen – PILH',
      'Amii Coffee – PILH',
      'Gerrie Coggins – PILH',
      'Kingsley Collins – PILH, PPLH',
      'Consalve Cornfoot – PILH',
      'Ardene covino – PILH',
      'Ella Cox – PILH',
      'Phil Cox – PILH',
      'Dino Cox – PILH',
      'Esteban Craft – PILH, PPLH',
      'Raul Cross – PILH',
      'Whitby Deare – PILH',
      'Aspasia Dellaporta – PILH',
      'Derek Deschlein – PILH',
      'afzal dhada – PILH',
      'Jenine Dibble – PILH',
      'Augustus Dickerson – PILH',
      'Judon Dilrew – PILH',
      'Nicolea Domini – PILH',
      'Lonni Dorracott – PILH',
      'Helena Doyle – PILH',
      'Jonah Drewe – PILH',
      'Art Duke – PILH',
      'Rosanna Fairthorne – PILH',
      'Terence Ferrell – PILH, PPLH',
      'Flemming Fishe – PILH',
      'Glen Fisher – PILH',
      'Katina Fitzgerald – PILH',
      'Numbers Floyd – PILH',
      'Chris foo – PILH',
      'Barton Franks – PILH',
      'Werner Fruchtbar – PILH',
      'Ginger Fruitbat – PILH',
      'Filippo Gillian – PILH, PPLH',
      'Reagen Gimert – PILH, PPLH',
      'Kristina Glass – PILH',
      'Willard Glew – PILH',
      'Samara Goulthorp – PILH',
      'Gabie Graben – PILH',
      'Patrizio Grigs – PILH',
      'Patricia Gutierrez – PILH',
      'Phillip Guzman – PILH',
      'Pace Gytesham – PILH',
      'Ray Hadfield – PILH',
      'Maire Hanson – PILH',
      'Joelly Harbar – PILH',
      'Kelvin Harrington – NACWO, PILH',
      'Aaron Harris – PILH',
      'Kenya Harris – PILH',
      'Delmer Harrison – PILH, PPLH',
      'Anthony Harvey – PILH',
      'Lucille Haynes – PILH',
      'Andromache Hessentaler – PILH',
      'Charisse Higgen – PILH',
      'Reinaldo Hodges – PILH',
      'Anthony HOLC – PILH, PPLH',
      'Arturo Hooper – PILH',
      'Callie Houston – PILH',
      'Alexis Hudson – PILH',
      'Nadia Huq – PILH',
      'Benito Hurst – PILH',
      'Vicki	Hyde Parks – PILH',
      'Anthony Ioannidis – PILH',
      'Klaudia Irvine – PILH',
      'Isabelle Jackson – PILH',
      'Megha Jain – PILH',
      'Reva Jenkins – PILH',
      'Jolty Jenticks – PILH',
      'Lauren Jones – PILH',
      'Gerry Joseland – PILH',
      'Barbee Jowett – PILH',
      'Luisa Joyce – PILH',
      'Darius Kerr – PILH',
      'Dean Kerrigan – PILH',
      'Robert Keyes – PILH',
      'Davida Kibbee – PILH',
      'Harrison Koch – PILH',
      'Sena Kornousek – PILH',
      'Stafford Kunz – PILH, PPLH',
      'Colleen Labrador – PILH',
      'Madeleine Lamb – PILH',
      'Lee	Latchford Evans – PILH',
      'Dave Leason – PILH',
      'Selestina Legrice – PILH',
      'Henrietta Lindsey – PILH',
      'Dean Loach – PILH',
      'Billy Lyal – PILH',
      'Tyson MacArd – PILH',
      'Andria MacCurlye – PILH',
      'Eric Manclark – PILH',
      'Daniel Martin – PILH, PPLH',
      'Stanley Maxwell – PILH',
      'Isis May – PILH',
      'Nellie Mayo – PILH',
      'Garrett Mays – PILH, PPLH',
      'Gillie McAuliffe – PILH',
      'James McCord – PILH',
      'Mike McGear – PILH',
      'Jane McGregor – PILH, PPLH',
      'Jamie McGrory – PILH',
      'Elton Mclean – PILH',
      'Kata Meneghelli – PILH',
      'Ignaz Middell – PILH',
      'Aloise Morrish – PILH',
      'Deandre Morrow – PILH',
      'Erich Mowlam – PILH',
      'Celina Mueller – PILH',
      'Thomas Murphy – PILH',
      'Aisha Nichols – PILH',
      'Carol Nielsen – PILH, PPLH',
      'Ivy Norris – PILH',
      'Woodrow Oconnor – PILH',
      'Harry OHuman – PILH',
      'Read Only – PILH',
      'Helen	O Nowlan – PILH',
      'Nadine Ortega – PILH',
      'Imogene Osborne – PILH',
      'Westbrook Otson – PILH',
      'Martina Padilla – PILH',
      'Seth Parks – PILH',
      'Roberto Patron – PILH',
      'Benjamin Patton – PILH',
      'Mixed Permissions – PILH',
      'Fabian Petegre – PILH',
      'Nathan Peters – PILH',
      'Lowell Peters – PILH',
      'Arv Petrillo – PILH',
      'Richard Pilchard – PILH',
      'Alphard Polamontayne – PILH',
      'Erroll Polleye – PILH',
      'Beatriz Porter – PILH, PPLH',
      'Auto Project – PILH',
      'Brian Proudfoot – PILH',
      'Honey Raggatt – PILH',
      'Sydney Randall – PILH',
      'Marcelino Randall – PILH',
      'Andrew Rasmussen – PILH',
      'Lana Reese – ',
      'Law Rennox – PILH',
      'Fayth Reyna – PILH',
      'Yul Riach – PILH',
      'Helena Rich – PILH',
      'Claire Richards – PILH',
      'Carmen Riddle – PILH',
      'Webb Rieger – PILH',
      'Burgess Risborough – PILH',
      'Smokey Robinson – PILH',
      'Ethan Rocha – PILH',
      'Ami Rogger – PILH',
      'Kurtis Savage – PILH',
      'Mad Scientist – PILH',
      'Lisa	Scott Lee – PILH',
      'Anthony Account – PILH',
      'Brok Servis – PILH',
      'Martha Shannon – PILH',
      'John Sharp – PILH',
      'Merry Shovel – PILH',
      'Denise Simmons – PILH',
      'Tory Simmons – PILH',
      'Emile Singleton – PILH',
      'Lucia Singleton – PILH',
      'Cele Siviter – PILH',
      'Kirstyn Smallcomb – PILH',
      'Harry Smith – PILH',
      'Julian	Smith Jones – PILH',
      'Linn Sporrij – PILH',
      'Darb Stell – PILH',
      'Bernadette Stephenson – PILH',
      'Ben Stevens – PILH',
      'Jan Stout – PILH',
      'Mark Stringer – PILH',
      'Laurie Stuckford – PILH',
      'Parnell Stump – PILH',
      'Chris Taylor – PILH',
      'Alexis Taylor – PILH',
      'Henrietta Teggin – PILH',
      'John Test – PILH',
      'Michael Thomas – PILH',
      'Stacey Thornton – PILH',
      'Neil Ticio – PILH',
      'Gareth Tindall – PILH',
      'Koren Tollit – NVS	',
      'Martin Tomlinson – PILH',
      'Dwayne Townsend – PILH',
      'Faye Tozer – PILH',
      'Laurel Tripony – NVS	',
      'Hubert Tyler – PILH, NTCO ',
      'Basic User – PILH',
      'Blocked User – PILH',
      'Sandy Vaughn – PILH',
      'Sophie Wagner – PILH',
      'Freeman Walter – PILH',
      'Kayla Walton – PILH',
      'Augusta Ware – PILH',
      'Ian H Watkins – PILH',
      'Francisca West – PILH',
      'Ray Weston – PILH',
      'Kelcie Wibrew – PILH',
      'Elwood Wilkins – PILH',
      'Molly Wilkinson – PILH',
      'Gwen Williams – PILH',
      'Patel Williams – PILH',
      'Robin William – PILH',
      'Brandice Wintersgill – PILH',
      'Robert Wintour – PILH',
      'Stuart Wood – PILH',
      'Gamaliel Wyburn – PILH',
      'Mano Yanele'
    ];
    
    /*initiate the autocomplete function on the "myInput" element, and pass along the inputValues array as possible autocomplete values:*/
    autocomplete(document.getElementById("myInput"), inputValues);
  </script>