   
   <div class="autocomplete">
    <input id="myInput" type="text" name="subject-{{user}}-name" class="govuk-input"  style="width: 600px;">
  </div>
  <!-- <input type="submit" class="govuk-button"> -->

<script language="JavaScript" type="text/javascript" src="/public/javascripts/typeahead.js"></script>

<script>
  /*An array containing all the country names in the world:*/
  var inputValues = [
    'Dagny Aberkirder – PILH – Cornell University',
    'Evvy Addams – PILH – Georgetown University',
    'Imojean Addlestone – PILH – Case Western Reserve University',
    'Cassondra Aikett – PILH, PPLH – University of Virginia',
    'Juliana Akinyooye – PILH – Tufts University',
    'Megan Alberts – PILH – Brigham Young University',
    'Jason Alden – PILH – Boston University',
    'Maartin Allcock – PILH – University of Notre Dame',
    'Ignace Alsford – PILH – College of the Holy Cross, Boston University',
    'Maricela Armstrong – PILH – Carnegie Mellon University',
    'Napoleon Armstrong – PILH, PPLH – United States Military Academy',
    'Ian Ayers – PILH – University of Virginia',
    'Wood Bagger – PILH, PPLH – Centre College',
    'Karina Baird – PILH – Northwestern University',
    'Bruce Banner – PILH – Massachusetts Institute of Technology',
    'Lillie Barry – PILH – Kenyon College',
    'Dave Bartram – PILH – United States Naval Academy',
    'Yvette Bates – PILH – Johns Hopkins University',
    'Nettie Bean – No roles – Massachusetts Institute of Technology',
    'Ondrea Beining – PILH – Northwestern University',
    'Jenica Benardet – PILH, PPLH – Vanderbilt University',
    'Hollis Benjamin – PILH – Boston College',
    'Porfirio Bernard – PILH – Kenyon College',
    'Margie Bernard – PILH – Dartmouth College',
    'Ciaran Bourke – PILH, PPLH – Columbia University',
    'Sylvia Boyd – PILH – Kenyon College',
    'Cruz Bradshaw – PELH	 – Amherst College',
    'Bernice Bricket – PILH – University of Virginia',
    'Susie Caldwell – PILH – Tufts University',
    'Dominic Carson – PILH – Villanova University',
    'Roy Cervantes – PILH – University of Notre Dame',
    'Mauro Chang – PILH – Middlebury College',
    'Catherina Checkley – PILH – Case Western Reserve University',
    'Shari Chen – PILH – University of Texas, Austin',
    'Amii Coffee – PILH – Indiana University, Bloomington',
    'Gerrie Coggins – PILH – University of California, Los Angeles',
    'Kingsley Collins – PILH, PPLH – United States Naval Academy',
    'Consalve Cornfoot – PILH – Santa Clara University',
    'Ardene covino – PILH – University of Texas, Austin',
    'Ella Cox – PILH – University of Georgia',
    'Phil Cox – PILH – Colorado College',
    'Dino Cox – PILH – Indiana University, Bloomington',
    'Esteban Craft – PILH, PPLH – Carleton College',
    'Raul Cross – PILH – Brandeis University',
    'Whitby Deare – PILH – United States Coast Guard Academy',
    'Aspasia Dellaporta – PILH – United States Military Academy',
    'Derek Deschlein – PILH – Massachusetts Institute of Technology, United States Coast Guard Academy',
    'afzal dhada – PILH – Franklin and Marshall College',
    'Jenine Dibble – PILH – Reed College',
    'Augustus Dickerson – PILH – Boston University',
    'Judon Dilrew – PILH – Middlebury College',
    'Nicolea Domini – PILH – Brandeis University',
    'Lonni Dorracott – PILH – University of Florida',
    'Helena Doyle – PILH – Rice University, Brandeis University',
    'Jonah Drewe – PILH – Pomona College',
    'Art Duke – PILH – Mount Holyoke College',
    'Rosanna Fairthorne – PILH – Hamilton College',
    'Terence Ferrell – PILH, PPLH – Smith College',
    'Flemming Fishe – PILH – United States Air Force Academy',
    'Glen Fisher – PILH – University of Southern California',
    'Katina Fitzgerald – PILH – Davidson College',
    'Numbers Floyd – PILH – Cooper Union',
    'Chris foo – PILH – United States Military Academy',
    'Barton Franks – PILH – Wellesley College',
    'Werner Fruchtbar – PILH – Bryn Mawr College',
    'Ginger Fruitbat – PILH – Columbia University',
    'Filippo Gillian – PILH, PPLH – University of Notre Dame',
    'Reagen Gimert – PILH, PPLH – Georgetown University',
    'Kristina Glass – PILH – University of Illinois, Urbana-Champaign',
    'Willard Glew – PILH – Massachusetts Institute of Technology',
    'Samara Goulthorp – PILH – Franklin and Marshall College',
    'Gabie Graben – PILH – Pomona College',
    'Patrizio Grigs – PILH – Carnegie Mellon University',
    'Patricia Gutierrez – PILH – University of Southern California',
    'Phillip Guzman – PILH – United States Coast Guard Academy, Carnegie Mellon University',
    'Pace Gytesham – PILH – Bowdoin College',
    'Ray Hadfield – PILH – Pomona College',
    'Maire Hanson – PILH – Bryn Mawr College',
    'Joelly Harbar – PILH – University of North Carolina, Chapel Hill',
    'Kelvin Harrington – NACWO, PILH – University of Maryland, College Park',
    'Aaron Harris – PILH – Pennsylvania State University, University Park',
    'Kenya Harris – PILH – University of California, Davis',
    'Delmer Harrison – PILH, PPLH – Wesleyan University',
    'Anthony Harvey – PILH – University of Wisconsin, Madison',
    'Lucille Haynes – PILH – Santa Clara University',
    'Andromache Hessentaler – PILH – United States Military Academy',
    'Charisse Higgen – PILH – Franklin and Marshall College, Santa Clara University',
    'Reinaldo Hodges – PILH – Washington University in Saint Louis',
    'Anthony HOLC – PILH, PPLH – Boston College',
    'Arturo Hooper – PILH – Harvard University',
    'Callie Houston – PILH – Carnegie Mellon University',
    'Alexis Hudson – PILH – Pennsylvania State University, University Park',
    'Nadia Huq – PILH – United States Naval Academy',
    'Benito Hurst – PILH – United States Naval Academy',
    'Vicki	Hyde Parks – PILH – Massachusetts Institute of Technology',
    'Anthony Ioannidis – PILH – University of Florida, United States Naval Academy',
    'Klaudia Irvine – PILH – Georgia Institute of Technology',
    'Isabelle Jackson – PILH – University of California, Santa Barbara',
    'Megha Jain – PILH – Trinity College',
    'Reva Jenkins – PILH – University of Texas, Austin',
    'Jolty Jenticks – PILH – University of Washington',
    'Lauren Jones – PILH – Scripps College',
    'Gerry Joseland – PILH – California Institute of Technology',
    'Barbee Jowett – PILH – Northwestern University',
    'Luisa Joyce – PILH – Hamilton College',
    'Darius Kerr – PILH – Wake Forest University',
    'Dean Kerrigan – PILH – Franklin and Marshall College',
    'Robert Keyes – PILH – Cornell University',
    'Davida Kibbee – PILH – George Washington University',
    'Harrison Koch – PILH – Whitman College',
    'Sena Kornousek – PILH – United States Air Force Academy',
    'Stafford Kunz – PILH, PPLH – Mount Holyoke College',
    'Colleen Labrador – PILH – Sewanee—University of the South',
    'Madeleine Lamb – PILH – Harvey Mudd College',
    'Lee	Latchford Evans – PILH – New York University',
    'Dave Leason – PILH – Centre College',
    'Selestina Legrice – PILH – University of Illinois, Urbana-Champaign',
    'Henrietta Lindsey – PILH – Boston College, Centre College',
    'Dean Loach – PILH – University of Michigan, Ann Arbor',
    'Billy Lyal – PILH – Pennsylvania State University, University Park',
    'Tyson MacArd – PILH – Cooper Union',
    'Andria MacCurlye – PILH – Colgate University',
    'Eric Manclark – PILH – Swarthmore College',
    'Daniel Martin – PILH, PPLH – Georgia Institute of Technology',
    'Stanley Maxwell – PILH – University of Pennsylvania',
    'Isis May – PILH – Stanford University',
    'Nellie Mayo – PILH – Reed College, University of Pennsylvania',
    'Garrett Mays – PILH, PPLH – University of California, Davis',
    'Gillie McAuliffe – PILH – Wake Forest University',
    'James McCord – PILH – Middlebury College',
    'Mike McGear – PILH – DePauw University',
    'Jane McGregor – PILH – Macalester College',
    'Jamie McGrory – PILH – Santa Clara University',
    'Elton Mclean – PILH – United States Military Academy',
    'Kata Meneghelli – PILH – Wesleyan University',
    'Ignaz Middell – PILH – Vanderbilt University',
    'Aloise Morrish – PILH – Bryn Mawr College',
    'Deandre Morrow – PILH – College of the Holy Cross',
    'Erich Mowlam – PILH – Wellesley College',
    'Celina Mueller – PILH – Trinity College',
    'Thomas Murphy – PILH – Oberlin College',
    'Aisha Nichols – PILH – Haverford College',
    'Carol Nielsen – PILH, PPLH – Brown University',
    'Ivy Norris – PILH – Bryn Mawr College',
    'Woodrow Oconnor – PILH – Wheaton College',
    'Harry OHuman – PILH – University of Southern California',
    'Read Only – PILH – Harvey Mudd College',
    'Helen	O Nowlan – PILH – University of North Carolina, Chapel Hill',
    'Nadine Ortega – PILH – College of William and Mary',
    'Imogene Osborne – PILH – University of Virginia',
    'Westbrook Otson – PILH – Lehigh University',
    'Martina Padilla – PILH – University of Richmond',
    'Seth Parks – PILH – Barnard College',
    'Roberto Patron – PILH – Massachusetts Institute of Technology, University of Richmond',
    'Benjamin Patton – PILH – Pennsylvania State University, University Park',
    'Mixed Permissions – PILH – Haverford College',
    'Fabian Petegre – PILH – Virginia Military Institute',
    'Nathan Peters – PILH – College of the Holy Cross',
    'Lowell Peters – PILH – Swarthmore College',
    'Arv Petrillo – PILH – University of Wisconsin, Madison',
    'Richard Pilchard – PILH – Lafayette College, Swarthmore College',
    'Alphard Polamontayne – PILH – United States Military Academy',
    'Erroll Polleye – PILH – Pepperdine University',
    'Beatriz Porter – PILH, PPLH – Middlebury College',
    'Auto Project – PILH – George Washington University',
    'Brian Proudfoot – PILH – Pomona College',
    'Honey Raggatt – PILH – Franklin and Marshall College',
    'Sydney Randall – PILH – University of California, Santa Barbara',
    'Marcelino Randall – PILH – University of California, Los Angeles',
    'Andrew Rasmussen – PILH – Vassar College',
    'Lana Reese – No roles – Southern Methodist University',
    'Law Rennox – PILH – Indiana University, Bloomington',
    'Fayth Reyna – PILH – Colgate University',
    'Yul Riach – PILH – University of Maryland, College Park',
    'Helena Rich – PILH – Dartmouth College',
    'Claire Richards – PILH – Carleton College',
    'Carmen Riddle – PILH – Barnard College',
    'Webb Rieger – PILH – Whitman College',
    'Burgess Risborough – PILH – Tufts University',
    'Smokey Robinson – PILH – University of Maryland, College Park',
    'Ethan Rocha – PILH – Franklin and Marshall College',
    'Ami Rogger – PILH – Carnegie Mellon University',
    'Kurtis Savage – PILH – University of Michigan, Ann Arbor',
    'Mad Scientist – PILH – California Institute of Technology',
    'Lisa	Scott Lee – PILH – Rice University',
    'Anthony	Second basic account – PILH – Mount Holyoke College',
    'Brok Servis – PILH – Wellesley College',
    'Martha Shannon – PILH – Sewanee—University of the South',
    'John Sharp – PILH – University of Virginia, Wellesley College',
    'Merry Shovel – PILH – Pennsylvania State University, University Park',
    'Denise Simmons – PILH – Massachusetts Institute of Technology',
    'Tory Simmons – PILH – Vanderbilt University',
    'Emile Singleton – PILH – University of Rochester',
    'Lucia Singleton – PILH – Santa Clara University',
    'Cele Siviter – PILH – Virginia Military Institute',
    'Kirstyn Smallcomb – PILH – University of California, Los Angeles',
    'Harry Smith – PILH – Williams College',
    'Julian	Smith Jones – PILH – Columbia University',
    'Linn Sporrij – PILH – Pomona College',
    'Darb Stell – PILH – University of Pennsylvania',
    'Bernadette Stephenson – PILH – Colorado College',
    'Ben Stevens – PILH – Barnard College',
    'Jan Stout – PILH – University of Texas, Austin',
    'Mark Stringer – PILH – Bryn Mawr College',
    'Laurie Stuckford – PILH – Wellesley College',
    'Parnell Stump – PILH – Colby College',
    'Chris Taylor – PILH – University of Florida',
    'Alexis Taylor – PILH – DePauw University',
    'Henrietta Teggin – PILH – University of California, Santa Barbara',
    'John Test – PILH – Villanova University',
    'Michael Thomas – PILH – Haverford College',
    'Stacey Thornton – PILH – Vanderbilt University',
    'Neil Ticio – PILH – Villanova University',
    'Gareth Tindall – PILH – University of California, Los Angeles',
    'Koren Tollit – NVS	 – University of Southern California',
    'Martin Tomlinson – PILH – Wellesley College',
    'Dwayne Townsend – PILH – Georgetown University',
    'Faye Tozer – PILH – University of Rochester',
    'Laurel Tripony – NVS	 – George Washington University',
    'Hubert Tyler – PILH, NTCO  – Harvey Mudd College',
    'Basic User – PILH – Colgate University',
    'Blocked User – PILH – Colorado College',
    'Sandy Vaughn – PILH – Lehigh University',
    'Sophie Wagner – PILH – Colorado College',
    'Freeman Walter – PILH – University of Chicago',
    'Kayla Walton – PILH – Duke University',
    'Augusta Ware – PILH – United States Naval Academy',
    'Ian H Watkins – PILH – University of Florida',
    'Francisca West – PILH – Kenyon College',
    'Ray Weston – PILH – Bowdoin College',
    'Kelcie Wibrew – PILH – Southern Methodist University',
    'Elwood Wilkins – PILH – Northwestern University',
    'Molly Wilkinson – PILH – Haverford College',
    'Gwen Williams – PILH – George Washington University',
    'Patel Williams – PILH – University of Illinois, Urbana-Champaign',
    'Robin William – PILH – Colby College',
    'Brandice Wintersgill – PILH – University of Chicago',
    'Robert Wintour – PILH – Harvard University',
    'Stuart Wood – PILH – Columbia University',
    'Gamaliel Wyburn – PILH – Georgetown University',
    'Mano Yanel – No roles – Brigham Young University'
  ];
  
  /*initiate the autocomplete function on the "myInput" element, and pass along the inputValues array as possible autocomplete values:*/
  autocomplete(document.getElementById("myInput"), inputValues);
</script>