@import "prototype-kit";
@import "./search-box";
@import "./accordion";
@import "./filters";
@import 'people';

aside {
  border-top: 2px solid $govuk-blue;
  padding-top: $gutter-half;
}

table {
  table-layout: fixed;
}

dl {
  margin-bottom: $gutter;
  dt {
    font-weight: bold;
  }
  dd {
    margin-bottom: $gutter/2;
    white-space: pre-line;
  }
}

ul {
  @extend .list;
  @extend .list-bullet;
}

#page-container header {
  margin-bottom: $gutter;

  h1, h2 {
    margin: 0;
  }

  h2 {
    margin-bottom: $gutter/4;
    font-weight: normal;
  }
}
