@import "prototype-kit";

@import "./search-box";
@import "./accordion";
@import "./filters";
@import './people';

#proposition-menu {
  display: flex;
  justify-content: space-between;
  span {
    color: white;
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
  }
  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

aside {
  border-top: 2px solid $govuk-blue;
  padding-top: $gutter-half;
}

table {
  table-layout: fixed;
}

dl {
  margin-bottom: $gutter;
  dt {
    font-weight: bold;
  }
  dd {
    margin-bottom: $gutter/2;
    white-space: pre-line;
  }
}

ul {
  @extend .list;
  @extend .list-bullet;
}

ul.dashboard {
  list-style: none;
  padding-left: 0;
  li {
    background: $highlight-colour;
    @extend .heading-medium;
    margin-top: 0;

    a {
      display: block;
      padding: $gutter-half $gutter;
    }
  }
}

.main header {

  h1, h2 {
    margin: 0;
  }

  h1 {
    margin-bottom: $gutter;
  }

  h2 {
    margin-bottom: $gutter/4;
    font-weight: normal;
  }
}
