
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <p>
        Email subject: Category E licence approved
      </p>


<p>
  Dear FIRSTNAME LASTNAME,
</p>


<p>
  We have approved a personal licence (Category E) for a course participant. The licence is valid for 3 months. 
</p>

<p>
  Course title: xxxxxxx
</p>
<p>
  Licence expires xx/xx/xx
</p>

<p>
  You can revoke the licence at any time before it expires. 
</p>

<p>
  Download the licence to share it with the course participant here:
</p>

<p>
  LINK
</p>

<p>
  The applicant should familiarise themselves with the standard personal licence conditions. These can be found here:
</p>

<p>
  LINK
</p>

<p>
  Kind regards,
</p>

<p>
  The Animals in Science Regulation Unit
</p>

    </div>
  </div>
{% endblock %}
