
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">University of Croydon</span>
      <h1 class="govuk-heading-xl">
        Choose a personal licence (PIL) category
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="establishment-container">
        <h2 class="govuk-heading-m">
          Categories A, B, C, D and F
        </h2>
        <p>
          These personal licecnes authorise you to carry out certain procedures on the types of animal defined on your training certificates
        </p>
        <button data-module="govuk-button" class="govuk-button">Apply now</button>
      </div>
      <div class="establishment-container">
        <h2 class="govuk-heading-m">
          Category E
        </h2>
        <p>
          To apply for a Category E licence, or to add category E procedures to an existing licence, please contact the admin at the training establishment.
        </p>
      </div>


      </div>
    </div>
  </div>
{% endblock %}
