
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">University of Croydon</span>
      <h1 class="govuk-heading-l">
        Project application
      </h1>
      <span class="govuk-caption-l">Development of new biological anticancer agents</span>
      <br>
      <div class="govuk-panel green-bg">
        <h1 class="govuk-panel__title">Notified of refusal</h1></div>
      <br>
        <h2 class="govuk-heading-m">What happens next?</h2>
        <p>The application has been returned to the applicant and all relevant people at the establishment have been notified of the intent to refuse.</p>
        <p>You can <a href="task-review-refusal-sent.html">track the progress of this request</a>.</p>
        <p><a href="task-refusal-submitted">Home</a></p>
      </div>
    </div>
  </div>


{% endblock %}
