
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "includes/licence-header-ra.html" %}
      {% include "includes/list-of-sections.html" %}
      <!-- <span class="govuk-caption-xl">Autophagy in the hematopoietic system</span> -->
      <h1 class="govuk-heading-xl">
        Check your answers for objectives
      </h1>
      {% include "includes/nts-warning-small.html" %}

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="more-detail">
          Is there a plan for this work to continue under another licence?
        </label>
      </h3>
      <p>No</p>
      <a href="#" class="">Edit</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="more-detail">
          Did the project achieve its aims and if not, why not?
        </label>
        <span class="govuk-hint">If some objectives were only partially achieved, explain why</span>
      </h3>
      <details data-module="govuk-details"  class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Show the project’s projected aims
          </span>
        </summary>
        <div class="govuk-details__text">
            <h3 class="govuk-heading-s">
              What is the aim of this project?
            </h3>
            <p>
              The aim of this project is to provide quality scientific data to support the development and marketing of safe medicines for both human and veterinary use, and to make sure that chemicals that the population may be exposed to (like industrial chemicals and pesticides) are safe to be used by the general public too. We will mainly test if these substances are safe in the cardiovascular (heart and blood vessels) and respiratory (lungs) systems. We will also be testing new and potentially better drugs for important conditions like high blood pressure and irregular heartbeat, and asthma, to see if they work better and have less side effects compared to existing drugs. As part of this we will be seeing how much of these drugs are in the blood after we dose them to animals, because if there is not enough there, they simply won't have the effect we want.
            </p>
            <p>
              A lot of the data we generate will be sent to the regulators who will then decide if the chemicals we test are fit for exposure to humans, or if the new drugs we test are safe to be given to humans for the first time.
            </p>
        </div>
      </details>
      <p>
        Studies of putative adult cardiac stem cells in mouse myocardium has successfully identified cells with robust clone-forming ability and multi-lineage potential that are able to convert into cardiac muscle, vascular smooth muscle, or endothelium after grafting to the heart, and which improve cardiac pump function.
      </p>
      <p>
        Major achievements relating to this BHF- and MRC-funded work include: Pinpointing which among the many classes of cardiac stromal cell has reproducible stem cell properties; defining the cells' molecular signature by single-cell qPCR and their embryological origin by Cre/lox fate-mapping; systematically investigating the properties of cloned adult cardiac stem cells (single-cell derivatives) and proving their fidelity to freshly isolated cells; showing that stem cell grafting helps prevent heart failure after experimental myocardial infarction, even though just 10-20 cells engraft durably; demonstrating that signals secreted by the adult cardiac stem cells can reduce human cardiac muscle cell death, using simulated myocardial infarction in tissue culture.
      </p>
      <p>
        In addition, our Wellcome Trust-funded drug discovery programme to create small-molecule inhibitors of enzyme of interest has achieved: determining the compounds' pharmacokinetics and establishing conditions suitable for proof-of-concept testing in vivo; proving that this enzyme inhibition reduces infarct size by roughly 70%, if given prophylactically before ischemia-reperfusion; proving, further, that enzyme inhibition reduces infarct size by roughly 70%, even if given two hours after injury, reducing muscle cell death from both apoptosis and necrosis.
      </p>
      <a href="#" class="">Edit</a>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <form action="ra-index" method="POST">
          <div class="declaration-panel-grey">
            <h3 class="govuk-heading-m">Mark this section as complete</h3>
            <p>You can still edit this section later, but you will be unable submit this assessment until all sections are marked as complete.</p>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="complete-objectives-hint">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="complete-objectives" name="complete-objectives" type="checkbox" value="yes">
                    <label class="govuk-label govuk-checkboxes__label" for="complete-objectives">
                      Mark this section as complete
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <br>
          <p>
            <button data-module="govuk-button" class="govuk-button">Continue</button>
            <a href="ppl-overview" class="secondary-link">List of sections</a>
          </p>
        </div>
      </form>

      {% include "includes/ra-sidebar.html" %}

  </div>

{% endblock %}
