
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Madetech prototypes</h1>  

    <hr class="govuk-section-break govuk-section-break--xl" style="border-top: 1px solid black">

    <h2 class="govuk-heading-l">Manage conditions</h2>

    <p><strong>Version 1</strong></p>
    <p><a href="conditions/v1/page_1.html" style="color:#1d70b8;">Add a condition</a></p>
    <p><a href="conditions/v1/page_4.html" style="color:#1d70b8;">Update a condition</a></p>
    <p><a href="conditions/v1/page_7.html" style="color:#1d70b8;">Remove a condition</a></p>
    <p><a href="conditions/v1/page_10.html" style="color:#1d70b8;">View multiple conditions in table </a></p>
    <p><a href="conditions/v1/page_11.html" style="color:#1d70b8;">View multiple conditions in sub-section</a></p>

    <!--<hr class="govuk-section-break govuk-section-break--xl" style="border-top: 1px dashed grey">-->

    <p><strong>Version 2</strong></p>
    <p><a href="conditions/v2/page_1.html" style="color:#1d70b8;">Add additional conditions (personal licence)</a></p>

    <!--<hr class="govuk-section-break govuk-section-break--xl" style="border-top: 1px dashed grey">-->

    <p><strong>Version 3</strong></p>
    <p><a href="conditions/v3/page_1.html" style="color:#1d70b8;">Add additional conditions (project licence)</a> &nbsp; <strong class="govuk-tag">TESTED</strong></p>

    <p><strong>Version 4</strong></p>
    <p><a href="conditions/v4/page_1.html" style="color:#1d70b8;">Add additional conditions (project licence)</a></p>

    <hr class="govuk-section-break govuk-section-break--xl" style="border-top: 1px solid black">

    <h2 class="govuk-heading-l">Upload documents</h2>

    <p><strong>Version 1</strong></p>
    <p><a href="upload/contextual/page_1.html" style="color:#1d70b8;">Upload documents in contextual tasks</a></p>
    
    <!--<hr class="govuk-section-break govuk-section-break--xl" style="border-top: 1px dashed grey">-->

    <p><strong>Version 2</strong></p>
    <p><a href="upload/contextual/page_33.html" style="color:#1d70b8;">Upload contextually assessment to grant licence</a> &nbsp; <strong class="govuk-tag">TESTED</strong></p>
    <p><a href="upload/contextual/page_33b.html" style="color:#1d70b8;">Updated contextually uploaded assessment before grant licence</a> &nbsp; <strong class="govuk-tag">TESTED</strong></p>
    <p><a href="upload/section/page_1.html" style="color:#1d70b8;">Manage documents section (replacing download section) </a></p>

    <p><strong>Version 3</strong></p>
    <p><a href="upload/section/page_7.html" style="color:#1d70b8;">Manage documents section (improvements to support discussions with business) </a></p>

    <hr class="govuk-section-break govuk-section-break--xl" style="border-top: 1px solid black">

    <h2 class="govuk-heading-l">Amend application</h2>

    <p><strong>Version 1</strong></p>
    <p><a href="amendment/v1/page_1.html" style="color:#1d70b8;">Example of task page with conditions</a></p>

    <hr class="govuk-section-break govuk-section-break--xl" style="border-top: 1px solid black">

    <h2 class="govuk-heading-l">Corporate updates</h2>

    <p><strong>Version 1</strong></p>
    <p><a href="corporate/v1/page_1.html" style="color:#1d70b8;">Update radios content when creating an inactive establishment</a></p>
    <p><a href="corporate/v1/page_2.html" style="color:#1d70b8;">Add 'corporate' tag in organisation's people page</a></p>
    <p><a href="corporate/v1/page_3.html" style="color:#1d70b8;">Remove legal person details from establishment overview page</a></p>
    <p><a href="corporate/v1/page_4.html" style="color:#1d70b8;">Add 'corporate' tag establishments page</a></p>
    <p><a href="corporate/v1/page_5.html" style="color:#1d70b8;">Relocate 'legally responsible person' details in establishment licence page</a></p>
    <p><a href="corporate/v1/page_6.html" style="color:#1d70b8;">Re-labels name and add label for establishment type</a></p>
    <p><a href="corporate/v1/page_7a.html" style="color:#1d70b8;">Flow for change establishment type</a></p>

    <br><br>

  </div>
</div>

{% endblock %}
