
{% extends "layout-no-breadcrumb.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Hello Inspector
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>

        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#tasks">
              Tasks
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#establishments">
              Establishments
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#people">
              People
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#projects">
              Projects
            </a>
          </li>
        </ul>

        <section class="govuk-tabs__panel" id="tasks" style="border:none;"></section>

        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="establishments" style="border:none;"></section>

        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="people" style="border:none;"></section>
        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="projects" style="border:none;">
          <h2 class="govuk-heading-m">Projects</h2>

          <div class="govuk-form-group search-box">
            <label for="" class="govuk-label">Search projects by title, licence number, licence holder, establishment or keywords</label>
            <input type="text" class="govuk-input" id="filter-*" name="filter-*" value="" style="display: inline-block; width: 60%; margin-right: 0px" placeholder="Study">
            <button data-module="govuk-button" style="height: 40px; width: 40px;background-color: black;display: inline-block;position: absolute; border: solid 3px black;"><span class="hod-search side-space icon-small" style="color: white;"></span></button>
          </div>
          <div class="govuk-gird-row">
          <div class="govuk-grid-column-one-quarter">
            <h3 class="govuk-heading-s">Filter by</h3>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Project documents
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                     Licence
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal" checked>
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Application
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD" checked>
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                      Non-technical summary
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Status
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                     Active
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Expired
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                      Inactive
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                      Revoked
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                      Transferred out
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>


            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Additional features
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc" checked>
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                     Requires a retrospective assessment
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Includes project continuation
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

          </div>
          <div class="govuk-grid-column-three-quarters">
            <p>Showing 3 results for <strong>'Study'</strong> and <strong>'Status: Active'</strong></p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p>
              <a class="search-project-heading" href="#">A <strong>study</strong> on treatment and penetrance of inherited cardiac conditions</a>
            </p>
              <div class="govuk-grid-row secondary-text">
                <div class="govuk-grid-column-one-half">
                  <ul class="govuk-list govuk-hint">
                    <li>PPL holder: Bruce Banner</li>
                    <!-- <li>PPL number: PB9375H87</li> -->
                    <li>Establishment: University of Croydon</li>
                  </ul>
                </div>
                <div class="govuk-grid-column-one-half">
                  <ul class="govuk-list govuk-hint">
                    <li>
                      Expiry date: 12 June 2020 (4 weeks)
                    </li>
                    <li>
                      Status: Active
                    </li>
                  </ul>
                </div>
              </div>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p>
              <a class="search-project-heading" href="#">A <strong>study</strong> to identify new treatments for renal fibro</a>
            </p>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <ul class="govuk-list govuk-hint">
                  <li>PPL holder: Janet Simmonds</li>
                  <!-- <li>PPL number: H84847JK9</li> -->
                  <li>Establishment: University of Croydon</li>
                </ul>
              </div>
              <div class="govuk-grid-column-one-half">
                <ul class="govuk-list govuk-hint">
                  <li>
                    Expiry date: 12 June 2020
                  </li>
                  <li>
                    Status: Active
                  </li>
                </ul>
              </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <p>
              <a class="search-project-heading" href="#">A <strong>study</strong> of microvascular techniques for surgeons</a>
            </p>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <ul class="govuk-list govuk-hint">
                  <li>PPL holder: Dave Lee</li>
                  <!-- <li>PPL number: P88375958</li> -->
                  <li>Establishment: University of Croydon</li>
                </ul>
              </div>
              <div class="govuk-grid-column-one-half">
                <ul class="govuk-list govuk-hint">
                  <li>
                    Expiry date: 1 May 2025
                  </li>
                  <li>
                    Status: Active (Includes project continuation)
                  </li>
                </ul>
              </div>

            </div>
            <h3 class="govuk-heading-s">Section: Scientific background <span class="unbold">(Licence, application, NTS)</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius deleniti repudiandae esse ratione nemo nesciunt, <span class="highlight">impedit totam</span> harum a accusantium dignissimos quaerat officiis atque nobis omnis incidunt fuga dolore ducimus.</p>
            <details data-module="govuk-details"  class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  See 6 more sections contatining [search result]
                </span>
              </summary>
              <div class="govuk-details__text">
                <h3 class="govuk-heading-s">Section: Scientific background <span class="unbold">(Licence, application, NTS)</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius deleniti repudiandae esse ratione nemo nesciunt, <span class="highlight">impedit totam</span> harum a accusantium dignissimos quaerat officiis atque nobis omnis incidunt fuga dolore ducimus.</p>

                <h3 class="govuk-heading-s">Section: Scientific background <span class="unbold">(Licence, application, NTS)</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius deleniti repudiandae esse ratione nemo nesciunt, <span class="highlight">impedit totam</span> harum a accusantium dignissimos quaerat officiis atque nobis omnis incidunt fuga dolore ducimus.</p>

                <h3 class="govuk-heading-s">Section: Scientific background <span class="unbold">(Licence, application, NTS)</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius deleniti repudiandae esse ratione nemo nesciunt, <span class="highlight">impedit totam</span> harum a accusantium dignissimos quaerat officiis atque nobis omnis incidunt fuga dolore ducimus.</p>
              </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          </div>
        </div>

        </section>

      </div>



      </div>
    </div>
  </div>

{% endblock %}
