
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "includes/status-banner-draft.html" %}
      {% include "includes/licence-header-pel.html" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ul class="govuk-list">
        <li><strong>Establishment licence number</strong></li>
        <li>PEL-0984849</li>
      </ul>
      <ul class="govuk-list">
        <li><strong>Address</strong></li>
        <li>University of Croydon, Lunar House, CR0 1AB</li>
      </ul>
      <ul class="govuk-list">
        <li><strong>Establishment licence holder</strong></li>
        <li><a href="#">Bruce Banner</a></li>
      </ul>
      <ul class="govuk-list">
        <li><strong>Licenced to carry out</strong></li>
        <li>
          <ul class="govuk-list govuk-list--bullet">
            <li>Regulated procedures on protected animals</li>
            <li>Breeding of relevant protected animals</li>
          </ul>
        </li>
      </ul>

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell protocol-section-title">
              <a class="heading-link" href="#">Conditions</a></td>
            <td class="govuk-table__cell accordian-toggle">+</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell protocol-section-title">
              <a class="heading-link" href="#">Authorisations</a></td>
            <td class="govuk-table__cell accordian-toggle">+</td>
          </tr>
        </tbody>
      </table>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Amend licence</h2>

      <p>You can amend this establishment licence if you want to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Change any of the licence details</li>
        <li>Add or remove authorisations</li>
      </ul>

      <button class="govuk-button govuk-button--secondary">Amend licence</button>
      
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Revoke licence</h2>

      <p>You can't revoke this licence as there are still personal or project licences held at this establishment.</p>
      
      <p>The establishment will need to revoke them or transfer them to a new establishment first.</p>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Higher education and training personal licences</h2>

      <p>This establishment does not provide higher education and training personal licences.</p>

      <p><a href="turn-on">Change</a></p>
      
    </div> 
  </div>
<style type="text/css">

</style>
{% endblock %}
