

{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">PIL review</span>
      <h1 class="govuk-heading-xl">5 year PIL review</h1>
      <!-- <h3 class="govuk-heading-s">How to cure heartache</h3> -->
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <nav class="sticky-nav" style="position: static; top: 0px; width: 300px;">
        <a href="#activity" class="active" style="color: #fff;">Latest activity</a>
        <a href="#">Licence holder</a>
        <a href="#">Procedures</a>
        <a href="#">Animal types</a>
        <a href="#">Training</a>
        <a href="#">Exemptions</a>
        <a href="#">What do you want to do?</a>
      </nav>&nbsp;
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Latest activity</h2>
        <p>
          <span class="badge badge-red">Overdue</span>
          <span class="date">20 July 2019</span>
        </p>
<!--       <p><strong>Submitted by:</strong> <a href="#">Bruce Banner</a></p>
      <p>{{data["pelhb-comment"]}}</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Show previous activity
          </span>
        </summary>
        <div class="">
          <br>
          <p>
            <span class="badge">Endorsed</span>
            <span class="date">20 July 2019</span>
          </p>
          <p><strong>Endorsed for Marvell Pharmaceuticals by:</strong> <a href="#">John Brown</a></p>
          <br>
          <p>
            <span class="badge">Endorsed</span>
            <span class="date">19 July 2019</span>
          </p>
          <p><strong>Endorsed for University of Croydon by:</strong> <a href="#">Jane Smith</a></p>
          <br>
          <p>
            <span class="badge">Awaiting Endorsement</span>
            <span class="date">17 July 2019</span>
          </p>
          <p><strong>Submitted by:</strong> <a href="#">Michael Thomas</a></p>
          
        </div>
      </details> -->
<hr class=" govuk-section-break--l govuk-section-break--visible">

     
      <h2 class="govuk-heading-m">Licence holder</h2>
      <p><a href="#">John Smith</a></p>

      <h3 class="govuk-heading-s">Applicant over 18?</h3>
      <p>Yes</p>
      
      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Procedures</h3>
      <h3 class="govuk-heading-s">Categories</h3>
      <p>A. Minor / minimally invasive procedures not requiring sedation, analgesia or general anaesthesia.</p>
      <p>B. Minor / minimally invasive procedures involving sedation, analgesia or brief general anaesthesia. Plus surgical procedures conducted under brief non-recovery general anaesthesia</p>
      <p>C. Surgical procedures involving general anaesthesia. Plus - administration and maintenance of balanced or prolonged general anaesthesia.</p>

      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Animal types</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Mice</li>
        <li>Rats</li>
      </ul>

      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Training</h3>
      <p><em>No evidence added</em></p>
      <hr class=" govuk-section-break--l govuk-section-break--visible">

      <h3 class="govuk-heading-m">Exemptions</h3>
      <p><em>No exemptions added</em></p>


      <hr class=" govuk-section-break--xl govuk-section-break--visible">

      <!-- <h2 class="govuk-heading-m">What do you want to do?</h2>
      
        <form action="mark-reviewed-comment">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                  <label for="where-do-you-live" class="govuk-label govuk-radios__label">Mark licence as reviewed</label>
                  <span class="govuk-hint">This will resolve the licences 5 year review.</span> 
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                  <label for="where-do-you-live" class="govuk-label govuk-radios__label">Amend licence</label>
                  <span class="govuk-hint">This will create an amendment task for this licence. The 5 year review will only be resolved once the amendment is granted.</span> 
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                  <label for="where-do-you-live" class="govuk-label govuk-radios__label">Revoke licence</label>
                  <span class="govuk-hint">This will create a revocation task for this licence. The 5 year review will only be resolved once the revocation is granted.</span> 
                </div>
              </div>
            </fieldset>
          </div>


          <button class="govuk-button">Continue</button>
        </form> -->
    </div>
  </div>

  <style type="text/css">



.govuk-radios__item label {
  font-weight: bold;
}

.govuk-radios__item .govuk-hint {
  padding-left: 15px;
}


    .sticky-nav a{
      display: block;
      padding: 15px;
      text-decoration: none;
    }

   .active{
      color: #fff;
      background-color: #005ea5;
    }



    .date {
      float: right;
    }



dl {
  width: 100%;
}

dt {
  font-weight: normal;
  clear: left;
  display: inline-block;
  width: 35%;
  padding-bottom:5px;
}
dd {
  padding-bottom:5px;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  /*font-weight: 400;*/
  /*background-color: red;*/
}

  .highlight {
    border-bottom: 3px solid #ffbf47;
    margin-right: 1px;
    background-color: #fff2d3;
    padding: 2px 0px 0px;
}

  </style>

<script type="text/javascript">
  var search = document.querySelector('#search');
var results = document.querySelector('#searchresults');
var templateContent = document.querySelector('#resultstemplate').content;
search.addEventListener('keyup', function handler(event) {
    while (results.children.length) results.removeChild(results.firstChild);
    var inputVal = new RegExp(search.value.trim(), 'i');
    var set = Array.prototype.reduce.call(templateContent.cloneNode(true).children, function searchFilter(frag, item, i) {
        if (inputVal.test(item.textContent) && frag.children.length < 6) frag.appendChild(item);
        return frag;
    }, document.createDocumentFragment());
    results.appendChild(set);
});
</script>
{% endblock %}
