
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="licence-status-banner">
        <p>
          <strong>DRAFT AMENDMENT</strong>
          <span class="float-right"><a href="#">Show less</a></span>
          <hr>
        </p>
         <p>This amendment has not been submitted and the licence is not active. The licence holder or applicant is not authorised to carry out the programme of work as stated in this licence/application.</p>
        <p><a href="#">View granted licence</a></p>
      </div>

      <div class="download-header">
        <span style="font-size: 24px;" class="govuk-body">How to cure heartache</span>
        <span class="float-right">
          <span class="hod-download-button side-space icon-small" style="margin-right: 0px; color:#005ea5"></span>
          <a href="#">Download application</a>
        </span>
      </div>
      <div class="back-to-sections-link govuk-body">
        <a href="ppl-index">List of sections</a>
      </div>
    </div>
  </div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Experience</h2>
      <div class="govuk-form-group">
        <h3 class="govuk-heading-s">Project licence holder</h3>
        <p>Johnny Basic</p>
      </div>

      <form action="ppl-experience-review" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="">Have you managed similar work in this field before?
            </label>
            <span id="holding-hint" class="govuk-hint"></span>

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="experience-2" name="experience" type="radio" value="Yes" data-aria-controls="conditional-experience-2">
                <label class="govuk-label govuk-radios__label" for="experience-2">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-experience-2">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <label class="govuk-label--s" for="">What were your, or your group's, main achievements that are relevant to this application?</label>
                    <span id="holding-hint" class="govuk-hint"></span>
                    <textarea class="govuk-textarea" id="experience-2" name="experience-2" rows="7" aria-describedby="experience-2-hint"></textarea>
                  </fieldset>
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="experience-1" name="experience" type="radio" value="No" data-aria-controls="conditional-experience-1" checked>
                <label class="govuk-label govuk-radios__label" for="experience-1">
                  No
                </label>
                <span id="holding-hint" class="govuk-hint"></span>
              </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="">What relevant scientific knowledge or education do you have?</label>
            <span id="holding-hint" class="govuk-hint"></span>
            <textarea class="govuk-textarea" id="experience-3" name="experience-3" rows="7" aria-describedby="experience-3-hint"></textarea>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="">What experience do you have of using the types of animals and experimental models stated in this licence application?</label>
            <span id="holding-hint" class="govuk-hint"></span>
            <textarea class="govuk-textarea" id="experience-4" name="experience-4" rows="7" aria-describedby="experience-4-hint"></textarea>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="">What experimental design and data analysis training have you had?</label>
            <span id="holding-hint" class="govuk-hint">If you do not have this expertise, how will you access it?</span>
            <textarea class="govuk-textarea" id="experience-5" name="experience-5" rows="7" aria-describedby="experience-5-hint"></textarea>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="">Why are you the most suitable person in the research group, department or company to manage the project?</label>
            <span id="holding-hint" class="govuk-hint"></span>
            <textarea class="govuk-textarea" id="experience-6" name="experience-6" rows="7" aria-describedby="experience-6-hint"></textarea>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="">What relevant expertise and staffing will be available to help you to deliver the programme of work?</label>
            <span id="holding-hint" class="govuk-hint">Include examples of practical, technical, and specialist support.</span>
            <textarea class="govuk-textarea" id="experience-7" name="experience-7" rows="7" aria-describedby="experience-7-hint"></textarea>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="">Will other people help you manage the project? If so, how?</label>
            <span id="holding-hint" class="govuk-hint"></span>
            <textarea class="govuk-textarea" id="experience-8" name="experience-8" rows="7" aria-describedby="experience-8-hint"></textarea>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button><a href='ppl-index' class="secondary-link">List of sections</a>
      </form>
    </div>
  </div>
<style type="text/css">

</style>
{% endblock %}
