
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="licence-status-banner">
        <p>
          <strong>DRAFT</strong>
          <span class="float-right"><a href="#">Show less</a></span>
          <hr>
        </p>
         <p>This amendment has not been submitted and the licence is not active. The licence holder or applicant is not authorised to carry out the programme of work as stated in this licence/application.</p>
        <p><a href="#">View granted licence</a></p>
      </div>

      <div class="download-header">
        <span style="font-size: 24px;" class="govuk-body">How to cure heartache</span>
        <span class="float-right">
          <span class="hod-download-button side-space icon-small" style="margin-right: 0px; color:#005ea5"></span>
          <a href="#">Download application</a>
        </span>
      </div>
      <div class="back-to-sections-link govuk-body">
        <a href="ppl-index">List of sections</a>
      </div>
    </div>
  </div>

 

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
     <h2 class="govuk-heading-l">Training</h2>
      <p>Enter the project licence holders' training details</p>

      <div class="declaration-panel-grey">
          <span class="govuk-body float-right"><a href='ppl-index' class="secondary-link">Remove</a>  </span>
          <h2 class="govuk-heading-m">Certificate 1</h2>

        <div class="govuk-form-group">
          <label class="govuk-label--s" for="certificate-number">
            Certificate number
          </label>
          <input class="govuk-input" id="certificate-number" name="certificate-number" type="text">
        </div>
        <div class="govuk-form-group">  
          <fieldset class="govuk-fieldset">         
            <label class="govuk-label--s" for="">
              Accrediting body
            </label>
            <span id="holding-hint" class="govuk-hint"></span>
            
            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cccreditation-1" name="accreditation" type="radio" value="Yes" data-aria-controls="conditional-accreditation-1">
                <label class="govuk-label govuk-radios__label" for="accreditation-1">
                  Royal society of Biology
                </label> 
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="accreditation-2" name="accreditation" type="radio" value="No" data-aria-controls="conditional-accreditation-2">
                <label class="govuk-label govuk-radios__label" for="accreditation-2">
                  Universities Group
                </label> 
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="accreditation-2" name="accreditation" type="radio" value="No" data-aria-controls="conditional-accreditation-2">
                <label class="govuk-label govuk-radios__label" for="accreditation-2">
                  Scottish Accreditation Board
                </label> 
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="accreditation-2" name="accreditation" type="radio" value="No" data-aria-controls="conditional-accreditation-2">
                <label class="govuk-label govuk-radios__label" for="accreditation-2">
                  Royal Veterinary College
                </label> 
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="accreditation-2" name="accreditation" type="radio" value="No" data-aria-controls="conditional-accreditation-2">
                <label class="govuk-label govuk-radios__label" for="accreditation-2">
                  Other
                </label> 
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-awarded-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Date awarded
            </legend>
            <span id="date-awarded-hint" class="govuk-hint">
              For example, 12 11 2017
            </span>
            <div class="govuk-date-input" id="date-awarded">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-awarded-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-awarded-day" name="date-awarded-day" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-awarded-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-awarded-month" name="date-awarded-month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-awarded-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-awarded-year" name="date-awarded-year" type="number" pattern="[0-9]*">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="cert-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Which modules did this certificate cover?
              </legend>
              <span id="cert-hint" class="govuk-hint">
                Select all that apply.
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert" name="cert" type="checkbox" value="L">
                  <label class="govuk-label govuk-checkboxes__label" for="cert">
                   L
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-2" name="cert" type="checkbox" value="E1">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-2">
                    E1
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-3" name="cert" type="checkbox" value="PILA (theory)">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-3">
                    PILA (theory)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-4" name="cert" type="checkbox" value="PILA (skills)">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-4">
                    PILA (skills)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-5" name="cert" type="checkbox" value="PILB">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-5">
                    PILB
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-6" name="cert" type="checkbox" value="PILC">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-6">
                    PILC
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-7" name="cert" type="checkbox" value="K (theory)">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-7">
                    K (theory)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-8" name="cert" type="checkbox" value="K (skills)">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-8">
                    K (skills)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-3" name="cert" type="checkbox" value="E2">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-3">
                    E2
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-3" name="cert" type="checkbox" value="PPL">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-3">
                    PPL
                  </label>
                </div>
              </div>
            </fieldset>
          </div>  
            
          <div class="govuk-form-group"><!-- 
            <fieldset class="govuk-fieldset" aria-describedby="cert-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Which types of animals did this certificate cover?
              </legend>
              <span id="cert-hint" class="govuk-hint">
                Select all that apply.
              </span>

              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Small animals
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <div class="govuk-checkboxes ">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert" name="cert" type="checkbox" value="L">
                      <label class="govuk-label govuk-checkboxes__label" for="cert">
                       Mice
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert-2" name="cert" type="checkbox" value="E1">
                      <label class="govuk-label govuk-checkboxes__label" for="cert-2">
                        Rats
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert-3" name="cert" type="checkbox" value="PILA (theory)">
                      <label class="govuk-label govuk-checkboxes__label" for="cert-3">
                        Guinea pigs
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert-4" name="cert" type="checkbox" value="PILA (skills)">
                      <label class="govuk-label govuk-checkboxes__label" for="cert-4">
                        Hamsters (Syrian)
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert-5" name="cert" type="checkbox" value="PILB">
                      <label class="govuk-label govuk-checkboxes__label" for="cert-5">
                        Hamsters (Chinese)
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert-6" name="cert" type="checkbox" value="PILC">
                      <label class="govuk-label govuk-checkboxes__label" for="cert-6">
                        Mongolian gerbils
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert-7" name="cert" type="checkbox" value="K (theory)">
                      <label class="govuk-label govuk-checkboxes__label" for="cert-7">
                        Other rodents
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert-8" name="cert" type="checkbox" value="K (skills)">
                      <label class="govuk-label govuk-checkboxes__label" for="cert-8">
                        Rabbits
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert-3" name="cert" type="checkbox" value="E2">
                      <label class="govuk-label govuk-checkboxes__label" for="cert-3">
                        Ferrets
                      </label>
                    </div>
                  </div>
                </div>
              </details>

              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Large animals
                  </span>
                </summary>
                <div class="govuk-details__text">
                  XXXX
                </div>
              </details>

              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Aquatic species
                  </span>
                </summary>
                <div class="govuk-details__text">
                  XXXX
                </div>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Birds
                  </span>
                </summary>
                <div class="govuk-details__text">
                  XXXX
                </div>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Dogs
                  </span>
                </summary>
                <div class="govuk-details__text">
                  XXXX
                </div>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Cats
                  </span>
                </summary>
                <div class="govuk-details__text">
                  XXXX
                </div>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Equidae
                  </span>
                </summary>
                <div class="govuk-details__text">
                  XXXX
                </div>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Non-human primates
                  </span>
                </summary>
                <div class="govuk-details__text">
                  XXXX
                </div>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Other
                  </span>
                </summary>
                <div class="govuk-details__text">
                  XXXX
                </div>
              </details>


              
            </fieldset>
           --></div>    
        </div>
         <hr class="govuk-section-break govuk-section-break--m">


      <form action="training-review-multiple" method="post">
        <div class="declaration-panel-grey">
          <h2 class="govuk-heading-m">Certificate 2
          <span class="govuk-body float-right"><a href='ppl-index' class="secondary-link">Remove</a>  </span>
          </h2>
        <div class="govuk-form-group">
          <label class="govuk-label--s" for="certificate-number">
            Certificate number
          </label>
          <input class="govuk-input" id="certificate-number" name="certificate-number" type="text">
        </div>
        <div class="govuk-form-group">  
          <fieldset class="govuk-fieldset">         
            <label class="govuk-label--s" for="">
              Accrediting body
            </label>
            <span id="holding-hint" class="govuk-hint"></span>
            
            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cccreditation-1" name="accreditation" type="radio" value="Yes" data-aria-controls="conditional-accreditation-1">
                <label class="govuk-label govuk-radios__label" for="accreditation-1">
                  Royal society of Biology
                </label> 
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="accreditation-2" name="accreditation" type="radio" value="No" data-aria-controls="conditional-accreditation-2">
                <label class="govuk-label govuk-radios__label" for="accreditation-2">
                  Universities Group
                </label> 
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="accreditation-2" name="accreditation" type="radio" value="No" data-aria-controls="conditional-accreditation-2">
                <label class="govuk-label govuk-radios__label" for="accreditation-2">
                  Scottish Accreditation Board
                </label> 
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="accreditation-2" name="accreditation" type="radio" value="No" data-aria-controls="conditional-accreditation-2">
                <label class="govuk-label govuk-radios__label" for="accreditation-2">
                  Royal Veterinary College
                </label> 
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="accreditation-2" name="accreditation" type="radio" value="No" data-aria-controls="conditional-accreditation-2">
                <label class="govuk-label govuk-radios__label" for="accreditation-2">
                  Other
                </label> 
              </div>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-awarded-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Date awarded
            </legend>
            <span id="date-awarded-hint" class="govuk-hint">
              For example, 12 11 2017
            </span>
            <div class="govuk-date-input" id="date-awarded">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-awarded-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-awarded-day" name="date-awarded-day" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-awarded-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-awarded-month" name="date-awarded-month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-awarded-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-awarded-year" name="date-awarded-year" type="number" pattern="[0-9]*">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="cert-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Which modules did this certificate cover?
              </legend>
              <span id="cert-hint" class="govuk-hint">
                Select all that apply.
              </span>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert" name="cert" type="checkbox" value="L">
                  <label class="govuk-label govuk-checkboxes__label" for="cert">
                   L
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-2" name="cert" type="checkbox" value="E1">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-2">
                    E1
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-3" name="cert" type="checkbox" value="PILA (theory)">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-3">
                    PILA (theory)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-4" name="cert" type="checkbox" value="PILA (skills)">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-4">
                    PILA (skills)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-5" name="cert" type="checkbox" value="PILB">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-5">
                    PILB
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-6" name="cert" type="checkbox" value="PILC">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-6">
                    PILC
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-7" name="cert" type="checkbox" value="K (theory)">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-7">
                    K (theory)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-8" name="cert" type="checkbox" value="K (skills)">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-8">
                    K (skills)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-3" name="cert" type="checkbox" value="E2">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-3">
                    E2
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="cert-3" name="cert" type="checkbox" value="PPL">
                  <label class="govuk-label govuk-checkboxes__label" for="cert-3">
                    PPL
                  </label>
                </div>
              </div>
            </fieldset>
          </div>  
            
          <div class="govuk-form-group"><!-- 
            <fieldset class="govuk-fieldset" aria-describedby="cert-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Which types of animals did this certificate cover?
              </legend>
              <span id="cert-hint" class="govuk-hint">
                Select all that apply.
              </span>

              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Small animals
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <div class="govuk-checkboxes ">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert" name="cert" type="checkbox" value="L">
                      <label class="govuk-label govuk-checkboxes__label" for="cert">
                       Mice
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert-2" name="cert" type="checkbox" value="E1">
                      <label class="govuk-label govuk-checkboxes__label" for="cert-2">
                        Rats
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert-3" name="cert" type="checkbox" value="PILA (theory)">
                      <label class="govuk-label govuk-checkboxes__label" for="cert-3">
                        Guinea pigs
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert-4" name="cert" type="checkbox" value="PILA (skills)">
                      <label class="govuk-label govuk-checkboxes__label" for="cert-4">
                        Hamsters (Syrian)
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert-5" name="cert" type="checkbox" value="PILB">
                      <label class="govuk-label govuk-checkboxes__label" for="cert-5">
                        Hamsters (Chinese)
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert-6" name="cert" type="checkbox" value="PILC">
                      <label class="govuk-label govuk-checkboxes__label" for="cert-6">
                        Mongolian gerbils
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert-7" name="cert" type="checkbox" value="K (theory)">
                      <label class="govuk-label govuk-checkboxes__label" for="cert-7">
                        Other rodents
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert-8" name="cert" type="checkbox" value="K (skills)">
                      <label class="govuk-label govuk-checkboxes__label" for="cert-8">
                        Rabbits
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="cert-3" name="cert" type="checkbox" value="E2">
                      <label class="govuk-label govuk-checkboxes__label" for="cert-3">
                        Ferrets
                      </label>
                    </div>
                  </div>
                </div>
              </details>

              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Large animals
                  </span>
                </summary>
                <div class="govuk-details__text">
                  XXXX
                </div>
              </details>

              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Aquatic species
                  </span>
                </summary>
                <div class="govuk-details__text">
                  XXXX
                </div>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Birds
                  </span>
                </summary>
                <div class="govuk-details__text">
                  XXXX
                </div>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Dogs
                  </span>
                </summary>
                <div class="govuk-details__text">
                  XXXX
                </div>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Cats
                  </span>
                </summary>
                <div class="govuk-details__text">
                  XXXX
                </div>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Equidae
                  </span>
                </summary>
                <div class="govuk-details__text">
                  XXXX
                </div>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Non-human primates
                  </span>
                </summary>
                <div class="govuk-details__text">
                  XXXX
                </div>
              </details>
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Other
                  </span>
                </summary>
                <div class="govuk-details__text">
                  XXXX
                </div>
              </details>


              
            </fieldset>
           --></div>    
        </div>
        <hr class="govuk-section-break govuk-section-break--m ">
        <a class="govuk-button govuk-button--secondary" href='training-1a'>Add another certificate</a>
        <hr class="govuk-section-break govuk-section-break--S ">
        <!-- <a class="" href='training-1a'>Add another certificate</a> -->
        <hr class="govuk-section-break govuk-section-break--l ">

        <button class="govuk-button">Continue</button><a href='ppl-index' class="secondary-link">List of sections</a>
      </form>   
    </div>
  </div>
<style type="text/css">
.govuk-details {
  margin-bottom: 0px;
}
</style>
{% endblock %}
