
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "includes/status-banner-draft.html" %}
      {% include "includes/licence-header-ppl.html" %}
      <!-- {% include "includes/list-of-sections.html" %} -->
    </div>
  </div>

 

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Project introduction</h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="ppl-intro-ppl">Introductory details</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
      </ul>
      <h2 class="govuk-heading-m">Applicant information</h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="experience">Experience</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
        <li>
          <a href="#">Funding</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
      </ul>
      <h2 class="govuk-heading-m">Project location</h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Establishments</a>
          <!-- <span class="badge float-right">incomplete</span> -->
        </li>
        <li>
          <a href="#">Places other than a licensed establishment (POLEs)</a>
          <!-- <span class="badge float-right">incomplete</span> -->
        </li>
      </ul>
      <h2 class="govuk-heading-m">Project plan</h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Scientific background</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
        <li>
          <a href="#">Action plan</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
        <li>
          <a href="#">General principles</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
      </ul>
      <h2 class="govuk-heading-m">Protocols</h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Protocols</a>
          <!-- <span class="badge float-right">incomplete</span> -->
        </li>
      </ul>
      <h2 class="govuk-heading-m">Use of animals</h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Purpose bred animals</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
        <li>
          <a href="#">Endangered animals</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
        <li>
          <a href="#">Animals taken from the wild</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
        <li>
          <a href="#">Feral animals</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
      </ul>
      <h2 class="govuk-heading-m">Other considerations</h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Commercial slaughter</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
        <li>
          <a href="#">Animals containing human material</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
      </ul>
      <h2 class="govuk-heading-m">Non-technical summary</h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="ppl-intro-nts">Summary introduction</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
        <li>
          <a href="#">Benefits</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
        <li>
          <a href="#">Project harms</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
        <li>
          <a href="#">Fate of animals</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
        <li>
          <a href="#">Replacement</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
        <li>
          <a href="#">Reduction</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
        <li>
          <a href="#">Refinement</a>
          <!-- <span class="badge badge-blue float-right">complete</span> -->
        </li>
      </ul>

      <p>All sections must be marked as complete before you can continue and send your application to the Home Office.</p>

      <a class="govuk-button">Continue</a>

    </div>
  </div>

{% endblock %}
