
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "includes/status-banner-draft.html" %}

      {% include "includes/licence-header-ppl.html" %}
      <div class="back-to-sections-link govuk-body">
        <a href="ppl-index">List of sections</a>
      </div>
    </div>
  </div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Establishments</h2>

      <form action="ppl-establishments-2" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="">
              What is the primary establishment for this licence?
            </label>
            <span id="holding-hint" class="govuk-hint"></span>


            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="est-primary-1" name="est-primary" type="radio" value="University of Croydon" data-aria-controls="conditional-est-primary-1" checked>
                <label class="govuk-label govuk-radios__label" for="est-primary-1">
                  University of Croydon
                </label>
                <span id="holding-hint" class="govuk-hint"></span>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="est-primary-2" name="est-primary" type="radio" value="Marvell Pharmaceuticals" data-aria-controls="conditional-est-primary-2">
                <label class="govuk-label govuk-radios__label" for="est-primary-2">
                  Marvell Pharmaceuticals
                </label>
              </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-est-primary-2">
                  <p>To change the primary establishment you must:</p>
                  <p>
                    <ul class="govuk-list--bullet govuk-list">
                      <li>review any incomplete sections of the project licence</li>
                      <li>have the PEL holders' endorsement from both establishments. These will be requested <br>once you submit the application</li>
                      <li>take the application through the AWERB review process at the proposed primary establishment and any additional establishments.</li>
                    </ul>
                  </p>
                  <p>
                    <div class="govuk-warning-text">
                      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                      <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        Once it has been endorsed by a PEL holder, you will no longer be able to change the primary establishment as part of this amendment.
                      </strong>
                    </div>
                     </p>
                </div>
          </fieldset>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
               Why is the establishment I need not listed?
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>If the establishment is not listed, ask the Home Office Liaison Contact (HOLC) of that establishment to send you an invitation. Once you accept the invitation, you can request your licence to be transferred.</p>
            </div>
          </details>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="">
              Will your project use any additional establishments?
            </label>
            <span id="holding-hint" class="govuk-hint"></span>

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-establishments-1" name="add-establishments" type="radio" value="Yes" data-aria-controls="conditional-add-establishments-1" checked="">
                <label class="govuk-label govuk-radios__label" for="add-establishments-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-establishments-2" name="add-establishments" type="radio" value="No" data-aria-controls="conditional-add-establishments-2">
                <label class="govuk-label govuk-radios__label" for="add-establishments-2">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>
        <button class="govuk-button">Continue</button><a href='ppl-index' class="secondary-link">List of sections</a>
      </form>
    </div>
  </div>
<style type="text/css">

</style>
{% endblock %}
