
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Development of new biological anticancer agents</span>
      <h1 class="govuk-heading-l">Submit return or procedures</h1>
      <h2 class="govuk-heading-m">Declaration</h2>
      <p>By submitting this return of procedures, I agree that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>XXXX</li>
        <li>YYYY</li>
      </ul>
        <p><a href="comment" class="govuk-button">Agree and continue</a><a class="secondary-link" href="#">Cancel</a></p>
      </div>
    </div>
  </div>


{% endblock %}
