
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <span class="govuk-caption-l">Development of new biological anticancer agents
      </span> -->
      <h1 class="govuk-heading-l">Customise procedures</h1>
      <form action="setup-special" method="POST">
       <p>Answer a few questions to pre-fill procedures with information relevant to this project. </p>

        <div class="govuk-form-group">
          <button data-module="govuk-button" class="govuk-button">Continue</button> <a href="rops-landing" class="secondary-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
