
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Return of procedures</span>
      <h1 class="govuk-heading-l">Guidance</h1>
      
      <p>
        You should record the actual numbers and types of animals used in procedures and the severity levels they experienced. Note, these may differ from what’s in the licence.
      </p>
      <p>
        Procedures can have started in any year but must have ended in 2021.
      </p>

      <a href="setup-any" class="govuk-button">Continue to return</a>
    </div>
  </div>

{% endblock %}
