
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "includes/licence-header-ra.html" %}
      {% include "includes/list-of-sections.html" %}
      <!-- <span class="govuk-caption-xl">Autophagy in the hematopoietic system</span> -->
      <h1 class="govuk-heading-xl">
        Replacement, reduction and refinement
      </h1>
      {% include "includes/nts-warning-small.html" %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
      <h2 class="govuk-heading-m">Replacement</h2>
          
      <div class="govuk-form-group">
        <label class="govuk-label--s" for="option-1-additional-1">
          What, if any, non-animal alternatives were used or explored after the project started, how effective were they and are there any lessons worth sharing with others?
        </label>
        <span class="govuk-hint">These are non-animal alternatives that became available or viable after the project licence was granted. They could include genetically engineered tissue or computer modelling, for example.</span>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10"></textarea>
      </div>
          
      <p>
        <a href="ra-3rs-replacement-review.html" class="govuk-button">Continue</a>
        <a href="ppl-overview" class="secondary-link">List of sections</a>
      </p>
    </div>
    
    {% include "includes/ra-sidebar.html" %}

  </div>

{% endblock %}
