
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "includes/licence-header-ra.html" %}
      {% include "includes/list-of-sections.html" %}
      <!-- <span class="govuk-caption-xl">Autophagy in the hematopoietic system</span> -->
      <h1 class="govuk-heading-xl">
        Objectives
      </h1>
      {% include "includes/nts-warning-small.html" %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <h3 class="govuk-heading-s">Objectives</h3>
        <!-- <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Objective
            </span>
          </summary>
          <div class="govuk-details__text"> -->
            <p>Key Aims/Objectives of this project are:</p>
            
            <p>
              1. To develop models of human blood diseases (Acute myeloid leukaemia, acute lymphoblastic leukaemia, myelodysplastic syndrome, Diamond-Blackfan Anaemia) using the zebrafish or kill fish (haematopoietic disease of aging).
            </p>
            
            <p>
              2. To use these models to delineate disease mechanisms for these conditions by studying the effects of gene deletions or overexpression on the developmental haematopoiesis or the growing juvenile and adult zebrafish or kill fish.
            </p>
            
            <p>3. To use these models to identify novel therapeutics for these conditions by performing small molecule screens on zebrafish embryos and adults or kill fish.</p>
<!--             
          </div>
        </details> -->
      </div>
      
      <div class="govuk-form-group">
        <h3 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="more-detail">
            Describe to what extent the programme of work has been carried out
          </label>
          <span class="govuk-hint">Please state whether the programme of work has been completed or if it is to be continued under the authority of a further project licence if necessary
          </span>
        </h3>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint"></textarea>
      </div>

      <div class="govuk-form-group">
        <h3 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="more-detail">
            Did the project achieve its aims and if not, why not?
          </label>
          <span class="govuk-hint">If some objectives were only partially achieved, explain why
          </span>
        </h3>
        <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10" aria-describedby="more-detail-hint"></textarea>
      </div>
      <p>
        <a href="ra-objectives-review.html" class="govuk-button">Continue</a>
        <a href="ppl-overview" class="secondary-link">List of sections</a>
      </p>
    </div>

    {% include "includes/ra-sidebar.html" %}

  </div>

{% endblock %}
