
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "includes/licence-header-nts.html" %}
      
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="protocol-nav">
        <a href="nts-overview"><li>Overview</li></a>
        <a href="nts-objectives"><li>Aims</li></a>
        <a href="nts-harms"><li class="selected">Predicted harms</li></a>
        <a href="nts-replacement.html"><li>Replacement</li></a>
        <a href="nts-reduction.html"><li>Reduction</li></a>
        <a href="nts-refinement.html"><li>Refinement</li></a>
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Predicted harms
      </h1>
      <!-- <h2 class="govuk-heading-m">        
        Species and numbers of animals expected to be used
      </h2> -->
      <h2 class="govuk-heading-s">
        What types and approximate numbers of animals will you use over the course of this project?
      </h2>
      <p>
        Most of our tests (both with drugs and industrial chemicals) will be performed on rats and mice because they are species with the lowest awareness that allow us to get a meaningful comparison as to what may happen in the heart, blood vessels, lungs and blood in humans and other animals. Sometimes though, on specific occasions, rats or mice don't have the physiology to test the safety of drugs in the heart (for example). So we have to use other species like guinea pigs, dogs or pigs, because they do have the similar physiology to man because we need to make sure drugs are safe in humans. Sometimes too, certain drugs simply don't show their effects in rats and mice, so we have to use other species to show if they work or not.
      </p>
      <p>
        To keep our numbers down, in some of our experiments we use some animals on several occasions. These are animals that have been operated on to have devices inserted that measure their blood pressure, heart rate, and check the rhythm of their heart. They get the same care as patients would do in a hospital. Because we put them through the surgery, we use them for as many experiments we can (typically up to a maximum of 7 times) as long as they remain fit and healthy (they are constantly under the care of a vet who reviews their health and well being after every study and before another one) and that the device insides them continues to give the data we need.
      </p>
      <p>
        The numbers of animals authorised under this project is rats 7000, Mice and Guinea pigs 5000 each, Hamsters 1000, dogs and pigs 700 each over a five year period. Its difficult to predict how many animals will be used on this service licence (we perform experiments for other clients in the wider pharmaceutical and chemical industries) but previous experience has shown that these limits are more than enough for us to carry out our work to achieve our aims to provide safe and effective drugs and data to show that industrial chemicals are safe too.
      </p>
      <!-- <h2 class="govuk-heading-m">
        Typical procedures done to animals, for example injections or surgical procedures, including duration of the experiment and number of procedures.
      </h2> -->
      <h2 class="govuk-heading-s">
        In the context of what you propose to do to the animals, what are the expected adverse effects and the likely/expected level of severity? What will happen to the animals at the end?
      </h2>
      <p>
        Most of the dosing on these studies will be single dosing at a dose that has already been examined in other tests examining different physiology. This information will then be used to fix does in the studies we carry out. Most animals will experience no more than slight effects from dosing and other study procedures . To give an idea, blood sampling procedures and effects would be similar to what a patient would receive when giving a blood sample at the doctors, or having an injection there too.
      </p>
      <p>
        Most animals will suffer nothing more than a scratch from a needle or a little bit of discomfort from dosing or other procedures. Occasionally though, there will be other slightly more pronounced effects (heart rate getting faster, blood pressure lowering) or other effects like weight loss (maybe 10 to 15% from their starting weight), ruffled fur, or bruising at the site of blood sampling. If this does happen then the animals will be carefully monitored, with vets on hand to administer advice and treatments if required. In fact throughout, all the animals are checked at least twice a day by our staff, and any issues or concerns about their health and well-being are reported to more senior staff and or vets who will then examine them and decide what needs to be done next.
      </p>
      <p>
        Other procedures may be performed to help us carry out our experiments. These include confining animals in special cages to collect their urine and faeces, restraining animals during dosing when we are dosing into the lungs (in tubes for rats or mice) and by mask in dogs and pigs, and when fitting jackets to measure heart rhythms. And discomfort will be transient and the animals will be watched or checked regularly during these procedures.
      </p>
      <p>
        Some animals may be operated on to implant devices in their abdomen which allow on line recording of blood pressure, heart rate and the rhythms of the heart. The animals will be operated on by vets or other highly trained staff, under sterile conditions in an operating theatre, and be treated like a human patient would having an operation under general anaesthesia. The animals will be given pain killers before and after, with antibiotics given too under the supervision of a vet. The animals will be allowed to fully recover from surgery before used in experiments. If a vet doesn't think they are fit to undergo experiments they won't be used until they are. These animals may be used again (see above for details) under a very strict criteria as defined by the government, and that will reduce the overall number of animals we have to use in these experiments.
      </p>
      <p>
        The rest of the animals on this project will be humanely killed at the end of studies. Their tissues and other organs and bodily fluids may be used for other investigations after they are dead.
      </p>

      <div class="grey-panel">
        <h3 class="govuk-heading-s">A retrospective assessment of these predicted harms will be due by 02 January 2021</h3>
        <p>The licence holder will be required to disclose:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            what the actual harms to animals were
          </li>
          <li>
            how severe those harms were
          </li>
          <li>
            how many animals were affected 
          </li>
        </ul>
      </div>
      
      <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
        <ul class="gem-c-pagination__list" data-module="track-click">
          <li class="gem-c-pagination__item gem-c-pagination__item--previous">
            <a href="nts-benefits.html" class="gem-c-pagination__link" >
              <span class="gem-c-pagination__link-title">
                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="gem-c-pagination__link-text">
                  Previous
                </span>
              </span>
                <span class="gem-c-pagination__link-divider hidden">:</span>
                <span class="gem-c-pagination__link-label">Predicted benefits</span>
            </a>
          </li>
          <li class="gem-c-pagination__item">
            <a href="nts-replacement" class="gem-c-pagination__link">
              <span class="gem-c-pagination__link-title">
                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="gem-c-pagination__link-text">
                  Next
                </span>
              </span>
                <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                <span class="gem-c-pagination__link-label">Replacement</span>
            </a>
          </li>
          <li class="XXX">
            <span class="gem-c-pagination__link-title"></span>
            <span style="text-decoration: none;"class="gem-c-pagination__link-label"><a href="ra-index">View project overview</a> 
              <!-- or <a href="/ra-submission/endorsement/ra-task">close task</a> -->
            </span>
          </li>
        </ul>
      </nav>


  </div>

{% endblock %}
