
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel green-bg">
        <h1 class="govuk-panel__title">Submitted</h1></div>
      
        <p>Your request has been submitted.</p>

        <p>You’ll be emailed if any further information is required, or when a decision has been made. </p>
        
        <p>
          You can <a href="#">track the progress of your request here</a>.
        </p>
        <p><a href="manage-pils">Back to course</a></p>
      </div>
    </div>
  </div>


{% endblock %}
