
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% if data['validate'] == 'true' %}
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script language="JavaScript" type="text/javascript" src="/public/javascripts/validation.js"></script>
{% endif %}
 
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <span class="govuk-caption-l">Development of new biological anticancer agents -->
      </span>
      <h1 class="govuk-heading-l">Change set up details for purposes</h1>
        <p>Note: adding more options - such as a new sub-purpose or animal type - means you will be able to select from these options for future procedures.</p>
        <p>Procedures already added will not be affected.</p>

      <form action="edit-purpose" method="POST">
        <div class="govuk-form-group">
          <button class="govuk-button">Continue</button> <a href="rops-full" class="secondary-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
