
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% if data['validate'] == 'true' %}
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script language="JavaScript" type="text/javascript" src="/public/javascripts/validation.js"></script>
{% endif %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Development of new biological anticancer agents
      </span>
      <h1 class="govuk-heading-l">Set up: purposes</h1>
      <form action="edit-procedure" method="POST">
        <div class="govuk-form-group" id="q1" data-required="Please answer the question">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="gaa">
              Did any procedures involve the creation of a new genetic line?
            </label>
            <span class="govuk-hint"></span>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Guidance on creating genetic lines
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>
                  You should include all animals involved in the creation of a new genetic line up to the point the genetic line is considered established. Offspring from crossing established lines of genetically altered animals are considered to be a new line.
                </p>
                <p>
                  Crossing a genetically altered animal with a wild type animal will not normally be considered to create a new line unless it’s expected to adversely affect the phenotype.
                </p>
              </div>
            </details>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="setup-rodent-yes" name="setup-rodent" type="radio" value="true" data-aria-controls="conditional-option-1" checked>
                <label for="setup-rodent-yes" class="govuk-label govuk-radios__label">Yes, new genetic lines were created</label>
              </div>
              <!-- <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-option-1">
                <fieldset class="govuk-fieldset">
                  <label class="govuk-label--s" for="">
                    Details of rodenticide trials undertaken
                  </label>
                  <span class="govuk-hint"></span>
                  <textarea name="setup-rodent-details" class="govuk-textarea" rows="5"></textarea>
                </fieldset>
              </div> -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="setup-rodent-no" name="setup-rodent" type="radio" value="false" data-aria-controls="conditional-option-2">
                <label for="setup-rodent-no" class="govuk-label govuk-radios__label">No, new genetic lines were not created
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <button class="govuk-button">Continue</button> <a href="rops-landing" class="secondary-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
