
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% if data['validate'] == 'true' %}
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script language="JavaScript" type="text/javascript" src="/public/javascripts/validation.js"></script>
{% endif %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Development of new biological anticancer agents
      </span>
      <h1 class="govuk-heading-l">Set up: purposes</h1>
      <h1 class="govuk-heading-s">For the purpose</h1>
      <ul class="govuk-list govuk-list--bullet">
        <li>Translational/Applied research</li>
      </ul>
      <form action="edit-line" method="POST">
        <div class="govuk-form-group" id="q1" data-required="Please answer the question">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="gaa">
              Which sub-purpose best describes the research area?
            </label>
            <span class="govuk-hint">Select all that apply</span>
            <div class="govuk-checkboxes govuk-checkboxes--conditional" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="edit-sub-p-2s" name="sub-p-cancer" type="checkbox" value="Human cancer" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Human cancer</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="edit-sub-p-2" name="sub-p-infectious" type="checkbox" value="Human infectious disorders" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Human infectious disorders</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="edit-sub-p-2" name="sub-p-cardiovascular" type="checkbox" value="Human cardiovascular disorders" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Human cardiovascular disorders</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="edit-sub-p-2" name="sub-p-nervous" type="checkbox" value="Human nervous and mental disorders" checked disabled>
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Human nervous and mental disorders</label>
              </div>
              <div class="govuk-checkboxes__conditional" id="">
                <div class="govuk-warning-text">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    This item has already been cited in 123 procedures and cannot be removed
                  </strong>
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="edit-sub-p-2" name="sub-p-respiratory" type="checkbox" value="Human respiratory disorders" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Human respiratory disorders</label>
                <span class="govuk-hint govuk-checkboxes__hint">Including Covid-19</span>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="edit-sub-p-2" name="sub-p-gastrointestinal" type="checkbox" value="Human gastrointestinal disorders" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Human gastrointestinal disorders</label>
                <span class="govuk-hint govuk-checkboxes__hint">Including liver disease</span>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="edit-sub-p-2" name="sub-p-musculoskeletal" type="checkbox" value="Human musculoskeletal disorders" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Human musculoskeletal disorders</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="edit-sub-p-2" name="sub-p-dentistry" type="checkbox" value="Human dentistry" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Human dentistry</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="edit-sub-p-2" name="sub-p-immune" type="checkbox" value="Human immune disorders" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Human immune disorders</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="edit-sub-p-2" name="sub-p-urogenital" type="checkbox" value="Human urogenital disorders" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Human urogenital disorders</label>
                <span class="govuk-hint govuk-checkboxes__hint">Including reproductive disorders</span>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="edit-sub-p-2" name="sub-p-sensory" type="checkbox" value="Human sensory organ disorders" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Human sensory organ disorders </label>
                <span class="govuk-hint govuk-checkboxes__hint">Including skin, eyes and ears</span>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="edit-sub-p-2" name="sub-p-endocrine" type="checkbox" value="Human endocrine disorders" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Human endocrine disorders</label>
                <span class="govuk-hint govuk-checkboxes__hint">Including metabolic disorders
                </span>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="edit-sub-p-2" name="sub-p-other" type="checkbox" value="Other" data-aria-controls="conditional-sub" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Other human disorders</label>
              </div>
              <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-sub">
                <div class="govuk-form-group">
                  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-fieldset__legend--s" for="procedure-number">
                    Specify other human disorder
                    </label>
                    <span class="govuk-hint"></span>
                  </h1>
                  <input class="govuk-input" id="sub-p-other" name="sub-p-other" type="text">
                </div>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="sub-p-2-no" name="sub-p-2" type="checkbox" value="Animal diseases and disorders" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Animal diseases and disorders</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="sub-p-2-no" name="sub-p-2" type="checkbox" value="Animal welfare" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Animal welfare</label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="sub-p-2-no" name="sub-p-2" type="checkbox" value="Animal nutrition" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Animal nutrition</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="sub-p-2-no" name="sub-p-2" type="checkbox" value="Diagnosis of diseases" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Diagnosis of diseases</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="sub-p-2-no" name="sub-p-2" type="checkbox" value="Plant diseases" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Plant diseases</label>
                </span>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="sub-p-2-no" name="sub-p-2" type="checkbox" value="Non-regulatory toxicology" >
                <label for="sub-p-2" class="govuk-label govuk-checkboxes__label">Non-regulatory toxicology</label>
                <span class="govuk-hint govuk-checkboxes__hint">Including ecotoxicology
                </span>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <button data-module="govuk-button" class="govuk-button">Continue</button> <a href="rops-landing" class="secondary-link">Cancel</a>
        </div>
      </form>

    </div>
  </div>

  <style>
    input[type="checkbox"]:disabled {
      background: #ccc;
    }
  </style>
{% endblock %}
