
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% if data['validate'] == 'true' %}
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script language="JavaScript" type="text/javascript" src="/public/javascripts/validation.js"></script>
{% endif %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Development of new biological anticancer agents
      </span>
      <h1 class="govuk-heading-l">Set up return: purposes</h1>

      <form action="setup-subpurpose-2" method="POST">
        <div class="govuk-form-group" id="q1" data-required="Please answer the question">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="gaa">
              Which purposes best apply to procedures completed in 2021?
            </label>
            <span class="govuk-hint"></span>
                <fieldset class="govuk-fieldset">
                  <span class="govuk-hint">Select all that apply
                  </span>
                    <span class="govuk-hint"></span>
                    <div class="govuk-checkboxes govuk-checkboxes--conditional" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="setup-purpose-yes" name="setup-purpose" type="checkbox" value="Basic research" data-aria-controls="conditional-option-3" >
                        <label for="setup-purpose" class="govuk-label govuk-checkboxes__label">Basic research</label>
                        <span class="govuk-hint govuk-checkboxes__hint">For studies of a fundamental nature, including physiology</span>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="setup-purpose-yes" name="setup-purpose" type="checkbox" value="Regulatory use" data-aria-controls="conditional-option-5">
                        <label for="setup-purpose" class="govuk-label govuk-checkboxes__label">Regulatory use and routine production</label>
                        <span class="govuk-hint govuk-checkboxes__hint">For studies used to secure regulatory approval for new products or substances</span>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="setup-purpose-yes" name="setup-purpose" type="checkbox" value="Translational and applied research" data-aria-controls="conditional-option-4">
                        <label for="setup-purpose" class="govuk-label govuk-checkboxes__label">Translational and applied research</label>
                        <span class="govuk-hint govuk-checkboxes__hint">For practical applications of research and discovery toxicology</span>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="setup-purpose-no" name="setup-purpose" type="checkbox" value="Breeding and maintenance of colonies for established genetically altered animals, not used in other procedures" >
                        <label for="setup-purpose" class="govuk-label govuk-checkboxes__label">Breeding and maintenance of colonies for established genetically altered animals, not used in other procedures</label>
                        <span class="govuk-hint govuk-checkboxes__hint">For breeding and maintaining stocks of GA animals</span>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="setup-purpose-no" name="setup-purpose" type="checkbox" value="Protection of the natural environment in the interests of the health or welfare of human beings or animals" >
                        <label for="setup-purpose" class="govuk-label govuk-checkboxes__label">Protection of the natural environment in the interests of the health or welfare of human beings or animals</label>
                        <span class="govuk-hint govuk-checkboxes__hint">For studies into environmental pollution or loss of biodiversity, for example</span>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="setup-purpose-no" name="setup-purpose" type="checkbox" value="Preservation of species" >
                        <label for="setup-purpose" class="govuk-label govuk-checkboxes__label">Preservation of species</label>
                        <span class="govuk-hint govuk-checkboxes__hint">For studies where the main goal is preservation of a species</span>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="setup-purpose-no" name="setup-purpose" type="checkbox" value="Higher education or training for the acquisition, maintenance or improvement of vocational skills" >
                        <label for="setup-purpose" class="govuk-label govuk-checkboxes__label">Higher education</label>
                        <span class="govuk-hint govuk-checkboxes__hint">For educational courses delivered in universities and colleges, for example</span>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="setup-purpose-no" name="setup-purpose" type="checkbox" value="Higher education or training for the acquisition, maintenance or improvement of vocational skills" >
                        <label for="setup-purpose" class="govuk-label govuk-checkboxes__label">Training for the acquisition, maintenance or improvement of vocational skills</label>
                        <span class="govuk-hint govuk-checkboxes__hint">For training courses in microsurgery and other skills</span>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="setup-purpose-no" name="setup-purpose" type="checkbox" value="Forensic enquiries" >
                        <label for="setup-purpose" class="govuk-label govuk-checkboxes__label">Forensic enquiries</label>
                        <span class="govuk-hint govuk-checkboxes__hint">For forensic testing or the production of materials for forensic investigations</span>
                      </div>


                    </div>
                  </fieldset>
                </fieldset>
              </div>
            </div>
          </fieldset>
          <div class="govuk-column-third">

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <h3 class="govuk-heading-s">Related guidance</h3>
            <span class="govuk-hint">Links open in a new tab</span>
            <ul class="govuk-list">
              <li><a href="#">General return of procedure guidance</a></li>
            </ul>
          </div>
        </div>
        <div class="govuk-form-group">
          <button class="govuk-button">Continue</button> <a href="rops-landing" class="secondary-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
