
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
{% if data['validate'] == 'true' %}
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script language="JavaScript" type="text/javascript" src="/public/javascripts/validation.js"></script>
{% endif %}
 
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Development of new biological anticancer agents
      </span>
      <h1 class="govuk-heading-l">Set up return: animals</h1>
      
      <form action="setup-animals-breed" method="POST">
        <div class="govuk-form-group" id="q1" data-required="Please answer the question">
          <fieldset class="govuk-fieldset">
            <label class="govuk-fieldset__legend--s" for="">
              Which animal types were used in procedures in 2021?
            </label>
            <span class="govuk-hint">Select all that apply</span>
            {% include "includes/animal-types-picker.html" %}
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <button class="govuk-button">Continue</button> <a href="rops-landing" class="secondary-link">Cancel</a>
        </div>
      </form>
    </div>
    <div class="govuk-column-third">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h3 class="govuk-heading-s">Related guidance</h3>
      <span class="govuk-hint">Links open in a new tab</span>
      <ul class="govuk-list">
        <li><a href="#">General return of procedure guidance</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
