
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">How to cure heartache</span>
      <h1 class="govuk-heading-xl">
        Add a colleague
      </h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            Who needs to be able to view this project?
          </legend>
          <span class="govuk-hint">
            If the person you’re looking for doesn’t appear in the list, ask a <a href="#">HOLC at your establishment</a> to give them access on your behalf.
          </span>
            <input class="govuk-input" id="event-name" name="event-name" type="text">
          </div>
          </div>
        </fieldset>
      </div>
      <a href='added' class="govuk-button">Continue</a> <a href="#" class="secondary-link">Cancel</a>
    </div>
  </div>

  <style type="text/css">
    dt {
      width: 30%;
      margin-inline-start: 0px;
    }
    dd {
      width: 60%;
      padding-bottom: 30px;
      
    }
  </style>

{% endblock %}
