
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      ASPeL prototypes and toolkit
    </h1>

    <div class="establishment-container">
      <p>
        <a href="prototypes">Design protopypes</a>
        <br>
        A list of HTML prototypes that have been tested with users.
      </p>
    </div>

    <div class="establishment-container">
      <p>
        <a href="components">Example design components</a>
        <br>
        Common componennts used across ASPeL which can be reused across prototypes.
      </p>
    </div>

    <div class="establishment-container">
      <p>
        <a href="templates">Page templates</a>
        <br>
        Common page templates that can be reused for prototyping.
      </p>
    </div>
    </div>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          How would you like to be contacted?
        </h1>
      </legend>
      <div id="contact-hint" class="govuk-hint">
        Select all options that are relevant to you.
      </div>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
          <label class="govuk-label govuk-checkboxes__label" for="contact">
            Email
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-email">
              Email address
            </label>
            <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false" autocomplete="email">
          </div>

        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
          <label class="govuk-label govuk-checkboxes__label" for="contact-2">
            Phone
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-phone">
              Phone number
            </label>
            <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
          </div>

        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
          <label class="govuk-label govuk-checkboxes__label" for="contact-3">
            Text message
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-text">
              Mobile phone number
            </label>
            <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel">
          </div>

        </div>
      </div>

    </fieldset>
  </div>
</div>

{% endblock %}
