
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      ASPeL prototypes and toolkit
    </h1>

    <div class="establishment-container">
      <p>
        <a href="prototypes">Design protopypes</a>
        <br>
        A list of HTML prototypes that have been tested with users.
      </p>
    </div>

    <div class="establishment-container">
      <p>
        <a href="components">Example design components</a>
        <br>
        Common componennts used across ASPeL which can be reused across prototypes.
      </p>
    </div>

    <div class="establishment-container">
      <p>
        <a href="templates">Page templates</a>
        <br>
        Common page templates that can be reused for prototyping.
      </p>
    </div>
    </div>

{% endblock %}
