{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk"     import BackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"   import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/checkboxes/macro.njk"    import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"    import govukDateInput %}
{% from "govuk/components/details/macro.njk"       import govukDetails %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"      import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"   import govukFileUpload %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/label/macro.njk"         import govukLabel %}
{% from "govuk/components/panel/macro.njk"         import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/select/macro.njk"        import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"     import govukSkipLink %}
{% from "govuk/components/table/macro.njk"         import govukTable %}
{% from "govuk/components/tabs/macro.njk"          import govukTabs %}
{% from "govuk/components/tag/macro.njk"           import govukTag %}
{% from "govuk/components/textarea/macro.njk"      import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"  import govukWarningText %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% set bodyClasses = "ho-body" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  <header>
    <div class="wrapper-header">
      <div class="header-logo" style="">
        {% include "includes/home-office-logo.html" %}
      </div>
      <div class="header-title">
        <a href="/" class="header-name">Research and testing using animals</a>
        <ul class="nav-items">
            <li class="active">
              <a href="#">Tasks</a>
            </li>
            <li>
              <a href="#">Establishments</a>
            </li>
            <li>
              <a href="#">People</a>
            </li>
            <li>
              <a href="#">Projects</a>
            </li>
            <li>
              <a href="#">Invoicing</a>
            </li>
          </ul>
      </div>
    <div class="sign-in-options">Bruce Banner | Sign out</div>
    </div>

  </header>
  <div class="govuk-phase-banner-badge">
    <div class="govuk-width-container">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong><span class="govuk-phase-banner__text">This is a new service – your <a href="/feedback" class="govuk-link">feedback</a> will help us to improve it.</span></p>
    </div>
  </div>
  <div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item"><a href="/">Home</a></li>
      <li class="govuk-breadcrumbs__list-item">Lorem ipsum</li>
    </ol>
  </div>
  </div>

<style type="text/css">
.header-logo {
margin-right: 15%;
}
.header-title {
      padding-top: 5px;

}
  .header-name {
    font-size: 18px;
    font-weight: bold;
  }
.nav-items {
  list-style-type: none;
  padding-left: 0px;
  display: block;
  margin:5px 0px;
}
.nav-items li {
  display: inline-block;
  padding-right: 20px;
}
</style>

{% endblock %}

{% if useAutoStoreData %}
  {% block footer %}
    <footer>
      <div class="wrapper-footer">
        <div class="footer-message">
          <p>A Home Office Digital, Data and Technology service</p>
          <form action="/prototype-admin/clear-data" method="post">
            <button data-module="govuk-button" class="link-secondary">Clear data</button>
          </form>
        </div>
        <div class="footer-menu">
          <ul>
            <li><a href="#0">Feedback</a></li>
            <li><a href="#0">Help</a></li>
            <li><a href="#0">GOV.UK home</a></li>
          </ul>
        </div>
      </div>
    </footer>
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
