{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"   import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/checkboxes/macro.njk"    import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"    import govukDateInput %}
{% from "govuk/components/details/macro.njk"       import govukDetails %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"      import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"   import govukFileUpload %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/label/macro.njk"         import govukLabel %}
{% from "govuk/components/panel/macro.njk"         import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/select/macro.njk"        import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"     import govukSkipLink %}
{% from "govuk/components/table/macro.njk"         import govukTable %}
{% from "govuk/components/tabs/macro.njk"          import govukTabs %}
{% from "govuk/components/tag/macro.njk"           import govukTag %}
{% from "govuk/components/textarea/macro.njk"      import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"  import govukWarningText %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% set bodyClasses = "ho-body" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  <header>
    <div class="wrapper-header">
      <div class="header-logo">
        {% include "includes/home-office-logo.html" %}
      </div>
      <div class="header-title">
        <a href="/" class="header-name">Research and testing using animals</a>
      </div>

    <div class="sign-in-options"><a href="profile-global">Bruce Banner</a> | Sign out</div>
    </div>
  </header>

  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Prototype
        </strong>
        <span class="govuk-phase-banner__text">
         This is a prototype of a new service. It is work in progress and some parts do not work yet.
        </span>
      </p>
    </div>

  <nav id="nav">
    <div class="navbar">
      <ul class="navbar__list-items" style="margin-block-start: 0em; margin-block-end: 0em; padding-inline-start: 0px;">
        <li class="active-nav">
          <a href="#">Tasks</a>
        </li>
        <li>
          <a href="#">Establishments</a>
        </li>
        <li>
          <a href="#">Projects</a>
        </li>
        <li>
          <a href="#">People</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
  <style>
    .navbar {
      background-color: ;
    }
    .navbar .active-nav{
      border-bottom: 3px solid black ;
      color:red;
    }
    .navbar .active-nav a{
     color: black;
     font-weight: bold;
    }
    ul.navbar__list-items {
       display: block;
       list-style-type: disc;
    }
    .navbar__list-items li {
      color: green;
      display: inline-block;
      padding: 10px 20px;
    }
    .navbar__list-items a {
      text-decoration: none;
    }
     </style>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

     <script>
       $('.navbar__list-items a').click(function (e) {
         console.log('test')
       e.preventDefault();
       var target = $(this);
       target.parents('.navbar').find('.active-nav').removeClass('active-nav');
       target.parents('li').addClass('active-nav');
       // target.parents().find('h1:first').text($(this).text());
   });
     </script>

<style type="text/css">

</style>

{% endblock %}

{% if useAutoStoreData %}
  {% block footer %}
    <footer>
      <div class="wrapper-footer">
        <div class="footer-message">
          <p>A Home Office Digital, Data and Technology service</p>
          <form action="/prototype-admin/clear-data" method="post">
            <button data-module="govuk-button" class="link-secondary">Clear data</button>
          </form>
        </div>
        <div class="footer-menu">
          <ul>
            <li><a href="#0">Feedback</a></li>
            <li><a href="#0">Help</a></li>
            <li><a href="#0">GOV.UK home</a></li>
          </ul>
        </div>
      </div>
    </footer>
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
