
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Design prototypes
    </h1>  
    <p>
      This is a list of prototypes used in the development of the for Animals in Science e-Licensing service.
    </p>  
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-m">Suspending licences</h2>
    <p><a href="/suspend/all-cases">View all compliance cases</a></p>
    <p><a href="/suspend/pil/pil-active">Suspend a PIL</a></p>
    <p><a href="/suspend/ppl/ppl-active">Suspend a PPL</a></p>
    <p><a href="/suspend/pel/pel-active">Suspend a PEL</a></p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-m">Managing enforcement flags</h2>
    <h3 class="govuk-heading-s">Enforcement team adding and managing flags</h3>
    <p><a href="/compliance/v3/home">Enforcement team adding and managing flags - v3</a></p>
    <p><a href="/compliance/v2/home">Enforcement team adding and managing flags - v2</a></p>
    <h3 class="govuk-heading-s">Other inspectors viewing applied flags</h3>
    <p>Outstanding task list</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://asl-prototype.herokuapp.com/compliance/v2/home-outstanding?flag-status=undefined">No enforcement case</a></li>
      <li><a href="https://asl-prototype.herokuapp.com/compliance/v2/home-outstanding?flag-status=open
        ">Open enforcement case</a></li>
      <li><a href=" https://asl-prototype.herokuapp.com/compliance/v2/home-outstanding?flag-status=closed
        ">Closed enforcement case</a></li>
    </ul>
    <p>Example PPL</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://asl-prototype.herokuapp.com/compliance/v2/ppl-jane?flag-status=open">Open enforcement case</a></li>
      <li><a href="https://asl-prototype.herokuapp.com/compliance/v2/ppl-jane">Closed enforcement case</a></li>
    </ul>
    <p>Example PEL</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://asl-prototype.herokuapp.com/compliance/v2/pel-overview?flag-status=open">Open enforcement case</a></li>
      <li><a href="https://asl-prototype.herokuapp.com/compliance/v2/pel-overview?flag-status=closed">Closed enforcement case</a></li>
    </ul>
    <p>Example PIL</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://asl-prototype.herokuapp.com/compliance/v2/pil-jane?flag-status=open">Open enforcement case</a></li>
      <li><a href="https://asl-prototype.herokuapp.com/compliance/v2/pil-jane?flag-status=closed">Closed enforcement case</a></li>
    </ul>

    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-m">Adding filters to task list</h2>
    <p><a href="/task-filters/all">Adding filters to task list</a></p>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
     <h2 class="govuk-heading-m">Reusable components for inspectors</h2>
    <p><a href="/reusable-steps/inspector/protocol-summary/no-optional-and-reuse-no-summary">Protocols without summary of steps</a></p>
    
    <p><a href="/reusable-steps/inspector/protocol-summary/no-optional-and-reuse-2">Protocols with summary of steps in panel</a></p>

    <!-- <p><a href="/reusable-steps/inspector/protocol-summary/protocol-summary-table-no-details">A protocol summary table with just step references</a></p> -->

    <!-- <p><a href="/reusable-steps/inspector/protocol-summary/protocol-summary-table-no-adverse">A protocol summary table with step references and step descriptions</a></p> -->

    <p><a href="/reusable-steps/inspector/protocol-summary/protocol-summary-table-adverse">A protocol summary table with step references, descriptions and adverse effects (within dropdowns)</a></p>

    <p><a href="/reusable-steps/inspector/protocol-summary/steps-list-reused">A list of all individual steps</a></p>

    <h2 class="govuk-heading-m">Reusable components for applicants</h2>
    <p></p>
    <h3 class="govuk-heading-s">'Steps library' approach</h3>
    <!-- <p>Applicant views</p> -->
    <p><a href="/reusable-steps/library/applicant/ppl-index">User adds steps into a library and links them to protocols</a></p>
    <!-- <p>Inspector views</p>
    <p><a href="/reusable-steps/library/inspector/ppl-protocols-list-link">Inspector reviews protocol steps that link to steps in separate library</a></p>
    <p>OR <a href="/reusable-steps/library/inspector/ppl-protocols-expand">Inspector reviews protocol steps that expand to show whole step within prototcol</a></p> -->

    <h3 class="govuk-heading-s">'Reusing steps' approach</h3>
    <p><a href="/reusable-steps/reuse/applicant/ppl-index">User adds steps into a protocol reuses them on other protocols</a></p>


    
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-m">Refusing a PPL</h2>
    <p></p>
    <p><a href="/refusal/inspector/inspector-landing">Inspector refusing</a></p>
    <p><a href="/refusal/applicant/holc-landing">Applicant receives 'notification of intent to refuse'</a></p>
    <p><a href="/refusal/applicant/holc-landing-overdue">Applicant views task past it's deadline</a></p>
    <p><a href="/refusal/inspector-overdue/inspector-landing">Inspector views task past it's deadline and refuses</a></p>


    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-m">Returns of procedures – Post-round 3 writeup</h2>
    <p class="govuk-hint">Testing corrections and edits</p>
    <!-- <h3 class="govuk-heading-s">External users </h3> -->
    <p>Scenario 1. <a href="/rops/r3/pplh-landing">Filling out a RoP in bulk</a> – <a href="/rops/r3/pplh-landing?validate=true">(with validation)</a>
    <p>Scenario 2. <a href="/rops/r3/rops-full">Editing the purpose on a RoP</a> – <a href="/rops/r3/rops-full?validate=true">(with validation)</a></p>
    <p>Scenario 3. <a href="/rops/r3/pplh-returned/pplh-landing-returned">Receiving a query for a change from an inspector</a> – <a href="/rops/r3/pplh-returned/pplh-landing-returned?validate=true">(with validation)</a></p>
  
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-m">Returns of procedures – Round 3</h2>
    <p class="govuk-hint">Testing corrections and edits</p>
    <!-- <h3 class="govuk-heading-s">External users </h3> -->
    <p>Scenario 1. <a href="/rops/r2/pplh-landing">Filling out a RoP in bulk</a> – <a href="/rops/r2/pplh-landing?validate=true">(with validation)</a>
    <p>Scenario 2. <a href="/rops/r2/rops-full">Editing the purpose on a RoP</a> – <a href="/rops/r2/rops-full?validate=true">(with validation)</a></p>
    <p>Scenario 3. <a href="/rops/r2/pplh-returned/pplh-landing-returned">Receiving a query for a change from an inspector</a> – <a href="/rops/r2/pplh-returned/pplh-landing-returned?validate=true">(with validation)</a></p>
  
   
    <h2 class="govuk-heading-m">Returns of procedures – Round 2</h2>
    <p></p>
    
        <h3 class="govuk-heading-s">Internal users</h3>
        <p><a href="/rops/r1/asru/insp-request/inspector-landing?role=asru">ASRU find, review and return a RoP for correction</a>
          <br>
          <span class="govuk-hint">Select University of Croydon, then 'Development of new biological anticancer agents' from the 'completed' tab then request a correction and review the correction task</span>
        </p>
        <p><a href="/rops/r1/asru/stats-login">Stats team – first download of the returns</a><br>
          <span class="govuk-hint">View and download returns at an early point in the reporting period</span>
        </p>
        <p><a href="/rops/r1/asru/stats-login-end">Stats team – download at the end of the reporting period</a><br>
          <span class="govuk-hint">View and download returns after the end of the reporting period</span>
        </p>
    <h3 class="govuk-heading-s">External users</h3>
    <p><a href="/rops/r1/asru/ppl-overview-submitted#rops">PPLh makes a correction on a submitted RoP</a><br>
      <span class="govuk-hint">An external user reviews their submitted RoP, makes a correction and submits</span>
    </p>
    <p><a href="/rops/r1/asru/pplh-returned/pplh-landing-returned">PPLh receives a query on their RoP</a><br>
      <span class="govuk-hint">An external user receives a 'returned' RoP task, makes a correction and resubmits the RoP </span>
    </p>

    <h2 class="govuk-heading-m">Returns of procedures – Round 1</h2>
    <p></p>
    <h3 class="govuk-heading-s">External users</h3>
    <p><a href="/rops/r1/pplh-landing">PPLh submitting research RoP</a><br></p>
    <p><a href="/rops/r1/regulatory/pplh-landing">PPLh submitting regulatory RoP</a><br></p>
   
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-m">PPL restructure</h2>
    <p></p>
    <p><a href="/nts-restructure/holc-landing-page">User research scenario</a><br>
    <span class="govuk-hint">Task: Add 100 Mice to protocol 2 of the PPL "Autophagy in the hematopoietic system"</span></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-m">PPL assessments</h2>
    <p></p>
    <p><a href="/assessments/inspector-landing">Application assessment</a></p>
    <p><a href="/assessments/assessment-amendment/inspector-landing">Amendment assessment</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-m" id="improving-slas">HOLTIF demo</h2>
    <ol class="govuk-list govuk-list--number">
      <li><a href="nts-improvements/publishing/amend/pplh-landing.html">NTS review and amendment process</a></li>
      <li><a href="nts-improvements/nts-directory-public.html">NTS directory</a></li>
      <li><a href="nts-improvements/legacy/nts-overview.html">Digital view of an NTS</a></li>
      <li><a href="ra-submission/pplh-landing.html">Submitting an RA for an expired licence</a></li>
    </ol>
    <p>
      
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    
    <h2 class="govuk-heading-m" id="improving-slas">Submitting an RA</h2>
    <p>Full user journey</p>
    <ol class="govuk-list govuk-list--number">
      <li><a href="ra-submission/pplh-landing.html">Submitting an RA for a legacy licence</a></li>
      <li>Endorsement and Inspector journeys pending</li>
      <li><a href="ra-submission/ra-ppl/ra-index.html">The RA form for a new licence</a></li>
      <li><a href="ra-submission/endorsement/pelh-landing.html">The PELh delegate endorses an RA</a></li>
      <li><a href="ra-submission/inspector/inspector-landing.html">Inspector recommends an RA</a></li>
    </ol>
    <p>
      Version 2 with original questions
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="ra-submission/ra-ppl-original/ra-index-start.html">RA form with oringinal question layout</a></li>
      <li><a href="ra-submission/endorsement/ra/ra-index.html">RA review (for endorsement and inspector) with oringinal question layout</a></li>
    </ul>
    
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Round 1 of user testing prototypes
        </span>
      </summary>
      <div class="govuk-details__text">
        <ol class="govuk-list govuk-list--number">
          <li><a href="ra-submission/round-1/pplh-landing.html">Submitting an RA for a legacy licence</a></li>
          <li><a href="ra-submission/round-1/ra-ppl/ra-index.html">The RA form for a new licence</a></li>
          <li><a href="ra-submission/round-1/endorsement/pelh-landing.html">The PELh delegate endorses an RA</a></li>
          <li><a href="ra-submission/round-1/inspector/inspector-landing.html">Inspector recommends an RA</a></li>
        </ol>
      </div>
    </details>
    
    <h3 class="govuk-heading-s" id="improving-slas">Other pages of interest</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="ra-submission/ra-ppl/ra-harms-2.html">Alternative version of the HBA – by animal type</a></li>
    </ul>
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-m" id="improving-slas">NTSs</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/nts-improvements/legacy/nts-overview">Legacy NTS</a></li>
      <li><a href="/nts-improvements/new/nts-overview">New NTS</a></li>
      <li><a href="/nts-improvements/legacy-with-ra/nts-overview">Legacy NTS with RA included</a></li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-m" id="improving-slas">PPL overview navigation</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/ppl-overview/ppl-overview-tabbed">Tabbed PPL overview</a></li>
      <li><a href="/ppl-overview/back-to-overview/ppl-experience-back">Back to project overview</a></li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-m" id="improving-slas">New features</h3>
    <ol class="govuk-list govuk-list--number">
      <li><a href="sla-testing/extend/home">Scenario 1.</a></li>
      <li><a href="sla-testing/passed/home">Scenario 2.</a></li>
      <li><a href="sla-testing/passed/task-review-approved">Scenario 3.</a></li>
    </ol>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h3 class="govuk-heading-m" id="existing-pils">Applying for Cat E for users with existing PILs</h3>

    <ol class="govuk-list govuk-list--number">
      <li><a href="/cat-e-pils/ur-existing/pil-amend/pil-app">Admin at licence holding establishment amends an existing PIL with Cat E</a></li>
      <li><a href="/cat-e-pils/ur-existing/set-up/holc-landing-page">Admin at training establishment sets up course and applys for a user with an existing PIL</a></li>
      <li><a href="/cat-e-pils/ur-existing/ntco-1-endorses/ntco-landing-page">NTCO at licence holding establishment endorses the PIL</a></li>
      <li><a href="/cat-e-pils/ur-existing/ntco-2-endorses/ntco-landing-page">NTCO at training establishment endorses the PIL</a></li>
      <li>ASRU review and grant the licence</li>
      <li><a href="https://docs.google.com/document/d/1LGZBAul8wIr5l5XTMRlig0ylrk82194T5IZwK1s4QD0/edit?usp=sharing">Training establishment receive confirmation email</a></li>
      <li><a href="https://docs.google.com/document/d/1SJNB9NsmZpRXkXv0tV55wBEietuvRyi99FnAPPz15Rk/edit?usp=sharing">Licence holding establishment receive confirmation email</a></li>
      <li><a href="/cat-e-pils/ur-existing/view-complete-course/holc-landing-page">Admin at training establishment finds the licence in the course</a></li>
      <li><a href="/cat-e-pils/ur-existing/pil-granted/pil-granted-cat-e">View the granted PIL</a></li>

      <li><a href="https://docs.google.com/document/d/1khDbZoQJCRGKKRSrm2bo4Lj-Ea2Jhjq2IoUlIz6O8Ow/edit?usp=sharing">A user with a a full licence has Cat E expire</a></li>
      <li><a href="/cat-e-pils/ur-existing/view-complete-course/manage-pils">Review course management to see approved cat E PILs</a></li>

    </ol>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m">Having PELh delegates make AWERB declaration</h2>
    <h3 class="govuk-heading-s">User research scenarios - external users</h3>
    <p><a href="https://sbrrou.axshare.com/#id=sek5h9&p=page_2">1. Mockups of entire flow</a> – Including PPLh submission, PPLh delegate declaration and inspectors review</p>
    <p><a href="/improving-activity-history/ppl-task-test">2. Inspectors view of the task review</a></p>
    <p><a href="/improving-activity-history/ppl-task-proposed">3. View of a completed task review with all activity history</a></p>
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-m">Managing training and exemptions</h2>
    <h3 class="govuk-heading-s">User research scenarios - external users</h3>
    <p><a href="/training-exemptions/ur/pil/pil-app">1. Adding training and exemption to a PIL application</a></p>
    <p><a href="/training-exemptions/ur/ppl/ppl-index">2. Updating training for a PPL application</a></p>
    <p><a href="/training-exemptions/ur/others-profile/est-people">3. Viewing a users training on their establishment profile</a> - Choose the user Cassondra Aikett</p>
    
    
    <h3 class="govuk-heading-s">User research scenarios – Inspectors</h3>
    <p><a href="/training-exemptions/ur/inspector/pil-task-review">1. Reviewing a PIL application with training</a></p>
    <p><a href="/training-exemptions/ur/inspector/ppl-training">2. Reviewing the training section of a PPL</a>(including new PPL navigation)</p>
   
    <h3 class="govuk-heading-s">User research scenarios – Licensing Officers</h3>
    <p><a href="/training-exemptions/ur/licencing/pil-task-review">1. Reviewing a PIL application with training</a></p>
    <p><a href="/training-exemptions/ur/licencing/ppl-training">2. Reviewing the training section of a PPL</a></p>


    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-m" id="cat-e">Category E PILs</h2>
    <p>1. <a href="/cat-e-pils/holc-landing-page">Set up a course and apply for licences</a></p>
    <p>Once a course has been set up, you can then:</p>
    <p>2. <a href="/cat-e-pils/ntco-endorses/ntco-landing-page">Sign in as an NTCO and endorse the task</a></p>
    <p>3. <a href="/cat-e-pils/add-another/holc-landing-page">Return to the course and add another participant</a></p>
    <p>4. and 5. <a href="/cat-e-pils/view-granted/holc-landing-page">Return to the course and view granted licences, the cancel a user</a></p>
    <p>6. <a href="/cat-e-pils/create-another/holc-landing-page">Create another course</a></p>
    <p>7. <a href="/cat-e-pils/pils-list-long">Managing multiple courses</a></p>
    <p>8. <a href="/cat-e-pils/inspector-reviews/inspector-landing-page">Inspector reviews and approves an application</a></p>
    <p>9. <a href="/cat-e-pils/inspector-reviews/inspector-return-landing-page">Inspector reviews and returns an application</a></p>

    <h3 class="govuk-heading-s" id="existing-pils">Users with existing PILs</h3>

    <ol class="govuk-list govuk-list--number">
      <li><a href="/cat-e-pils/ur-existing/pil-amend/pil-app">Admin at licence holding establishment amends an existing PIL with Cat E</a></li>
      <li><a href="/cat-e-pils/ur-existing/set-up/holc-landing-page">Admin at training establishment sets up course and applys for a user with an existing PIL</a></li>
      <li><a href="/cat-e-pils/ur-existing/ntco-1-endorses/ntco-landing-page">NTCO at licence holding establishment endorses the PIL</a></li>
      <li><a href="/cat-e-pils/ur-existing/ntco-2-endorses/ntco-landing-page">NTCO at training establishment endorses the PIL</a></li>
      <li>ASRU review and grant the licence</li>
      <li><a href="https://docs.google.com/document/d/1LGZBAul8wIr5l5XTMRlig0ylrk82194T5IZwK1s4QD0/edit?usp=sharing">Training establishment receive confirmation email</a></li>
      <li><a href="https://docs.google.com/document/d/1SJNB9NsmZpRXkXv0tV55wBEietuvRyi99FnAPPz15Rk/edit?usp=sharing">Licence holding establishment receive confirmation email</a></li>
      <li><a href="/cat-e-pils/ur-existing/pil-granted/pil-granted-cat-e">View the granted PIL</a></li>
      <li><a href="https://docs.google.com/document/d/1khDbZoQJCRGKKRSrm2bo4Lj-Ea2Jhjq2IoUlIz6O8Ow/edit?usp=sharing">A user with a a full licence has Cat E expire</a></li>
    </ol> 
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          First draft of scenarios
        </span>
      </summary>
      <div class="govuk-details__text">
      


    <ol class="govuk-list govuk-list--number">
      <li><a href="/cat-e-pils/existing-pil/pil-app-start">A new user without a PIL tries to apply for a cat E licence</a></li>
      <li><a href="/cat-e-pils/existing-pil/amendment/pil-proceedures">A User with a PIL at Slough University tries to add Cat E to it</a></li>
      <li><a href="/cat-e-pils/existing-pil/add-another/manage-pils-existing-external">An admin at UoC applies for a Cat E licence for someone with a PIL at Slough Uni</a></li>
      <li><a href="/cat-e-pils/existing-pil/add-another/manage-pils-existing-internal">An admin at UoC applies for a Cat E licence for someone with a PIL at the same University</a></li>
      <li><a href="/cat-e-pils/existing-pil/ntco-1-endorses/ntco-landing-page">The NTCO at Slough Uni endorses the Cat E for UoC</a></li>
      <li><a href="/cat-e-pils/existing-pil/ntco-2-endorses/ntco-landing-page">The NTCO at UoC endorses the Cat E</a></li>
      <li><a href="/cat-e-pils/existing-pil/inspector/inspector-landing-page">The inspector for UoC makes their recommendation</a></li>
      <li><a href="/cat-e-pils/existing-pil/email">All relevant actors recieve notifications when the licence is granted</a></li>
      <li><a href="/cat-e-pils/existing-pil/pil-granted-cat-e">Viewing an existing PIL with Cat E added</a></li>
      <li><a href="/cat-e-pils/existing-pil/revoke-cat-e/pil-granted-cat-e">Revoking Cat E from an existing PIL with Cat E added</a></li>
    </ol>

      </div>
    </details>
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-m">Protocol summary table</h2>
    <p></p>
    <p><a href="/protocol-summary-table/protocols">Protocol summary in a dropdown</a></p>
    <p><a href="/protocol-summary-table/protocols-separate">Protocol summary on it's own page</a></p> 
    <p><a href="/protocol-summary-table/protocols-separate-window">Protocol summary opens in a separate window</a></p>
    <p><a href="/protocol-summary-table/protocols-separate-2">Protocol summary on it's own page with summary of steps</a></p>
    
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-m">Assessments</h2>
    <p></p>
    <p><a href="/assessments/task-review">Separate assessment sheet flow in new window</a></p>
    <p><a href="/assessments/application/experience-sticky">In application assessment reference</a></p>
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-m">5 year PIL reviews</h2>
    <p></p>
    <p><a href="/5-year-review/ntco-tasks">NTCO view of 5 year reviews</a></p>
    <p><a href="/5-year-review/lo-tasks">Licencsing Officer view of 5 year reviews</a></p>
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-m">Showing establishments licence fees</h2>
    <p>Task: Reveiw licence fees and billing contact details</p>
    <p><a href="/invoicing/reporting-establishment-final">Viewing an establishments licence fees</a></p>
    <p><a href="/invoicing/reporting-asru-final">Viewing an establishments licence fees</a></p>
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-m">Transfering a PPL</h2>
    <p>Task: Transfer the PPL to Establishment B</p>
      <ul class="govuk-list"><li><a href="/transfer-ppl/final-no24/pplh-landing-page">PPL holder requests a transfer</a></li>
        <li><a href="/transfer-ppl/final-no24/pelha-landing-page">PEL holder at Establishment A endorses the amendment</a></li>
        <li><a href="/transfer-ppl/final-no24/pelhb-landing-page">PEL holder at Establishment B endorses the amendment</a></li>
        <li><a href="/transfer-ppl/final-no24/lo-landing-page">Inspector reviews the amendment</a></li>
        <li><a href="/transfer-ppl/final-no24/inspector2-landing-page">Licensing Officer reviews the amendment</a></li>
      </ul>
    
    
      <h2 class="govuk-heading-m">Showing extra conditions with protcols</h2>
      
      <ul class="govuk-list">
        <li><a href="/protocol-conditions/option-4">Collapse conditions at the top of protocols</a></li>
        <li><a href="/protocol-conditions/option-2a">Separate Anaesthetic etc conditions section</a></li>
      </ul>
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-m">Duplicating and rearranging protocols</h2>
    <p>Task: Duplicate and rearrange protocols 2 and 4</p>
    <a href="/duplicating-protocols/duplicating-protocols">
      Duplicating protocols
    </a>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-m">Allow users to edit returned tasks</h2>
    <p>Task: Make a change to a returned area amendment</p>
    <a href="/edit-returns/sop/external/task-list-returned-sop">
      Allow users to edit returned tasks
    </a>
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-m">Assigning tasks to specific inspectors</h2>
    <p>Task: Assign the PIL application of Joan Andrews to Emilio Roundy</p>
    <a href="/reassigning-tasks/inspector-landing-page">
      Assigning tasks to specific inspectors
    </a>
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-m">Improving how we communicate restrictions</h2>
    <p>Task: Add Short Term Holding (STH) to 2 Marsham Streets area 1603</p>
    <a href="/improving-restrictions/general-fixes-icons/approved-areas">
      Improving restrictions
    </a>
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-m">Making bulk amendments to approved areas</h2>
    <p>Task: Update the site name of all '2 Marsham Street' approved areas to '3 Marsham Street' and make their NACWO Megan Alberts. Inspector to then add restriction to approved area 1.</p>
    <a href="/bulk-amendments/external/list-of-approved-areas.html">
      Making bulk amendments to approved areas
    </a>  
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-l">The most recent prototypes are now at the top of this page</h2>
    <p><a href="#">Back to top</a></p>
       -->
    </div>
</div>

{% endblock %}
