
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Common page templates
    </h1>  
    <p>This is a list of common page templates that can be quickly reused when creating new prototypes.</p>

    <p>Note: These pages need to be continually updated to match the live service so some may currently be sightly of date.</p>
    
    <ul class="govuk-list">
      <li><a href="templates/comment.html">Workflow - comments page</a></li>
      <li><a href="templates/confirmation.html">Workflow - confirmation page</a></li>
      <li><a href="templates/pel-overview.html">Establishment - overview page</a></li>
      <li><a href="templates/pel-details.html">Establishment - details page</a></li>
      <li><a href="templates/pel-people.html">Establishment - people list</a></li>
      <li><a href="templates/pel-ppls.html">Establishment - projects list</a></li>
      <li><a href="templates/pel-ppls.html">Establishment - projects list</a></li>
      <li><a href="templates/global-ppl-list.html">ASRU - global ppls list XXXX</a></li>
      <li><a href="templates/granted-licence.html">Project licence – granted licence summary page</a></li>
      <li><a href="templates/granted-licence-protocol.html">Project licence – granted licence protocols page</a></li>
      <li><a href="templates/holc-landing-page.html">External user – home page</a></li>
      <li><a href="templates/inspector-landing-page.html">ASRU user – home page</a></li>
      <li><a href="templates/pil-granted.html">PIL – granted licence</a></li>
      <li><a href="templates/pil-application.html">PIL – application</a></li>
      <li><a href="templates/ppl-additional-conditions.html">PPL – additional conditions</a></li>
      <li><a href="templates/ppl-task-amendment.html">PPL – amendment task</a></li>
      <li><a href="templates/ppl-task-application.html">PPL – application task</a></li>
      <li><a href="templates/ppl-declaration.html">PPL – submission declaration</a></li>
      <li><a href="templates/ppl-index">PPL – application index page</a></li>
      <li><a href="templates/ppl-overview">PPL – overview page</a></li>
      <li><a href="templates/ppl-protocols">PPL – protocols page</a></li>
      <li><a href="templates/ppl-page">PPL – standard section page</a></li>
      <li><a href="templates/ppl-review">PPL – section review page</a></li>
      <li><a href="templates/standard-page-accordion">General – page with an accordion</a></li>
      <li><a href="templates/standard-page-conditional.html">General – page with a conditional form input</a></li>
      <li><a href="templates/standard-page-tabs.html">General – page with tabs</a></li>
      <li><a href="templates/standard-page.html">General – standard page</a></li>
      <li><a href="templates/task.html">General – standard page</a></li>
      <li><a href="templates/task-review.html">General – task page</a></li>
    </ul>
  </div>
</div>

{% endblock %}
