
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="licence-status-banner expired-licence">
        <p>
          <strong>EXPIRED</strong>
          <span class="float-right"><a href="#">Show less</a></span>
          <hr>
        </p>
        <p><strong>Granted:</strong> 14 June 2018 | <strong>Expired:</strong> 3 September 2019</p>
        <p>This amendment has not been approved yet.</p>
      </div>
      <h3 class="govuk-heading-s">University of Croydon</h3>
      <div class="download-header">
        <span style="font-size: 24px;" class="govuk-body">Test project name</span>
        <span class="float-right">
          <span class="hod-download-button side-space icon-small" style="margin-right: 0px; color:#005ea5"></span>
          <a href="#">Download licence</a>
        </span>
      </div>


<style type="text/css">
  .index-item {
    padding: 15px 20px 15px 0;
    border-bottom: 1px solid #bfc1c3;
    text-align: left;
    display: block;
    width: 100%;
  }

  .float-right {
    margin-left: 10px;
  }
</style>



<h2 class="govuk-heading-m">Project introduction</h2>
<span class="index-item "><a href='#'>Introductory details  <span class="badge float-right">AMENDED</span><span class="badge float-right">3 comments</span></a></span>
<br>
<br>
<h2 class="govuk-heading-m">Applicant information</h2>
<span class="index-item "><a href='#'>Experience </a></span>
<span class="index-item "><a href='#'>Funding </a></span>
<br>
<br>
<h2 class="govuk-heading-m">Project location</h2>
<span class="index-item "><a href='#'>Establishments  <span class="badge float-right">AMENDED</span><span class="badge float-right">5 comments</span></a></span>
<span class="index-item "><a href='#'>Places other than a licensed establishment (POLEs)  </a></span>
<br>
<br>
<h2 class="govuk-heading-m">Project plan</h2>
<span class="index-item "><a href='#'>Scientific background  <span class="badge float-right">AMENDED</span><span class="badge float-right">2 comments</span></a></span>
<span class="index-item "><a href='#'>Action plan </a></span>
<span class="index-item "><a href='#'>General principles <span class="badge float-right">AMENDED</span></a></span>
<span class="index-item "><a href='#'>Benefits  </a></span>
<br>
<br>
<h2 class="govuk-heading-m">Protocols</h2>
<span class="index-item "><a href='#'>Protocols</a></span>
<span class="index-item "><a href='#'>Project harms  <span class="badge float-right">AMENDED</span><span class="badge float-right">1 comments</span></a></span>
<span class="index-item "><a href='#'>Fate of animals   <span class="badge float-right">AMENDED</span><span class="badge float-right">3 comments</span></a></span>
<br>
<br>
<h2 class="govuk-heading-m">Use of animals</h2>
<span class="index-item "><a href='#'>Purpose bred animals  </a></span>
<span class="index-item "><a href='#'>Endangered animals  </a></span>
<span class="index-item "><a href='#'>Animals taken from the wild </a></span>
<span class="index-item "><a href='#'>Feral animals </a></span>
<br>
<br>
<h2 class="govuk-heading-m">Other considerations</h2>
<span class="index-item "><a href='#'>Commercial slaughter    <span class="badge float-right">AMENDED</span><span class="badge float-right">4 comments</span></a></span>
<span class="index-item "><a href='#'>Animals containing human material </a></span>
<br>
<br>
<h2 class="govuk-heading-m">The 3Rs</h2>
<span class="index-item "><a href='#'>Replacement </a></span>
<span class="index-item "><a href='#'>Reduction </a></span>
<span class="index-item "><a href='#'>Refinement  </a></span>
<br>
<br>
<h2 class="govuk-heading-m">Non-technical summary</h2>
<span class="index-item "><a href='#'>Review  </a></span>
<br>
<br>
<h2 class="govuk-heading-m">Additional conditions</h2>
<span class="index-item "><a href='#'>Additional conditions </a></span>
<br>
<br>
<h2 class="govuk-heading-m">Authorisations</h2>
<span class="index-item "><a href='#'>Authorisations</a></span>
    </div>
  </div>

{% endblock %}
