
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "includes/status-banner-draft.html" %}
      {% include "includes/licence-header-ppl.html" %}
      {% include "includes/list-of-sections.html" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Establishments</h2>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Do the housing, husbandry, and care conditions at each establishment meet the requirements laid out in the Code of Practice for each type of animal you will be using?
            </legend>
            <span class="govuk-hint">Please read the Code of Practice for the housing and care of animals bred, supplied, or used for scientific purposes before you answer.</span>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>  
        
        <p><a class="govuk-button govuk-button--secondary">Add comment</a></p>
        <a href='add-establishment.html' class="govuk-button">Continue</a><a href='add-establishment.html' class="secondary-link">List of sections</a>
      </form>   
    </div>
  </div>
<style type="text/css">

</style>
{% endblock %}
