
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel green-bg">
        <h1 class="govuk-panel__title">Amendment granted</h1></div>
      
        <h2 class="govuk-heading-m">What happens next?</h2>
        <p>The licence has been moved to a new establishment.</p>
        <p>The previous primary establishment of this licence will no longer be able to view it.</p>

        <p><a href="pelhb-landing-page">Home</a></p>
      </div>
    </div>
  </div>


{% endblock %}
