
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="licence-status-banner">
        <p>
          <strong>DRAFT AMENDMENT</strong>
          <span class="float-right"><a href="#">Show less</a></span>
          <hr>
        </p>
         <p>This amendment has not been submitted and the licence is not active. The licence holder or applicant is not authorised to carry out the programme of work as stated in this licence/application.</p>
        <p><a href="#">View granted licence</a></p>
      </div>

      <div class="download-header">
        <span style="font-size: 24px;" class="govuk-body">How to cure heartache</span>
        <span class="float-right">
          <span class="hod-download-button side-space icon-small" style="margin-right: 0px; color:#005ea5"></span>
          <a href="#">Download application</a>
        </span>
      </div>
      <div class="back-to-sections-link govuk-body">
        <a href="ppl-index">List of sections</a>
      </div>
    </div>
  </div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Transfer and movement of animals</h2>

      <form action="ppl-transfer-review" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="">
              Will any animals undergoing regulated procedures be moved between licensed establishments?
            </label>
            <span id="holding-hint" class="govuk-hint">This includes genetically altered animals being bred or maintained under the authority of your project licence</span>

           <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="moved" name="moved" type="radio" value="Yes" data-aria-controls="conditional-moved-1" >
                <label class="govuk-label govuk-radios__label" for="moved-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-moved-1">
                <div class="govuk-form-group">
                  <label class="govuk-label--s" for="moved-why-additional-1">What types of animals do you need to move? What regulated procedures will they have undergone?</label>
                  <textarea class="govuk-textarea" id="moved-why-3" name="moved-3" rows="7"></textarea>
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label--s" for="moved-why-additional-1">Why do you need to move animals between licensed establishments?</label>
                  <textarea class="govuk-textarea" id="moved-why-4" name="moved-4" rows="7"> </textarea>
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label--s" for="moved-why-additional-1">How might the movement of animals between licensed establishments affect scientific delivery of the work?</label>
                  <textarea class="govuk-textarea" id="moved-why-5" name="moved-5" rows="7"></textarea>
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label--s" for="moved-why-additional-1">What measures will you use to minimise any adverse effects for animals that may arise when moving them between licensed establishments?</label>
                  <textarea class="govuk-textarea" id="moved-why-5" name="moved-5" rows="7"></textarea>
                </div>

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <label class="govuk-label--s" for="">Will surgically prepared animals be given a minimum of 7 days to recover before being transferred?</label>
                    <span id="holding-hint" class="govuk-hint"></span>
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="moved-6-1" name="moved-6" type="radio" value="Yes" data-aria-controls="conditional-moved-6-1" >
                        <label class="govuk-label govuk-radios__label" for="moved-6-1">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="moved-6-2" name="moved-6" type="radio" value="No" data-aria-controls="conditional-moved-6-2">
                        <label class="govuk-label govuk-radios__label" for="moved-6-2">
                          No
                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-moved-6-2">
                        <div class="govuk-form-group">
                          <label class="govuk-label--s" for="moved-why-additional-1">Why won't animals be given 7 days to recover before being transferred?</label>
                          <textarea class="govuk-textarea" id="moved-why" name="moved-6" rows="7"></textarea>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <label class="govuk-label--s" for="">Will you be transfering surgically prepared animals?</label>
                    <span id="holding-hint" class="govuk-hint"></span>
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="moved-7-2" name="moved-7" type="radio" value="No" data-aria-controls="conditional-moved-7-2" >
                        <label class="govuk-label govuk-radios__label" for="moved-7-2">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-moved-7-2">
                        <div class="govuk-form-group">
                          <fieldset class="govuk-fieldset">
                            <label class="govuk-label--s" for="">Will animals be given a minimum of 7 days to acclimatise to their new surroundings prior to any regulated procedures being undertaken?</label>
                            <span id="holding-hint" class="govuk-hint"></span>
                            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="moved-7-4" name="moved-9" type="radio" value="Yes" data-aria-controls="conditional-moved-9-4" >
                                <label class="govuk-label govuk-radios__label" for="moved-9-4">
                                  Yes
                                </label>
                              </div>
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="moved-9-3" name="moved-9" type="radio" value="No" data-aria-controls="conditional-moved-9-3">
                                <label class="govuk-label govuk-radios__label" for="moved-9-3">
                                  No
                                </label>
                              </div>
                              <div class="govuk-radios__conditional " id="conditional-moved-9-3">
                                <div class="govuk-form-group">
                                  <label class="govuk-label--s" for="moved-why-additional-3">Why won't  animals be given 7 days to acclimatise to their new surroundings? </label>
                                  <textarea class="govuk-textarea" id="moved-why" name="moved-8" rows="7"></textarea>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="moved-7-4" name="moved-7" type="radio" value="Yes" data-aria-controls="conditional-moved-7-4" >
                        <label class="govuk-label govuk-radios__label" for="moved-7-4">
                          No
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>

              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="moved-2" name="moved" type="radio" value="No" data-aria-controls="conditional-moved-2" >
                <label class="govuk-label govuk-radios__label" for="moved-2">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button">Continue</button><a href='ppl-index' class="secondary-link">List of sections</a>
      </form>
    </div>
  </div>
<style type="text/css">

</style>
{% endblock %}
