
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="licence-status-banner">
        <p>
          <strong>DRAFT AMENDMENT</strong>
          <span class="float-right"><a href="#">Show less</a></span>
          <hr>
        </p>
         <p>This amendment has not been submitted and the licence is not active. The licence holder or applicant is not authorised to carry out the programme of work as stated in this licence/application.</p>
        <p><a href="#">View granted licence</a></p>
      </div>

      <div class="download-header">
        <span style="font-size: 24px;" class="govuk-body">How to cure heartache</span>
        <span class="float-right">
          <span class="hod-download-button side-space icon-small" style="margin-right: 0px; color:#005ea5"></span>
          <a href="#">Download application</a>
        </span>
      </div>
      <div class="back-to-sections-link govuk-body">
        <a href="ppl-index">List of sections</a>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Establishments</h2>
      <h3 class="govuk-heading-s">Primary establishment</h3>
      <p>{{data["est-primary"]}}</p>
      <p><a href="#">Edit</a></p>
      <br>
      <form action="ppl-establishments-3" method="post">
        
        <div class="protocol-container">
          <div class="protocol-header-in-progress">

            <h3 class="govuk-heading-m">Additional establishment 1</h3>
            <p>Add any additional establishments where work on this project will be carried out beyond just the primary establishemt.</p>
            <div class="govuk-form-group">
              <label class="govuk-label--s" for="est1-name">
                Establishment name
              </label>
              <input class="govuk-input" id="est1-name" name="est1-name" type="text" value="Marvell Pharmaceuticals">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label--s" for="est1-reason">
                Why do you need to carry out work at this establishment?
              </label>
              <span id="est1-reason-hint" class="govuk-hint">For example, there may be important specialised equipment at this location that is not available at your primary establishment.</span>
              <textarea class="govuk-textarea" id="est1-reason" name="est1-reason" rows="7" aria-describedby="more-detail-hint">University of Croydon doesn't have the MRI machine that we require for this work</textarea>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label--s" for="est1-who">
                Who will be responsible for supervising your work at this establishment?
              </label>
              <textarea class="govuk-textarea" id="est1-who" name="est1-who" rows="7" aria-describedby="more-detail-hint">Michael Thomas – 0771234556789</textarea>
            </div>
          </div> 
        </div>
        
        <p><a class="govuk-button govuk-button--secondary">Add another additional Establishment</a></p>
        <button class="govuk-button">Continue</button><a href='ppl-index' class="secondary-link">List of sections</a>
      </form>   
    </div>
  </div>
<style type="text/css">

</style>
{% endblock %}
