
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="licence-status-banner">
        <p>
          <strong>DRAFT AMENDMENT</strong>
          <span class="float-right"><a href="#">Show less</a></span>
          <hr>
        </p>
         <p>This amendment has not been submitted and the licence is not active. The licence holder or applicant is not authorised to carry out the programme of work as stated in this licence/application.</p>
        <p><a href="#">View granted licence</a></p>
      </div>

      <div class="download-header">
        <span style="font-size: 24px;" class="govuk-body">How to cure heartache</span>
        <span class="float-right">
          <span class="hod-download-button side-space icon-small" style="margin-right: 0px; color:#005ea5"></span>
          <a href="#">Download application</a>
        </span>
      </div>
    </div>
  </div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Establishments</h2>

      <form action="ppl-establishments-2" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="">
              What is the primary establishment for this licence?
            </label>
            <span id="holding-hint" class="govuk-hint">If the establishment for this licence is not listed, contact the Home Office Liaison Contact (HOLC) of that establishment and ask them to send you an invitation.</span>

            <p>Establishment A</p>
            <!-- <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="est-primary-1" name="est-primary" type="radio" value="Yes" data-aria-controls="conditional-est-primary-1">
                <label class="govuk-label govuk-radios__label" for="est-primary-1">
                  Establishment A
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="est-primary-2" name="est-primary" type="radio" value="No" data-aria-controls="conditional-est-primary-2">
                <label class="govuk-label govuk-radios__label" for="est-primary-2">
                  Establishment B
                </label>
              </div>
            </div> -->

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label--s" for="">
              Will your project use any additional establishments?
            </label>
            <span id="holding-hint" class="govuk-hint"></span>

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-establishments-1" name="add-establishments" type="radio" value="Yes" data-aria-controls="conditional-add-establishments-1">
                <label class="govuk-label govuk-radios__label" for="add-establishments-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="add-establishments-2" name="add-establishments" type="radio" value="No" data-aria-controls="conditional-add-establishments-2">
                <label class="govuk-label govuk-radios__label" for="add-establishments-2">
                  No
                </label>
              </div>
            </div>

          </fieldset>
        </div>
        <button data-module="govuk-button" class="govuk-button">Continue</button><a href='ppl-index' class="secondary-link">List of sections</a>
      </form>
    </div>
  </div>
<style type="text/css">

</style>
{% endblock %}
