
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel green-bg">
        <h1 class="govuk-panel__title">Amendment submitted</h1>
      </div>
      
      <h2 class="govuk-heading-m">What happens next?</h2>
      <p>Administrators at your current and proposed establishment will need to endorse your project licence transfer request. They will contact you if they need any more information otherwise it will be submitted to the Home Office.</p>

      <p>The Home Office may contact you to discuss the timing of this transfer and any other details.</p>

      <p><a href="pelha-landing-page">Home</a></p>
      
    </div>
  </div>


{% endblock %}
