
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      <h3 class="govuk-heading-s">University of Croydon</h3>
      <div class="download-header">
        <span style="font-size: 24px;" class="govuk-body">Finding the cure for heartache</span>
        <span class="float-right">
          <span class="hod-download-button side-space icon-small" style="margin-right: 0px; color:#005ea5"></span>
          <a href="#">Download licence</a>
        </span>
      </div>
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="inpage-nav govuk-body" style="">
        <li class="selected">Project summary</li>
        <li>Conditions</li>
        <li>Authorisations</li>
        <li>Action plan</li>
        <li>Protocols</li>
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Project summary</h1>

      <h2 class="govuk-heading-m">Retrospective assessment not required</h2>
      <p>The Secretary of State has determined that a retrospective assessment of this licence is not required.</p>

      <h2 class="govuk-heading-m">Project licence number</h2>
      <p>78847475</p>

      <h2 class="govuk-heading-m">Project licence holder</h2>
      <p>Michael Thomas</p>

      <p>This PROJECT LICENCE allows the holder to carry out a programme of scientific procedures on living animals under the powers vested in him/her by the ANIMALS (SCIENTIFIC PROCEDURES) ACT 1986.</p>

      <p>The Secretary of State hereby licences the project licence holder to carry out the programme of work specified, subject to the restrictions and provisions contained in the Act and subject also to the limitations and conditions contained in this licence and to any other conditions that the Secretary of State may from time to time prescribe.</p>

      <p>This licence does not authorise the Projectt licence holder or any other person to carry out procedures on any animals unless they hold a personal licence issued under the Act which authorises them to carry out those procedures on the animals of those types</p>

      <h3 class="govuk-heading-s">What will be the duration of this project?</h3>
      <p>
        <strong>Years</strong> 5 <br>
        <strong>Months</strong> 0
      </p>
      <h3 class="govuk-heading-s">Date granted</h3>
      <p>02 August 2019</p>

      <h3 class="govuk-heading-s">Expiry date</h3>
      <p>02 August 2024</p>

      <h2 class="govuk-heading-m">Project location</h2>
      <p>You are authorised to undertake this programme of scientific procedures at the following places:</p>

      <h3 class="govuk-heading-s">Primary establishment</h3>
      <p>Establishment A</p>
      <ul class="govuk-list">
        <li><strong>Establishment licence number:</strong> XCC09J64D</li>
        <li><strong>Establishment licence holder:</strong> Bruce Banner</li>
        <li><strong>Address:</strong> Establishment A, Lunar House, CR0 1AB  </li>
      </ul>

      <h2 class="govuk-heading-m">Granted authority</h2>
      <p>This licence has been granted on the basis of information provided in an application for this licence.</p>

      <p>Under this project licence numbered 78847475 the Secretary of State grants authority only for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>work to meet the aim of the project specified;</li>
        <li>the procedures and types of animal types specified; and</li>
        <li>work at the place or places specified in the licence</li>
      </ul>            
            


    </div>
  </div>

{% endblock %}
