
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="licence-status-banner">
        <p>
          <strong>DRAFT</strong>
          <span class="float-right"><a href="#">Show less</a></span>
          <hr>
        </p>
        <p>This amendment has not been approved yet.</p>
      </div>

      <div class="download-header">
        <span style="font-size: 24px;" class="govuk-body">Test project name</span>
        <span class="float-right"><a href="#">Download application</a></span>
      </div>
    </div>
  </div>

  <style type="text/css">


  </style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="protocol-nav">
        <a href="#" class="back-to-sections"><li>List of sections</li></a>
        <a href="#"><li>Project introduction</li></a>
        <a href="#"><li class="selected">Applicant information</li></a>
        <a href="#"><li class="selected-child">Experience</li></a>
        <a href="#"><li class="selected-child">Funding</li></a>
        <a href="#"><li>Project location</li></a>
        <a href="#"><li>Project plan</li></a>
        <a href="#"><li>Protocols</li></a>
        <a href="#"><li>Use of animals</li></a>
        <a href="#"><li>Other considerations</li></a>
        <a href="#"><li>The 3Rs</li></a>
        <a href="#"><li>Non-technical summary</li></a>
        <a href="#"><li>Additional conditions</li></a>
        <a href="#"><li>Authorisations</li></a>
      </ul>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Experience</h1>

      <h3 class="govuk-heading-s">Have you managed similar work in this field before?</h3>
      <p>Yes</p>
      <a class="govuk-button govuk-button--secondary">Add comment</a>

      <h3 class="govuk-heading-s">What were your, or your group's, main achievements that are relevant to this application?</h3>
      <p>I have expertise in examining molecular mechanisms of stress hormone (glucocorticoid and adrenergic) signalling in  cancer and how this can affect drug treatments. I have authored 33 papers in this field and has a history of successful funding including awards as PI from the National Institutes of Health, Cancer research UK and foundation grants (Breast cancer research Trust, Pennsylvania Breast Cancer Coalition and Wendy Hill Research Fund, Team Verrico) as PI.  I currently hold a project license here in the UK and from that we have published the following papers: </p>

      <p>1 Flaherty R, Intabli H, Falcinelli M, Patel BA, Bucca G, Heketh A,  Allen MC, Smith CP, Flint MS (2019) Stress hormone-mediated acceleration of breast cancer metastasis is halted by inhibition of nitric oxide synthase Cancer Letters Corresponding author: published version available online: 24-MAY-2019 DOI information: 10.1016/j.canlet.2019.05.027 </p>

      <p>2. Flaherty R, Owen, M, Patel BA, Allen MC, Flint MS (2017). Glucocorticoids and catecholamines  induce ROS/RNS production and DNA damage through an iNOS mediated pathway in breast cancer. Breast Cancer Res. 2419: (1) 35-40 </p>

      <p>3. Patel BA, Fidalgo S, Wang C,  Parmar L, Mandona K, Panossian A, Flint MS, Ranson RN, Saffrey MJ, Yeoman MS (2017). The TNF-alpha Antagonist Etanercept Reverses Age-Related Decreases In Colonic Sert Expression And Faecal Output In Mice. Sci Rep 15: 7 42754 </p>

      <p>4. Budiu RA, Vlad AM, Nazario L, Bathula, C, Cooper KL, Edmed J, Thaker, PH, Urban J, Kalinski P,  Lee AV, Elishaev EL, Conrads TP, Flint MS (2016). Restraint and Social Isolation Stressors Differentially Regulate Adaptive Immunity and Tumor Angiogenesis in a Breast Cancer Adaptive Immunity and Tumor Angiogenesis in a Breast Cancer Mouse Model Mouse Model. Cancer Clin Oncol. May;6(1):12-24.</p>

      <a class="govuk-button govuk-button--secondary">Add comment</a>

      <h3 class="govuk-heading-s">What relevant scientific knowledge or education do you have?</h3>
      <p>I obtained my PhD at Marvell Pharma and then moved to do a post doc at the Center for Disease Control in the USA where I learnt the different types of stressors that can be used in animals. I next trained in the University of Croydon Cancer Institute in models of stress and cancer. I am currently an established cancer researcher and a Reader in Cancer Biology in the University of Croydon. I have continued this work in Croydon.  </p>     ﻿
      <a class="govuk-button govuk-button--secondary">Add comment</a>

      <h3 class="govuk-heading-s">What experience do you have of using the types of animals and experimental models stated in this licence application?</h3>
      <p>I have expertise in mouse work and all experimental models outlined in this proposal as evidenced by publications above.  I have used models of different types of cancer e.g breast and ovarian and various types of models e.g transgenic PTEN knock out and Kras knock in, syngeneic models and nude mouse models. </p>     ﻿
      <a class="govuk-button govuk-button--secondary">Add comment</a>

      <h3 class="govuk-heading-s">What experimental design and data analysis training have you had?</h3>
      <p class="govuk-hint">If you do not have this expertise, how will you access it?</p>
      <p>I have considerable experimental design and data analysis training and this is shown by successful publications and also successful history of grant funding, including awards from the National Institutes of Health (NIH), Cancer Research UK and foundation grants (e.g. Breast Cancer Research Trust). I am fluent in power analysis calculations and all types of data analysis such as repeated measured ANOVA and T tests etc.</p>     ﻿
      <a class="govuk-button govuk-button--secondary">Add comment</a>

      <h3 class="govuk-heading-s">Why are you the most suitable person in the research group, department or company to manage the project?</h3>
      <p>I have been a recent project license holder and a prolific cancer researcher here at UoC for over 4 years. I lead a team of 3 post docs, 6 PhD students and 3 medical students and 5 undergraduate students. I have significant experience with animals models of stress and cancer as outlined in this project. I also have significant experience with the 3Rs and often collaborate with neuroscientists and gut biologist etc to donate tissue to their projects. In addition, I am developing co culture models  have obtained ethics to study cancer in patients as a replacement and to reduce the numbers of animals used in this project.</p>     ﻿
      <a class="govuk-button govuk-button--secondary">Add comment</a>

      <h3 class="govuk-heading-s">What relevant expertise and staffing will be available to help you to deliver the programme of work?</h3>
      <p class="govuk-hint">Include examples of practical, technical, and specialist support.</p>
      <p>At Croydon we have access to technicians in the bioresource unit. Veterinary care at the Bioresource Unit within the University of Croydon is coordinated by an experienced veterinarian and animal care staff. The Bioresource Unit is a licensed establishment under the Home Office permitting research involving animals under ASPA (Animals Scientific Procedures Act 1986) works within Animal Research: Reporting of In vivo Experiments (ARRIVE) Guidelines. The ARRIVE guidelines are intended to improve the reporting of research using animals by maximizing information published and minimizing unnecessary studies. The animal care staff at Croydon have training in stress procedures and handling of mice for stress studies.</p>     ﻿
      <a class="govuk-button govuk-button--secondary">Add comment</a>

      <h3 class="govuk-heading-s">Will other people help you manage the project? If so, how?</h3>
      <p>No</p>
      <a class="govuk-button govuk-button--secondary">Add comment</a>
      <br>
      
      <a href="review-pil-app-public-edit" class="govuk-button govuk-button--secondary">Continue</a>
      <a class="secondary-link" href="#">Cancel</a>
      
      


    </div>
  </div>

<style type="text/css">

.govuk-inset-text {
border-left: 10px solid #8F23B3;
}

  .licence-status-banner {
    overflow: auto;
    margin-bottom: 30px;
    padding: 8px 15px;
    background-color: #6f777b;
    color: #fff;
    font-size: 16px;
  }

  .licence-status-banner p{
    color: #fff;
    font-size: 16px;
  }
  .licence-status-banner hr{
    border-bottom: 1px solid white;

  }

  .licence-status-banner a{
    color: #fff;
    font-size: 16px;
  }

 .download-header {
    background-color: white;
    border-bottom: 4px solid #005ea5;
    margin-bottom: 30px;
    padding: 27px;
    position: relative;
  }
</style>
{% endblock %}
