
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "includes/status-banner-expired.html" %}
      {% include "includes/licence-header-ppl.html" %}
      <!-- {% include "includes/list-of-sections.html" %} -->
    </div>
  </div>

 

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
     
      <h2 class="govuk-heading-m">
        Project introduction
      </h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Introductory details	</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Applicant information
      </h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Experience	</a>
        </li>
        <li>
          <a href="#">Resources	</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Project location
      </h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Establishments	</a>
        </li>
        <li>
          <a href="#">Places other than a licensed establishment (POLES)	</a>
        </li>
        <li>
          <a href="#">Transfer and movement of animals	</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Scientific background
      </h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Background	</a>
        </li>
        <li>
          <a href="#">Benefits	</a>
        </li>
        <li>
          <a href="#">References	</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Programme of work
      </h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Purpose	</a>
        </li>
        <li>
          <a href="#">Aims and objectives	</a>
        </li>
        <li>
          <a href="#">Project plan	</a>
        </li>
        <li>
          <a href="#">Replacement	</a>
        </li>
        <li>
          <a href="#">Reduction	</a>
        </li>
        <li>
          <a href="#">Refinement	</a>
        </li>
        <li>
          <a href="#">Origin	</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Protocols
      </h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Protocols	</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Special considerations
      </h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Cats, dogs, primates, and equidae	</a>
        </li>
        <li>
          <a href="#">Endangered animals	</a>
        </li>
        <li>
          <a href="#">Animals taken from the wild	</a>
        </li>
        <li>
          <a href="#">Marmosets	</a>
        </li>
        <li>
          <a href="#">Feral animals	</a>
        </li>
        <li>
          <a href="#">Neuromuscular blocking agents (NMBAs)	</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Non-technical summary
      </h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Project summary	</a>
        </li>
        <li>
          <a href="#">Replacement	</a>
        </li>
        <li>
          <a href="#">Reduction	</a>
        </li>
        <li>
          <a href="#">Refinement	</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">
        Additional conditions
      </h2>
      <ul class="govuk-list table-list">
        <li>
          <a href="#">Additional conditions</a>
        </li>
      </ul>
      <p><a href="/ra-submission/ppl-overview">Back to project overview</a></p>
    </div>
  </div>

{% endblock %}
